<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="color: #000000; margin: 0; font-family: Verdana, Geneva, sans-serif; background-color: #FFF;">
<table width="100%" height="50" border="0" cellspacing="0" cellpadding="0" align="center" style="color: #FFFFFF; font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-weight: bold; background-color: #285e8e; text-align: center;">
    <tr><td width="100%" height="50" valign="middle">
        {% trans %} mail.ticket.{{action}} {% endtrans %}
    </td></tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" valign="top" style="color: #000000;font-family: Verdana, Geneva, sans-serif; font-size: 12px;">
    <tr><td height="150" valign="middle" align="center">
        <img src="http://{% trans %}mygarageweb.com{% endtrans %}/mailing/{% trans %}logom_en.jpg{% endtrans %}" alt="{% trans %}My garage web{% endtrans %}" title="{% trans %}My garage web{% endtrans %}" width="322" height="109" />
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %} To access to your control panel you need to go to {% endtrans %}
        <a href="{{ elementBody[0] }}" style="color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight: bold;">{{ elementBody[0] }}</a>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %}The access user password has been modified.{% endtrans %}
    </td></tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign="top" style="background-color: #FFF;">
    <tr><td height="90" valign="top" align="center"><img src="http://{% trans %}mygarageweb.com{% endtrans %}/mailing/graftopm.jpg" width="600" height="61" /></td></tr>
    <tr><td height="30" valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %}User{% endtrans %} <span style="color: #FFF; font-weight: bold;">{{ elementBody[1] }}</span>
    </td></tr>
    <tr><td height="30" valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %}Password{% endtrans %} <span style="color: #FFF; font-weight: bold;">{{ elementBody[2] }}</span>
    </td></tr>
    <tr><td height="90" valign="bottom" align="center">
        <img src="http://{% trans %}mygarageweb.com{% endtrans %}/mailing/grafbotm.jpg" width="600" height="59" />
    </td></tr>
</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" style="background-color: #FFF;">
    <tr><td align="center" valign="bottom" style="font-size: 10px; color: #285e8e;">
        {% include 'ManagerBundle:Mailing:textTermsConditions.html.twig' %}
    </td></tr>
    <tr><td align="center" valign="bottom" style="font-size: 10px; color: #285e8e;">
        {% include 'ManagerBundle:Mailing:textFooter.html.twig' %}
    </td></tr>
    <tr><td valign="bottom" style="font-size: 10px; color: #EE9000;">
        {% include 'ManagerBundle:Mailing:textDisclaimer.html.twig' %}
    </td></tr>
</table>
</body>
</html>