<div class="col-xs-6 col-md-6 form-group">

        <label for="idBrand">Brand</label>
        <select class="form-control" id="idBrand" name="brand"></select>

        <label for="idModel">Model</label>
        <select class="form-control" id="idModel" name="model"><option value=0>Select Model..</option></select>

        <label for="new_car_form_version">Version</label>
        {{ form_widget(formC.version, { 'attr': {'class': 'form-control'} }) }}

</div>

<div class="col-xs-6 col-md-6 form-group">

        <label for="new_car_form_year">Year</label>
        {{ form_widget(formC.year, { 'attr': { 'class': 'form-control',
                                               'value': "now"|date("Y"),
                                               'min': '1800',
                                               'max': "now"|date("Y")+1 , } }) }}
        <label for="new_car_form_vin">Vin</label>
        {{ form_widget(formC.vin, { 'attr': { 'class': 'form-control',
                                              'placeholder': 'Insert Vin'} }) }}

        <label for="new_car_form_plateNumber">Plate Number <a id="txt_plateNumber"></a></label>
        {{ form_widget(formC.plateNumber, { 'attr': { 'class': 'form-control',
                                                  'placeholder': 'Insert Plate Number'} }) }}
</div>

<script src="{{ asset('bundles/car/js/car.js') }}"></script>

{% include 'CarBundle:Default:_car.js.twig' %}
