<div class="col-xs-6 col-md-6 form-group">

        <label for="idBrand">Brand</label>
        <select class="form-control" id="idBrand" name="brand"></select>

        <label for="idModel">Model</label>
        <select class="form-control" id="idModel" name="model"><option value=0>Select Model..</option></select>

        <label for="new_car_form_version">Version</label>
        {{ form_widget(formC.version, { 'attr': {'class': 'form-control'} }) }}

</div>

<div class="col-xs-6 col-md-6 form-group">

        <label for="new_car_form_year">Year</label>
        {{ form_widget(formC.year, { 'attr': { 'class': 'form-control',
                                               'value': "now"|date("Y"),
                                               'min': '1800',
                                               'max': "now"|date("Y")+1 , } }) }}
        <label for="new_car_form_vin">Vin</label>
        {{ form_widget(formC.vin, { 'attr': { 'class': 'form-control',
                                              'placeholder': 'Insert Vin'} }) }}

        <label for="new_car_form_plateNumber">Plate Number <a id="txt_plateNumber"></a></label>
        {{ form_widget(formC.plateNumber, { 'attr': { 'class': 'form-control',
                                                  'placeholder': 'Insert Plate Number'} }) }}
</div>

<script src="{{ asset('bundles/car/js/car.js') }}"></script>

<script>
    $(document).ready(function() {
        // Limpiamos el combo de version del formulario
        $('select[id=new_car_form_version]').empty();
        var opt_versions = "<option value=0>Select Version..</option>";
        $('form[id=contact]').find('select[id=new_car_form_version]').append(opt_versions);

        // Limpiamos el combo de brand del formulario
        $('select[id=idBrand]').empty();
            var opt_brands = "<option value=0>Select Brand..</option>";
            //Añadimos todos los options de brand
            {% for brand in brands %}

                opt_brands = opt_brands + '<option value="{{ brand.id }}" ';
                {% if  ticket is defined
                   and ticket.car is not null
                   and ticket.car.version.model.brand == brand %}  opt_brands = opt_brands + 'selected="true"'; {% endif %}
                opt_brands = opt_brands + '> {{ brand.name }} </option>';

            {% endfor %}
        $('form[id=contact]').find('select[id=idBrand]').append(opt_brands);
    });

    //cambiar model en funcion de brand
    $('#idBrand').change(function() {
        var url_ajax = "{{ path("car_model") }}";
        fill_model(url_ajax);
    });

    //cambiar version en funcion de model
    $('#idModel').change(function() {
        var url_ajax = "{{ path("car_version") }}";
        fill_version(url_ajax);
    });

    //Validacion al hacer submit de todos los campos del coche
    $( "form" ).submit(function( event ) {
        var msg="";
        //Comprueba que se haya seleccionado el vehiculo
        $('select').each(function(){
            if($(this).val()==0){
                msg+='\n   - '+$(this)[0][0].text;
            }
        });
        //Comprueba que el numero de bastidor sea de 17 caracteres
        if ($("#new_car_form_vin").val()==0){    //if($('#vin').val().length!=17){
            msg+='\n   - Introduce vin (17 caracteres)';
        }
        //Comprueba que la matricula no este vacia
        if ($("#new_car_form_plateNumber").val()==0){
            msg+='\n   - Introduce plateNumber';
        }
        //Si ha habido algun error lo muestra por pantalla e interrumpe el submit
        if(msg!=""){
            //alert('Error: '+msg);
            //event.preventDefault();
        }
});
</script>