{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'import'|trans }}</li>
    </ol>

    <div style="width: 90%; margin-left: 5%;">

        <legend>{{ 'import'|trans }}</legend>

        <div><p>
            {{ 'import'|trans }}:
                Introduce un csv para importar talleres. Para que la importación se realice correctamente, los campos del fichero deben ser:<br>
                - Codigo de Socio
                - Tipologia
                - Nombre
                - CIF
                - Contacto
                - codigo interno
                - codigo comercial
                - poblacion
                - ciudad
                - direccion
                - codigo postal
                - numero de telefono
                - email
        </p></div>

        {% for flashMessage in app.session.flashbag.get('error') %}
            <p class="error">{{ flashMessage }}</p>
        {% endfor %}

        {{ form_start(form, {'action': ''}) }}
            {{ form_widget(form) }}
            <input type="submit" />
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}