{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">Home</a></li>
        <li class="active">Apply for new workshop</li>
    </ol>

    <h1>Listado de talleres de {{ user.partner }} </h1>

    {% if workshops|length > 0  %}
        <table class="table table-hover table-list-search" style="width: 70%; margin-left: 290px;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Workshop Name</th>
                    <th>Partner</th>
                    <th>Address</th>
                    <th>Email1</th>
                    <th>Phone number 1</th>
                    <th>Active</th>
                    <th>Up Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for workshop in workshops %}
                    <tr>
                        <td>{{ workshop.id }}</td>
                        <td>{{ workshop.name }} {% if workshop.active == false %}<span class="label label-danger">Inactive</span>{% endif %}</td>
                        <td>{{ workshop.partner}}</td>
                        <td>{{ workshop.address }}</td>
                        <td>{{ workshop.email1 }}</td>
                        <td>{{ workshop.phoneNumber1 }}</td>
                        <td>{{ workshop.active }}</td>
                        <td>{{ workshop.updateAt | date('d-m-Y')}}</td>
                        <td>
{#                            <a href="{{ path("workshop_edit", { 'id':workshop.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>#}
{#                            <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ workshop.id }}"></span></a>#}
                            <a title="Modificar datos de la solicitud" href="{{ path('workshopOrder_new', {'id' : workshop.id, 'action' : 'modify'})}}"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No hay talleres!!
    {% endif %}
        
{% endblock %}