{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">Home</a></li>
        <li class="active">Apply for new workshop</li>
    </ol>

    <h1>Listado de talleres de {{ user.partner }} </h1>

    {% if workshops|length > 0  %}
        <table class="table table-hover table-list-search" style="width: 80%; margin-left: 10%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Workshop Name</th>
                    <th>Partner</th>
                    <th>Address</th>
                    <th>Email1</th>
                    <th>Phone number 1</th>
                    <th>Active</th>
                    <th>Up Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for workshop in workshops %}
                    <tr>
                        <td>{{ workshop.id }}</td>
                        <td>{{ workshop.name }} {% if workshop.active == false %}<span class="label label-danger">Inactive</span>{% endif %}</td>
                        <td>{{ workshop.partner}}</td>
                        <td>{{ workshop.address }}</td>
                        <td>{{ workshop.email1 }}</td>
                        <td>{{ workshop.phoneNumber1 }}</td>
                        <td>{{ workshop.active }}</td>
                        <td>{{ workshop.updateAt | date('d-m-Y')}}</td>
                        <td>
                            <a title="Modificar datos de la solicitud"  href="{{ path('workshopOrder_new', {'id' : workshop.id, 'action' : 'modify'            })}}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a title="Solicitud de activación"          href="{{ path('workshopOrder_new', {'id' : workshop.id, 'action' : 'activate'  })}}"><span class="glyphicon glyphicon-ok"></span></a>
                            <a title="Solicitud de desactivación"       href="{{ path('workshopOrder_new', {'id' : workshop.id, 'action' : 'deactivate'})}}"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No hay talleres!!
    {% endif %}
        
{% endblock %}