<ul>
	{% if not is_granted('ROLE_HIDE_REPORT') %}<li>{{'reports'|trans}}</li>{% endif %}
	{% if not is_granted('ROLE_HIDE_ORDER') %}<li>{{'orders'|trans}}</li>{% endif %}
	{% if not is_granted('ROLE_HIDE_POPUP') %}<li>{{'popups'|trans}}</li>{% endif %}
	{% if not is_granted('ROLE_HIDE_USER') %}<li><a href="{{ path('typologies') }}">{{'typologies'|trans}}</a></li>{% endif %}
	{% if not is_granted('ROLE_HIDE_USER') %}<li><a href="{{ path('shops') }}">{{'shops'|trans}}</a></li>{% endif %}
	{% if not is_granted('ROLE_HIDE_USER') %}<li><a href="{{ path('diagnosisMachines') }}">{{'diagnosisMachines'|trans}}</a></li>{% endif %}
	{% if not is_granted('ROLE_HIDE_USER') %}<li><a href="{{ path('users') }}">{{'users'|trans}}</a></li>{% endif %}
	{% if not is_granted('ROLE_HIDE_TICKET') %}<li>{{'sentences'|trans}}</li>{% endif %}
	{% if not is_granted('ROLE_HIDE_TICKET') %}<li>{{'tickets'|trans}}</li>{% endif %}
</ul>