<div class="MainHeader">
    <div class="span4 offset2" style="margin-top:15px;">
    </div>
    <div class="navbar asr_navbar">
        <div class="navbar-inner">
            <div class="span4 offset2">
                <!-- header -->
                <table width="100%" border="0">
                    <tr>
                        <td align="left">
                            <img class="asr_img_logo" src="{{ asset('bundles/util/images/icon/logos.png') }}">
                        </td>
                        <td align="right" class="pull-right">
                            {% if app.user.username is defined %}

                            <!-- Split button -->
                            <div class="asr_user fl">
                                <img src="{{ asset('bundles/util/images/icon/user_icon.png') }}">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default asr_slct-default">{{ app.security.getToken().getUser().getUsername() }}</button>
                                    <button type="button" class="btn btn-default asr_btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="btn pull-left" href="{{ path('user_index'  ) }}">   {% trans %} home         {% endtrans %}</a></li>

                                        <li><a class="btn pull-left" href="{{ path('user_profile') }}">   {% trans %} menu.profile {% endtrans %}</a></li>
                                        {% if not is_granted('ROLE_SUPER_AD') or is_granted('ROLE_USER') %}
                                            <li><a class="btn pull-left"  href="{{ path("listTicket" ) }}">{% trans %} menu.list_tickets {% endtrans %}</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ASSESSOR') and (workshop is not defined or workshop.id == "" ) %}
                                            <li><a class="btn pull-left" href="{{ path("newTicket"   ) }}">{% trans %} new.ticket {% endtrans %}</a></li>
                                        {% endif %}
                                        <li><a href="#"></a></li>
                                        <li class="divider"></li>
                                        <li><a id="logout" class="btn pull-left" href="{{ path('user_logout') }}" dats-url="{{ path('user_logout') }}">  {% trans %}logout       {% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <!-- Split button -->
                            <div class="language fl">
                                <input type="hidden" id="data_locale" value="{{ app.session.locale }}" data-locale="{{ app.session.locale }}">
                                <img src="{{ asset('bundles/util/images/icon/language_icon.png') }}">
                                <div class="btn-group" >
                                    <button type="button" class="btn btn-default asr_slct-default" >{{ app.session.locale | trans }}</button>
                                    <button type="button" class="btn btn-default asr_btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" >
                                        <li><a class="btn pull-left" href="{{ path('changeLanguage', {'lang': 'en','path': app.request.getPathInfo()}) }}">   {% trans %} english         {% endtrans %}</a></li>
                                        <li><a class="btn pull-left" href="{{ path('changeLanguage', {'lang': 'es','path': app.request.getPathInfo()}) }}">   {% trans %} spanish {% endtrans %}</a></li>

                                        <li><a class="btn pull-left"  href="{{ path('changeLanguage', {'lang': 'fr','path': app.request.getPathInfo()}) }}">{% trans %} french {% endtrans %}</a></li>

                                        <li><a class="btn pull-left"  href="{{ path('changeLanguage', {'lang': 'pt','path': app.request.getPathInfo()}) }}">{% trans %} portuguese {% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>