{% extends "::layout.html.twig" %}

{% block body %}

<!-- TABLA POSTS -->

<div class="colIzq">
    <div class="widget stacked widget-table action-table">
    				
        <div class="widget-header">
                <i class="icon-th-list"></i>
                <h3>Historial de incidencias</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content" >

            <table class="table table-striped table-bordered">
                {% if incidences | length == 0 %}
                
                    <tr><td>No tienes ninguna incidencia</td></tr>
                    
                {% else %}
                <tbody>
                    {% for incidence in incidences %}
                        {% if (incidence.owner.id == app.security.getToken().getUser().getId()) or is_granted('ROLE_ADMIN') %}
                        <tr>
                            <td>
                                <a class="btn btn-primary pull-right" href="{{ path('showIncidence', { 'id_incidence': incidence.id }) }}">Ver</a>

                                <a class="btn pull-right">{{ incidence.status }} </a>

                                <p>
                                    <b style='color:black'>#{{ incidence.id }}:</b>  
                                    {{ incidence.ticket.title | length > 30 ?  incidence.ticket.title | slice(0, 30) ~ '...' : incidence.ticket.title }} 
                                </p>
                                <b>Ultima Modificacion:</b>  {{ incidence.owner.username }}
                                - {{ incidence.modifiedAt | date("d/m/Y")}}  ({{ incidence.status }})

                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div> <!-- /widget-content -->
    </div> <!-- /widget -->
</div>

<!-- CONTENIDO PAGINA POSTS -->

<div class="colDer">
    {% block content %}{% endblock  %}
</div>
    
{% endblock %}