
    {# PAGINACION #}
    <div id="pagination"  class="pagination_content">

    	<button class="page_number "><span id="firstpage"      class="glyphicon glyphicon-backward"  	title="first page"   ></span></button>
    	<button class="page_number "><span id="btn_anterior"   class="glyphicon glyphicon-chevron-left" title="Previous page"></span></button>

    	<a id="prev_pages"></a>

	    <input  type="text"   id="page"  class="page_number page_selected" value="1"  disabled >

		<a id="next_pages"></a>

    	<button class="page_number "><span id="btn_siguiente"  class="glyphicon glyphicon-chevron-right" title="Next page"></span></button>
    	<button class="page_number "><span id="totalpage"      class="glyphicon glyphicon-forward"  	 title="last page"></span></button>

    </div>
    <script type="text/javascript">

		// $('.change_page').click(function() {
		//    $('#page').val($(this).text());
		//    tickets_ajax();
		// });

	    $('#firstpage').click(function() {

	                $('#page').val(1);

					{% if workshop.id != "" %}
			            tickets_from_workshop_ajax();
			        {% else %}
	                	tickets_ajax();
	        		{% endif %}
	    });

	    $('#btn_anterior').click(function() {

	            if( $('#page').val() > 1) {
	                var ant_page = parseFloat($('#page').val()) - parseFloat(1);

	                $('#page').val(ant_page);

					{% if workshop.id != "" %}
			            tickets_from_workshop_ajax();
			        {% else %}
	                	tickets_ajax();
	        		{% endif %}
	        	}
	    });

	    $('#btn_siguiente').click(function() {

	            if( $('#page').val() < $('#totalpage').val() ) {
	                var next_page = parseFloat($('#page').val()) + parseFloat(1);

	                $('#page').val(next_page);

					{% if workshop.id != "" %}
			            tickets_from_workshop_ajax();
			        {% else %}
	                	tickets_ajax();
	        		{% endif %}
	            }
	    });

	    $('#totalpage').click(function() {

	                var last_page = $('#totalpage').val();

	                $('#page').val(last_page);

					{% if workshop.id != "" %}
			            tickets_from_workshop_ajax();
			        {% else %}
	                	tickets_ajax();
	        		{% endif %}
	    });


	    // $('.change_page').click(function() {

	    //             $('#page').val($(this).text());

					// {% if workshop.id != "" %}
			  //           tickets_from_workshop_ajax();
			  //       {% else %}
	    //             	tickets_ajax();
	    //     		{% endif %}
	    // });

	    function tickets_ajax() {
	        var url_show = "{{ path("showTicket", { "id_ticket": "PLACEHOLDER" }) }}";
	        var url_ajax = "{{ path("fill_tickets") }}";

	        fill_tickets(url_ajax, url_show);
	    }

	    function tickets_from_workshop_ajax() {
                var url_show = "{{ path("showTicket", { "id_ticket": "PLACEHOLDER" }) }}";
                var url_ajax = "{{ path("tickets_from_workshop") }}";
                var user = "{{ app.security.getToken().getUser().getId() }}";

                fill_tickets_from_workshop(url_ajax, url_show, user);
        }
	</script>