
<legend>
   
    <a href="{{ path('newTicket', { 'id_workshop' : workshop.id, 'einatech' : 0, 'reset' : 1  }) }}" class="btn btn-primary asr_form-control asr_btn">
        <img class="img_icon" src="{{ asset('bundles/util/images/icon/update_.png') }}" title ="{{ 'btn.clear'|trans }}" alt="{{ 'btn.clear'|trans }}">
    </a>
    {{ 'car'|trans }}: <span id='car'></span>
</legend>

<div class="grid-full">

    <input type="hidden" id="funnel"          value="{{ asset('bundles/util/images/icon/funnel.png') }}">
    <input type="hidden" id="funnel_filtered" value="{{ asset('bundles/util/images/icon/funnel_filtered.png') }}">
    <input type="hidden" id="msg_bad_filter"  value="{{ 'msg_bad_filter'|trans }}">
    <input type="hidden" id="msg_motor_not_found"  value="{{ 'msg_motor_not_found'|trans }}">
    <input type="hidden" id="msg_bad_year"    value="{{ 'error.bad_introduction.ticket'|trans }} ({{ 'year'|trans }}: 4 {{ 'values'|trans }})">
    <input type="hidden" id="msg_plate_number_not_found"  value="{{ 'error.plate_number_not_found'|trans }}">
    <input type="hidden" id="msg_vin_not_found"  value="{{ 'error.vin_not_found'|trans }}">
    
    <input type="hidden" id="ticket_brand"   value="{{marca_session}}">
    <input type="hidden" id="ticket_model"   value="{{modelo_session}}">
    <input type="hidden" id="ticket_version"   value="{{version_session}}">
    <input type="hidden" id="ticket_description"   value="{{description_session}}">
    <input type="hidden" id="ticket_plateNumber"   value="{{plateNumber_session}}">
    <input type="hidden" id="ticket_vin"   value="{{vin_session}}">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <p class="grid-full w100 error">{{ flashMessage }}</p>
    {% endfor %}
    <div class="grid-full w100">

        <div class="grid-33">
            <label for="new_car_form_plateNumber">{{ 'plate_number'|trans }} *<a id="txt_plateNumber"></a></label>
            <a class="pull-right" id="filter_plate_number" title="{{ 'filter_by_plate_number'|trans }}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {{ form_widget(formC.plateNumber, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'required': 'required', 'placeholder': 'plate_number'} }) }}
        </div>
        
        <div class="grid-33">
            <label for="new_car_form_vin">{{ 'vin'|trans }} *</label>
            <a class="pull-right" id="filter_vin" title="{{ 'filter_by_vin'|trans }}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {{ form_widget(formC.vin, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'required': 'required', 'placeholder': 'vin'} }) }}
        </div>

        <div class="grid-33">
            <label for="new_car_form_motor">{{ 'motor'|trans }} *</label>
            <a class="pull-right" id="filter_motor" title="{{ 'filter_by_motor'|trans }}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {# <a class="pull-right" id="list_motor" title="{{ 'motor'|trans }}" href="{{ path('listMotors') }}" target="_blank"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn_.png') }}"></a> #}
            {{ form_widget(formC.motor, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'required': 'required', 'placeholder': 'motor'} }) }}
            <input type="hidden" id="id_mts" value="">
        </div>
    </div>

    <div class="grid-full w100">
        <div class="grid-33">
            <label for="new_car_form_brand">{{ 'brand'|trans }} *</label>
            <select id="new_car_form_brand" name="new_car_form_brand" class="form-control asr_form-control" required>
                <option ></option>
                {% for brand in brands %}
                    <option value={{ brand.id }}>{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="grid-33">
            <label for="new_car_form_model">{{ 'model'|trans }} *</label>
            <select id="new_car_form_model" name="new_car_form_model" class="form-control asr_form-control" required></select>
        </div>

        <div class="grid-33">
            <label for="new_car_form_version">{{ 'version'|trans }}</label>
            <select id="new_car_form_version" name="new_car_form_version" class="form-control asr_form-control">
            </select>
        </div>
    </div>
    <div class="grid-full w100">
        <div class="grid-33">
            <label for="new_car_form_year">{{ 'year'|trans }} *</label>
            <a class="pull-right" id="filter_year" title="{{ 'filter_by_year'|trans }}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {{ form_widget(formC.year, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'required': 'required', 'placeholder': 'year'} }) }}
            <input type="hidden" id="year_assessor" value="assessor">
        </div>

        <div class="grid-33">
            <label for="new_car_form_kW">{{ 'kw'|trans }}</label>
            {{ form_widget(formC.kW, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'kw'} }) }}
        </div>

        <div class="grid-33">
            <label for="new_car_form_displacement">{{ 'displacement'|trans }}</label>
            {{ form_widget(formC.displacement, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'displacement'} }) }}
        </div>
    </div>

    {{ form_rest(formC) }}
</div>