

<legend>{% trans %} car {% endtrans %}: <span id='car'></span></legend>

<input type="hidden" id="funnel"          value="{{ asset('bundles/util/images/icon/funnel.png') }}">
<input type="hidden" id="funnel_filtered" value="{{ asset('bundles/util/images/icon/funnel_filtered.png') }}">
<input type="hidden" id="msg_bad_filter"  value="{% trans %} msg_bad_filter {% endtrans %}">
<input type="hidden" id="msg_plate_number_not_found"  value="{% trans %} error.plate_number_not_found {% endtrans %}">
<input type="hidden" id="msg_vin_not_found"  value="{% trans %} error.vin_not_found {% endtrans %}">

<div class="grid-full w100">
    
    <div class="grid-33">
        <label for="new_car_form_plateNumber">{% trans %} plate_number {% endtrans %} *<a id="txt_plateNumber"></a></label>
        <a class="pull-right" id="filter_plate_number" title="{% trans %} filter_by_plate_number {% endtrans %}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
        {{ form_widget(formC.plateNumber, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'required': 'required', 'placeholder': 'plate_number' | trans } }) }}
    </div>

    <div class="grid-33">
        <label for="new_car_form_vin">{% trans %} vin {% endtrans %} *</label>
            <a class="pull-right" id="filter_vin" title="{% trans %} filter_by_vin {% endtrans %}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
        {{ form_widget(formC.vin, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'placeholder': 'vin' | trans } }) }}
    </div>

    <div class="grid-33">
        <label for="new_car_form_motor">{% trans %} motor {% endtrans %}</label>
        <a class="pull-right" id="filter_motor" title="{% trans %} filter_by_motor {% endtrans %}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
        {# <a class="pull-right" id="list_motor" title="{% trans %} motor {% endtrans %}" href="{{ path('listMotors') }}" target="_blank"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn_.png') }}"></a> #}
        {{ form_widget(formC.motor, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'placeholder': 'motor' | trans } }) }}
        <input type="hidden" id="id_mts" value="">
    </div>
</div>

<div class="grid-full w100">
    {% if id_version  is defined %}
        <input type="hidden" id="ticket_version" value="{{id_version }}">
    {% else %}
        <input type="hidden" id="ticket_version" value="0">
    {% endif %}
   <div class="grid-33">
        <label for="new_car_form_brand">{% trans %} brand {% endtrans %}</label>
        <select id="new_car_form_brand" name="new_car_form_brand" class="form-control asr_form-control" {# multiple="multiple" #}, required data-url="{{ path("car_model", { 'id_brand' : "PLACEHOLDER" }) }}">
            <option></option>
            {% for brand in brands %}
                <option value={{ brand.id }}
                {% if ticket.car is defined and ticket.car.brand == brand.name %} selected {% endif %}
                >{{ brand.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="grid-33">
        <label for="new_car_form_model">{% trans %} model {% endtrans %}</label>
        <select id="new_car_form_model" name="new_car_form_model" class="form-control asr_form-control" {# multiple="multiple" #}, required data-url="{{ path("car_version") }}">
            <option></option>
            {% for model in models %}
                <option value={{ model.id }}
                {% if ticket.car is defined and ticket.car.model == model.name %} selected {% endif %}
                >{{ model.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="grid-33">
        <label for="new_car_form_version">{% trans %} version {% endtrans %}</label>
        <select id="new_car_form_version" name="new_car_form_version" class="form-control asr_form-control" {# multiple="multiple" #} >
            <option></option>
            {% for version in versions %}
                <option value={{ version.id }}
                {% if ticket.car is defined and ticket.car.version is defined and ticket.car.version.name is defined and ticket.car.version.name == version.name %} selected {% endif %}
                >{{ version.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="grid-full w100">

    <div class="grid-33">
        <label for="new_car_form_year">{% trans %} year {% endtrans %}</label>
        <a class="pull-right" id="filter_year" title="{% trans %} filter_by_year {% endtrans %}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
        {{ form_widget(formC.year, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'placeholder': 'year' | trans } }) }}
    </div>
    
    <div class="grid-33">
        <label for="new_car_form_kW">{% trans %} kw {% endtrans %}</label>
        {{ form_widget(formC.kW, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'kw' | trans } }) }}
    </div>
    
    <div class="grid-33">
        <label for="new_car_form_displacement">{% trans %} displacement {% endtrans %}</label>
        {{ form_widget(formC.displacement, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'displacement' | trans } }) }}
    </div>
</div>

{{ form_rest(formC) }}
