

<legend>{{ 'car'|trans }}: <span id='car'>{{ car }}</span></legend>

<input type="hidden" id="funnel"          value="{{ asset('bundles/util/images/icon/funnel.png') }}">
<input type="hidden" id="funnel_filtered" value="{{ asset('bundles/util/images/icon/funnel_filtered.png') }}">
<input type="hidden" id="msg_bad_filter"  value="{{ 'msg_bad_filter'|trans }}">
<input type="hidden" id="msg_motor_not_found"  value="{{ 'msg_motor_not_found'|trans }}">
<input type="hidden" id="msg_plate_number_not_found"  value="{{ 'error.plate_number_not_found'|trans }}">
<input type="hidden" id="msg_vin_not_found"  value="{{ 'error.vin_not_found'|trans }}">
<input type="hidden" id="msg_plate_number_ws_error"  value="{{ 'error.plate_number_ws_error'|trans }}">

<div class="grid-full w100">

    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '@Util/Includes/alert.html.twig' with {'alertType': 'danger', 'flashMessage': flashMessage } %}
    {% endfor %}
    
    <div class="grid-33">
        <label for="new_car_form_plateNumber">{{ 'plate_number'|trans }} *<a id="txt_plateNumber"></a></label>
        <a {% if car.status == 'verified' %}style="display: none;"{% endif %} class="pull-right" id="filter_plate_number" title="{{ 'filter_by_plate_number'|trans }}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
        {{ form_widget(formC.plateNumber, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);'} }) }}
    </div>

    <div class="grid-33">
        <label for="new_car_form_vin">{{ 'vin'|trans }} *</label>
        <a {% if car.status == 'verified' or car.origin != 'custom' %}style="display: none;"{% endif %} class="pull-right" id="filter_vin" title="{{ 'filter_by_vin'|trans }}">
            <label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label>
        </a>
        {{ form_widget(formC.vin, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);'} }) }}
    </div>

    <div class="grid-33">
        <label for="new_car_form_motor">{{ 'motor'|trans }}</label>
        <a {% if car.status == 'verified' or car.origin != 'custom' %}style="display: none;"{% endif %} class="pull-right" id="filter_motor" title="{{ 'filter_by_motor'|trans }}">
            <label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label>
        </a>
        {{ form_widget(formC.motor, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);'} }) }}
        <input type="hidden" id="id_mts" value="">
    </div>
</div>

<div class="grid-full w100">
    {% if id_version  is defined %}
        <input type="hidden" id="ticket_version" value="{{id_version }}">
    {% else %}
        <input type="hidden" id="ticket_version" value="0">
    {% endif %}
   <div class="grid-33">
        <label for="new_car_form_brand">{{ 'brand'|trans }}</label>
        <select {% if car.status == 'verified' or car.origin != 'custom' %}style="display: none;"{% endif %} id="new_car_form_brand" name="new_car_form_brand" class="form-control asr_form-control" required data-url="{{ path("car_model", { 'id_brand' : "PLACEHOLDER" }) }}">
            <option></option>
            {% for brand in brands %}
                <option value={{ brand.id }}
                {% if car is defined and car.brand == brand.name %} selected {% endif %}
                >{{ brand.name }}</option>
            {% endfor %}
        </select>
       <input {% if car.status != 'verified' and car.origin == 'custom' %}style="display: none;"{% endif %} id="new_car_form_brand_read_only" name="new_car_form_brand_read_only" class="form-control asr_form-control" value="{{ car.brand.name }}" disabled="disabled">
    </div>

    <div class="grid-33">
        <label for="new_car_form_model">{{ 'model'|trans }}</label>
        <select {% if car.status == 'verified' or car.origin != 'custom' %}style="display: none;" {% endif %} id="new_car_form_model" name="new_car_form_model" class="form-control asr_form-control" {# multiple="multiple" #}, required data-url="{{ path("car_version") }}">
            <option></option>
            {% for model in models %}
                <option value={{ model.id }}
                {% if car is defined and car.model == model.name %} selected {% endif %}
                >{{ model.name }}</option>
            {% endfor %}
        </select>
        <input {% if car.status != 'verified' and car.origin == 'custom' %}style="display: none;"{% endif %} id="new_car_form_model_read_only" name="new_car_form_model_read_only" class="form-control asr_form-control" value="{{ car.model.name }}" disabled="disabled">
    </div>

    <div class="grid-33">
        <label for="new_car_form_version">{{ 'version'|trans }}</label>
        <select {% if car.status == 'verified' or car.origin != 'custom' %}style="display: none;" {% endif %} id="new_car_form_version" name="new_car_form_version" class="form-control asr_form-control" >
            <option></option>

            {% for version in versions %}
                <option value={{ version.id }}
                {% if car.version and car.version.name == version.name %} selected {% endif %}
                        data-motor="{{ version.motor.name|default('') }}"
                        data-inicio="{{ version.inicio|default('') }}"
                        data-fin="{{ version.fin|default('') }}"
                        data-kw="{{ version.kw|default('') }}"
                        data-cm3="{{ version.cm3|default('') }}"
                >{{ version.name ~ ' [' ~ version.motor.name ~ '] [' ~ version.kw ~ ']' }}</option>
            {% endfor %}
        </select>
        <input {% if car.status != 'verified' and car.origin == 'custom' %}style="display: none;"{% endif %} id="new_car_form_version_read_only"
               name="new_car_form_version_read_only" class="form-control asr_form-control"
               value="{{ car.version.name|default('') ~ ' [' ~ car.version.motor.name|default() ~ '] [' ~ car.version.kw|default('') ~ ']' }}" disabled="disabled">
    </div>
</div>
<div class="grid-full w100">

    <div class="grid-33">
        <label for="new_car_form_year">{{ 'year'|trans }}</label>
        {{ form_widget(formC.year, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);'} }) }}
    </div>
    
    <div class="grid-33">
        <label for="new_car_form_kW">{{ 'kw'|trans }}</label>
        {{ form_widget(formC.kW) }}
    </div>
    
    <div class="grid-33">
        <label for="new_car_form_displacement">{{ 'displacement'|trans }}</label>
        {{ form_widget(formC.displacement) }}
    </div>
</div>

{{ form_rest(formC) }}
{% include '@Ticket/Includes/modal_car.html.twig' %}
