<div class="tblContainer">

    <legend>
        {% if is_granted('ROLE_ASSESSOR') %}
            <img id="status_icon" class="img_icon pull-right" src="{{ asset('bundles/util/images/icon/' ~ car.status|default('undefined') ~ '.png') }}" title="{{ car.status | trans }}">
        {% endif %}
         <a href="{{ path('newTicket', { 'id_workshop' : workshop.id, 'einatech' : 0, 'reset' : 1  }) }}" class="btn btn-primary asr_form-control asr_btn">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/update_.png') }}" title ="{{ 'btn.clear'|trans }}" alt="{{ 'btn.clear'|trans }}">
        </a>
        {{ 'car'|trans }}: <span id='car'></span>
    </legend>

    <input type="hidden" id="funnel"          value="{{ asset('bundles/util/images/icon/funnel.png') }}">
    <input type="hidden" id="funnel_filtered" value="{{ asset('bundles/util/images/icon/funnel_filtered.png') }}">
    <input type="hidden" id="msg_bad_filter"  value="{{ 'msg_bad_filter'|trans }}">
    <input type="hidden" id="msg_motor_not_found"  value="{{ 'msg_motor_not_found'|trans }}">
    <input type="hidden" id="msg_plate_number_not_found"  value="{{ 'error.plate_number_not_found'|trans }}">
    <input type="hidden" id="msg_vin_not_found"  value="{{ 'error.vin_not_found'|trans }}">
    <input type="hidden" id="msg_plate_number_ws_error"  value="{{ 'error.plate_number_ws_error'|trans }}">

    {% if marca_session != null %}
        <input type="hidden" id="ticket_brand"   value="{{marca_session}}">
        <input type="hidden" id="ticket_model"   value="{{modelo_session}}">
        <input type="hidden" id="ticket_version"   value="{{version_session}}">
    {% else %}
        <input type="hidden" id="ticket_brand"   value="{{car.brand.id|default('')}}">
        <input type="hidden" id="ticket_model"   value="{{car.model.id|default('')}}">
        <input type="hidden" id="ticket_version" value="{{car.version.id|default('')}}">
    {% endif %}

    <input type="hidden" id="ticket_plateNumber" value="{{car.plateNumber|default('')}}">
    <input type="hidden" id="ticket_vin" value="{{car.vin|default('')}}">
    <input type="hidden" id="ticket_motor" value="{{car.motor|default('')}}">
    <input type="hidden" id="ticket_kw" value="{{car.kw|default('')}}">
    <input type="hidden" id="ticket_displacement" value="{{car.displacement|default('')}}">
    <input type="hidden" id="ticket_year" value="{{car.year|default('')}}">
    <input type="hidden" id="ticket_origin" value="{{car.origin|default('')}}">
    <input type="hidden" id="ticket_status" value="{{car.status|default('')}}">
    <input type="hidden" id="ticket_variants" value="{{car.variants|default('')}}">
    <input type="hidden" id="ticket_system"  value="{{ticket.subsystem.system.id|default('')}}">
    <input type="hidden" id="ticket_subsystem" value="{{ticket.subsystem.id|default('')}}">
    <input type="hidden" id="ticket_importance" value="{{ticket.importance.id|default('')}}">
    <input type="hidden" id="ticket_description" value="{{ticket.description|default('')}}">

    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '@Util/Includes/alert.html.twig' with {'alertType': 'danger', 'flashMessage': flashMessage} %}
    {% endfor %}
    <div class="grid-full w100">
        
        <div class="grid-33">
            <label for="new_car_form_plateNumber">{{ 'plate_number'|trans }} *<a id="txt_plateNumber"></a></label>
            <a class="pull-right" id="filter_plate_number" title="{{ 'filter_by_plate_number'|trans }}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {{ form_widget(formC.plateNumber, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'required': 'required', 'placeholder': 'plate_number'  } }) }}
        </div>

        <div class="grid-33">
            <label for="new_car_form_vin">{{ 'vin'|trans }} *</label>
            <a class="pull-right" id="filter_vin" title="{{ 'filter_by_vin'|trans }}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {{ form_widget(formC.vin, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'placeholder': 'vin'  } }) }}
        </div>

        <div class="grid-33">
            <label for="new_car_form_motor">{{ 'motor'|trans }}</label>
            <a class="pull-right" id="filter_motor" title="{{ 'filter_by_motor'|trans }}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {# <a class="pull-right" id="list_motor" title="{{ 'motor'|trans }}" href="{{ path('listMotors') }}" target="_blank"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn_.png') }}"></a> #}
            {{ form_widget(formC.motor, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'placeholder': 'motor'  } }) }}
            <input type="hidden" id="id_mts" value="">
        </div>
    </div>
    <div class="grid-full w100">
        {{ marca_session == 1 }}
        <div class="grid-33">
            <label for="new_car_form_brand">{{ 'brand'|trans }} *</label>
            <select id="new_car_form_brand" name="new_car_form_brand" class="form-control asr_form-control" {# multiple="multiple" #}, required>
                <option ></option>
                {% for brand in brands %}
                    {% if brand.id == marca_session %}
                        <option selected value={{ brand.id }}>{{ brand.name }}</option>
                    {%else %}
                        <option value={{ brand.id }}>{{ brand.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input style="display: none;" id="new_car_form_brand_read_only" name="new_car_form_brand_read_only" class="form-control asr_form-control" value="" disabled="disabled">
        </div>

        <div class="grid-33">
            <label for="new_car_form_model">{{ 'model'|trans }} *</label>
            <select id="new_car_form_model" name="new_car_form_model" class="form-control asr_form-control" {# multiple="multiple" #} required></select>
            <input style="display: none;" id="new_car_form_model_read_only" name="new_car_form_model_read_only" class="form-control asr_form-control" value="" disabled="disabled">
        </div>

        <div class="grid-33">
            <label for="new_car_form_version">{{ 'version'|trans }}</label>
            <select id="new_car_form_version" name="new_car_form_version" class="form-control asr_form-control" {# multiple="multiple" #} >
            </select>
            <input style="display: none;" id="new_car_form_version_read_only" name="new_car_form_version_read_only" class="form-control asr_form-control" value="" disabled="disabled">
        </div>
    </div>
    <div class="grid-full w100">

        <div class="grid-33">
            <label for="new_car_form_year">{{ 'year'|trans }}</label>
            {#<a class="pull-right" id="filter_year" title="{{ 'filter_by_year'|trans }}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>#}
            {{ form_widget(formC.year, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'placeholder': 'year' } }) }}
        </div>
        
        <div class="grid-33">
            <label for="new_car_form_kW">{{ 'kw'|trans }}</label>
            {{ form_widget(formC.kW, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'kw' } }) }}
        </div>
        
        <div class="grid-33">
            <label for="new_car_form_displacement">{{ 'displacement'|trans }}</label>
            {{ form_widget(formC.displacement, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'displacement' } }) }}
        </div>
    </div>

    {{ form_rest(formC) }}
</div>

{% include '@Ticket/Includes/modal_car.html.twig' %}