<div class="tblContainer">

    <legend>
         <a href="{{ path('newTicket', { 'id_workshop' : workshop.id, 'einatech' : 0, 'reset' : 1  }) }}" class="btn btn-primary asr_form-control asr_btn">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/update_.png') }}" title ="{% trans %} btn.clear {% endtrans %}" alt="{% trans %} btn.clear {% endtrans %}">
        </a>
        {% trans %} car {% endtrans %}: <span id='car'></span>
    </legend>

    <input type="hidden" id="funnel"          value="{{ asset('bundles/util/images/icon/funnel.png') }}">
    <input type="hidden" id="funnel_filtered" value="{{ asset('bundles/util/images/icon/funnel_filtered.png') }}">
    <input type="hidden" id="msg_bad_filter"  value="{% trans %} msg_bad_filter {% endtrans %}">
    <input type="hidden" id="msg_plate_number_not_found"  value="{% trans %} error.plate_number_not_found {% endtrans %}">
    <input type="hidden" id="msg_vin_not_found"  value="{% trans %} error.vin_not_found {% endtrans %}">

    <input type="hidden" id="ticket_brand"   value="{{marca_session}}">
    <input type="hidden" id="ticket_model"   value="{{modelo_session}}">
    <input type="hidden" id="ticket_version"   value="{{version_session}}">
    <input type="hidden" id="ticket_description"   value="{{description_session}}">
    <input type="hidden" id="ticket_plateNumber"   value="{{plateNumber_session}}">
    <div class="grid-full w100">
        
        <div class="grid-33">
            <label for="new_car_form_plateNumber">{% trans %} plate_number {% endtrans %} *<a id="txt_plateNumber"></a></label>
            <a class="pull-right" id="filter_plate_number" title="{% trans %} filter_by_plate_number {% endtrans %}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {{ form_widget(formC.plateNumber, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'required': 'required', 'placeholder': 'plate_number' | trans } }) }}
        </div>

        <div class="grid-33">
            <label for="new_car_form_vin">{% trans %} vin {% endtrans %} *</label>
            <a class="pull-right" id="filter_vin" title="{% trans %} filter_by_vin {% endtrans %}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {{ form_widget(formC.vin, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'placeholder': 'vin' | trans } }) }}
        </div>

        <div class="grid-33">
            <label for="new_car_form_motor">{% trans %} motor {% endtrans %}</label>
            <a class="pull-right" id="filter_motor" title="{% trans %} filter_by_motor {% endtrans %}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {# <a class="pull-right" id="list_motor" title="{% trans %} motor {% endtrans %}" href="{{ path('listMotors') }}" target="_blank"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn_.png') }}"></a> #}
            {{ form_widget(formC.motor, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'placeholder': 'motor' | trans } }) }}
            <input type="hidden" id="id_mts" value="">
        </div>
    </div>
    <div class="grid-full w100">
        {{ marca_session == 1 }}
        <div class="grid-33">
            <label for="new_car_form_brand">{% trans %} brand {% endtrans %} *</label>
            <select id="new_car_form_brand" name="new_car_form_brand" class="form-control asr_form-control" {# multiple="multiple" #}, required>
                <option ></option>
                {% for brand in brands %}
                    {% if brand.id == marca_session %}
                        <option selected value={{ brand.id }}>{{ brand.name }}</option>
                    {%else %}
                        <option value={{ brand.id }}>{{ brand.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="grid-33">
            <label for="new_car_form_model">{% trans %} model {% endtrans %} *</label>
            <select id="new_car_form_model" name="new_car_form_model" class="form-control asr_form-control" {# multiple="multiple" #} required></select>
        </div>

        <div class="grid-33">
            <label for="new_car_form_version">{% trans %} version {% endtrans %}</label>
            <select id="new_car_form_version" name="new_car_form_version" class="form-control asr_form-control" {# multiple="multiple" #} >
            </select>
        </div>
    </div>
    <div class="grid-full w100">

        <div class="grid-33">
            <label for="new_car_form_year">{% trans %} year {% endtrans %}</label>
            <a class="pull-right" id="filter_year" title="{% trans %} filter_by_year {% endtrans %}"><label style="color:#000;cursor:pointer;">{{'filter'|trans}}<img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></label></a>
            {{ form_widget(formC.year, { 'attr': { 'onkeypress': 'return checkEnterInFilterFields(event, this.id);', 'class': 'form-control asr_form-control', 'placeholder': 'year' | trans } }) }}
        </div>
        
        <div class="grid-33">
            <label for="new_car_form_kW">{% trans %} kw {% endtrans %}</label>
            {{ form_widget(formC.kW, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'kw' | trans } }) }}
        </div>
        
        <div class="grid-33">
            <label for="new_car_form_displacement">{% trans %} displacement {% endtrans %}</label>
            {{ form_widget(formC.displacement, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'displacement' | trans } }) }}
        </div>
    </div>

    {{ form_rest(formC) }}
</div>