    <legend>{% trans %} car {% endtrans %}
        {% if ticket.blockedBy == app.security.getToken().getUser() or ticket.workshop == app.security.getToken().getUser().getWorkshop() %}
            {# editar Ticket #}
            <a href="{{ path('editCar', { 'id': ticket.id }) }}"  title="Edit the Car"><img class="img_icon" src="{{ asset('bundles/util/images/icon/car_edit.png') }}" title="{% trans %} edit.car {% endtrans %}"></span></a></a>
        {% endif %}
    </legend>

<input type="hidden" id="id_car" name="id_car" value="{{ car.id }}">

<div class="form-group">
	{% if car.brand        != "" %}{{ car.brand   }}{% endif %}
	{% if car.model        != "" %}{{ car.model   }}{% endif %}
	{% if car.version      != "" %}{{ car.version }}{% endif %}
	{#
	{% if car.year         != "" %}<b>year:     	</b>{{ car.year         }}  {% endif %}
	{% if car.motor        != "" %}<b>motor:     	</b>{{ car.motor        }}  {% endif %}
	{% if car.kW           != "" %}<b>kW:           </b>{{ car.kW           }}  {% endif %}
	{% if car.displacement != "" %}<b>displacement: </b>{{ car.displacement }}  {% endif %}
	{% if car.vin          != "" %}<b>vin:     	  	</b>{{ car.vin          }}  {% endif %}
	#}
	{% if car.plateNumber  != "" %}<b>{% trans %} plate_number {% endtrans %}:  </b>{{ car.plateNumber  }}  {% endif %}
</div>
