    <legend>
    	{{ 'car'|trans }}
        
        {# editar Ticket #}
        {% if is_granted('ROLE_ASSESSOR') %}
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/' ~ car.status|default('undefined') ~ '.png') }}" title="{{ car.status | trans }}">
			{% if ticket.log == "" or ticket.log == null or is_granted('ROLE_ADMIN') %}
				<a href="{{ path('editCar', { 'id': car.id, 'ticketId': ticket.id }) }}">
					<img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}" title="{{ 'edit.car'|trans }}"></span>
				</a>
			{% endif %}
        {% endif %}    
    </legend>

<input type="hidden" id="id_car" name="id_car" value="{{ car.id }}">

<div class="form-group">
	<table>
		<tr><td><img class="img_icon" src="{{ asset('bundles/util/images/icon/car.png') }}"></td><td>{% if brand is defined and brand != "" %}{{ brand    }}</td>{% endif %}</tr>

		{% if car.model        != "" %}<tr><td><b>{{ 'model'|trans }}:</b> </td><td>{{ car.model   }}</td></tr>{% endif %}
		{% if car.version      != "" %}<tr><td><b>{{ 'version'|trans }}:</b> </td><td>{{ car.version }}</td></tr>{% endif %}

		{% if car.year         != "" %}<tr><td><b>{{ 'year'|trans }}</b><td>{{ car.year         }}</td></tr>{% endif %}
		{% if car.motor        != "" %}<tr><td><b>{{ 'motor'|trans }}</b><td>{{ car.motor        }}</td></tr>{% endif %}
		{% if car.kW           != "" %}<tr><td><b>{{ 'kW'}}</b><td>{{ car.kW           }}</td></tr>{% endif %}
		{% if car.displacement != "" %}<tr><td><b>{{ 'displacement'|trans }}</b><td>{{ car.displacement }}</td></tr>{% endif %}
		{% if car.vin          != "" %}<tr><td><b>{{ 'vin'|trans }}</b><td>{{ car.vin          }}</td></tr>{% endif %}

		{% if car.plateNumber  != "" %}<tr><td><b>{{ 'plate_number'|trans }}: </b><td>{{ car.plateNumber  }}</td></tr>{% endif %}
		<tr><td><b>{{ 'origin'|trans }}: </b><td>{{ car.origin|default('custom')  }}</td></tr>
		<tr><td><b>{{ 'variants'|trans }}: </b><td>{{ car.variants|default('1')  }}</td></tr>
	</table>

    {% include 'TicketBundle:Includes:_ged_btns.html.twig' %}

	{% if ticket.log != '' %}
		<div>
			<legend>{{ 'Log'|trans }}</legend>
			<div style="max-height: 200px; overflow: auto;">
				{{ ticket.log|raw }}
			</div>
		</div>
	{% endif %}

</div>
