{% extends '::layout.html.twig' %}

{% block breadcrumbs %}
    <li><a href="{{ path("index") }}">{{ 'index'|trans }}</a></li>
    <li><a href="{{ path("ticket") }}">{{ 'ticket'|trans }}</a></li>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.categoryService) }}
    {{ form_row(form.country        ) }}
    {{ form_row(form.language       ) }}
    {{ form_row(form.status         ) }}
    {{ form_row(form.importance     ) }}
    {{ form_row(form.subsystem      ) }}
    {{ form_row(form.description    ) }}

    <button type="submit">{{ 'send'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}