{% extends '::layout.html.twig' %}
{% set locale = app.request.locale %}
{% set user = app.user %}

{% block breadcrumbs %}
    <li><a href="{{path("index")}}">{{ 'index'|trans }}</a></li>
    <li><a href="{{path("tickets")}}">{{ 'tickets'|trans }}</a></li>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <h2>{{ 'tickets'|trans }}</h2>
            {# Load Menu according to Role #}
            {% if user != null %}
                {% include ':ticket:btns/btns_' ~ user.getRoles[0] ~ '.html.twig' %}
            {% endif %}
            
            <ul>
                <li>NEW</li>
            </ul>
            <ul>
                <li>FIND BY ID</li>
            </ul>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'status'|trans }}</th>
                            <th>{{ 'importance'|trans }}</th>
                            <th>{{ 'subsystem'|trans }}</th>
                            <th>{{ 'description'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in tickets %}
                            <tr>
                                <td>
                                    {% if t.is_call %}icon_by_phone
                                    {% else         %}icon_by_web   {% endif %}

                                    {{ t.id }}
                                </td>
                                <td>{{ t.status }}</td>
                                <td>{{ t.importance }}</td>
                                <td>{{ t.subsystem }}</td>
                                <td>{{ t.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul>
                <li>PAGINATION</li>
            </ul>
        </div>
    </div>
{% endblock %}