{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}

    <ol class="breadcrumb">
      <li><a href="{{ path('accept_privacy') }}">{% trans %} home {% endtrans %}</a></li>
    </ol>

    <div style="width: 90%; margin-left: 5%;">

            <legend>{% trans %} user.policy_privacy {% endtrans %}</legend>

            <label style="width: 100%;">{% trans %} user.accept_privacy {% endtrans %} <a href="{{ path('privacy') }}">{% trans %} user.policy_privacy {% endtrans %}</a> ?</label>
            {% if app.session.hasFlash('error') %} <p style="color:red">{{ app.session.getFlash('error') }}</p> {% endif %}
            <form action="{{ path('accept_privacy') }}" method="post" >
                <button name="Accept" class="btn btn-primary pull-left ml15" >{% trans %} accept {% endtrans %}</button>
                <button name="Cancel" class="btn btn-primary pull-left ml15" >{% trans %} user.cancel {% endtrans %}</button>
            </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>#}
{#    <script src="{{ asset('bundles/workshop/js/workshop_filter.js') }}"></script>#}

{% endblock %}