{% extends '::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
    <li><a href="{{ path('user_index') }}">Home</a></li>
    <li class="active">List of Workshops</li>
</ol>

    {% if workshops|length > 0  %}
        <table class="table table-hover table-list-search" style="width: 80%; margin-left: 10%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Workshop Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for workshop in workshops %}
                    <tr>
                        <td>{{ workshop.id }}</td>
                        <td>{{ workshop.name }} {% if workshop.active == false %}<span class="label label-danger">Inactive</span>{% endif %}</td>
                        <td>{{ workshop.email1}}</td>
                        <td>{{ workshop.contact }}</td>
                        <td>
                            <a href="{{ path("ticketsFromWorkshop", { 'id_workshop':workshop.id }) }}">Listado de Tickets</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No hay talleres!!
    {% endif %}

{% endblock %}