
<legend>Workshop</legend>

{# WORKSHOP #}
<div class="form-group">
	#{{ workshop.partner.id}},{{ workshop.id }}: <b>{{ workshop.name }}</b>
	{% if workshop.contact      != "" %}<b>Contact:  </b>{{ workshop.contact      }}  {% endif %}
</div>

{# TEL/MAIL #}
<div class="form-group">
	{% if workshop.phoneNumber1 != "" %}{{ workshop.phoneNumber1 }} / {% else %}
	{% if workshop.movileNumber1 != "" %}{{ workshop.movileNumber1 }} / {% endif %}{% endif %}
	{% if workshop.email1       != "" %}{{ workshop.email1       }}   {% endif %}
</div>

{# LOCATION #}
<div class="form-group">
	{% if workshop.region       != "" %}{{ workshop.region       }} , {% endif %}
	{% if workshop.province     != "" %}{{ workshop.province     }}   {% endif %}
</div>

{# PARTNER #}
<div class="form-group">
	{% if workshop.partner      != "" %} Partner: {{ workshop.partner      }} {% endif %}
</div>
