{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">Home</a></li>
        <li class="active">Apply for new workshop</li>
    </ol>

    <h1>Lista de talleres</h1>

    <table class="table" style="width: 80%; margin-left: 10%;">
        <tr>
            <td align="right">
               <div class="input-group">
                    <input class="form-control" id="system-search" name="q" placeholder="Filtrar por..." required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </td>
        </tr>
    </table>

    {% if workshops is defined %}
        {# Pendientes de dar de alta    #}
        {% if workshops|length > 0  %}
            <table class="table table-hover table-list-search" style="width: 80%; margin-left: 10%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Workshop</th>
                        <th>Status</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Region</th>
                        <th>Province</th>
                        <th>City</th>
                        {% if user_role == 'admin' %}
                            <th>Wanted Status</th>
                        {% endif %}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workshop in workshops %}
                        <tr>
                            <td>{{ workshop.id }}</td>
                            <td>{{ workshop.name }}</td>
                            <td>
                                {% if workshop.active == true %}    <span class="label label-success">Active</span>
                                {% else %}                          <span class="label label-danger">Inactive</span>
                                {% endif %}
                            </td>
                            <td>{{ workshop.address}}</td>
                            <td>{{ workshop.phoneNumber1 }}</td>
                            <td>{{ workshop.region }}</td>
                            <td>{{ workshop.province }}</td>
                            <td>{{ workshop.city }}</td>
                            {% if user_role == 'ad' %}
                                <td>
                                    {% if workshop.activatePending == true %}       <span class="label label-warning">Pendiente activación</span>
                                    {% elseif workshop.deactivatePending == true%}  <span class="label label-warning">Pendiente desactivación</span>
                                    {% elseif workshop.active == true %}            <a title="Pedir la desactivación del taller" href="{{ path("change_status_workshop", { 'id': workshop.id, 'action': 'deactivate' }) }}">Desactivar</a>
                                    {% elseif workshop.active == false %}           <a title="Pedir la desactivación del taller" href="{{ path("change_status_workshop", { 'id': workshop.id, 'action': 'activate' }) }}">Activar</a>
                                    {% endif %}
                                </td>
                            {% elseif user_role == 'admin' %}
                                {% if workshop.activatePending == true %}
                                    <td><span class="label label-warning">Pendiente activación</span></td>
                                    <td><a title="Activaciar del taller" href="{{ path("change_status_workshop", { 'id': workshop.id, 'action': 'activate' }) }}">Activar</a></td>
                                {% elseif workshop.deactivatePending == true %}
                                    <td><span class="label label-warning">Pendiente desactivación</span></td>
                                    <td><a title="Desactivación del taller" href="{{ path("change_status_workshop", { 'id': workshop.id, 'action': 'deactivate' }) }}">Desactivar</a></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No hay talleres!!
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script>
        $(document).ready(function() {
            //util.js
            table_filter();//util.js
        });
    </script>
{% endblock %}