{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('workshop_list') }}">List of Workshops</a></li>
      <li class="active">Edit Workshop ({{ workshop }})</li>
    </ol>


    <form action="{{ path("workshop_edit", { 'id':workshop.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <legend>Workshop</legend>

        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_name">Name</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_cif">CIF</label>
            {{ form_widget(form.cif, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_partner">Partner</label>
            {{ form_widget(form.partner, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_typology">Typology</label>
            {{ form_widget(form.typology, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <div class="col-xs-12 col-md-12 form-group">
                <label for="adservice_workshopbundle_workshoptype_active">Active</label>
                {{ form_widget(form.active) }}
            </div>
            <div class="col-xs-3 col-md-3 form-group">
                <label for="adservice_workshopbundle_workshoptype_test">Test</label>
                {{ form_widget(form.test) }}
            </div>
            <div class="col-xs-9 col-md-9 form-group">
                <label for="adservice_workshopbundle_workshoptype_endtest_at">Endtest at</label>
                {{ form_widget(form.endtest_at) }}
            </div>
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_diagnosis_machines">Diagnosis machines</label>
            {{ form_widget(form.diagnosis_machines, { 'attr': {'class': 'form-control', 'required': 'false'} }) }}
        </div>

        <legend>Contact</legend>

        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_workshopbundle_workshoptype_contact">Contact</label>
            {{ form_widget(form.contact, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_workshopbundle_workshoptype_phone_number_1">Phone Number 1</label>
            {{ form_widget(form.phone_number_1, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_workshopbundle_workshoptype_phone_number_2">Phone Number 1</label>
            {{ form_widget(form.phone_number_2, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_workshopbundle_workshoptype_movile_phone_1">Movile Phone 1</label>
            {{ form_widget(form.movile_phone_1, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_workshopbundle_workshoptype_movile_phone_2">Movile Phone 2</label>
            {{ form_widget(form.movile_phone_2, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_workshopbundle_workshoptype_fax">Fax</label>
            {{ form_widget(form.fax, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="col-xs-6 col-md-6 form-group">
            <label for="adservice_workshopbundle_workshoptype_email_1">Email 1</label>
            {{ form_widget(form.email_1, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-6 col-md-6 form-group">
            <label for="adservice_workshopbundle_workshoptype_email_2">Email 2</label>
            {{ form_widget(form.email_2, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_workshopbundle_workshoptype_region">Region</label>
            {{ form_widget(form.region, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_workshopbundle_workshoptype_province">Province</label>
            {{ form_widget(form.province, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_workshopbundle_workshoptype_city">City</label>
            {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-6 col-md-6 form-group">
            <label for="adservice_workshopbundle_workshoptype_address">Address</label>
            {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <legend>Observations</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <label for="adservice_workshopbundle_workshoptype_conflictive">Conflictive</label>
            {{ form_widget(form.conflictive) }}
        </div>

        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_workshop">Observation Workshop</label>
            {{ form_widget(form.observation_workshop, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_assessor">Observation Assessor</label>
            {{ form_widget(form.observation_assessor, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_admin">Observation Admin</label>
            {{ form_widget(form.observation_admin, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
        </div>

           {#  {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'multiple': 'multiple', 'required': 'required' } }) }} #}
    {{ form_rest(form) }}
        <p>
            <button type="submit">Save</button>
        </p>
    </form>

{#    USERS ZONE #}
    <legend>Users in workshop</legend>
    {% include 'UserBundle:Default:_list.html.twig' with {users : workshop.users} %}

{% endblock%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/workshop/js/workshop.js') }}"></script>

    <script>
        $(document).ready(function() {
            //si clickamos el combobox de las regiones repoblamos la de las provincias
            $('form[name=adservice_partnerbundle_partnertype]').find('select[name*=region]').change(function() {
                var url_ajax = "{{ path("user_provinces") }}";
                populate_province(url_ajax);
            });

            $('#adservice_workshopbundle_workshoptype_test').change(function(){

                if($('#adservice_workshopbundle_workshoptype_test').is(':checked')) {
                    var d = new Date();
                    $('#adservice_workshopbundle_workshoptype_endtest_at_date_month' ).val(d.getMonth()+1);
                    $('#adservice_workshopbundle_workshoptype_endtest_at_date_day'   ).val(d.getDay());
                    $('#adservice_workshopbundle_workshoptype_endtest_at_date_year'  ).val(d.getFullYear());
                    $('#adservice_workshopbundle_workshoptype_endtest_at_time_hour'  ).val(d.getHours());
                    $('#adservice_workshopbundle_workshoptype_endtest_at_time_minute').val(d.getMinutes());
                }
                else{
                    $('#adservice_workshopbundle_workshoptype_endtest_at_date_month' ).val(0);
                    $('#adservice_workshopbundle_workshoptype_endtest_at_date_day'   ).val(0);
                    $('#adservice_workshopbundle_workshoptype_endtest_at_date_year'  ).val(0);
                    $('#adservice_workshopbundle_workshoptype_endtest_at_time_hour'  ).val("");
                    $('#adservice_workshopbundle_workshoptype_endtest_at_time_minute').val("");
                }
            });
        });
    </script>
{% endblock %}