{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">Home</a></li>
        <li class="active">Apply for new workshop</li>
    </ol>

    <h1>Lista de solicitudes pendientes</h1>
    
    <table class="table" style="width: 50%; margin-left: 450px;">
        <tr>
            <td align="right">
               <div class="input-group">
                    <input class="form-control" id="system-search" name="q" placeholder="Filtrar por..." required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </td>
        </tr>
    </table>
    
    
        {# como es admin mostramos el combo para cambiar entre socios #}
            
        {% if workshops_pending_orders|length > 0  %}
            <table class="table table-hover table-list-search" style="width: 50%; margin-left: 450px;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Workshop</th>
                        <th>Partner</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Region</th>
                        <th>Province</th>
                        <th>City</th>
                        {% if user_role == 'admin' %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for workshop in workshops_pending_orders %}
                        <tr>
                            <td>{{ workshop.id }}</td>
                            <td>{{ workshop.name }}</td>
                            <td>{{ workshop.partner }}</td>
                            <td>{{ workshop.address}}</td>
                            <td>{{ workshop.phoneNumber1 }}</td>
                            <td>{{ workshop.region }}</td>
                            <td>{{ workshop.province }}</td>
                            <td>{{ workshop.city }}</td>
                            {% if user_role == 'admin' %}
                                <td>
                                    <a id="regiter_ok_{{ workshop.id }}"  title="Aceptar el alta del taller"    href="{{ path("register_workshop", { 'id': workshop.id, 'action': 'OK'})  }}"><span class="glyphicon glyphicon-ok"></span></a>
                                    <a id="regiter_ko_{{ workshop.id }}"  title="Rechazar y eliminar el taller" href="{{ path("register_workshop", { 'id': workshop.id, 'action': 'KO' }) }}"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No hay talleres!!
        {% endif %}
    
{% endblock %}
            
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script>
        $(document).ready(function() {
            //util.js
            table_filter();//util.js
        });
    </script>
{% endblock %}