{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">Home</a></li>
        <li class="active">Apply for new workshop</li>
    </ol>

    <h1>Petición de alta de Taller</h1>
    
    <form action="{{ path('new_workshop_order') }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" > 

        <div class="container">
                <div class="row clearfix">
                        <div class="col-md-6 column">
                            <label for="new_car_form_vin">Name</label>
                            {{ form_widget(form.name, { 'attr': { 'class': 'form-control',
                                                                  'placeholder': 'Name'} }) }}

                            <label for="new_car_form_vin">Adress</label>
                            {{ form_widget(form.address, { 'attr': { 'class': 'form-control',
                                                                     'placeholder': 'Address'} }) }}
                            
                            <label for="new_car_form_vin">Phone Number</label>
                            {{ form_widget(form.phone_number_1, { 'attr': {'class': 'form-control',
                                                                           'placeholder': 'Phone Number'} }) }}
                            
                        </div>
                        <div class="col-md-6 column">
                            <label for="new_car_form_vin">Region</label>
                            {{ form_widget(form.region, { 'attr': { 'class': 'form-control',
                                                                    'placeholder': 'City'} }) }}

                            <label for="new_car_form_vin">Province</label>
                            {{ form_widget(form.province, { 'attr': { 'class': 'form-control',
                                                                      'placeholder': 'province'} }) }}
                            
                            <label for="new_car_form_vin">City</label>
                            {{ form_widget(form.city, { 'attr': { 'class': 'form-control',
                                                                  'placeholder': 'City'} }) }}
                            

                        </div>
                    {{ form_rest(form) }}
                </div>

            <br/>
            <button class="btn btn-primary pull-right" type="submit">Submit</button>

        </div>
{% endblock %}