<div class="MainHeader">
    <div class="span4 offset2" style="margin-top:15px;">
    </div>
    <div class="navbar" style="padding:10px;">
        <div class="navbar-inner">
            <div class="span4 offset2">
                <!-- header -->
                <table width="100%" border="0">
                    <tr>
                        <td align="right">
                            {% if app.user.username is defined %}
                            <!-- Split button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">{{ app.security.getToken().getUser().getUsername() }}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="btn pull-left" href="{{ path('user_index') }}">{% trans %}Indicie Usuario{% endtrans %}</a></li>
                                    <li><a class="btn pull-left" href="{{ path('newTicket') }}" > {% trans %}New ticket{% endtrans %}</a></li>
                                    <li><a class="btn pull-left" href="{{ path('listTicket') }}">{% trans %}Tickets{% endtrans %}</a></li>
                                    <li><a class="btn pull-left" href="{{ path('listIncidence') }}">{% trans %}Incidencias{% endtrans %}</a></li>
                                    <li><a href="#"></a></li>
                                    <li class="divider"></li>
                                    <li><a class="btn pull-left" href="{{ path('logout') }}"> {% trans %}Logout{% endtrans %}</a></li>
                                </ul>
                            </div>
                            {% else %}
                            <a href="{{ path('login') }}" class="btn btn-success btn-lg" role="button">{% trans %} Login to ADService {% endtrans %}</a>
                            {% endif %}
                            
                            <a href="{{ path('changeLanguage', { 'lang': 'en'}) }}" value="en"><img src="{{ asset('bundles/util/images/flags/flag_great_britain.png') }}"></a>
                            <a href="{{ path('changeLanguage', { 'lang': 'es'}) }}" value="es"><img src="{{ asset('bundles/util/images/flags/flag_spain.png') }}"></a>
                            <a href="{{ path('changeLanguage', { 'lang': 'fr'}) }}" value="fr"><img src="{{ asset('bundles/util/images/flags/flag_france.png') }}"></a>
                            <a href="{{ path('changeLanguage', { 'lang': 'ca'}) }}" value="ca"><img src="{{ asset('bundles/util/images/flags/flag_catalonia.png') }}"></a>
                            <a href="{{ path('changeLanguage', { 'lang': 'ru'}) }}" value="ru"><img src="{{ asset('bundles/util/images/flags/flag_russia.png') }}"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>