<div class="MainHeader">
    <div class="span4 offset2">
    </div>
    <div class="navbar {% if env is defined and env != 'prod' %}{{env}}{% endif %}">
        <div class="navbar-inner">
            <div class="span4 offset2">
                <!-- header -->
                <table width="100%" border="0">
                    <tr>
                        <td align="left">
                            {% if env is defined and env != 'prod' %}<a class="env">{{env|upper}}</a>{% endif %}
                        {#  
                            <h2 style="width: 322px;float: left;margin: 5px;color: white;">
                                {{ 'header.welcome'|trans }}
                            </h2>
                        #}
                            {% set url_logo = route_logo ~ '.png' %}
                            <img class="img_logo" src="{{ asset(url_logo) }}" style="margin-left: -15px;margin-right: 10px; float: left;">
                            
                            {% if app.user and app.user.getCategoryService() != null %}
                                {% set url_logo_catserv = route_logo ~ '_' ~ app.user.getCategoryService().getSlug() ~ '.png' %}
                                <img class="img_logo" src="{{ asset(url_logo_catserv) }}">
                            {% endif %}

                        {#  {% if     app.session.locale == 'es' %}{% set url_logo = 'bundles/util/images/icon/logo_ES.png' %}
                            {% elseif app.session.locale == 'pt' %}{% set url_logo = 'bundles/util/images/icon/logo_PT.png' %}
                            {% elseif app.session.locale == 'en' %}{% set url_logo = 'bundles/util/images/icon/logo_EN.png' %}
                            {% elseif app.session.locale == 'fr' %}{% set url_logo = 'bundles/util/images/icon/logo_FR.png' %}
                            {% else %}{% set url_logo = 'bundles/util/images/icon/logos.png' %}{% endif %}
                        #}

                            {# <img class="img_logo" src="{{ asset('bundles/util/images/icon/logos.png') }}"> #}
                        </td>
                        <td align="right">

                            {% if app.user.username is defined %}

                            <!-- Split button -->
                            <div class="user">
                                <img src="{{ asset('bundles/util/images/icon/user_icon.png') }}">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">{{ app.user.getUsername() }}</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="btn pull-left" href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>

                                        {# <li><a class="btn pull-left" href="{{ path('help') }}" target="_blank">{{ 'help'|trans }}</a></li> #}

                                        <li><a class="btn pull-left" href="{{ path('user_profile') }}">   {{ 'menu.profile'|trans }}</a></li>
                                        {% if  is_granted('ROLE_SUPER_AD')== FALSE and is_granted('ROLE_AD')== FALSE and is_granted('ROLE_COMMERCIAL')== FALSE %}
                                            <li><a class="btn pull-left"  href="{{ path("listTicket" ) }}">{{ 'menu.list_tickets'|trans }}</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ASSESSOR') and (workshop is not defined or workshop.id == "" ) %}
                                            <li><a class="btn pull-left" href="{{ path("newTicket"   ) }}">{{ 'new.ticket'|trans }}</a></li>
                                        {% endif %}
                                        <li><a href="#"></a></li>
                                        <li class="divider"></li>
                                        <li><a id="logout" class="btn pull-left" href="{{ path('user_logout') }}" dats-url="{{ path('user_logout') }}">  {{ 'logout'|trans }}</a></li>
                                    </ul>
                                </div>
                            </div>
                           {# {% else %}
                                <a href="{{ path('login') }}" class="btn btn-success btn-lg" role="button">{% trans %} Login to ADService {% endtrans %}</a>#}
                            {% endif %}
                            {#
                               app.request.getPathInfo()
                               app.request.attributes.get('_route')
                            #}
                            <!-- Split button -->
                            <div class="language">
                                <input type="hidden" id="data_locale" value="{{ app.request.locale }}" data-locale="{{ app.request.locale }}">
                                <img src="{{ asset('bundles/util/images/icon/language_icon.png') }}">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" >{{ app.request.locale | trans }}</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" >
                                        <li><a class="btn pull-left" href="{{ path('changeLanguage', {'lang': 'en','path': app.request.getPathInfo()}) }}"> {{ 'english'|trans }}</a></li>
                                        <li><a class="btn pull-left" href="{{ path('changeLanguage', {'lang': 'es','path': app.request.getPathInfo()}) }}"> {{ 'spanish'|trans }}</a></li>
                                        <li><a class="btn pull-left" href="{{ path('changeLanguage', {'lang': 'fr','path': app.request.getPathInfo()}) }}">{{ 'french'|trans }}</a></li>
                                        <li><a class="btn pull-left" href="{{ path('changeLanguage', {'lang': 'nl','path': app.request.getPathInfo()}) }}">{{ 'dutch'|trans }}</a></li>
                                        <li><a class="btn pull-left" href="{{ path('changeLanguage', {'lang': 'pl','path': app.request.getPathInfo()}) }}">{{ 'polish'|trans }}</a></li>
                                        <li><a class="btn pull-left" href="{{ path('changeLanguage', {'lang': 'pt','path': app.request.getPathInfo()}) }}">{{ 'portuguese'|trans }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{#
*************************
* IDIOMA
*************************
    {% set location = 'ticket' %}
    <a href="{{ path('redirect', {'_locale': 'en', '_location': 'ticket'}) }}">  <img src="{{ asset('bundles/util/images/flags/flag_great_britain.png') }}"></a>
    <a href="{{ path('redirect', {'_locale': 'es', '_location': 'ticket'}) }}">  <img src="{{ asset('bundles/util/images/flags/flag_spain.png') }}"></a>
    <a href="{{ path('redirect', {'_locale': 'fr', '_location': 'ticket'}) }}">  <img src="{{ asset('bundles/util/images/flags/flag_france.png') }}"></a>
#}
{#
*************************
* OPCIONES DESPLEGABLE
*************************
    {% if is_granted('ROLE_ADMIN') %}
        <li><a class="btn pull-left"  href="{{ path("listStatistics"              ) }}">{{ 'menu.list_statistics'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("list_orders"                 ) }}">{{ 'menu.list_orders'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("popup_list"                  ) }}">{{ 'menu.list_popups'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("partner_list"                ) }}">{{ 'menu.list_partners'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("shop_list"                   ) }}">{{ 'menu.list_shops'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("workshop_list"               ) }}">{{ 'menu.list_workshops'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("user_list"                   ) }}">{{ 'menu.list_users'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("ticketWorkshopList"          ) }}">{{ 'menu.asign_user_to_ticket'|trans }}</a></li>
    {% elseif is_granted('ROLE_AD') %}
        <li><a class="btn pull-left"  href="{{ path("user_profile"                ) }}">{{ 'menu.profile'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("list_orders"                 ) }}">{{ 'menu.list_orders'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("shopOrder_listShops"         ) }}">{{ 'menu.list_shops'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("workshopOrder_listWorkshops" ) }}">{{ 'menu.list_workshops'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("shopOrder_new"               ) }}">{{ 'menu.new_shop_order'|trans }}</a></li>
        <li><a class="btn pull-left"  href="{{ path("workshopOrder_new"           ) }}">{{ 'menu.new_workshop_order'|trans }}</a></li>
    {% else %}
        <li><a class="btn pull-left"  href="{{ path("user_profile"                ) }}">{{ 'menu.profile'|trans }}</a></li>
    {% endif %}
#}