{% set locale = app.request.locale %}
{% set user = app.user %}

{# LOGO #}
	{% set logo = url_logo ~ '.png' %}
	<a href="{{ path("index", { '_locale': locale }) }}"><img src="{{ asset(logo) }}"></a>

{# LANG #}
	<select id="locale" onchange="window.location.href = '{{ path('changeLang')}}/'+this.options[this.selectedIndex].value;">
	{% for lang in languages %}
		<option {% if locale == lang %}selected{% endif %} value="{{ lang }}">{{ lang|trans }}</option>
	{% endfor %}
	</select>

{# LOGIN #}
{% if user != null %}
    {{  user.username }}
    <a href="{{ path('logout') }}">{{ 'logout' |trans }}</a>
{% else %}
    <a href="{{ path('login') }}">{{ 'login' |trans }}</a>
{% endif %}

{# HELP #}
<a href="{{ path("help") }}">{{ 'help'|trans }}</a>
