<tr class="colorTitle">
    <th> #                                    </th>
    <th>                                      </th>

    {% if order_by == 'name' and trend == 'ASC' %}

        {% set src = asset('bundles/backend/images/arrow_down.png') %}
        {% set url = path('listTicket', {'page': 1, 'num_rows': num_rows, 'option': option }) %}

    {% else %}

        {% set src = asset('bundles/backend/images/arrow_up.png') %}
        {% set url = path('listTicket', {'page': 1, 'num_rows': num_rows, 'option': option }) %}

    {% endif %}

    {% if order_by == 'name' %} {% set class = 'active' %} {% else %} {% set class = '' %} {% endif %}
    <th width="288"><a class="{{ class }}" href="{{ url }}"> Usuario <img src="{{ src }}"> </a></th>

    <th>{{ 'car'|trans }}</th>
    <th>{{ 'description'|trans }}</th>
    <th></th>
    <th>{{ 'date'|trans }}</th>
</tr>