
    {# DECLARACION DE VARIABLES PARA LA PAGINACION #}
    {% set page      = pagination.page      %}
    {% set prevpages = pagination.prevpages %}
    {% set nextpages = pagination.nextpages %}
    {% set totalpag  = pagination.totalpag  %}

    {# PAGINACION #}
    <div id="pagination"  class="pagination_content">

    	<input type="hidden" id="total" value="{{ totalpag }}">

	    {# FLECHAS PAGINAS ANTERIORES #}
    	<button id="firstpage"    class="page_number"><span class="glyphicon glyphicon-backward" title="{{ 'page.first'|trans }}"   ></span></button>
    	<button id="btn_anterior" class="page_number"><span class="glyphicon glyphicon-chevron-left" title="{{ 'page.prev'|trans }}"></span></button>

	    {# PAGINAS ANTERIORES #}
    	{% if prevpages > 0 %}
	    	{% for prev_page in prevpages..1 %}
	    		<button class="page_number change_page" >{{ page - prev_page }}</button>
	    	{% endfor %}
    	{% endif %}

    	{# PAGINA ACTUAL #}
	    <input  type="text"   id="page"  class="page_number page_selected" value="{{ page }}" title="{{ 'page.goto'|trans }} {{ page }}" disabled >

	    {# PAGINAS SIGUIENTES #}
    	{% if nextpages > 0 %}
			{% for next_page in 1..nextpages %}
	    		<button class="page_number change_page" >{{ page + next_page }}</button>
	    	{% endfor %}
    	{% endif %}

	    {# FLECHAS PAGINAS SIGUIENTES #}
    	<button id="btn_siguiente" class="page_number"><span class="glyphicon glyphicon-chevron-right" title="{{ 'page.next'|trans }}"></span></button>
    	<button id="totalpage"     class="page_number"><span class="glyphicon glyphicon-forward" title="{{ 'page.last'|trans }}({{ totalpag }})"></span></button>

    </div>