
    {# PAGINACION #}
    <div id="pagination"  class="pagination_content">

    	{# DECLARACION DE VARIABLES PARA LA PAGINACION #}
    	{% set page      = pagination.page      %}
    	{% set prevpages = pagination.prevpages %}
	    {% set nextpages = pagination.nextpages %}
	    {% set totalpag  = pagination.totalpag  %}

	    {# FLECHAS PAGINAS ANTERIORES #}
    	<button id="firstpage"    class="page_number"><span class="glyphicon glyphicon-backward" title="First page"   ></span></button>
    	<button id="btn_anterior" class="page_number"><span class="glyphicon glyphicon-chevron-left" title="Previous page"></span></button>

	    {# PAGINAS ANTERIORES #}
    	{% if prevpages > 0 %}
	    	{% for prev_page in prevpages..1 %}
	    		<button class="page_number change_page" >{{ page - prev_page }}</button>
	    	{% endfor %}
    	{% endif %}

    	{# PAGINA ACTUAL #}
	    <input  type="text"   id="page"  class="page_number page_selected" value="{{ page }}"  disabled >

	    {# PAGINAS SIGUIENTES #}
    	{% if nextpages > 0 %}
			{% for next_page in 1..nextpages %}
	    		<button class="page_number change_page" >{{ page + next_page }}</button>
	    	{% endfor %}
    	{% endif %}

	    {# FLECHAS PAGINAS SIGUIENTES #}
    	<button id="btn_siguiente" class="page_number"><span class="glyphicon glyphicon-chevron-right" title="Next page"></span></button>
    	<button id="totalpage"     class="page_number"><span class="glyphicon glyphicon-forward" title="Last page ({{ totalpag }})"></span></button>

    </div>

    <script type="text/javascript">

    	//REDIRIGE A LA PRIMERA PAGINA
	    $('#firstpage').click(function() {

	    	window.open("{{ path('listTicket', { 'page': '1' }) }}", "_self");
	    });

	    //REDIRIGE A LA ANTERIOR PAGINA
	    $('#btn_anterior').click(function() {

	    	var prev_page = parseFloat($('#page').val()) - parseFloat(1);

	    	if (prev_page > 0 ) {

				var url = "{{ path('listTicket', {'page': 'PLACEHOLDER'}) }}";
		    	url_page = url.replace("PLACEHOLDER", prev_page);

		    	window.open(url_page, "_self");
		    }
	    });

	    //REDIRIGE A LA PAGINA EN LA QUE SE HAYA HECHO CLICK
	    $('.change_page').click(function() {

	    	var url = "{{ path('listTicket', {'page': 'PLACEHOLDER'}) }}";
	    	url_page = url.replace("PLACEHOLDER", $(this).text());

	    	window.open(url_page, "_self");
	    });

	    //REDIRIGE A LA SIGUIENTE PAGINA
	    $('#btn_siguiente').click(function() {

	    	var next_page = parseFloat($('#page').val()) + parseFloat(1);

	    	if (next_page <= {{ totalpag }}) {

		    	var url = "{{ path('listTicket', {'page': 'PLACEHOLDER'}) }}";
		    	url_page = url.replace("PLACEHOLDER", next_page);

		    	window.open(url_page, "_self");
		    }
	    });

	    //REDIRIGE A LA ULTIMA PAGINA
	    $('#totalpage').click(function() {

	    	window.open("{{ path('listTicket', { 'page': totalpag }) }}", "_self");
	    });

	</script>