
    {# DECLARACION DE VARIABLES PARA LA PAGINACION #}
    {% set page      = pagination.page      %}
    {% set prevpages = pagination.prevpages %}
    {% set nextpages = pagination.nextpages %}
    {% set totalpag  = pagination.totalpag  %}

    {# PAGINACION #}
{% if page != 0 %}
    <input type="hidden" id="totalpag" value="{{ totalpag }}">
    <input type="hidden" id="country" value="{{ country }}">
    {% if not is_granted('ROLE_ASSESSOR') %} {% set option = 'all' %}{% endif %}
    {# <input type="hidden" id="order_by" value="{{ order_by }}"> #}
    {# <input type="hidden" id="trend"    value="{{ trend    }}"> #}
    {# <input type="hidden" id="mail"     value="{{ mail     }}"> #}

 {#    {% if brand         is not defined %} {% set brand          = null %}{% endif %}
    {% if model.id      is not defined %} {% set model          = null %}{% endif %}
    {% if version.id    is not defined %} {% set version        = null %}{% endif %}
    {% if year          is not defined %} {% set year           = null %}{% endif %}
    {% if motor         is not defined %} {% set motor          = null %}{% endif %}
    {% if kw            is not defined %} {% set kw             = null %}{% endif %}
    {% if system        is not defined %} {% set system         = null %}{% endif %}
    {% if importance    is not defined %} {% set importance     = null %}{% endif %}
    {% if subsystem.id  is not defined %} {% set id             = null %}{% endif %}
    {% if displacement  is not defined %} {% set displacement   = null %}{% endif %}
    {% if vin           is not defined %} {% set vin            = null %}{% endif %}
    {% if plateNumber   is not defined %} {% set plateNumber    = null %}{% endif %} #}

    {% if brand is defined or model.id is defined or version.id is defined or year is defined or motor is defined or kw is defined or system is defined or importance is defined or subsystem.id is defined or displacement is defined or vin is defined or plateNumber is defined %}
        {% set findByBMV = 1 %}{% endif %}

    <div id="pagination"  class="pagination_content">

	    {# FLECHAS PAGINAS ANTERIORES #}
    	<a id="firstpage"    class="page_number" title="{% trans %} page.first {% endtrans %}"
            {% if findByBMV is defined and findByBMV == 1 %}onclick="updatePageAndFindByBMV(1)"
            {% else                                       %}href="{{ path(route, { page: 1, num_rows: num_rows, country: country, option: option }) }}"
            {% endif %}>
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/arrow_left_double.png') }}">
        </a>

        {% if page-1 <= 0 %} {% set this_prev_page = 1 %} {% else %} {% set this_prev_page = page-1 %}{% endif %}

    	<a id="btn_anterior" class="page_number" title="{% trans %} page.prev {% endtrans %}"
            {% if findByBMV is defined and findByBMV == 1 %}onclick="updatePageAndFindByBMV({{this_prev_page}})"
            {% else                                       %}href="{{ path(route, { page: this_prev_page, num_rows: num_rows, country: country, option: option }) }}"
            {% endif %}>
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/arrow_left.png') }}">
        </a>

	    {# PAGINAS ANTERIORES #}
    	{% if prevpages > 0 %}
	    	{% for prev_page in prevpages..1 %}

                {% set this_prev_page = page - prev_page %}

                <a class="page_number change_page" title="{% trans %} page {% endtrans %} {{ this_prev_page }}"
                {% if findByBMV is defined and findByBMV == 1 %}onclick="updatePageAndFindByBMV({{this_prev_page}})"
                {% else                                       %}href="{{ path(route, { page: this_prev_page, num_rows: num_rows, country: country, option: option }) }}"
                {% endif %}> {# , order_by: order_by, trend: trend, mail: mail }) }}"> #}
                    {{ this_prev_page }}
                </a>
	    	{% endfor %}
    	{% endif %}

    	{# PAGINA ACTUAL #}
	    <input  type="text"   id="page"  class="page_number page_selected" value="{{ page }}"  title="{% trans %} page.goto {% endtrans %} {{ page }}" disabled >

	    {# PAGINAS SIGUIENTES #}
    	{% if nextpages > 0 %}
			{% for next_page in 1..nextpages %}

                {% set this_next_page = page + next_page %}

                <a class="page_number change_page" title="{% trans %} page {% endtrans %} {{ this_next_page }}"
                {% if findByBMV is defined and findByBMV == 1 %}onclick="updatePageAndFindByBMV({{this_next_page}})"
                {% else                                       %}href="{{ path(route, { page: this_next_page, num_rows: num_rows, country: country, option: option }) }}"
                {% endif %}>
                    {{ this_next_page }}
                </a>
	    	{% endfor %}
    	{% endif %}

	    {# FLECHAS PAGINAS SIGUIENTES #}

        {% if page+1 >= totalpag %} {% set this_next_page = totalpag %} {% else %} {% set this_next_page = page+1 %}{% endif %}

        <a id="btn_siguiente" class="page_number" title="{% trans %} page.next {% endtrans %}"
            {% if findByBMV is defined and findByBMV == 1 %}onclick="updatePageAndFindByBMV({{this_next_page}})"
            {% else                                       %}href="{{ path(route, { page: this_next_page, num_rows: num_rows, country: country, option: option }) }}"
            {% endif %}>
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/arrow_right.png') }}">
        </a>
        <a id="totalpage"    class="page_number" title="{% trans %} page.last {% endtrans %}({{ totalpag }})"
            {% if findByBMV is defined and findByBMV == 1 %}onclick="updatePageAndFindByBMV({{totalpag}})"
            {% else                                       %}href="{{ path(route, { page: totalpag, num_rows: num_rows, country: country, option: option }) }}"
            {% endif %}>
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/arrow_right_double.png') }}">
        </a>
    </div>
{% endif %}