{% extends '::layout.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path("index") }}">{{ 'index'|trans }}</a></li>
	<li><a href="{{ path("help") }}">{{ 'help'|trans }}</a></li>
{% endblock %}

{% block body %}

	<h1>{{ 'help_title'|trans }}</h1>

	<div>
		{# Figueres #} {# <h2>97 298 20 00</h2> #}
    	{# Badalona #} {# <h2>93 395 23 08</h2> #}
    </div>
	<div>
    	<h2><a href="{{ 'help_manual'|trans }}" target="_blank">{{ 'help_check_manual'|trans }}</a></h2>
    </div>

    <div>
    	<iframe width="560" height="315" frameborder="0" allowfullscreen src="{{ 'help_video'|trans }}"></iframe>
    </div>

{% endblock %}
