{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
{#      <li><a href="{{ path('ticketWorkshopList') }}">{% trans %} ticket.from_workshop {% endtrans %}</a></li>#}
      <li class="active">{% trans %} ticket.from_workshop {% endtrans %}</li>
    </ol>


    {% if tickets|length > 0  %}

            <table class="table table-hover" style="width: 90%; margin-left: 5%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans %} description {% endtrans %}</th>
                        <th>{% trans %} created_by  {% endtrans %}</th>
                        <th>{% trans %} assigned_to {% endtrans %}</th>
                        <th>{% trans %} action      {% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                         <tr>
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.description }} </td>
                            {#<td>{{ ticket.importance}}</td>#}
                            <td>{{ ticket.createdBy }}</td>
                            <td>{{ ticket.assignedTo }}</td>
                            <td>
                                <a href="{{ path('assignTicket', {'id':ticket.id})}}"   ><img class="img_icon" src="{{ asset('bundles/util/images/icon/assign_to_user.png') }}" title="{% trans %} ticket.assign {% endtrans %}"></span></a>
                                <a href="{{ path('showTicket', { 'id' : ticket.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_show.png') }}" title="{% trans %} ticket.show {% endtrans %}"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

    {% else %}
        {% trans %} any.ticket {% endtrans %}
    {% endif %}

{% endblock %}