{% extends '::layout.html.twig' %}

{% block body %}

	{% if bbdd is not defined or bbdd == null %}

		{% set msg  = app.session.get('msg' ) %}

		<div  style="text-align:center;">

			<h3>Área de pre-producción</h3>

			{% if msg != '' %}<h3 class="alert"> {{ msg  }} </h3>{% endif %}

		</div>

		<div align="center">
			<button class="btn-menu" onclick="window.open('{{ path('user_credentials', {'type' : 'workshop'}) }}', '_self')">RESET PASSWORDS + EXCEL TALLERES (3h aprox)</button>
			<button class="btn-menu" onclick="window.open('{{ path('user_credentials', {'type' : 'partner'}) }}', '_self')">RESET PASSWORDS + EXCEL SOCIOS</button>

			<button class="btn-menu" onclick="window.open('{{ path('user_credentials', {'type' : 'country_service'}) }}', '_self')">RESET PASSWORDS + EXCEL ASESORES</button>
		</div>

		<div align="center">
			<button class="btn-menu" onclick="window.open('{{ path('lock_cars',  { 'bbdd': 'old_cars',  }) }}', '_self')"> IMPORTAR BBDD_CARS       </button>
			<button class="btn-menu" onclick="window.open('{{ path('incidences', { 'bbdd': 'incidences' }) }}', '_self')"> IMPORTAR BBDD_INCIDENCES </button>
			<button class="btn-menu" onclick="window.open('{{ path('test_mail') }}', '_self')"> TEST MAILING </button>
		</div>

	{% elseif bbdd == 'complete' %}
		<h1> BBDD IMPORTADA CORRECTAMENTE! </h1>
		{{ "now"|date("d-m-Y, H:i:s") }}
	{% elseif bbdd == 'old_cars'  %}

		{% if num is defined %}
			<h3> Importando coches... <span class="glyphicon glyphicon-arrow-right"></span> {{ num }}</h3>
			<script>window.open('{{ path("lock_cars", { "bbdd": "old_cars", "num": num }) }}', '_self'); </script>
		{% else %}
			{% set msg  = app.session.get('msg' ) %}
			{% set info = app.session.get('info') %}
			<h3> {{ msg  }} </h3>
			<p>  {{ info }} </p>
			<script>window.open('{{ path("lock_cars", { "bbdd": "old_cars"}) }}', '_self'); </script>
		{% endif %}

	{% elseif bbdd == 'incidences' %}

		{% if num is defined %}
			<h3> Importando incidencias... <span class="glyphicon glyphicon-arrow-right">{{ num }}</h3>
			<script>window.open('{{ path("incidences", { "bbdd": "incidences", "num": num }) }}', '_self'); </script>
		{% endif %}

	{% elseif bbdd == 'imported' %}
		{% set msg  = app.session.get('msg' ) %}
		{% set info = app.session.get('info') %}
		{% set next = app.session.get('next') %}
		<h3> {{ msg  }} </h3>
		{{ "now"|date("d-m-Y H:i:s") }}
		<p>  {{ info }} </p>
		<script> window.open('{{ path("import", { "bbdd": next }) }}', '_self'); </script>

		<div align="center">
			<button class="btn-menu" onclick="window.open('{{ path('lock_cars',  { 'bbdd': 'old_cars',   }) }}', '_self')"> IMPORTAR BBDD_CARS       </button>
			<button class="btn-menu" onclick="window.open('{{ path('incidences', { 'bbdd': 'incidences', }) }}', '_self')"> IMPORTAR BBDD_INCIDENCES </button>
		</div>
	{% else %}
		{% set msg  = app.session.get('msg' ) %}
		{% set info = app.session.get('info') %}
		{% set next = app.session.get('next') %}
		<h3> {{ msg  }} </h3>
		<p>  {{ info }} </p>
		<button class="btn-menu" onclick="window.open('{{ path('import', { 'bbdd': next }) }}', '_self')"> IMPORTAR {{ next }} </button>

		// <script> window.open('{{ path("import", { "bbdd": next }) }}', '_self'); </script>

	{% endif %}

{% endblock %}
