<div  class="w100">
    <form action="{{ path('findAssessorTicketByBMV', { 'page' : '1' })}}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">
        <input type="hidden" id='ftbmv_codepartner' name='ftbmv_codepartner' value={{ workshop.codepartner }}>
        <input type="hidden" id='ftbmv_codeworkshop' name='ftbmv_codeworkshop' value={{ workshop.codeworkshop }}>
        <input type="hidden" id='ticket_model' name='ticket_model' value="">
        <input type="hidden" id='ticket_version' name='ticket_version' value="">
        <input type="hidden" id="msg_plate_number_not_found"  value="{% trans %} error.plate_number_not_found {% endtrans %}">

            <div class="grid w20">
                <label for="new_car_form_brand">{% trans %} brand {% endtrans %}</label>
                <select id="new_car_form_brand" name="new_car_form_brand" class="form-control asr_form-control" {# required #}>
                        <option value="0"></option>
                    {% for _brand in brands %}
                        <option value={{ _brand.id }} {% if brand is defined and brand == _brand.id %}selected{% endif %}>{{ _brand.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grid w20">
                <label for="new_car_form_model">{% trans %} model {% endtrans %}</label>
                <select id="new_car_form_model" name="new_car_form_model" class="form-control asr_form-control" {# required #}>
                    {% if model.id is defined %}<option value="{{model.id}}">{{model.name}}</option>{% endif %}
                </select>
            </div>

            <div class="grid w20">
                <label for="new_car_form_version">{% trans %} version {% endtrans %}</label>
                <select id="new_car_form_version" name="new_car_form_version" class="form-control asr_form-control" >
                    {% if version.id is defined %}<option value="{{version.id}}">{{version.name}}</option>{% endif %}
                </select>
            </div>
            <div class="grid w15">
                <label class="lbl_lgray" for="new_car_form_plate_number">{% trans %} plate_number {% endtrans %}</label>
                <a class="pull-right" id="filter_plate_number" title="{% trans %} filter_by_plate_number {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></a>
                <input type="text" id="new_car_form_plate_number" name="new_car_form_plate_number" class="form-control asr_form-control"
                    {% if plateNumber is defined %}value=""{% endif %}>
                </input>
            </div>
            <div class="grid w20">
                <label class="w100">
                    <input type="hidden" id="alert" value="{% trans %} error.bad_introduction {% endtrans %}">
                </label>
                <button type="submit" class="btn btn-primary asr_form-control asr_btn" id="btn_search_by_bmv" name="btn_search_by_bmv">
                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}">{% trans %} btn.search {% endtrans %}
                </button>

                <a href="{{ path("listTicket") }}" class="btn btn-primary asr_form-control asr_btn">
                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/update_.png') }}" title ="{% trans %} btn.clear {% endtrans %}" alt="{% trans %} btn.clear {% endtrans %}">
                </a>
            </div>
        </div>
    </form>
</div>