{% extends '::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
      <li class="active">{{ 'home'|trans }}</li>
    </ol>

    {% if is_granted('ROLE_ADMIN') %}
        <div name="tbl_admin" align="center">
            <legend>{{ 'menu.title_admin'|trans }}</legend>
            <a class="btn-menu" id="profile"            href="{{ path("user_profile"       ) }}">
                                                                                                <span class="glyphicon glyphicon-home"></span>
                                                                                                {{ 'menu.profile'|trans }}</a>
        </div>
        <div name="tbl_admin" align="center">
            <a class="btn-menu" id="listStatistics"         href="{{ path("listStatistics"          ) }}">
                                                                                                            <span class="glyphicon glyphicon-folder-open"></span>
                                                                                                            {{ 'menu.list_statistics'|trans }}</a>
            <a class="btn-menu" id="workshopOrdersList"     href="{{ path("list_orders"             ) }}">
                                                                                                            <span class="glyphicon glyphicon-file"></span>
                                                                                                            {{ 'menu.list_orders'|trans }}</a>
            <a class="btn-menu" id="popup_list"             href="{{ path("popup_list"              ) }}">
                                                                                                            <span class="glyphicon glyphicon-comment"></span>
                                                                                                            {{ 'menu.list_popups'|trans }}</a>
            <a class="btn-menu" id="partner_list"           href="{{ path("partner_list"            ) }}">
                                                                                                            <span class="glyphicon glyphicon-briefcase"></span>
                                                                                                            {{ 'menu.list_partners'|trans }}</a>
            <a class="btn-menu" id="shop_list"              href="{{ path("shop_list"               ) }}">
                                                                                                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                                                                                            {{ 'menu.list_shops'|trans }}</a>
            <a class="btn-menu" id="workshop_list"          href="{{ path("workshop_list"           ) }}">
                                                                                                            <span class="glyphicon glyphicon-wrench"></span>
                                                                                                            {{ 'menu.list_workshops'|trans }}</a>
            <a class="btn-menu" id="diagnosis_machine_list" href="{{ path("diagnosis_machine_list"  ) }}">
                                                                                                            <span class="glyphicon glyphicon-wrench"></span>
                                                                                                            {{ 'menu.list_diagnosis_machines'|trans }}</a>
            <a class="btn-menu" id="typology_list"          href="{{ path("typology_list"          ) }}">
                                                                                                            <span class="glyphicon glyphicon-wrench"></span>
                                                                                                            {{ 'menu.list_typologies'|trans }}</a>
            <a class="btn-menu" id="user_list"              href="{{ path("user_list"              ) }}">
                                                                                                            <span class="glyphicon glyphicon-user"></span>
                                                                                                            {{ 'menu.list_users'|trans }}</a>
            <a class="btn-menu" id="ticket_list"            href="{{ path("listTicket"             ) }}">
                                                                                                            <span class="glyphicon glyphicon-th-list"></span>
                                                                                                            {{ 'menu.list_tickets'|trans }}</a>
            <a class="btn-menu" id="ticketWorkshopList"     href="{{ path("ticketWorkshopList"     ) }}">
                                                                                                            <span class="glyphicon glyphicon-random"></span>
                                                                                                            {{ 'menu.asign_user_to_ticket'|trans }}</a>
        </div>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_ASSESSOR') %}
         <div name="tbl_asesor" align="center">
            <legend>{{ 'menu.title_assessor'|trans }}</legend>
            <a class="btn-menu" id="profile"            href="{{ path("user_profile"       ) }}">
                                                                                                <span class="glyphicon glyphicon-home"></span>
                                                                                                {{ 'menu.profile'|trans }}</a>
            <a class="btn-menu" id="ticket_list"        href="{{ path("listTicket"         ) }}">
                                                                                                <span class="glyphicon glyphicon-th-list"></span>
                                                                                                {{ 'menu.list_tickets'|trans }}</a>
        </div>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_USER') %}
        <div name="tbl_user" align="center">
            <legend>{{ 'menu.title_user'|trans }}</legend>
            <a class="btn-menu" id="profile"            href="{{ path("user_profile"       ) }}">
                                                                                                <span class="glyphicon glyphicon-home"></span>
                                                                                                {{ 'menu.profile'|trans }}</a>
            <a class="btn-menu" id="ticket_list"        href="{{ path("listTicket"         ) }}">
                                                                                                <span class="glyphicon glyphicon-th-list"></span>
                                                                                                {{ 'menu.list_tickets'|trans }}</a>
        </div>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_AD') %}
         <div name="tbl_user" align="center">
            <legend>{{ 'menu.title_ad'|trans }}</legend>
            <a class="btn-menu" id="profile"            href="{{ path("user_profile"       ) }}">
                                                                                                <span class="glyphicon glyphicon-home"></span>
                                                                                                {{ 'menu.profile'|trans }}</a>
            <a class="btn-menu"                         href="{{ path("list_orders"         ) }}">
                                                                                                <span class="glyphicon glyphicon-th-list"></span>
                                                                                                {{ 'menu.list_orders'|trans }}</a>
            <a class="btn-menu"                         href="{{ path("shopOrder_listShops" ) }}">
                                                                                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                                                                                {{ 'menu.list_shops'|trans }}</a>
            <a class="btn-menu"                         href="{{ path("workshopOrder_listWorkshops" ) }}">
                                                                                                <span class="glyphicon glyphicon-wrench"></span>
                                                                                                {{ 'menu.list_workshops'|trans }}</a>
            <a class="btn-menu"                         href="{{ path("shopOrder_new"       ) }}">
                                                                                                <span class="glyphicon glyphicon-shopping-cart"></span><span class="glyphicon glyphicon-log-in"></span>
                                                                                                {{ 'menu.new_shop_order'|trans }}</a>
            <a class="btn-menu"                         href="{{ path("workshopOrder_new"   ) }}">
                                                                                                <span class="glyphicon glyphicon-wrench"></span><span class="glyphicon glyphicon-log-in"></span>
                                                                                                {{ 'menu.new_workshop_order'|trans }}</a>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><div id="popup_modal_title"></div></h4>
                </div>
                <div class="modal-body">
                    <div id="popup_modal_description"></div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
    <script src="{{ asset('bundles/user/js/cookie.js') }}"></script>
    <script src="{{ asset('bundles/util/js/jquery.cookie.js') }}"></script>

{% endblock %}
