<table class="table table-hover" style="width: 90%; margin-left: 5%;">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'username'|trans }}</th>
            <th></th>
            <th>{{ 'name'|trans }}</th>
            <th>{{ 'surname'|trans }}</th>
            <th>{{ 'email'|trans }}</th>
            <th>{{ 'tel'|trans }}</th>
            <th>{{ 'actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
         {% for user in users %}
            <tr>
                <td>{{ user.id           }}</td>
                <td>{{ user.username|length > 15 ? user.username|slice(0, 15) ~ '...' : user.username  }}</td>
                <td>{% if user.active == false %}<span class="label label-danger">{{ 'inactive'|trans }}</span>{% endif %}</td>
                <td>{{ user.name|length > 15 ? user.name|slice(0, 15) ~ '...' : user.name  }}</td>
                <td>{{ user.surname|length > 15 ? user.surname|slice(0, 15) ~ '...' : user.surname  }}</td>
                <td>{{ user.email1       }}</td>
                <td>{{ user.phoneNumber1 }}</td>
                <td>
                    <a href="{{ path("user_edit", { 'id':user.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
                    <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'delete.user'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ 'delete.user.confirm'|trans }}
            </div>
            <div class="modal-footer">
                <a href="{{ path('user_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">{{ 'yes'|trans }}</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'no'|trans }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->