{% for user in users %}
    {% if role!= 'super_admin' or role == 'super_admin' and is_granted('ROLE_SUPER_ADMIN')%}
    <tr>
        <td>{{ user.id }}</td>
        <td><a id="list_username">{{ user.username|length > 15 ? user.username|slice(0, 15) ~ '...' : user.username  }}</a></td>
        <td>
            {% if role == 'super_admin' %} <span class="label label-primary">{% trans %} super_admin {% endtrans %}</span> {% endif %}
            {% if role == 'admin'       %} <span class="label label-primary">{% trans %} admin       {% endtrans %}</span> {% endif %}
            {% if role == 'assessor'    %} <span class="label label-success">{% trans %} assessor    {% endtrans %}</span> {% endif %}
            {% if role == 'super_ad'    %} <span class="label label-warning">{% trans %} super_ad    {% endtrans %}</span> {% endif %}
            {% if role == 'ad'          %} <span class="label label-warning">{% trans %} ad          {% endtrans %}</span> {% endif %}
            {% if user.active == false  %} <span class="label label-danger"> {% trans %} inactive    {% endtrans %}</span> {% endif %}</td>
        <td>{{ user.name|length > 15 ? user.name|slice(0, 15) ~ '...' : user.name  }}</td>
        <td>{{ user.surname|length > 15 ? user.surname|slice(0, 15) ~ '...' : user.surname  }}</td>
        <td>{{ user.email1       }}</td>
        <td>{{ user.phoneNumber1 }}</td>
        <td>{{ user.region|length > 15 ? user.region|slice(0, 15) ~ '...' : user.region  }}</td>
        <td>
            <a id="btn_edit{{ user.username }}"   href="{{ path("user_edit", { 'id': user.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
           {#  <a id="btn_delete{{ user.username }}" href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}"></span></a> #}
        </td>
    </tr>
    {% endif %}
{% endfor %}