{% for user in users %}
    {% if role!= 'super_admin' or role == 'super_admin' and is_granted('ROLE_SUPER_ADMIN')%}

    <tr>
        <td>{{ user.id }}</td>
        <td><a id="list_username">{{ user.username|length > 15 ? user.username|slice(0, 15) ~ '...' : user.username  }}</a></td>
        <td>
            {% if role == 'super_admin' %} <span class="label label-primary">{{ 'super_admin'|trans }}</span> {% endif %}
            {% if role == 'admin'       %} <span class="label label-primary">{{ 'admin'|trans }}</span> {% endif %}
            {% if role == 'assessor'    %} <span class="label label-success">{{ 'assessor'|trans }}</span> {% endif %}
            {% if role == 'top_ad'      %} <span class="label label-warning">{{ 'ROLE_TOP_AD'|trans }}</span> {% endif %}
            {% if role == 'super_ad'    %} <span class="label label-warning">{{ 'super_ad'|trans }}</span> {% endif %}
            {% if role == 'ad'          %} <span class="label label-warning">{{ 'ad'|trans }}</span> {% endif %}
            {% if role == 'commercial'  %} <span class="label label-warning">{{ 'commercial'|trans }}</span> {% endif %}
            {% if user.active == false  %} <span class="label label-danger"> {{ 'inactive'|trans }}</span> {% endif %}
        </td>
        <td>{{ user.phoneNumber1}}</td>
        <td>{{ user.email1  }}</td>
        {% if app.security.getToken().getUser().getAllowCreate() == true %}
            <td>
                {% if role == 'commercial'  %}
                    <a title="{{ 'allow_list'|trans }}" href="{{ path("active_deactive_permission",
                    {'user_id': user.id , 'permission': 'list', 'page': pagination.page, 'country': country, 'option': option, 'term': term, 'field': field })}}">
                    {% if user.allowList == 1 %}
                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_black.png') }}"></a>
                    {% else %}
                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_blank_black.png') }}"></a>
                    {% endif %}
                {% endif %}
            </td>
             <td>
                {% if role != 'commercial'  %}
                    <a title="{{ 'allow_create'|trans }}" href="{{ path("active_deactive_permission",
                    {'user_id': user.id , 'permission': 'create', 'page': pagination.page, 'country': country, 'option': option, 'term': term, 'field': field })}}">
                    {% if user.allowCreate == 1 %}
                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_black.png') }}"></a>
                    {% else %}
                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_blank_black.png') }}"></a>
                    {% endif %}
                {% endif %}
            </td>
             <td>
                <a title="{{ 'allow_order'|trans }}" href="{{ path("active_deactive_permission",
                {'user_id': user.id , 'permission': 'order', 'page': pagination.page, 'country': country, 'option': option, 'term': term, 'field': field })}}">
                {% if user.allowOrder == 1 %}
                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_black.png') }}"></a>
                {% else %}
                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_blank_black.png') }}"></a>
                {% endif %}
            </td>
            <td>
                {% if role == 'top_ad' or role == 'super_ad' or role == 'ad' %}
                    {% if is_granted('ROLE_TOP_AD') and app.security.getToken().getUser().getCategoryService() != null and app.security.getToken().getUser().getCategoryService().getId() == 3 %}
                        <a id="btn_edit{{ user.username }}" href="{{ path("user_edit", { 'id': user.id }) }}">
                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
                    {% endif %}
                {% elseif role != 'comercial' %}
                    <a id="btn_edit{{ user.username }}"   href="{{ path("user_edit", { 'id': user.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
                    <a id="btn_disable{{ user.username }}"   href="{{ path("user_disable", { 'id': user.id }) }}" onClick="javascript: return confirm('{% 
                    if user.active == 0 %}{{ 'user.activate.confirm'|trans }}');"  title="{{ 'user.activate'|trans }}"{%
                    else %}{{ 'user.deactivate.confirm'|trans }}');"  title="{{ 'user.deactivate'|trans }}"{% endif %}>
                        {% if user.active == 0 %}
                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_blank_black.png') }}"></a>
                        {% else %}
                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_black.png') }}"></a>
                        {% endif %}
                    </a>
                {% else %}
                    <a id="btn_edit{{ user.username }}"   href="{{ path("user_edit", { 'id': user.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
                {% endif %}
            </td>
        {% endif %}
    </tr>
    {% endif %}
{% endfor %}