{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}

    <ol class="breadcrumb">
      <li><a href="{{ path('accept_privacy') }}">{{ 'home'|trans }}</a></li>
    </ol>

    <div style="width: 90%; margin-left: 5%;">

            <legend>{{ 'user.policy_privacy'|trans }}</legend>

            <label style="width: 100%;">{{ 'user.accept_privacy'|trans }} <a href="{{ path('privacy') }}">{{ 'user.policy_privacy'|trans }}</a> ?</label>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <p style="color:red">{{ flashMessage }}</p>
            {% endfor %}
            <form action="{{ path('accept_privacy') }}" method="post" >
                <button name="Accept" class="btn btn-primary pull-left ml15" >{{ 'accept'|trans }}</button>
                <button name="Cancel" class="btn btn-primary pull-left ml15" >{{ 'user.cancel'|trans }}</button>
            </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>#}
{#    <script src="{{ asset('bundles/workshop/js/workshop_filter.js') }}"></script>#}

{% endblock %}