{% extends '::layout.html.twig' %}

{% block body %}
    {% if app.user.getCategoryService().getId() is defined %}
               {% set id_catserv = app.user.getCategoryService().getId() %}
    {% else %} {% set id_catserv = '0' %}
    {% endif %}
    {% if id_catserv ==  3 %}
        {% set is_hidden = 'hidden' %}
    {% else %}
        {% set is_hidden = '' %}
    {% endif %}
    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}"> {{ 'home'|trans }} </a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('user_list' ) }}"> {{ 'menu.list_users'|trans }} </a></li>
        {% else %}
            <li><a href="{{ path('user_partner_list' ) }}"> {{ 'menu.list_users'|trans }} </a></li>
        {% endif %}
        <li class="active"> {{ 'edit.user'|trans }} ({{ user.name|length > 15 ? user.name|slice(0, 15) ~ '...' : user.name  }}) </li>
    </ol>

    {% if error_username is defined %}<p class="alert label-danger">{{ error_username }}</p>{% endif %}


    <div class="col-xs-12 col-md-12 form-group">
        {% for flashMessage in app.session.flashbag.get('password') %}
            {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <a class="error">{{ flashMessage }}</a>
        {% endfor %}
    </div>

    {{ form_start(form, {'action': path("user_edit", { 'id':user.id })}) }}
        <div class="col-xs-12 col-md-12 form-group">

             <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'username'|trans }} *</label>
                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'required': 'required', 'placeholder': 'name'} }) }}
            </div>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-xs-2 col-md-2 form-group">
                    {% if user_role_id == 2 %}
                        <label>{{ 'category_service'|trans }} *</label>
                        {{ form_widget(form.category_service, { 'attr': {'class': 'form-control' } }) }}
                        <button id="assign_all" name="assign_all" type="submit" class="btn btn-primary form-control mt5" role="button">{{ 'assign_to'|trans }} {{ 'all'|trans }}</button>

                    {% elseif user_role_id == 1 %}
                        <input id="id_catserv" type="hidden" value="">
                        <label>{{ 'category_service'|trans }} *</label>
                        <input type="text" class="form-control" value="" disabled>
                    {% else %}
                        <input id="id_catserv" type="hidden" value="{{ user.categoryService.id }}">
                        <label>{{ 'category_service'|trans }} *</label>
                        <input type="text" class="form-control" value="{{user.categoryService}}" disabled>
                     {% endif %}
                </div>

            {% else %}
                 <div class="">
                    {% if user_role_id == 1 %}
                        <input id="id_catserv" type="hidden" value="">
                    {% else %}
                        <input id="id_catserv" type="hidden" value="{{ user.categoryService.id }}">
                     {% endif %}
                </div>
            {% endif %}


            {% if form.partner is defined %}
                 <div class="col-xs-2 col-md-2 form-group">
                    <input id="partner_id" type="hidden" value="{{ partner_id }}">
                    <label>{{ 'partner'|trans }} *</label>
                    {{ form_widget(form.partner, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
                </div>
            {% endif %}

            {% if form.shop is defined and user.categoryService.id != 3 %}
                <div class="col-xs-2 col-md-2 form-group">
                    <label>{{ 'shop'|trans }}</label>
                    {{ form_widget(form.shop, { 'attr': {'class': 'form-control'} }) }}
                </div>
            {% endif %}

            {% if role == "ROLE_ASSESSOR" %}
            <div class="col-xs-2 col-md-2 form-group">
                <label> {{ 'service_country'|trans }} *</label>
                {{ form_widget(form.country_service,  { 'attr': {'class': 'form-control'} }) }}
            </div>
            {% endif %}

            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'language'|trans }}</label>
                {{ form_widget(form.language, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-3 col-md-3 form-group">
                {% if user.roles[0] != 'ROLE_SUPER_ADMIN' %}
                   <button class="btn btn-primary mt20" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/change_password.png') }}"> {{ 'generate_password'|trans }}</button>
                {% endif %}
            </div>
            <div class="col-xs-4 col-md-4 form-group">
                <div class="w25 fl">
                        <label class="mt20">{{ 'active'|trans }}</label> {{ form_widget(form.active) }}
                </div>
                <div class="w25 fl">
                    {% if form.allow_list is defined %}
                        <label class="mt20">{{ 'allow_list'|trans }}</label> {{ form_widget(form.allow_list) }}
                    {% endif %}
                </div>
                <div class="w25 fl">
                    {% if form.allow_create is defined %}
                        <label class="mt20">{{ 'allow_create'|trans }}</label> {{ form_widget(form.allow_create) }}
                    {% endif %}
                </div>
                <div class="w25 fl">
                    {% if form.allow_order is defined %}
                        <label class="mt20">{{ 'allow_order'|trans }}</label> {{ form_widget(form.allow_order) }}
                    {% endif %}
                </div>
            </div>
        </div>

        <legend>{{ 'contact'|trans }}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-2 col-md-2 form-group">
                    <label> {{ 'contact'|trans }}*</label> {{ form_widget(form.name,    { 'attr': {'class': 'form-control'} }) }}
                                                                                {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
                </div>
            {% include 'UtilBundle:Default:contact_fields.html.twig' %}
        </div>
        <div hidden>
            {{ form_rest(form) }}
        </div>
            <button class="btn btn-primary pull-right" id="btn_save" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.edit'|trans }}</button>
    {{ form_end(form) }}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'change_password'|trans }}</h4>
                </div>
                <div class="modal-body">
                   <p> {{ 'change_password.confirm'|trans }} </p>
                </div>
                <div class="modal-footer">
                    <input id="user_id" type="hidden" value="{{ user.id }}">
                    <button id="generate_password" type="button" class="btn btn-default" role="button">{{ 'yes'|trans }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'no'|trans }}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
{% endblock %}
