{% extends '::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
      <li class="active">{% trans %} home {% endtrans %}</li>
    </ol>

    {% if app.security.getToken().getUser().getCategoryService().getId() is defined %}
               {% set id_catserv = app.security.getToken().getUser().getCategoryService().getId() %}
    {% else %} {% set id_catserv = '0' %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <div name="tbl_admin" align="center">
            <legend>{% trans %} menu.title_admin {% endtrans %}</legend>
            <a class="btn-menu" id="profile"            href="{{ path("user_profile"       ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_user.png') }}">
                                                                                                            {% trans %} menu.profile           {% endtrans %}</a>
            <a class="btn-menu" id="listStatistics"         href="{{ path("listStatistics"          ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_statistics.png') }}">
                                                                                                            {% trans %} menu.list_statistics   {% endtrans %}</a>
            <a class="btn-menu" id="workshopOrdersList"     href="{{ path("list_orders"             ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_orders.png') }}">
                                                                                                            {% trans %} menu.list_orders       {% endtrans %}
                                                                                                            {% if length is defined and length > 0 %}  <div class="pending_application">{{ length }}</div>
                                                                                                            {% endif %}</a>
            {# <a class="btn-menu" id="popup_list"             href="{{ path("popup_list"              ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_popup.png') }}">
                                                                                                            {% trans %} menu.list_popups        {% endtrans %}</a> #}
            <a class="btn-menu" id="partner_list"           href="{{ path("partner_list"            ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_partner.png') }}">
                                                                                                            {% trans %} menu.list_partners      {% endtrans %}</a>

            {% if id_catserv != 3 %}
                <a class="btn-menu" id="shop_list"          href="{{ path("shop_list"               ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/shop.png') }}">
                                                                                                            {% trans %} menu.list_shops        {% endtrans %}</a>
            {% endif %}

            <a class="btn-menu" id="workshop_list"          href="{{ path("workshop_list"           ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_workshop.png') }}">
                                                                                                            {% trans %} menu.list_workshops     {% endtrans %}</a>
            <a class="btn-menu" id="diagnosis_machine_list" href="{{ path("diagnosis_machine_list"  ) }}">
                                                                                                           <img class="img_icon" src="{{ asset('bundles/util/images/icon/diagnostic_machines.png') }}">
                                                                                                           {% trans %} menu.list_diagnosis_machines {% endtrans %}</a>
            <a class="btn-menu" id="typology_list"          href="{{ path("typology_list"          ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_typology.png') }}">
                                                                                                            {% trans %} menu.list_typologies    {% endtrans %}</a>
            <a class="btn-menu" id="user_list"              href="{{ path("user_list"              ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_users.png') }}">
                                                                                                            {% trans %} menu.list_users         {% endtrans %}</a>
            <a class="btn-menu" id="ticket_list"            href="{{ path("listTicket") }}" >
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_tickets.png') }}">
                                                                                                            {% trans %} menu.list_tickets       {% endtrans %}</a>
            <a class="btn-menu" id="sentence_list"          href="{{ path("sentence_list"          ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_sentences.png') }}">
                                                                                                            {% trans %} menu.list_sentences    {% endtrans %}</a>
           {#  <a class="btn-menu" id="ticketWorkshopList"     href="{{ path("ticketWorkshopList"     ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_ticket_assign.png') }}">
                                                                                                            {% trans %} menu.asign_user_to_ticket  {% endtrans %}</a> #}
        </div>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_ASSESSOR') %}
         <div name="tbl_asesor" align="center">
            <legend>{% trans %} menu.title_assessor {% endtrans %}</legend>
            <a class="btn-menu" id="profile"            href="{{ path("user_profile"       ) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_user.png') }}">
                                                                                                {% trans %} menu.profile              {% endtrans %}</a>
            <a class="btn-menu" id="ticket_list"        href="{{ path("listTicket", { 'option': 'assessor_pending'}) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_tickets.png') }}">
                                                                                                {% trans %} menu.list_tickets         {% endtrans %}</a>
{#             <a class="btn-menu" id="workshop_list"          href="{{ path("workshop_list"           ) }}">
                                                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_workshop.png') }}">
                                                                                                            {% trans %} menu.list_workshops     {% endtrans %}</a> #}
        </div>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_USER') %}
        <div name="tbl_user" align="center">
            <legend>{% trans %} menu.title_user {% endtrans %}</legend>
            <a class="btn-menu" id="profile"            href="{{ path("user_profile"       ) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_user.png') }}">
                                                                                                {% trans %} menu.profile      {% endtrans %}</a>
            <a class="btn-menu" id="ticket_list"        href="{{ path("listTicket") }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_tickets.png') }}">
                                                                                                {% trans %} menu.list_tickets         {% endtrans %}</a>
        </div>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_AD') %}
         <div name="tbl_user" align="center">
            <legend>{% trans %} menu.title_ad {% endtrans %}</legend>
            {# <a class="btn-menu" id="profile"            href="{{ path("user_profile"       ) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_user.png') }}">
                                                                                                {% trans %} menu.profile              {% endtrans %}</a> #}

            <a class="btn-menu" id="listStatistics-top" href="{{ path("listStatistics_top"  ) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_statistics.png') }}">
                                                                                                {% trans %} menu.list_statistics   {% endtrans %}</a>

            <a class="btn-menu"                         href="{{ path("list_orders"         ) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_orders.png') }}">
                                                                                                {% trans %} menu.list_orders         {% endtrans %}
                                                                                                {% if length is defined and length > 0 %}<div class="pending_application">{{ length }}</div>{% endif %}</a>
            <a class="btn-menu" id="user_list"              href="{{ path("user_partner_list") }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_users.png') }}">
                                                                                                {% trans %} menu.list_users         {% endtrans %}</a>
        {# {% if is_granted('ROLE_SUPER_AD') %}
            <a class="btn-menu" id="listPartners" href="{{ path("partnerOrder_listpartners"  ) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_partner.png') }}">
                                                                                                {% trans %} menu.list_partners   {% endtrans %}</a>
        {% endif %} #}
        {% if id_catserv != 3 %}
            <a class="btn-menu"                         href="{{ path("shopOrder_listShops" ) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/shop.png') }}">
                                                                                                {% trans %} menu.list_shops         {% endtrans %}</a>
        {% endif %}
            <a class="btn-menu"                         href="{{ path("workshopOrder_listWorkshops", {'page':1, 'w_idpartner':0, 'w_id': 0, 'country': 0, 'partner': '0', 'status': none, 'term':0, 'field':0    } ) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_workshop.png') }}">
                                                                                                {% trans %} menu.list_workshops         {% endtrans %}</a>
        </div>
    {% elseif is_granted('ROLE_COMMERCIAL') %}
        <div name="tbl_user" align="center">
            <legend>{% trans %} menu.title_commercial {% endtrans %}</legend>
            <a class="btn-menu"                         href="{{ path("list_orders" , {'option': 'preorder_pending'}) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_orders.png') }}">
                                                                                                {% trans %} menu.list_orders         {% endtrans %}
                                                                                                {% if length is defined and length > 0 %}<div class="pending_application">{{ length }}</div>{% endif %}</a>
            {% if app.security.getToken().getUser().getAllowList() == true %}
            <a class="btn-menu"                         href="{{ path("workshopOrder_listWorkshops", {'page':1, 'w_idpartner':0, 'w_id': 0, 'country': 0, 'partner': '0', 'status': none, 'term':0, 'field':0    } ) }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/menu_workshop.png') }}">
                                                                                                {% trans %} menu.list_workshops         {% endtrans %}</a>
            {% elseif app.security.getToken().getUser().getAllowOrder() == true %}
            <a class="btn-menu"                         href="{{ path("workshopOrder_new") }}">
                                                                                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/workshop_new.png') }}">
                                                                                                {% trans %} menu.new_workshop_order         {% endtrans %}</a>
            {% endif %}
        </div>
    {% endif %}


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><div id="popup_modal_title"></div></h4>
                </div>
                <div class="modal-body">
                    <div id="popup_modal_description"></div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
    <script src="{{ asset('bundles/user/js/cookie.js') }}"></script>
    <script src="{{ asset('bundles/util/js/jquery.cookie.js') }}"></script>

{% endblock %}
