{% extends '::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
      <li class="active">{% trans %} home {% endtrans %}</li>
    </ol>

    {% if is_granted('ROLE_ADMIN') %}
        <table name="tbl_admin">
            <tr>
                <th>{% trans %} menu.title_admin {% endtrans %}</th>
            </tr>
            <tr>
                <td>
                    <a id="profile"            href="{{ path("user_profile"       ) }}">{% trans %} menu.profile                {% endtrans %}</a><br>
                    <a id="listStatistics"     href="{{ path("listStatistics"     ) }}">{% trans %} menu.list_statistics        {% endtrans %}</a><br>
                    <a id="workshopOrdersList" href="{{ path("list_orders"        ) }}">{% trans %} menu.list_orders            {% endtrans %}</a><br>
                    <a id="popup_list"         href="{{ path("popup_list"         ) }}">{% trans %} menu.list_popups            {% endtrans %}</a><br>
                    <a id="partner_list"       href="{{ path("partner_list"       ) }}">{% trans %} menu.list_partners          {% endtrans %}</a><br>
                    <a id="shop_list"          href="{{ path("shop_list"          ) }}">{% trans %} menu.list_shops             {% endtrans %}</a><br>
                    <a id="workshop_list"      href="{{ path("workshop_list"      ) }}">{% trans %} menu.list_workshops         {% endtrans %}</a><br>
                    <a id="user_list"          href="{{ path("user_list"          ) }}">{% trans %} menu.list_users             {% endtrans %}</a><br>
                    <a id="ticket_list"        href="{{ path("listTicket"         ) }}">{% trans %} menu.list_tickets           {% endtrans %}</a><br>
                    <a id="ticketWorkshopList" href="{{ path("ticketWorkshopList" ) }}">{% trans %} menu.asign_user_to_ticket   {% endtrans %}</a><br>
                </td>
            </tr>
        </table>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_ASSESSOR') %}
        <table>
            <tr>
                <th>{% trans %} menu.title_assessor {% endtrans %}</th>
            </tr>
            <tr>
                <td>
                    <a href="{{ path("user_profile" ) }}">{% trans %} menu.profile      {% endtrans %}</a><br>
                    <a href="{{ path("listTicket"   ) }}">{% trans %} menu.list_tickets {% endtrans %}</a><br>
                </td>
            </tr>
        </table>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_USER') %}
        <table id="tbl_user" name="tbl_user">
            <tr>
                <th>{% trans %} menu.title_user {% endtrans %}</th>
            </tr>
            <tr>
                <td>
                    <a href="{{ path("user_profile" ) }}">{% trans %} menu.profile      {% endtrans %}</a><br>
                    <a href="{{ path("listTicket"   ) }}">{% trans %} menu.list_tickets {% endtrans %}</a><br>
                </td>
            </tr>
        </table>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_AD') %}
        <table id="tbl_user" name="tbl_user">
            <tr>
                <th>{% trans %} menu.title_ad {% endtrans %}</th>
            </tr>
            <tr>
                <td>
                    <a href="{{ path("user_profile"                ) }}">{% trans %} menu.profile            {% endtrans %}</a><br>
                    <a href="{{ path("list_orders"                 ) }}">{% trans %} menu.list_orders        {% endtrans %}</a><br>
                    <a href="{{ path("shopOrder_listShops"         ) }}">{% trans %} menu.list_shops         {% endtrans %}</a><br>
                    <a href="{{ path("workshopOrder_listWorkshops" ) }}">{% trans %} menu.list_workshops     {% endtrans %}</a><br>
                    <a href="{{ path("shopOrder_new"               ) }}">{% trans %} menu.new_shop_order     {% endtrans %}</a><br>
                    <a href="{{ path("workshopOrder_new"           ) }}">{% trans %} menu.new_workshop_order {% endtrans %}</a><br>                </td>
            </tr>
        </table>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><div id="popup_modal_title"></div></h4>
                </div>
                <div class="modal-body">
                    <div id="popup_modal_description"></div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
    <script src="{{ asset('bundles/util/js/jquery.cookie.js') }}"></script>
    <script>
        $(document).ready(function(){
            //al cargar la pagina....
            $(window).load(function(){
                //a traves de la cookie solo mostramos el popup una vez
                if ($.cookie('visited') != 1){
                    $.cookie('visited', '1');
                    var url_ajax = "{{ path('popup_get') }}";
                    find_popup(url_ajax);
                }
            });
        });
    </script>

{% endblock %}
