{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li class="active">List of Users</li>
    </ol>

    <legend>{% trans %} menu.list_users {% endtrans %}
        <a id="user_new" href="{{ path('user_select_new') }}" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Crear un usuario nuevo</a>
    </legend>

    <div class="col-xs-3 col-md-3 form-group">
        <select id="slct_role" class="form-control"> <option val="all">...</option>
            {% for role in roles %} <option val="{{ role.id }}"
                                        {% if option is defined and option == role.name %} selected {% endif %}
                                    >{{ role.name }}</option> {% endfor %}
        </select>
    </div>

    <table id="tbl_usuarios" class="table table-hover table-list-search" style="width: 80%; margin-left: 10%;">
        <thead>
            <tr>
                <th>#</th>
                <th>User Name   </th>
                <th>First Name  </th>
                <th>Surname     </th>
                <th>Email       </th>
                <th>Phone Number</th>
                <th>Region      </th>
                <th>Actions     </th>
            </tr>
        </thead>
        <tbody>
            {% if  users_role_super_admin is defined %} {% include 'UserBundle:User:_list_especific.html.twig' with {users : users_role_super_admin  , role:'super_admin'   } %} {% endif %}
            {% if  users_role_admin       is defined %} {% include 'UserBundle:User:_list_especific.html.twig' with {users : users_role_admin        , role:'admin'   } %} {% endif %}
            {% if  users_role_super_ad    is defined %} {% include 'UserBundle:User:_list_especific.html.twig' with {users : users_role_super_ad     , role:'super_ad'      } %} {% endif %}
            {% if  users_role_ad          is defined %} {% include 'UserBundle:User:_list_especific.html.twig' with {users : users_role_ad           , role:'ad'      } %} {% endif %}
            {% if  users_role_assessor    is defined %} {% include 'UserBundle:User:_list_especific.html.twig' with {users : users_role_assessor     , role:'assessor'} %} {% endif %}
            {% if  users_role_user        is defined %} {% include 'UserBundle:User:_list_especific.html.twig' with {users : users_role_user         , role:'user'    } %} {% endif %}

            {# Cuando se inserta el listado en otro html, los usuarios son "users" #}
            {% if  users                  is defined %} {% include 'UserBundle:User:_list_especific.html.twig' with {users : users                   , role:'user'    } %} {% endif %}

        </tbody>
    </table>

    {% include 'UtilBundle:Pagination:pagination_user.html.twig' %}

    <script>
        $('#slct_role').change(function() {
            var role = $(this).val();
            var url_list = "{{ path('user_list', { 'page': '1', 'option': 'plc_role' }) }}";
            url = url_list.replace('plc_role', role);
            window.open(url, "_self");
        });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>
                </div>
                <div class="modal-body">
                    Estas seguro que quieres eliminar este usuario?
                </div>
                <div class="modal-footer">
                    <a href="{{ path('user_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">SI</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

