{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li><a href="{{ path('user_list' ) }}">{% trans %} menu.list_users {% endtrans %}</a></li>
      <li class="active">{% trans %} new.user {% endtrans %}</li>
    </ol>

    <form action="{{ path('user_new',{ 'type':user_type}) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <div class="col-xs-12 col-md-12 form-group">
             <div class="col-xs-4 col-md-4 form-group">
                <label>{% trans %} username {% endtrans %} *</label> {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'required': 'required', 'placeholder': 'name' | trans  } }) }}
            </div>
             <div class="col-xs-4 col-md-4 form-group">
                <input type="hidden" id="pass_field1" value="{% trans %} password {% endtrans %}">
                <input type="hidden" id="pass_field2" value="{% trans %} repeat_password {% endtrans %}">
                {{ form_widget(form.password, { 'attr': { 'required': 'required' } }) }}
            </div>
             <div class="col-xs-4 col-md-4 form-group">
            {% if form.partner is defined %}
                <label>{% trans %} partner {% endtrans %} *</label> {{ form_widget(form.partner, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
            {% endif %}
            {% if form.workshop is defined %} {# DEPRECATED #}
                <label>{% trans %} workshop {% endtrans %} *</label> {{ form_widget(form.workshop, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
            </div>
            {% endif %}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{% trans %} active {% endtrans %}</label> {{ form_widget(form.active, { 'attr': {'checked': 'checked'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{% trans %} language {% endtrans %} *</label>
                {{ form_widget(form.language, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <legend>{% trans %} contact {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-2 col-md-2 form-group">
                    <label> {% trans %} contact         {% endtrans %} *</label> {{ form_widget(form.name,    { 'attr': {'class': 'form-control'} }) }}
                                                                                {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
                </div>
            {% include 'UtilBundle:Default:contact_fields.html.twig' %}

            {{ form_rest(form) }}

                <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {% trans %} btn.create {% endtrans %}</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
{% endblock %}