{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'user_partner_list' %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'menu.list_users'|trans }}</li>
    </ol>

    <legend>{{ 'menu.list_users'|trans }}
        {% if app.user.getAllowCreate() == true %}
            <a id="user_new" href="{{ path('user_select_new') }}" class="btn btn-primary"><img class="img_icon" src="{{ asset('bundles/util/images/icon/add.png') }}"> {{ 'new.user'|trans }}</a>
        {% endif %}
    </legend>

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <p class="alert">{{ flashMessage }}</p>
    {% endfor %}

    {% if is_granted('ROLE_AD') %}
        <div class="col-xs-2 col-md-2 form-group">
            <label> {{ 'country'|trans }} </label>
            <select id="slct_country_pt" class="form-control"> <option value="0">...</option>
                {% for country_ in countries %} <option value="{{ country_.id }}"
                                            {% if country is defined and country == country_.id %} selected {% endif %}
                                        >{{ country_.country | trans }}</option> {% endfor %}
            </select>
        </div>
    {% endif %}
    <div class="col-xs-2 col-md-2 form-group">
        <label> {{ 'role'|trans }} </label>
        <select id="slct_role_pt" class="form-control"> <option value="all">...</option>
            {% for role in roles %} <option value="{{ role.id }}"
                                        {% if option is defined and option == role.id %} selected {% endif %}
                                    >{{ role.name | trans }}</option> {% endfor %}
        </select>
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <div class="col-xs-5 col-md-5 form-group" style="margin-left: -15px;">
            <label> {{ 'find_by'|trans }} </label>
            <select id="flt_search_term" name="flt_search_term" class='form-control'>
                <option value="user" {% if term == 'user' %}selected{% endif %}>{{ 'user'|trans }}</option>
                <option value="mail" {% if term == 'mail' %}selected{% endif %}>{{ 'email'|trans }}</option>
                <option value="tel"  {% if term == 'tel'  %}selected{% endif %}>{{ 'tel'|trans }}</option>
             </select>
        </div>
        <div class="col-xs-7 col-md-7 form-group" style="margin-top: 21px;margin-left: -25px;">
            <input type="text" id="flt_search_field" name="flt_search_field" class='form-control' placeholder="{{ 'value'|trans }}" value="{% if field != '0' %}{{ field }}{% endif %}">
        </div>
        <div class="col-xs-1 col-md-1 form-group" style="margin-left:-16px;">
            <a type="button" id="btn_search_field_pt" name="btn_search_field" class='btn btn-primary' style="margin-top:20px;margin-left:-20px;"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}"></a>
        </div>
    </div>

    <table id="tbl_usuarios" class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'username'|trans }}</th>
                <th></th>
                <th>{{ 'phone_number_1'|trans }}</th>
                <th>{{ 'email_1'|trans }}</th>
                {% if app.user.getAllowCreate() == true %}
                    <th>{{ 'allow_list'|trans }}</th>
                    <th>{% if is_granted('ROLE_SUPER_AD') %}{{ 'allow_create'|trans }}{% endif %}</th>
                    <th>{{ 'allow_order'|trans }}</th>
                    <th>{{ 'action'|trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if  users_role_top_ad      is defined %} {% include 'UserBundle:User:_partner_list_especific.html.twig' with {users : users_role_top_ad       , role:'top_ad'     } %}{% endif %}
            {% if  users_role_super_ad    is defined %} {% include 'UserBundle:User:_partner_list_especific.html.twig' with {users : users_role_super_ad     , role:'super_ad'   } %}{% endif %}
            {% if  users_role_ad          is defined %} {% include 'UserBundle:User:_partner_list_especific.html.twig' with {users : users_role_ad           , role:'ad'         } %}{% endif %}
            {% if  users_role_commercial  is defined %} {% include 'UserBundle:User:_partner_list_especific.html.twig' with {users : users_role_commercial   , role:'commercial' } %}{% endif %}
        </tbody>
    </table>

    {% set len = users_role_super_ad|length + users_role_ad|length + users_role_commercial|length %}

    {% if len != 0 %}{% include 'UtilBundle:Pagination:pagination_user.html.twig' %}{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
{% endblock %}

