{% extends '::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
    <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
    <li class="active">{% trans %} menu.profile {% endtrans %}</li>
</ol>

<h1>{% trans %} profile_of {% endtrans %} {{ app.user }} </h1>
    <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}">{% trans %} change_password {% endtrans %}</button>

{% if app.session.hasFlash('password' ) %} {{ app.session.getFlash('password') }} {% endif %}

<table class="table" style="width: 80%; margin-left: 10%;">
    <tbody>
        <tr>
            <td>{% trans %} username {% endtrans %}</td><td>{{ user.username    }}</td>
        </tr>
        <tr>
            <td>{% trans %} name     {% endtrans %}</td><td>{{ user.name        }}</td>
        </tr>
        <tr>
            <td>{% trans %} surname  {% endtrans %}</td><td>{{ user.surname     }}</td>
        </tr>
        <tr>
            <td>{% trans %} tel      {% endtrans %}</td><td>{{ user.phoneNumber1  }} / {{ user.phoneNumber2  }}</td>
        </tr>
        <tr>
            <td>{% trans %} mobile   {% endtrans %}</td><td>{{ user.movileNumber1 }} / {{ user.movileNumber2 }}</td>
        </tr>
        <tr>
            <td>{% trans %} fax      {% endtrans %}</td><td>{{ user.fax         }}</td>
        </tr>
        <tr>
            <td>{% trans %} email_1  {% endtrans %}</td><td>{{ user.email1      }}</td>
        </tr>
        <tr>
            <td>{% trans %} email_2  {% endtrans %}</td><td>{{ user.email2      }}</td>
        </tr>
        <tr>
            <td>{% trans %} active   {% endtrans %}</td><td>{{ user.active      }}</td>
        </tr>
        <tr>
            <td>{% trans %} region   {% endtrans %}</td><td>{{ user.region      }}</td>
        </tr>
        <tr>
            <td>{% trans %} country  {% endtrans %}</td><td>{{ user.country     }}</td>
        </tr>
        <tr>
            <td>{% trans %} city     {% endtrans %}</td><td>{{ user.city        }}</td>
        </tr>
        <tr>
            <td>{% trans %} workshop {% endtrans %}</td><td>{{ user.workshop    }}</td>
        </tr>

    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans %} change_password {% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {# <label>{% trans %} old_password {% endtrans %}</label>
                <input id="old_password"  name="old_password"  type="password" placeholder="old password"><br> #}
                <div><label>{% trans %} password {% endtrans %}</label>
                <input id="new_password1" name="new_password1" type="password" placeholder="new password"></div>
                <div><label>{% trans %} repeat_password {% endtrans %}</label>
                <input id="new_password2" name="new_password2" type="password" placeholder="new password"></div>
            </div>
            <div class="modal-footer">
                <button id="confirm_password" type="button" class="btn btn-default" role="button">{% trans %} yes {% endtrans %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %} no {% endtrans %}</button>

                {% include 'UtilBundle:jquery_twig:control_password_jquery.html.twig' %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
{% endblock %}
