{% extends '::layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('user_list' ) }}">{{ 'menu.list_users'|trans }}</a></li>
      {% else %}
        <li><a href="{{ path('user_partner_list' ) }}">{{ 'menu.list_users'|trans }}</a></li>
      {% endif %}
      <li class="active">{{ 'new.user'|trans }}</li>
    </ol>

    <legend>{{ 'select_user_type'|trans }}</legend>
    <table style="width: 90%; margin-left: 5%;">
        <tr>
            <td align="center">
                {% if is_granted('ROLE_ADMIN') %}
                <a id="type_admin"    href="{{ path('user_new', {'type':'admin'       })}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/admin.png') }}"      > {{ 'admin'|trans }}</a>
                <a id="type_assessor" href="{{ path('user_new', {'type':'assessor'    })}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/assessor.png') }}"   > {{ 'assessor'|trans }}</a>
                <a id="type_super_ad" href="{{ path('user_new', {'type':'super_ad'    })}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/ad.png') }}"         > {{ 'super_ad'|trans }}</a>
                <a id="type_ad"       href="{{ path('user_new', {'type':'ad'          })}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/ad.png') }}"         > {{ 'ad'|trans }}</a>
                <a id="type_commercial" href="{{ path('user_new', {'type':'commercial'})}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/commercial.png') }}" > {{ 'commercial'|trans }}</a>
                {% endif %}
                {% if is_granted('ROLE_TOP_AD') and not is_granted('ROLE_ADMIN') %}
                <a id="type_ad"       href="{{ path('partner_new')}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/ad.png') }}"         > {{ 'ad'|trans }}</a>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}