{% extends '::layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('user_list' ) }}">{% trans %} menu.list_users {% endtrans %}</a></li>
      {% else %}
        <li><a href="{{ path('user_partner_list' ) }}">{% trans %} menu.list_users {% endtrans %}</a></li>
      {% endif %}
      <li class="active">{% trans %} new.user {% endtrans %}</li>
    </ol>

    <legend>{% trans %} select_user_type {% endtrans %}</legend>
    <table style="width: 90%; margin-left: 5%;">
        <tr>
            <td align="center">
                {% if is_granted('ROLE_ADMIN') %}
                <a id="type_admin"    href="{{ path('user_new', {'type':'admin'       })}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/admin.png') }}"      > {% trans %} admin      {% endtrans %}</a>
                <a id="type_assessor" href="{{ path('user_new', {'type':'assessor'    })}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/assessor.png') }}"   > {% trans %} assessor   {% endtrans %}</a>
                <a id="type_super_ad" href="{{ path('user_new', {'type':'super_ad'    })}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/ad.png') }}"         > {% trans %} super_ad   {% endtrans %}</a>
                <a id="type_ad"       href="{{ path('user_new', {'type':'ad'          })}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/ad.png') }}"         > {% trans %} ad         {% endtrans %}</a>
                {% endif %}
                {% if is_granted('ROLE_TOP_AD') and not is_granted('ROLE_ADMIN') %}
                <a id="type_ad"       href="{{ path('partner_new')}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/ad.png') }}"         > {% trans %} ad         {% endtrans %}</a>
                {% endif %}
                <a id="type_commercial" href="{{ path('user_new', {'type':'commercial'})}}" class="btn-menu">
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/commercial.png') }}" > {% trans %} commercial {% endtrans %}</a>
            </td>
        </tr>
    </table>
{% endblock %}