<table class="table table-hover" style="width: 50%; margin-left: 25%;"> 
    <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
         {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }} {% if user.active == false %}<span class="label label-danger">Inactive</span>{% endif %}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname}}</td>
                <td>{{ user.email1 }}</td>
                <td>{{ user.phoneNumber1 }}</td>
                <td>
                    <a href="{{ path("user_edit", { 'id':user.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>
            </div>
            <div class="modal-body">
                Estas seguro que quieres eliminar este usuario?                    
            </div>
            <div class="modal-footer">
                <a href="{{ path('user_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">SI</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->