{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}"> Home </a></li>
      <li><a href="{{ path('user_list') }}"> List of Users </a></li>
      <li class="active"> Edit User ({{ user }}) </li>
    </ol>

    <form action="{{ path("user_edit", { 'id':user.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
            {{ form_errors(form) }}
             <div class="col-xs-4 col-md-4 form-group">
                <label>Username *</label>
                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'multiple': 'multiple', 'required': 'required' } }) }}
            </div>
            {% if form.partner is defined %}
             <div class="col-xs-4 col-md-4 form-group">
                <label>Partner *</label>
                {{ form_widget(form.partner, { 'attr': {'class': 'form-control', 'multiple': 'multiple', 'required': 'required' } }) }}
            </div>
            {% endif %}
            {% if form.workshop is defined %}
             <div class="col-xs-4 col-md-4 form-group">
                <label>Workshop *</label>
                {{ form_widget(form.workshop, { 'attr': {'class': 'form-control', 'multiple': 'multiple', 'required': 'required' } }) }}
            </div>
            {% endif %}
            <div class="col-xs-4 col-md-4 form-group">
                <label>Active</label>
                {{ form_widget(form.active) }}
            </div>
             <div class="col-xs-4 col-md-4 form-group">
               <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}">Change Password</button>
               <br><br>{% if app.session.hasFlash('password' ) %} {{ app.session.getFlash('password') }} {% endif %}
            </div>
        <legend>Contact</legend>

        <div class="col-xs-2 col-md-2 form-group">
            <label >Contact</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>Phone Number 1</label>
            {{ form_widget(form.phone_number_1, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>Phone Number 2</label>
            {{ form_widget(form.phone_number_2, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>Movile Phone 1</label>
            {{ form_widget(form.movile_number_1, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>Movile Phone 2</label>
            {{ form_widget(form.movile_number_2, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>Fax</label>
            {{ form_widget(form.fax, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="col-xs-5 col-md-5 form-group">
            <label>Email 1</label>
            {{ form_widget(form.email_1, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-5 col-md-5 form-group">
            <label>Email 2</label>
            {{ form_widget(form.email_2, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="col-xs-2 col-md-2 form-group">
            <label>Country</label>
            {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>Region</label>
            {{ form_widget(form.region, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>Province</label>
            {{ form_widget(form.province, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>City</label>
            {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>Language</label>
            {{ form_widget(form.language, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <p>
            <button id="btn_save" type="submit">Save</button>
        </p>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                </div>
                <div class="modal-body">
                   <p> Deseas generar una nueva clave de acesso para el usuario? </p>
                </div>
                <div class="modal-footer">
                    <button id="confirm_password" type="button" class="btn btn-default" role="button">SI</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                    <script>
                        $('#confirm_password').click(function(){

                            var url = "{{ path('change_password', {'id': user.id, 'password': 'PLACEHOLDER', 'route': 'user_edit' }) }}";
                            url = url.replace('PLACEHOLDER', 'none');
                            window.open(url,'_self');
                        });
                    </script>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>

    <script>
        $(document).ready(function() {

            var form_type = {{ form_name }}['name'];

            //si clickamos el combobox de las regiones repoblamos la de las provincias
            $('form[name='+form_type+']').find('select[name*=region]').change(function() {
                var url_ajax = "{{ path("user_provinces") }}";
                populate_province(url_ajax, form_type);
            });
        });
    </script>
{% endblock %}