{% extends '::layout.html.twig' %}

{% block body %}
    
<ol class="breadcrumb">
      <li class="active">Index</li>
    </ol>

    {% if is_granted('ROLE_ADMIN') %}
        <table>
            <tr>
                <th>{% trans %} user.index.menu.admin_title {% endtrans %}</th>
            </tr>    
            <tr>
                <td>
                    <a id="profile"            href="{{ path("user_profile"      ) }}">{% trans %} user.index.menu.my_profile            {% endtrans %}</a><br>
                    <a id="partner_list"       href="{{ path("partner_list"      ) }}">{% trans %} user.index.menu.list_partners         {% endtrans %}</a><br>
                    <a id="user_list"          href="{{ path("user_list"         ) }}">{% trans %} user.index.menu.list_users            {% endtrans %}</a><br>
                    <a id="popup_list"         href="{{ path("popup_list"        ) }}">{% trans %} user.index.menu.list_popups           {% endtrans %}</a><br>
                    <a id="workshop_list"      href="{{ path("workshop_list"     ) }}">{% trans %} user.index.menu.list_workshops        {% endtrans %}</a><br>
                    <a id="listIncidence"      href="{{ path("listIncidence"     ) }}">{% trans %} user.index.menu.list_incidences       {% endtrans %}</a><br>
                    <a id="listStatistics"     href="{{ path("listStatistics"    ) }}">{% trans %} user.index.menu.list_statistics       {% endtrans %}</a><br>
                    <a id="newIncidence"       href="{{ path("newIncidence"      ) }}">{% trans %} user.index.menu.create_incidence_admin{% endtrans %}</a><br>
                    <a id="ticketWorkshopList" href="{{ path("ticketWorkshopList") }}">{% trans %} Asignar Tickets a Usuarios            {% endtrans %}</a><br>
                    {#<a href="{{ path("ticket_list") }}">{% trans %}Listado de Tickets{% endtrans %}</a><br>
                    <a href="{{ path("incidence_list") }}">{% trans %}Listado de Incidencias{% endtrans %}</a><br>#}
                </td>
            </tr>
        </table>
    {% endif %}

    {% if is_granted('ROLE_ASSESSOR') %}
        <table>
            <tr>
                <th>{% trans %} user.index.menu.assessor_title {% endtrans %}</th>
            </tr>    
            <tr>
                <td>
                    <a href="{{ path("user_profile" ) }}">{% trans %} user.index.menu.my_profile    {% endtrans %}</a><br>
                    <a href="{{ path("listTicket"   ) }}">{% trans %} user.index.menu.my_tickets    {% endtrans %}</a><br>
                    <a href="{{ path("listIncidence") }}">{% trans %} user.index.menu.my_incidences {% endtrans %}</a><br>
                    <a href="{{ path("listIncidence") }}">{% trans %} Listado de Tickets            {% endtrans %}</a><br>
                    <a href="{{ path("listIncidence") }}">{% trans %} Listado de Incidencias        {% endtrans %}</a><br>
                </td>
            </tr>
        </table>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <table id="tbl_user" name ="tbl_user">
            <tr>
                <th>{% trans %} user.index.menu.user_title {% endtrans %}</th>
            </tr>    
            <tr>
                <td>
                    <a href="{{ path("user_profile" ) }}">{% trans %} user.index.menu.my_profile    {% endtrans %}</a><br>
                    <a href="{{ path("listTicket"   ) }}">{% trans %} user.index.menu.my_tickets    {% endtrans %}</a><br>
                    <a href="{{ path("listIncidence") }}">{% trans %} user.index.menu.my_incidences {% endtrans %}</a><br>
                </td>
            </tr>
        </table>
    {% endif %}
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
{#                    <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>#}
                    <h4 class="modal-title" id="myModalLabel"><div id="popup_modal_title"></div></h4>
                </div>
                <div class="modal-body">
                    <div id="popup_modal_description"></div>          
                </div>
               {# <div class="modal-footer">
                    <a href="{{ path('partner_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">SI</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                </div>#}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock%}


{% block javascripts %}
    
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(window).load(function(){
                //recuperamos "visited" de la session, 
                //si no existe es que es la primera vez que entramos i mostraremos el popup
                //si existe valdrá "true" i ya no se mostrará el popup
                var first_time = localStorage['visited'];
                if (first_time == 'false') {
                    localStorage['visited'] = true;
                    var url_ajax = "{{ path("popup_get") }}";
                    find_popup(url_ajax);
                }
            });
        });
    </script>

{% endblock%}