{% extends '::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
      <li class="active">Index</li>
    </ol>

    {% if is_granted('ROLE_ADMIN') %}
        <table name="tbl_admin">
            <tr>
                <th>{% trans %} user.index.menu.admin_title {% endtrans %}</th>
            </tr>
            <tr>
                <td>
                    <a id="profile"            href="{{ path("user_profile"                         ) }}">{% trans %} user.index.menu.my_profile            {% endtrans %}</a><br>
                    <a id="partner_list"       href="{{ path("partner_list"                         ) }}">{% trans %} user.index.menu.list_partners         {% endtrans %}</a><br>
                    <a id="user_list"          href="{{ path("user_list"                            ) }}">{% trans %} user.index.menu.list_users            {% endtrans %}</a><br>
                    <a id="popup_list"         href="{{ path("popup_list"                           ) }}">{% trans %} user.index.menu.list_popups           {% endtrans %}</a><br>
                    <a id="workshop_list"      href="{{ path("workshop_list"                        ) }}">{% trans %} user.index.menu.list_workshops        {% endtrans %}</a><br>
                    <a id="ticket_list"        href="{{ path("listTicket"                           ) }}">{% trans %} user.index.menu.list_tickets          {% endtrans %}</a><br>
                    <a id="listStatistics"     href="{{ path("listStatistics"                       ) }}">{% trans %} user.index.menu.list_statistics       {% endtrans %}</a><br>
                    <a id="ticketWorkshopList" href="{{ path("ticketWorkshopList"                   ) }}">{% trans %} user.index.menu.asign_user_to_ticket  {% endtrans %}</a><br>
                    <a id="workshopOrdersList" href="{{ path("workshopOrder_listWorkshopOrders"     ) }}">{% trans %} Lista de ordenes pendientes           {% endtrans %}</a><br>
                </td>
            </tr>
        </table>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_ASSESSOR') %}
        <table>
            <tr>
                <th>{% trans %} user.index.menu.assessor_title {% endtrans %}</th>
            </tr>
            <tr>
                <td>
                    <a href="{{ path("user_profile" ) }}">{% trans %} user.index.menu.my_profile      {% endtrans %}</a><br>
                    <a href="{{ path("listTicket"   ) }}">{% trans %} user.index.menu.list_tickets    {% endtrans %}</a><br>
                </td>
            </tr>
        </table>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_USER') %}
        <table id="tbl_user" name="tbl_user">
            <tr>
                <th>{% trans %} user.index.menu.user_title {% endtrans %}</th>
            </tr>
            <tr>
                <td>    
                    <a href="{{ path("user_profile" ) }}">{% trans %} user.index.menu.my_profile    {% endtrans %}</a><br>
                    <a href="{{ path("listTicket"   ) }}">{% trans %} user.index.menu.my_tickets    {% endtrans %}</a><br>
                </td>
            </tr>
        </table>
{#    {% endif %}#}

    {% elseif is_granted('ROLE_AD') %}
        <table id="tbl_user" name="tbl_user">
            <tr>
                <th>{% trans %} user.index.menu.ad_title {% endtrans %}</th>
            </tr>
            <tr>
                <td>
                    <a href="{{ path("user_profile"                     ) }}">{% trans %}user.index.menu.my_profile         {% endtrans %}</a><br>
                    <a href="{{ path("workshopOrder_workshoplist"       ) }}">{% trans %}Mis talleres                       {% endtrans %}</a><br>
                    <a href="{{ path("workshopOrder_createNewOrder"     ) }}">{% trans %}user.index.menu.new_workshop_order {% endtrans %}</a><br>                    
                    <a href="{{ path("workshopOrder_listWorkshopOrders" ) }}">{% trans %}Lista de solicitudes pendientes    {% endtrans %}</a><br>
                    
                </td>
            </tr>
        </table>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><div id="popup_modal_title"></div></h4>
                </div>
                <div class="modal-body">
                    <div id="popup_modal_description"></div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock%}


{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
    <script src="{{ asset('bundles/util/js/jquery.cookie.js') }}"></script>
    <script>
        $(document).ready(function(){
            //al cargar la pagina....
            $(window).load(function(){
                //a traves de la cookie solo mostramos el popup una vez
                if ($.cookie('visited') != 1){
                    $.cookie('visited', '1');
                    var url_ajax = "{{ path("popup_get") }}";
                    find_popup(url_ajax);
                }
            });
        });
    </script>

{% endblock%}
