{% extends '::layout.html.twig' %}

{% block body %}
    
    <table class="table table-hover" style="width: 50%; margin-left: 450px;"> 
        <thead>
          <tr>
            <th>#</th>
            <th>User Name</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for user_admin in users_role_admin %}
                <tr>
                    <td>{{ user_admin.id }}</td>
                    <td>{{ user_admin.username }} <span class="label label-primary">Admin</span></td>
                    <td>{{ user_admin.name }} </td>
                    <td>{{ user_admin.surname}}</td>
                    <td>{{ user_admin.email1 }}</td>
                    <td>{{ user_admin.phoneNumber1 }}</td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
            {% for user in users_role_user %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname}}</td>
                    <td>{{ user.email1 }}</td>
                    <td>{{ user.phoneNumber1 }}</td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
                           
{% endblock%}