{% extends '::layout.html.twig' %}

{% block body %}

<table class="table" style="width: 50%; margin-left: 450px;">
    <tr>
        <td align="right"><a href="{{ path('user_new') }}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-user"></span> Crear un usuario nuevo</a></td>
    </tr>
</table>

<table class="table table-hover" style="width: 50%; margin-left: 450px;"> 
    <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if  users_role_admin is defined %} {% include 'UserBundle:Default:_list_especific.html.twig' with {users:users_role_admin, role:'admin'} %} {% endif %}
        {% if  users_role_assessor is defined %} {% include 'UserBundle:Default:_list_especific.html.twig' with {users : users_role_assessor, role:'assessor'} %} {% endif %}
        {% if  users_role_user is defined %} {% include 'UserBundle:Default:_list_especific.html.twig' with {users : users_role_user, role:'user'} %} {% endif %}
        {% if  users is defined %} {% include 'UserBundle:Default:_list_especific.html.twig' with {users : users, role:'user'} %} {% endif %}

        {#{% if users_role_admin|length > 0 %}
            {% for user_admin in users_role_admin %}
                <tr>
                    <td>{{ user_admin.id }}</td>
                    <td>{{ user_admin.username }} <span class="label label-primary">Admin</span>{% if user_admin.active == false %}<span class="label label-danger">Inactive</span>{% endif %}</td>
                    <td>{{ user_admin.name }} </td>
                    <td>{{ user_admin.surname}}</td>
                    <td>{{ user_admin.email1 }}</td>
                    <td>{{ user_admin.phoneNumber1 }}</td>
                    <td>
                        <a href="{{ path("user_edit", { 'id':user_admin.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ user_admin.id }}"></span></a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if users_role_user|length > 0 %}
            {% for user in users_role_user %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }} {% if user.active == false %}<span class="label label-danger">Inactive</span>{% endif %}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname}}</td>
                    <td>{{ user.email1 }}</td>
                    <td>{{ user.phoneNumber1 }}</td>
                    <td>
                        <a href="{{ path("user_edit", { 'id':user.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}"></span></a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if users_role_assessor|length > 0 %}
            {% for user in users_role_assessor %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}<span class="label label-success">Assessor</span></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname}}</td>
                    <td>{{ user.email1 }}</td>
                    <td>{{ user.phoneNumber1 }}</td>
                    <td>
                        <a href="{{ path("user_edit", { 'id':user.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}"></span></a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}#}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>
            </div>
            <div class="modal-body">
                Estas seguro que quieres eliminar este usuario?                    
            </div>
            <div class="modal-footer">
                <a href="{{ path('user_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">SI</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock%}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/user/js/user.js') }}"></script>

<script>
    $(document).ready(function() {
        $('#MainContent').find('.glyphicon-trash').click(function() {
            var user_id = $(this).data('id');
            confirm_delete_user_modal(user_id);
        })
    });
</script>
{% endblock %}