{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('user_list') }}">List of Users</a></li>
      <li class="active">New user</li>
    </ol>

    <form action="{{ path('user_new',{ 'type':user_type}) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
        {{ form_rest(form) }}
        <p>
            <button id="btn_create" type="submit">Create</button>
        </p>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>

    <script>
        $(document).ready(function(){

            var form_type = {{ form_name }}['name'];

            //si clickamos el combobox de las regiones repoblamos la de las provincias
            $('form[name='+form_type+']').find('select[name*=region]').change(function (){
                var url_ajax = "{{ path("user_provinces") }}";
                populate_province(url_ajax, form_type);
            });
        });
    </script>
{% endblock %}