{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('user_list') }}">List of Users</a></li>
      <li class="active">New user</li>
    </ol>

    <form action="{{ path('user_new') }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
        {{ form_rest(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user.js') }}"></script>
    
    <script>
        $(document).ready(function(){
            //si clickamos el combobox de las regiones repoblamos la de las provincias
            $('form[name=adservice_userbundle_usertype]').find('select[name*=region]').change(function (){
                var url_ajax = "{{ path("user_provinces") }}";
                populate_province(url_ajax);
            });
        });
    </script>
{% endblock %}