{% extends '::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
    <li><a href="{{ path('user_index') }}">Home</a></li>
    <li class="active">My Profile</li>
</ol>

<h1>Perfil de {{ app.user }} </h1>
{# <button class="btn btn-primary pull-left" onclick="window.open('{{ path('changePassword, { 'user_id': user.id }') }}','_self')">Change Password</button> #}
<button class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}">Change Password</button>
{% if change is defined %}  <div class="col-xs-4 col-md-4 form-group"><p class="form-control">{% trans %} password_changed {% endtrans %}</p></div> {% endif %}

    {#<form action="{{ path("user_profile") }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
        {{ form_widget(form) }}
        <p>
            <button id ="btn_save" type="submit">Save</button>
        </p>
    </form>#}
<table class="table" style="width: 80%; margin-left: 10%;">
    <tbody>
        <tr>
            <td>Username</td><td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Name</td><td>{{ user.name }}</td>
        </tr>
        <tr>
            <td>Surname</td><td>{{ user.surname }}</td>
        </tr>
        <tr>
            <td>Phone Numbers</td><td>{{ user.phoneNumber1 }} / {{ user.phoneNumber2 }}</td>
        </tr>
        <tr>
            <td>Movile Numbers</td><td>{{ user.movileNumber1 }} / {{ user.movileNumber2 }}</td>
        </tr>
        <tr>
            <td>Fax</td><td>{{ user.fax }}</td>
        </tr>
        <tr>
            <td>Email 1</td><td>{{ user.email1 }}</td>
        </tr>
        <tr>
            <td>Email 2</td><td>{{ user.email2 }}</td>
        </tr>
        <tr>
            <td>Active</td><td>{{ user.active }}</td>
        </tr>
        <tr>
            <td>Region</td><td>{{ user.region }}</td>
        </tr>
        <tr>
            <td>Province</td><td>{{ user.province }}</td>
        </tr>
        <tr>
            <td>Country</td><td>{{ user.country }}</td>
        </tr>
        <tr>
            <td>Workshop</td><td>{{ user.workshop }}</td>
        </tr>

    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Change Password</h4>
            </div>
            <div class="modal-body">
                <label>{% trans %} password {% endtrans %}</label>
                <input id="new_password1" name="new_password1" type="text" placeholder="new password">
                <label>{% trans %} repeat_password {% endtrans %}</label>
                <input id="new_password2" name="new_password2" type="text" placeholder="new password">
            </div>
            <div class="modal-footer">
                <button id="confirm_password" type="button" class="btn btn-default" role="button">SI</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                <script>
                    $('#confirm_password').click(function(){
                        if($('#new_password1').val() == $('#new_password2').val())
                        {
                            var url = "{{ path('change_password', {'id': user.id, 'password': 'PLACEHOLDER' }) }}";
                            url = url.replace('PLACEHOLDER', $('#new_password1').val());
                            window.open(url,'_self');

                        } else alert('{% trans %} error.new_password {% endtrans %}');
                    });
                </script>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}


{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/user/js/user.js') }}"></script>


{% endblock %}
