{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'partner_list' %}
    <input type="hidden" id="route" name="route" value="{{ route }}">

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'menu.list_partners'|trans }}</li>
    </ol>

<legend>
    {{ 'menu.list_partners'|trans }}
    <a href="{{ path('partner_new') }}" class="btn btn-primary"><img class="img_icon" src="{{ asset('bundles/util/images/icon/add.png') }}"> {{ 'new.partner'|trans }} </a>
</legend>

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <p class="alert">{{ flashMessage }}</p>
    {% endfor %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="col-xs-3 col-md-3 form-group"> <label> {{ 'country'|trans }} </label>
        <select id="flt_country" class='form-control'>
                <option value="0">{{ 'all'|trans }}</option>
            {% for country in countries %}
                <option value="{{ country.id }}">{{ country | trans }}</option>
            {% endfor %}
    </select></div>
    {% endif %}

    <div class="col-xs-2 col-md-2 form-group">
        <label> {{ 'category_service'|trans }} </label>
        <select id="slct_catserv" class="form-control"> 
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <option value="0">...</option>
            {% endif %}
            {% for _catserv in cat_services %}
                <option value="{{ _catserv.id }}"{% if _catserv is defined and catserv == _catserv.id %} selected {% endif %}>{{ _catserv }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <div class="col-xs-5 col-md-5 form-group" style="margin-left: -15px;">
            <label> {{ 'find_by'|trans }} </label>
            <select id="flt_search_term" name="flt_search_term" class='form-control'>
                <option value="tel"  {% if term == 'tel'  %}selected{% endif %}>{{ 'tel'|trans }}</option>
                <option value="name" {% if term == 'name' %}selected{% endif %}>{{ 'name'|trans }}</option>
                <option value="mail" {% if term == 'mail' %}selected{% endif %}>{{ 'email'|trans }}</option>
                <option value="cif"  {% if term == 'cif'  %}selected{% endif %}>{{ 'cif'|trans }}</option>
             </select>
        </div>
        <div class="col-xs-7 col-md-7 form-group" style="margin-top: 21px;margin-left: -25px;">
            <input type="text" id="flt_search_field" name="flt_search_field" class='form-control' placeholder="{{ 'value'|trans }}" value="{% if field != '0' %}{{ field }}{% endif %}">
        </div>
        <div class="col-xs-1 col-md-1 form-group" style="margin-left:-16px;">
            <a type="button" id="btn_search_field" name="btn_search_field" class='btn btn-primary' style="margin-top:20px;margin-left:-20px;"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}"></a>
        </div>
    </div>

    {% if all_partners|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="40%">{{ 'name'|trans }}</th>
                <th width="20%"></th>
                <th width="10%">{{ 'phone_number_1'|trans }}</th>
                <th width="20%">{{ 'email_1'|trans }}</th>
                {#<th>{{ 'region'|trans }}</th>
                <th>{{ 'city'|trans }}</th>#}
                <th width="5%">{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
                {% for partner in all_partners %}
            <tr>
                <td>{{ partner.codePartner }}</td>
{#                <td title="{{partner.name}}">{{ partner.name|length > 15 ? partner.name|slice(0, 15) ~ '...' : partner.name  }}</td>#}
                <td title="{{partner.name}}">{{ partner.name  }}</td>
                <td>{% if partner.active == false %}<span class="label label-danger">{{ 'inactive'|trans }}</span>{% endif %}</td>
                <td>{{ partner.phoneNumber1}}</td>
                <td>{{ partner.email1  }}</td>
               {# <td>{{ partner.region|length > 15 ? partner.region|slice(0, 15) ~ '...' : partner.region  }}</td>
                <td>{{ partner.city|length > 15 ? partner.city|slice(0, 15) ~ '...' : partner.city  }}</td>#}
                <td>
                    <a title="{{ 'edit.partner'|trans }}" id="edit{{ partner.name }}" href="{{ path("partner_edit", { 'id':partner.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"></a>
                </td>
            </tr>
                {% endfor %}
        </tbody>
    </table>

    {% include 'UtilBundle:Pagination:pagination_order.html.twig' %}

    {% else %}
        <p class="alert"> {{ 'any.partner'|trans }}</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination_order.js') }}"></script>
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script>
        $(document).ready(function() {
            {% if country != 'none' %} $("#flt_country").val('{{ country }}');{% endif %}
        });
    </script>
{% endblock %}