{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'partner_list' %}
    <input type="hidden" id="route" name="route" value="{{ route }}">

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li class="active">{% trans %} menu.list_partners {% endtrans %}</li>
    </ol>

<legend>
    {% trans %} menu.list_partners {% endtrans %}
    <a href="{{ path('partner_new') }}" class="btn btn-primary"><img class="img_icon" src="{{ asset('bundles/util/images/icon/add.png') }}"> {% trans %} new.partner {% endtrans %} </a>
</legend>

    {% if app.session.hasFlash('alert') %}<p class="alert">{{ app.session.getFlash('alert') }}</p>{% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="col-xs-3 col-md-3 form-group"> <label> {% trans %} country {% endtrans %} </label>
        <select id="flt_country" class='form-control'>
                <option value="0">{% trans %} all {% endtrans %}</option>
            {% for country in countries %}
                <option value="{{ country.id }}">{{ country | trans }}</option>
            {% endfor %}
    </select></div>
    {% endif %}
    <div class="col-xs-4 col-md-4 form-group">
        <div class="col-xs-5 col-md-5 form-group" style="margin-left: -15px;">
            <label> {% trans %} find_by {% endtrans %} </label>
            <select id="flt_search_term" name="flt_search_term" class='form-control'>
                <option value="tel"  {% if term == 'tel'  %}selected{% endif %}>{% trans %} tel   {% endtrans %}</option>
                <option value="name" {% if term == 'name' %}selected{% endif %}>{% trans %} name  {% endtrans %}</option>
                <option value="mail" {% if term == 'mail' %}selected{% endif %}>{% trans %} email {% endtrans %}</option>
                <option value="cif"  {% if term == 'cif'  %}selected{% endif %}>{% trans %} cif   {% endtrans %}</option>
             </select>
        </div>
        <div class="col-xs-7 col-md-7 form-group" style="margin-top: 21px;margin-left: -25px;">
            <input type="text" id="flt_search_field" name="flt_search_field" class='form-control' placeholder="{% trans %} value {% endtrans %}" value="{% if field != '0' %}{{ field }}{% endif %}">
        </div>
        <div class="col-xs-1 col-md-1 form-group" style="margin-left:-16px;">
            <a type="button" id="btn_search_field" name="btn_search_field" class='btn btn-primary' style="margin-top:20px;margin-left:-20px;"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}"></a>
        </div>
    </div>

    {% if all_partners|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans %} name            {% endtrans %}</th>
                <th>{% trans %}                 {% endtrans %}</th>
                <th>{% trans %} phone_number_1  {% endtrans %}</th>
                <th>{% trans %} email_1         {% endtrans %}</th>
                <th>{% trans %} region          {% endtrans %}</th>
                <th>{% trans %} city            {% endtrans %}</th>
                <th>{% trans %} actions         {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {% for partner in all_partners %}
            <tr>
                <td>{{ partner.codePartner }}</td>
                <td>{{ partner.name|length > 15 ? partner.name|slice(0, 15) ~ '...' : partner.name  }}</td>
                <td>{% if partner.active == false %}<span class="label label-danger">{% trans %} inactive {% endtrans %}</span>{% endif %}</td>
                <td>{{ partner.phoneNumber1}}</td>
                <td>{{ partner.email1  }}</td>
                <td>{{ partner.region|length > 15 ? partner.region|slice(0, 15) ~ '...' : partner.region  }}</td>
                <td>{{ partner.city|length > 15 ? partner.city|slice(0, 15) ~ '...' : partner.city  }}</td>
                <td>
                    <a id="edit{{ partner.name }}" href="{{ path("partner_edit", { 'id':partner.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"></a>
                </td>
            </tr>
                {% endfor %}
        </tbody>
    </table>

    {% include 'UtilBundle:Pagination:pagination_order.html.twig' %}

    {% else %}
        <p class="alert"> {% trans %} any.partner {% endtrans %}</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination_order.js') }}"></script>
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script>
        $(document).ready(function() {
            {% if country != 'none' %} $("#flt_country").val('{{ country }}');{% endif %}
        });
    </script>
{% endblock %}