{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'user_super_partner_list' %}
    <input type="hidden" id="route" name="route" value="{{ route }}">
    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'super_ad'|trans }}</li>
    </ol>

<legend>
    {{ 'super_ad'|trans }}
</legend>

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <p class="alert">{{ flashMessage }}</p>
    {% endfor %}

    
    <div class="col-xs-3 col-md-3 form-group"> <label> {{ 'country'|trans }} </label>
        <select id="top_flt_country" class='form-control'>
            <option value="0">{{ 'all'|trans }}</option>
            {% for _country in countries %}
                <option value="{{ _country.id }}" {% if country == _country.id %}selected{%endif %}>{{ _country | trans }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="col-xs-4 col-md-4 form-group">
        <div class="col-xs-5 col-md-5 form-group" style="margin-left: -15px;">
            <label> {{ 'find_by'|trans }} </label>
            <select id="flt_search_term" name="flt_search_term" class='form-control'>
                <option value="tel"  {% if term == 'tel'  %}selected{% endif %}>{{ 'tel'|trans }}</option>
                <option value="name" {% if term == 'name' %}selected{% endif %}>{{ 'name'|trans }}</option>
                <option value="mail" {% if term == 'mail' %}selected{% endif %}>{{ 'email'|trans }}</option>
             </select>
        </div>
        <div class="col-xs-7 col-md-7 form-group" style="margin-top: 21px;margin-left: -25px;">
            <input type="text" id="flt_search_field" name="flt_search_field" class='form-control' placeholder="{{ 'value'|trans }}" value="{% if field != '0' %}{{ field }}{% endif %}">
        </div>
        <div class="col-xs-1 col-md-1 form-group" style="margin-left:-16px;">
            <a type="button" id="top_btn_search_field" name="top_btn_search_field" class='btn btn-primary' style="margin-top:20px;margin-left:-20px;"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}"></a>
        </div>
    </div>

    {% if all_partners|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>{{ 'username'|trans }}</th>
                <th></th>
                <th>{{ 'phone_number_1'|trans }}</th>
                <th>{{ 'email_1'|trans }}</th>
                <th>{{ 'list'|trans }}</th>
                <th>{{ 'create'|trans }}</th>
                <th>{{ 'order'|trans }}</th>
            </tr>
        </thead>
        <tbody>
                {% for partner in all_partners %}
            <tr>
               
                <td>{{ partner.username}}</td>
                <td>{% if partner.active == false %}<span class="label label-danger">{{ 'inactive'|trans }}</span>{% endif %}</td>
                <td>{{ partner.phoneNumber1}}</td>
                <td>{{ partner.email1  }}</td>
                
                
                <td>
                    {% if partner.allowList == 1 %}
                        <a title="{{ 'workshop.activate'|trans }}" href="{{ path("active_deactive_permission", { 'user_id': partner.id ,option: 'list', role: role}) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_black.png') }}"></a>
                    {% else %}
                        <a title="{{ 'workshop.deactivate'|trans }}" href="{{ path("active_deactive_permission", { 'user_id': partner.id ,option: 'list', role: role}) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_blank_black.png') }}"></a>
                    {% endif %}
                </td>
                 <td>
                    {% if partner.allowCreate == 1 %}
                        <a title="{{ 'workshop.activate'|trans }}" href="{{ path("active_deactive_permission", { 'user_id': partner.id ,option: 'create', role: role}) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_black.png') }}"></a>
                    {% else %}
                        <a title="{{ 'workshop.deactivate'|trans }}" href="{{ path("active_deactive_permission", { 'user_id': partner.id ,option: 'create', role: role}) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_blank_black.png') }}"></a>
                    {% endif %}
                </td>
                 <td>
                    {% if partner.allowOrder == 1 %}
                        <a title="{{ 'workshop.activate'|trans }}" href="{{ path("active_deactive_permission", { 'user_id': partner.id ,option: 'order', role: role}) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_black.png') }}"></a>
                    {% else %}
                        <a title="{{ 'workshop.deactivate'|trans }}" href="{{ path("active_deactive_permission", { 'user_id': partner.id ,option: 'order', role: role}) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/checkbox_blank_black.png') }}"></a>
                    {% endif %}
                </td>
            </tr>
                {% endfor %}
        </tbody>
    </table>

    {% include 'UtilBundle:Pagination:pagination_order.html.twig' %}

    {% else %}
        <p class="alert"> {{ 'any.partner'|trans }}</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination_order.js') }}"></script>
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script>
        $(document).ready(function() {
            {% if country != 'none' %} $("#top_flt_country").val('{{ country }}');{% endif %}
        });
    </script>
{% endblock %}{# empty Twig template #}
