{% extends '::layout.html.twig' %}

{% block body %}
    
    {% if app.user.getCategoryService().getId() is defined %}
               {% set id_catserv = app.user.getCategoryService().getId() %}
    {% else %} {% set id_catserv = '0' %}
    {% endif %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">  {{ 'home'|trans }}</a></li>

        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('partner_list') }}">{{ 'menu.list_partners'|trans }}</a></li>
        {% else %}
            <li><a href="{{ path('user_partner_list') }}">{{ 'menu.list_users'|trans }}</a></li>
        {% endif %}

        <li class="active">                      {{ 'new.partner'|trans }}</li>
    </ol>

    <legend>{{ 'new.partner'|trans }}</legend>

    {{ form_start(form, {'action': path('partner_new')}) }}
        <div class="col-xs-12 col-md-12 form-group">
            {% if id_catserv == 3 %}
                <div class="col-xs-4 col-md-4 form-group">
                    <label>{{ 'social_reason'|trans }} *</label> {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
                </div>
                <div class="col-xs-2 col-md-2 form-group">
                    <label>{{ 'code_partner'|trans }} *</label>
                    {% if partner.codePartner < 89 or partner.codePartner > 94 %}{% set codePartner = 89 %}
                    {% else %}                                                   {% set codePartner = partner.codePartner %}{% endif %}

                    {{ form_widget(form.code_partner, { 'attr': {'class': 'form-control', 'min': 89, 'max': 94, 'value': codePartner } }) }}
                </div>
            {% else %}
                <div class="col-xs-4 col-md-4 form-group">
                    <label>{{ 'name'|trans }} *</label> {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
                </div>
                <div class="col-xs-2 col-md-2 form-group">
                    <label>{{ 'code_partner'|trans }} *</label>
                    {{ form_widget(form.code_partner, { 'attr': {'class': 'form-control', 'min': 1, 'value': partner.codePartner } }) }}
                </div>
            {% endif %}
                
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'category_service'|trans }} *</label>
                <select class="form-control" id="id_catserv" name="id_catserv" required>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <option value>...</option>
                    {% endif %}
                    {% for catserv in cat_services %}
                        <option value={{ catserv.id }}>{{ catserv }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'cif'|trans }} *</label> {{ form_widget(form.cif, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
            </div>
            {% if is_granted('ROLE_ADMIN') and form.code_billing is defined %}
                <div class="col-xs-2 col-md-2 form-group">
                    <label>{{ 'code_billing'|trans }}</label> {{ form_widget(form.code_billing, { 'attr': {'class': 'form-control'} }) }}
                </div>
            {% endif %}
            <div class="col-xs-4 col-md-4 form-group">
                {% for flashMessage in app.session.flashbag.get('info') %}
                    {% if id_catserv != 3 %}{{ flashMessage }}{% endif %}
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <p style="color:red">{{ flashMessage }}</p>
                {% endfor %}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'active'|trans }}</label> {{ form_widget(form.active, { 'attr': {'checked': 'checked' } }) }}
            </div>
        </div>

        <legend>{{ 'contact'|trans }}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-2 col-md-2 form-group">
                    <label>{{ 'contact'|trans }} *</label>
                    {{ form_widget(form.contact, { 'attr': {'class': 'form-control', 'placeholder': 'contact'} }) }}
                </div>
                {% include 'UtilBundle:Default:contact_fields.html.twig' %}
            </div>

            <div class="col-xs-4 col-md-4 form-group">
                <label>{{ 'observations'|trans }}</label>
                {{ form_widget(form.observations, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'observations' } }) }}
            </div>

            {{ form_rest(form) }}

            <div class="col-xs-8 col-md-8 form-group">
                <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.create'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#  Se deberia tener un partner.js con la misma funcion que user.js?????  #}
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
{% endblock %}

