{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">  {% trans %} home               {% endtrans %}</a></li>
      <li><a href="{{ path('partner_list') }}">{% trans %} menu.list_partners {% endtrans %}</a></li>
      <li class="active">                      {% trans %} new.partner        {% endtrans %}</li>
    </ol>

    <form action="{{ path('partner_new') }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
        <div class="col-xs-6 col-md-6 form-group">
            <label>{% trans %} name         {% endtrans %}*</label> {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>{% trans %} code.partner {% endtrans %}*</label> {{ form_widget(form.code_partner, { 'attr': {'class': 'form-control', 'min': 1 } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            {% if     app.session.hasFlash('info' ) %} {{ app.session.getFlash('info' ) }}
            {% elseif app.session.hasFlash('error') %} <p style="color:red">{{ app.session.getFlash('error') }}</p> {% endif %}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label>{% trans %} active       {% endtrans %}</label> {{ form_widget(form.active) }}
        </div>

        <legend>{% trans %} contact {% endtrans %}</legend>

        <div class="col-xs-2 col-md-2 form-group">
            <label> {% trans %} phone_number_1  {% endtrans %} *</label> {{ form_widget(form.phone_number_1,   { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label> {% trans %} phone_number_2  {% endtrans %}  </label> {{ form_widget(form.phone_number_2,   { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label> {% trans %} movile_number_1 {% endtrans %}  </label> {{ form_widget(form.movile_number_1,  { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label> {% trans %} movile_number_2 {% endtrans %}  </label> {{ form_widget(form.movile_number_2,  { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label> {% trans %} fax             {% endtrans %}  </label> {{ form_widget(form.fax,              { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-5 col-md-5 form-group">
            <label> {% trans %} email_1         {% endtrans %} *</label> {{ form_widget(form.email_1,          { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-5 col-md-5 form-group">
            <label> {% trans %} email_2         {% endtrans %}  </label> {{ form_widget(form.email_2,          { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-3 col-md-3 form-group">
            <label> {% trans %} country         {% endtrans %} *</label> {{ form_widget(form.country,          { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-3 col-md-3 form-group">
            <label> {% trans %} region          {% endtrans %} *</label> {{ form_widget(form.region,           { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label> {% trans %} address         {% endtrans %} *</label> {{ form_widget(form.address,          { 'attr': {'class': 'form-control',
                                                                                                                          'required': 'required' } }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label> {% trans %} postal_code     {% endtrans %} *</label> {{ form_widget(form.postal_code,      { 'attr': {'class': 'form-control',
                                                                                                                          'min': 0,
                                                                                                                          'required': 'required' } }) }}
        </div>

        {{ form_rest(form) }}

        <div class="col-xs-10 col-md-10 form-group">
            <button id="btn_create" type="submit">{% trans %} btn.create {% endtrans %}</button>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#  Se deberia tener un partner.js con la misma funcion que user.js?????  #}
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>

    <script>
        $(document).ready(function(){

            // REGIONS FROM COUNTRY
            var url_ajax = "{{ path("regions_from_country") }}";
            populate_region(url_ajax);

            //si clickamos el combobox de los paises repoblamos la de las regiones
            $('form').find('select[name*=country]').change(function() {
               var url_ajax = "{{ path("regions_from_country") }}";
               populate_region(url_ajax);
            });

        });
    </script>
{% endblock %}