{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li class="active">{% trans %} edit.order.shop {% endtrans %}</li>
    </ol>

    <h1>{% trans %} edit.order.shop {% endtrans %} <b>{{ shop.id }}</b></h1>

    <form action="#" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <div class="col-xs-6 col-md-6 form-group">
            <label for="adservice_partnerbundle_shoptype">{% trans %} name {% endtrans %} *</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        {% if is_granted('ROLE_SUPER_AD') %}
            <div class="col-xs-2 col-md-2 form-group">
                <label for="adservice_partnerbundle_shoptype">{% trans %} partner {% endtrans %} * </label>
                {{ form_widget(form.partner, { 'attr': {'class': 'form-control' } }) }}
            </div>
        {% else %} {{ form_widget(form.partner, { 'attr': {'hidden': 'hidden' } }) }}
        {% endif %}
        <div class="col-xs-4 col-md-4 form-group">
            {% if     app.session.hasFlash('info' ) %} {{ app.session.getFlash('info' ) }}
            {% elseif app.session.hasFlash('error') %} <p style="color:red">{{ app.session.getFlash('error') }}</p> {% endif %}
        </div>

         <legend>{% trans %} contact {% endtrans %}</legend>

        {% include 'UtilBundle:Default:contact_fields.html.twig' %}

        {{ form_rest(form) }}

        <div class="col-xs-10 col-md-10 form-group">
            <button id="btn_save" type="submit">{% trans %} btn.edit {% endtrans %}</button>
        </div>

    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'UtilBundle:jquery_twig:regions_from_country_jquery.html.twig' %}
    {% include 'UtilBundle:jquery_twig:select2_region_jquery.html.twig' %}
    {% include 'UtilBundle:jquery_twig:select2_city_jquery.html.twig' %}
    <script> $(document).ready(function(){ $("#slct_city").select2(); }); </script>

{% endblock %}