{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'shopOrder_listShops' %}
    <input type="hidden" id="route" value="{{ route }}">

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'menu.list_shops'|trans }}</li>
    </ol>
<legend>{{ 'menu.list_shops'|trans }}
        {% if app.security.getToken().getUser().getAllowOrder() == true %}
            <a class="btn btn-primary" href="{{ path("shopOrder_new") }}">
                <img class="img_icon" src="{{ asset('bundles/util/images/icon/shop_new.png') }}">
            {{ 'menu.new_shop_order'|trans }}</a>
        {% endif %}
</legend>

    {% if is_granted('ROLE_SUPER_AD') %}
    <div class="col-xs-3 col-md-3 form-group"> <label> {{ 'partner'|trans }} </label>
        <select id="flt_partner_s" class='form-control'>
                <option value="none">{{ 'all'|trans }}</option>
            {% for _partner in partners %}
                <option value="{{ _partner.id }}" {% if partner == _partner.id %} selected {% endif %} >{{ _partner }}</option>
            {% endfor %}
    </select></div>
    {% endif %}

    {% if shops|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>#           </th>
                <th>{{ 'shop'|trans }}</th>
                <th>{{ 'partner'|trans }}</th>
                <th>{{ 'tel'|trans }}</th>
                <th>{{ 'email'|trans }}</th>
                <th>{{ 'address'|trans }}</th>
                {% if app.security.getToken().getUser().getAllowOrder() == true %}
                    <th>{{ 'actions'|trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
                <tr>
                    <td>{{ shop.id       }}</td>
                    <td>{{ shop.name|length > 15 ? shop.name|slice(0, 15) ~ '...' : shop.name  }}{% if shop.active == false %}<span class="label label-danger">{{ 'inactive'|trans }}</span>{% endif %}</td>
                    <td>{{ shop.partner  }}</td>
                    <td>{{ shop.phoneNumber1 }}</td>
                    <td>{{ shop.email1       }}</td>
                    <td>{{ shop.address      }}</td>
                    {% if app.security.getToken().getUser().getAllowOrder() == true %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a id="edit{{ shop.name }}" href="{{ path("shop_edit", { 'id':shop.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                {% if shop.workshops|length == 0 %}
                                    <a id="delete{{ shop.name }}" href="#"><img class="img_icon" src="{{ asset('bundles/util/images/icon/order_shop_rejected.png') }}" data-toggle="modal" data-target="#myModal" data-id="{{ shop.id }}"></span></a>
                                {% else %}
                                    <a style="color:gray"><img class="img_icon" src="{{ asset('bundles/util/images/icon/order_shop_rejected.png') }}" title="{{ 'shop.is_assigned'|trans }}" onclick="alert('{{ 'shop.is_assigned'|trans }}')"></span></a>
                                {% endif %}
                            </td>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'shop.delete'|trans }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'shop.delete.confirm'|trans }}
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('shop_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">{{ 'yes'|trans }}</a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'no'|trans }}</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        {% elseif is_granted('ROLE_AD') %}
                            <td>
                                <a title="{{ 'edit.shop'|trans }}" id="edit{{ shop.name }}" href="{{ path("shopOrder_edit", { 'id':shop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"></a>
                                {% if shop.active == 1 %}
                                    <a title="{{ 'shop.deactivate'|trans }}"   href="{{ path('shopOrder_change_status', {'id':shop.id, 'status':'inactive'  }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/check_boxes.png') }}"></span></a>
                                {% else %}
                                    <a title="{{ 'shop.activate'|trans }}"      href="{{ path('shopOrder_change_status', {'id':shop.id, 'status':'active'    }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/check_boxes1.png') }}"></a>
                                {% endif %}
                            </td>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'shop.delete'|trans }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'shop.delete.confirm'|trans }}
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('shopOrder_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">{{ 'yes'|trans }}</a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'no'|trans }}</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'UtilBundle:Pagination:pagination_shop_order.html.twig' %}
{% else %}
     <div class="grid w100">
        <p class="alert">{{ 'not_found'|trans }}</p>
    </div>
{% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination_by_partner.js') }}"></script>
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script src="{{ asset('bundles/order/js/order.js') }}"></script>

{% endblock %}