{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li class="active">{% trans %} menu.list_shops {% endtrans %}</li>
    </ol>

<legend> {% trans %} menu.list_shops {% endtrans %} </legend>

    {% if is_granted('ROLE_SUPER_AD') %}
    <div class="col-xs-3 col-md-3 form-group"> <label> {% trans %} partner {% endtrans %} </label>
        <select id="flt_partner" class='form-control'>
                <option value="none">{% trans %} all {% endtrans %}</option>
            {% for partner in partners %}
                <option value="{{ partner.id }}">{{ partner }}</option>
            {% endfor %}
    </select></div>
    {% endif %}

    {% if shops|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 80%; margin-left: 10%;">
        <thead>
            <tr>
                <th>#           </th>
                <th>{% trans %} shop    {% endtrans %}</th>
                <th>{% trans %} partner {% endtrans %}</th>
                <th>{% trans %} tel     {% endtrans %}</th>
                <th>{% trans %} email   {% endtrans %}</th>
                <th>{% trans %} address {% endtrans %}</th>
                <th>{% trans %} actions {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {% for shop in shops %}
            <tr>
                <td>{{ shop.id           }}</td>
                <td>{{ shop.partner      }}</td>
                <td>{{ shop.name         }}{% if shop.active == false %}<span class="label label-danger">{% trans %} inactive {% endtrans %}</span>{% endif %}</td>
                <td>{{ shop.phoneNumber1 }}</td>
                <td>{{ shop.email1       }}</td>
                <td>{{ shop.address      }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a id="edit{{ shop.name }}" href="{{ path("shop_edit", { 'id':shop.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% if shop.workshops|length == 0 %}
                            <a id="delete{{ shop.name }}" href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ shop.id }}"></span></a>
                        {% else %}
                            <a style="color:gray"><span class="glyphicon glyphicon-trash" title="{% trans %} shop.is_assigned {% endtrans %}" onclick="alert('{% trans %} shop.is_assigned {% endtrans %}')"></span></a>
                        {% endif %}
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">{% trans %} shop.delete {% endtrans %}</h4>
                                </div>
                                <div class="modal-body">
                                    {% trans %} shop.delete.confirm {% endtrans %}
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('shop_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">{% trans %} yes {% endtrans %}</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %} no {% endtrans %}</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                {% elseif is_granted('ROLE_AD') %}
                    <td>
                        <a id="edit{{ shop.name }}" href="{{ path("shopOrder_edit", { 'id':shop.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% if shop.active == true %}
                            <a title="{% trans %} shop.deactivate {% endtrans %}"   href="{{ path('shopOrder_change_status', {'id':shop.id, 'status':'inactive'  }) }}"><span class="glyphicon glyphicon-remove"></span></a>
                        {% else %}
                            <a title="{% trans %} shop.activate {% endtrans %}"      href="{{ path('shopOrder_change_status', {'id':shop.id, 'status':'active'    }) }}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                        {% if shop.workshops|length == 0 %}
                            <a id="delete{{ shop.name }}" href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ shop.id }}"></span></a>
                        {% else %}
                            <a  title="{% trans %} shop.is_assigned {% endtrans %}"
                                onclick="alert('{% trans %} shop.is_assigned {% endtrans %}')"
                                style="color:gray"><span class="glyphicon glyphicon-trash"></span></a>
                        {% endif %}
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">{% trans %} shop.delete {% endtrans %}</h4>
                                </div>
                                <div class="modal-body">
                                    {% trans %} shop.delete.confirm {% endtrans %}
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('shopOrder_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">{% trans %} yes {% endtrans %}</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %} no {% endtrans %}</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {% endif %}
            </tr>
                {% endfor %}
        </tbody>
    </table>
    {% include 'UtilBundle:Pagination:pagination_shop_order.html.twig' %}
{% else %}
    {% trans %} any.shop {% endtrans %}
{% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>

    <script>
        $(document).ready(function() {
            {% if partner != 'none' %} $("#flt_partner").val('{{ partner }}');{% endif %}

            $('#MainContent').find('.glyphicon-trash').click(function() {
                var partner_id = $(this).data('id');
                confirm_delete_partner_modal(partner_id);
            });

            //REDIRIGE A LA PAGINA EN LA QUE SE HAYA HECHO CLICK
            $('#flt_partner').click(function() {

                var partner = $('#flt_partner').val();

                if(partner == null) partner = 'none';

                var url     = "{{ path('shopOrder_listShops', { 'page': 'plc_page', 'partner': 'plc_partner'}) }}";

                url = url.replace("plc_page", 1);
                url = url.replace("plc_partner", partner);

                window.open(url, "_self");
            });
            //util.js
            table_filter();
        });

    </script>
{% endblock %}