{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
        <li class="active">{{ 'new.shop'|trans }}</li>
    </ol>

    <h1>{{ 'new.order.shop'|trans }}</h1>

    <form action="{{ path('shopOrder_new') }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-4 col-md-4 form-group">
                <label for="adservice_partnerbundle_shoptype">{{ 'name'|trans }} *</label>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required': 'required', 'placeholder': 'name' | trans } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label for="adservice_partnerbundle_shoptype">{{ 'partner'|trans }} * </label>
                {{ form_widget(form.partner, { 'attr': {'class': 'form-control' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'code_shop'|trans }} *</label> {{ form_widget(form.code_shop, { 'attr': {'class': 'form-control', 'min': 1, 'value': shopOrder.codeShop } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'cif'|trans }} *</label> {{ form_widget(form.cif, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label for="adservice_partnerbundle_shoptype">{{ 'active'|trans }}</label>
                {{ form_widget(form.active, { 'attr': {'checked': 'checked' } }) }}
            </div>
            <div class="col-xs-4 col-md-4 form-group">
                {% for flashMessage in app.session.flashbag.get('info' ) %}
                    {{ flashMessage }}
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <p style="color:red">{{ flashMessage }}</p>
                {% endfor %}
            </div>

        </div>

        <legend>{{ 'contact'|trans }}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-2 col-md-2 form-group">
                    <label>{{ 'contact'|trans }} *</label>
                    {{ form_widget(form.contact, { 'attr': {'class': 'form-control', 'placeholder': 'contact' | trans} }) }}
                </div>
                {% include 'UtilBundle:Default:contact_fields.html.twig' %}
            </div>

            {{ form_rest(form) }}

            <div class="col-xs-10 col-md-10 form-group">
                <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.create'|trans }}</button>
            </div>
        </div>
    </form>

        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/order/js/order.js') }}"></script>
{% endblock %}