{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">Home</a></li>
        <li class="active">Apply for new workshop</li>
    </ol>

    <h1>Petición de alta de tienda</h1>

    <form action="{{ path('shopOrder_new') }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <div class="col-xs-6 col-md-6 form-group">
            <label for="adservice_partnerbundle_shoptype">Name *</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        {% if is_granted('ROLE_AD_COUNTRY') %}
            <div class="col-xs-2 col-md-2 form-group">
                <label for="adservice_partnerbundle_shoptype">Partner * </label>
                {{ form_widget(form.partner, { 'attr': {'class': 'form-control' } }) }}
            </div>
        {% else %} {{ form_widget(form.partner, { 'attr': {'hidden': 'hidden' } }) }}
        {% endif %}
        <div class="col-xs-4 col-md-4 form-group">
            {% if     app.session.hasFlash('info' ) %} {{ app.session.getFlash('info' ) }}
            {% elseif app.session.hasFlash('error') %} <p style="color:red">{{ app.session.getFlash('error') }}</p> {% endif %}
        </div>
        <div class="col-xs-6 col-md-6 form-group">
            <label for="adservice_partnerbundle_shoptype">Email1 *</label>
            {{ form_widget(form.email_1, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        <div class="col-xs-6 col-md-6 form-group">
            <label for="adservice_partnerbundle_shoptype">Email2</label>
            {{ form_widget(form.email_2, { 'attr': {'class': 'form-control' } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_partnerbundle_shoptype">PhoneNumber1 *</label>
            {{ form_widget(form.phone_number_1, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_partnerbundle_shoptype">PhoneNumber2</label>
            {{ form_widget(form.phone_number_2, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_partnerbundle_shoptype">Fax</label>
            {{ form_widget(form.fax, { 'attr': {'class': 'form-control' } }) }}
        </div>
        <div class="col-xs-3 col-md-3 form-group">
            <label for="adservice_partnerbundle_shoptype">Region *</label>
            {{ form_widget(form.region, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        <div class="col-xs-3 col-md-3 form-group">
            <label for="adservice_partnerbundle_shoptype">Province *</label>
            {{ form_widget(form.province, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        <div class="col-xs-3 col-md-3 form-group">
            <label for="adservice_partnerbundle_shoptype">Postal Code *</label>
            {{ form_widget(form.postal_code, { 'attr': {'class': 'form-control' } }) }}
        </div>
        <div class="col-xs-3 col-md-3 form-group">
            <label for="adservice_partnerbundle_shoptype">Address *</label>
            {{ form_widget(form.address, { 'attr': {'class': 'form-control' } }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="adservice_partnerbundle_shoptype">Active</label>
            {{ form_widget(form.active) }}
        </div>
        {{ form_rest(form) }}

        <div class="col-xs-10 col-md-10 form-group">
            <button id="btn_create" type="submit">Save</button>
        </div>
    </form>

        </div>
    </form>
{% endblock %}