{% extends '::layout.html.twig' %}

{% block body %}
    <h1>Motivo del rechazo</h1>

     <form action="{{ path('shopOrder_reject', { 'id': shopOrder.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <label for="rejection_reason">Rejection Reason</label>
        {{ form_widget(form.rejection_reason) }}<br/>

        {{ form_rest(form) }}
        <p>
            <button type="submit">Save</button>
        </p>

     </form>
{% endblock %}