{% extends '::layout.html.twig' %}

{% block body %}
    <h1>{{ 'reject.reason'|trans }}</h1>

    {{ form_start(form, {'action': path('shopOrder_reject', { 'id': shopOrder.id })}) }}

        <label for="rejection_reason">{# {{ 'reject.reason'|trans }} #}</label>
        <div class="col-xs-12 col-md-12 margined">
            {{ form_widget(form.rejection_reason, { 'attr': {'class': 'form-control', 'rows': '4', 'required': 'required' } }) }}
        </div>
        {{ form_rest(form) }}
        <div class="col-xs-12 col-md-12 margined">
            <button type="submit" class="btn btn-primary ">{{ 'btn.send'|trans }}</button>
        </div>
     {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/order/js/order.js') }}"></script>
{% endblock %}