{% if typologies|length > 0  %}

    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>{{ 'code'|trans }}</th>
                <th>{{ 'name'|trans }}</th>
                <th></th>
                <th>{{ 'category_service'|trans }}</th>
                {#<th>{{ 'country'|trans }}</th>#}
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for typology in typologies %}
            <tr>
                <td>{{ typology.id       }}</td>
                <td>{{ typology.name|length > 15 ? typology.name|slice(0, 15) ~ '...' : typology.name  }}</td>
                <td>{% if typology.active == false %}<span class="label label-danger">{{ 'inactive'|trans }}</span>{% endif %}</td>
                <td>{{ typology.categoryService }}</td>
               {# <td>{{ typology.country | trans }}</td>#}
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path("typology_edit", { 'id':typology.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% include 'UtilBundle:Pagination:pagination_catserv.html.twig' %}
{% else %}
    {{ 'any.typology'|trans }}
{% endif %}


{% block javascripts %}

    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>
    <script src="{{ asset('bundles/workshop/js/typology.js') }}"></script>

{% endblock %}