{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'typology_list' %}
    <input type="hidden" id="route" name="route" value="{{ route }}">

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'menu.list_typologies'|trans }}</li>
    </ol>

    <div style="width: 90%; margin-left: 5%;">

        <legend>{{ 'menu.list_typologies'|trans }}
            <a id="newTypology" href="{{ path('typology_edit') }}" class="btn btn-primary"><img class="img_icon" src="{{ asset('bundles/util/images/icon/add.png') }}"> {{ 'new.typology'|trans }}</a></td>
        </legend>

        <div class="col-xs-3 col-md-3 form-group"> <label> {{ 'category_service'|trans }} </label>
            <select id="flt_catserv" class='form-control'>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <option value='0'>{{ 'all'|trans }}</option>
                {% endif %}
                {% for _catserv in catservices %}
                    <option value="{{ _catserv.id }}">{{ _catserv }}</option>
                {% endfor %}
        </select></div>

        {#{% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-3 col-md-3 form-group"> <label> {{ 'country'|trans }} </label>
            <select id="flt_country" class='form-control'>
                    <option value="none">{{ 'all'|trans }}</option>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country | trans }}</option>
                {% endfor %}
        </select></div>
        {% endif %}#}
    </div>
    {% include 'WorkshopBundle:Typology:_list.html.twig'  %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>
    <script src="{{ asset('bundles/workshop/js/typology.js') }}"></script>
    <script>
        $(document).ready(function() {
            {% if country != 'none' %} $("#flt_country").val('{{ country }}');{% endif %}
            {% if catserv != '0' %} $("#flt_catserv").val('{{ catserv }}');{% endif %}
        });
    </script>
{% endblock %}