{% extends '::layout.html.twig' %}
{% set locale = app.request.locale %}

{% block breadcrumbs %}
    <li><a href="{{ path("index", { '_locale': locale }) }}">{{ 'index'|trans }}</a></li>
    <li><a href="{{ path("selectRole") }}">{{ 'role'|trans }}</a></li>
{% endblock %}

{% block body %}
	<h2>{{ 'selectRole'|trans }}</h2>
	<ul>
	    {% for key, role in roles %}
	    	<li><a href="{{ path("users", { 'role_id': key }) }}">{{ role|trans }}</a></li>
	    {% endfor %}
    </ul>
{% endblock %}