{% extends '::layout.html.twig' %}

{% block breadcrumbs %}
    <li><a href="{{ path("index") }}">{{ 'index'|trans }}</a></li>
    <li><a href="{{ path("users") }}">{{ 'users'|trans }}</a></li>
    <li><a href="{{ path("selectRole") }}">{{ 'role'|trans }}</a></li>
    <li><a href="{{ path("userNew") }}">{{ 'user'|trans }} {{ roles[role_id]|trans }}</a></li>
{% endblock %}

{% block body %}
	<h2>{{ 'user'|trans }} {{ roles[role_id]|trans }}</h2>

	<form action="{{form.vars.action}}" method="{{form.vars.method}}" >

		{{ form_rest(form) }}

		{% if formE is defined %}{{ form_rest(formE) }}{% endif %}
		
        <button type="submit" class="btn btn-primary">{{ "Submit" | trans }}</button>
    </form>

{% endblock %}