{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'popup_list' %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'menu.list_popups'|trans }}</li>
    </ol>

    <legend>
        {{ 'menu.list_popups'|trans }}
        <a href="{{ path('popup_new') }}" class="btn btn-primary"><img class="img_icon" src="{{ asset('bundles/util/images/icon/add.png') }}"> {{ 'new.popup'|trans }}</a>
    </legend>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="col-xs-3 col-md-3 form-group"> <label> {{ 'category_service'|trans }} </label>
        <select id="flt_category_service" class='form-control' data-url="{{ path( route, { 'page': 'plc_page', 'category_service': 'plc_category_service'}) }}">
                <option value="none">{{ 'all'|trans }}</option>
            {% for _category_service in catservices %}
                <option value="{{ _category_service.id }}" {% if _category_service.id == category_service %} selected {% endif %}>{{ _category_service }}</option>
            {% endfor %}
    </select></div>
    <div class="col-xs-3 col-md-3 form-group"> <label> {{ 'country'|trans }} </label>
        <select id="flt_country" class='form-control' data-url="{{ path( route, { 'page': 'plc_page', 'country': 'plc_country'}) }}">
                <option value="none">{{ 'all'|trans }}</option>
            {% for _country in countries %}
                <option value="{{ _country.id }}" {% if _country.id == country %} selected {% endif %}>{{ _country | trans }}</option>
            {% endfor %}
    </select></div>
    {% endif %}

    {% if all_popups|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'category_service'|trans }}</th>
                <th>{{ 'country'|trans }}</th>
                <th>{{ 'date.start'|trans }}</th>
                <th>{{ 'date.end'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for popup in all_popups %}
                <tr>
                    <td>{{ popup.id }}</td>
                    <td>{{ popup.name|length > 15 ? popup.name|slice(0, 15) ~ '...' : popup.name  }}{% if popup.active == false %}<span class="label label-danger">{{ 'inactive'|trans }}</span>{% endif %}</td>
                    <td>{{ popup.categoryService }} </td>
                    <td>{{ popup.country|trans }} </td>
                    <td>{{ popup.startDateAt|date('d-m-Y') }}</td>
                    <td>{{ popup.endDateAt|date('d-m-Y') }}</td>
                    <td>{{ popup.description|length > 40 ? popup.description|slice(0, 40) ~ '...' : popup.description  }}</td>
                    <td>
                        <a href="{{ path("popup_edit", { 'id':popup.id }) }}" title="{{ 'edit.popup'|trans }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"></a>

                        <a href="{{ path('popup_delete', {'id': popup.id}) }}" onClick="return confirm('{{ 'popup.delete.confirm'|trans }}');" target="_self" class="btn_remove" title="{{ 'popup.delete'|trans }}" alt="{{ 'popup.delete'|trans }}"><img class="img_icon delete_popup" src="{{ asset('bundles/util/images/icon/bin.png') }}"></a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'UtilBundle:Pagination:pagination.html.twig'  %}

{% else %}
    {{ 'any.popup'|trans }}
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>
    <script src="{{ asset('bundles/popup/js/popup.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>

{% endblock %}