{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li class="active">{% trans %} menu.list_popups {% endtrans %}</li>
    </ol>

{# <legend>{% trans %}  {% endtrans %}</legend> #}

<legend>
    {% trans %} menu.list_popups {% endtrans %}
    <a href="{{ path('popup_new') }}" class="btn btn-primary"><img class="img_icon" src="{{ asset('bundles/util/images/icon/popup_new.png') }}"> {% trans %} new.popup {% endtrans %}</a>
</legend>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="col-xs-3 col-md-3 form-group"> <label> {% trans %} country {% endtrans %} </label>
        <select id="flt_country" class='form-control' data-url="{{ path('popup_list', { 'page': 'plc_page', 'country': 'plc_country'}) }}">
                <option value="none">{% trans %} all {% endtrans %}</option>
            {% for _country in countries %}
                <option value="{{ _country.id }}" {% if _country.id == country %} selected {% endif %}>{{ _country | trans }}</option>
            {% endfor %}
    </select></div>
    {% endif %}

    {% if all_popups|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans %} name        {% endtrans %}</th>
                <th>{% trans %} description {% endtrans %}</th>
                <th>{% trans %} date.start  {% endtrans %}</th>
                <th>{% trans %} date.end    {% endtrans %}</th>
                <th>{% trans %} country     {% endtrans %}</th>
                <th>{% trans %} actions     {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for popup in all_popups %}
                <tr>
                    <td>{{ popup.id }}</td>
                    <td>{{ popup.name }} {% if popup.active == false %}<span class="label label-danger">{% trans %} inactive {% endtrans %}</span>{% endif %}</td>
                    <td>{{ popup.description }} </td>
                    <td>{{ popup.startDateAt|date('d-m-Y') }}</td>
                    <td>{{ popup.endDateAt|date('d-m-Y') }}</td>
                    <td>{{ popup.country }} </td>
                    <td>
                        <a href="{{ path("popup_edit", { 'id':popup.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/popup_edit.png') }}"></a>
                        <a href="#"><img class="img_icon delete_popup" src="{{ asset('bundles/util/images/icon/popup_delete.png') }}" data-toggle="modal" data-target="#myModal" data-id="{{ popup.id }}"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'UtilBundle:Pagination:pagination_popup.html.twig'  %}

{% else %}
    {% trans %} any.popup {% endtrans %}
{% endif %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %} popup.delete {% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    {% trans %} popup.delete.confirm {% endtrans %}
                </div>
                <div class="modal-footer">
                    <a href="{{ path('popup_delete', {'id': 'foo'}) }}" class="btn btn-default btn_delete_popup" role="button"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {% trans %} yes {% endtrans %}</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><img class="img_icon" src="{{ asset('bundles/util/images/icon/cross.png') }}"> {% trans %} no {% endtrans %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>
    <script src="{{ asset('bundles/popup/js/popup.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>

{% endblock %}