{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li><a href="{{ path('popup_list') }}">{{ 'menu.list_popups'|trans }}</a></li>
      <li class="active">{{ 'new.popup'|trans }}</li>
    </ol>

    <legend>{{ 'new.popup'|trans }}</legend>

    {{ form_start(form, {'action': path("popup_new")}) }}
        <div class="col-xs-3 col-md-3 form-group">
            <label>{{ 'name'|trans }}*</label> {{ form_widget(form.name,         { 'attr': {'class': 'form-control', 'required': 'required', 'placeholder': 'name' } }) }}
        </div>
        <div class="col-xs-3 col-md-3 form-group">
            <label>{{ 'role'|trans }}*</label> {{ form_widget(form.role,         { 'attr': {'class': 'form-control', 'required': 'required' , 'placeholder': 'role' } }) }}
        </div>
        <div class="col-xs-3 col-md-3 form-group">
            <label>{{ 'category_service'|trans }}*</label> {{ form_widget(form.category_service, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        <div class="col-xs-3 col-md-3 form-group">
            <label>{{ 'country'|trans }}*</label> {{ form_widget(form.country,      { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label>{{ 'date.start'|trans }}*</label> {{ form_widget(form.startdate_at, { 'attr': {'required': 'required' } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label>{{ 'date.end'|trans }}*</label> {{ form_widget(form.enddate_at,   { 'attr': {'required': 'required' } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label>{{ 'active'|trans }}*</label> {{ form_widget(form.active,       { 'attr': {'checked': 'checked' } }) }}
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <label>{{ 'description'|trans }}*</label> {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'required': 'required', 'rows': '3', 'placeholder': 'description' } }) }}
        </div>
        {{ form_rest(form) }}
        <p>
            <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.create'|trans }}</button>
        </p>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/popup/js/popup.js') }}"></script>
{% endblock %}