{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li><a href="{{ path('popup_list') }}">{% trans %} menu.list_popups {% endtrans %}</a></li>
      <li class="active">{% trans %} new.popup {% endtrans %}</li>
    </ol>

    <legend>{% trans %} new.popup {% endtrans %}</legend>

    <form action="{{ path('popup_new') }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
        <div class="col-xs-4 col-md-4 form-group">
            <label>{% trans %} name        {% endtrans %}*</label> {{ form_widget(form.name,         { 'attr': {'class': 'form-control', 'required': 'required', 'placeholder': 'name' | trans } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label>{% trans %} role        {% endtrans %}*</label> {{ form_widget(form.role,         { 'attr': {'class': 'form-control', 'required': 'required' , 'placeholder': 'role' | trans} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label>{% trans %} country     {% endtrans %}*</label> {{ form_widget(form.country,      { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label>{% trans %} date.start   {% endtrans %}*</label> {{ form_widget(form.startdate_at, { 'attr': {'required': 'required' } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label>{% trans %} date.end     {% endtrans %}*</label> {{ form_widget(form.enddate_at,   { 'attr': {'required': 'required' } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label>{% trans %} active      {% endtrans %}*</label> {{ form_widget(form.active,       { 'attr': {'checked': 'checked' } }) }}
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <label>{% trans %} description {% endtrans %}*</label> {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'required': 'required', 'rows': '3', 'placeholder': 'description' | trans } }) }}
        </div>
        {{ form_rest(form) }}
        <p>
            <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {% trans %} btn.create {% endtrans %}</button>
        </p>
    </form>
    <script>
        $(document).ready(function() {
            $('select[id*=_at_date_').addClass('btn-date');
            $('select[id*=_at_time_').addClass('btn-date');
        });
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/popup/js/popup.js') }}"></script>
{% endblock %}