{% if workshops|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>{{ 'code'|trans }}</th>
                <th>{{ 'workshop'|trans }}</th>
                <th></th>
                <th>{{ 'partner'|trans }}</th>
                {% if id_catserv != 3 %}
                <th>{{ 'shop'|trans }}</th>
                {% endif %}
                <th>{{ 'email'|trans }}</th>
                <th>{{ 'tel'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for workshop in workshops %}
                <tr>
                    <td>{{ workshop.partner.codePartner }} - {{ workshop.codeWorkshop }}</td>
                    <td title="{{ workshop.name }}">{{ workshop.name|length > 15 ? workshop.name|slice(0, 15) ~ '...' : workshop.name  }}</td>
                    <td>
                        {% if workshop.active == false %}
                            <span class="label label-danger">{{ 'inactive'|trans }}</span>
                        {% endif %}
                        {% if workshop.infotech == true %}
                             <span class="label label-info">{{ 'infotech'|trans }}</span>
                        {% endif %}
                        {% if workshop.hasChecks == true %}
                            <span class="label label-success">{{ 'haschecks'|trans }}</span>
                        {% endif %}
                        {% if workshop.test == true %}
                            <span class="label label-warning">{{ 'test'|trans }}</span>
                        {% endif %}

                    </td>
                    <td>{{ workshop.partner      }}</td>
                     {% if id_catserv != 3 %}
                        {% set shop = workshop.shop %}
                        {% if shop.name is defined %} <td>{{ shop.name|length > 15 ? shop.name|slice(0, 15) ~ '...' : shop.name  }}</td>
                        {% else %}               <td></td>{% endif %}
                    {% endif %}
                    <td>{{ workshop.email1|length > 15 ? workshop.email1|slice(0, 15) ~ '...' : workshop.email1  }}</td>
                    <td>{{ workshop.phoneNumber1 }}</td>
                    {% if is_granted('ROLE_ASSESSOR') or is_granted('ROLE_AD') %}
                        <td>
                            <a title="{{ 'edit.workshop'|trans }}" href="{{ path("workshop_edit", { 'id':workshop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"></a>
                            {% if is_granted('ROLE_SUPER_ADMIN')%}
{#                              <a title="{{ 'edit.delete'|trans }}" href="{{ path("workshop_edit", { 'id':workshop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/bin.png') }}"></a>#}
                                <a href="{{ path('workshop_delete', { 'id': workshop.id }) }}"
                                       onClick="javascript: return confirm(
                                                   '{{ 'workshop.delete.confirm'|trans }}{{workshop.id}}\n\n\n{{ 'workshop.delete.confirm2'|trans }}({{workshop.tickets | length}})');" title="{{ 'workshop.delete'|trans }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/bin.png') }}"></a>
                                    {% if workshop.users[0] is defined %}{% set user_id = workshop.users[0].id %}
                                        <a title="{{ 'edit.user'|trans }}" href="{{ path("user_edit", { 'id': user_id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/user.png') }}"></a>
                                    {% endif %}
                                 {% endif %}
                            {% if workshop.active == 0 %}
                                <a title="{{ 'workshop.activate'|trans }}" href="{{ path("workshop_activate_deactivate", { 'workshop_id':workshop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/check_boxes.png') }}"></a>
                            {% else %}
                                {% if id_catserv == 3 %} {# AD24 #}
                                    <a title="{{ 'workshop.deactivate'|trans }}" href="{{ path("workshop_deactivate_observation", { 'workshop_id':workshop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/check_boxes1.png') }}"></a>
                                {% else %}
                                    <a title="{{ 'workshop.deactivate'|trans }}" href="{{ path("workshop_activate_deactivate", { 'workshop_id':workshop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/check_boxes1.png') }}"></a>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% include 'UtilBundle:Pagination:pagination_workshop_catserv.html.twig' %}
{% else %}
    <div class="col-xs-12 col-md-12 form-group">
        <p class="alert">{{ 'any.workshop'|trans }}</p>
    </div>
{% endif %}


{% block javascripts %}

    <script src="{{ asset('bundles/workshop/js/workshop.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>

{% endblock %}