{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li><a href="{{ path('workshop_list') }}">{% trans %} menu.list_workshops {% endtrans %}</a></li>
        <li class="active">{% trans %} edit.workshop {% endtrans %} ({{ workshop.name|length > 15 ? workshop.name|slice(0, 15) ~ '...' : workshop.name  }})</li>
    </ol>


    <input type="hidden" id="bad_introduction" value="{% trans %}error.bad_introduction{% endtrans %} ">
    <form action="{{ path("workshop_edit", { 'id':workshop.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
        <input type="hidden" id="workshop_cif" value="{{workshop.cif}}">
        <div class="container">
            <legend>{% trans %} workshop {% endtrans %}
                    <p class="pull-right mr40"><small>{% trans %} subscribed {% endtrans %}: {{ workshop.createdAt|date("d-m-Y") }}
                    {% if workshop.active == 0 and workshop.lowdateAt != NULL %}, {% trans %} unsubscribed {% endtrans %}: {{ workshop.lowdateAt|date("d-m-Y") }}{% endif %}
                    </small></p>
                 </legend>

            <div class="col-xs-12 col-md-12 form-group">
                <input type="hidden" id="exist_cif" value="{% trans %}workshop.cif_exist{% endtrans %} ">
                <div class="error_cif"></div>
            {% if app.session.hasFlash('error') %}
                <p class="error">{{ app.session.getFlash('error') }}</p>
            {% endif %}

            <div class="col-xs-8 col-md-8 form-group">
                <div class="col-xs-6 col-md-6 form-group">
                    <label for="adservice_workshopbundle_workshoptype_name">{% trans %} name {% endtrans %} *</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'name' | trans } }) }}
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                    <label for="adservice_workshopbundle_workshoptype_partner">{% trans %} partner {% endtrans %} *</label>
                    {{ form_widget(form.partner, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-xs-3 col-md-3 form-group">
                    <label for="adservice_workshopbundle_workshoptype_shop">{% trans %} code_partner {% endtrans %}</label>
                    <input id="code_partner" type="text" class="form-control" disabled="disabled" value="" placeholder="{% trans %} code_partner {% endtrans %}">
                </div>
                <div class="col-xs-3 col-md-3 form-group">
                    <label for="new_car_form_vin">{% trans %} code_workshop {% endtrans %} *</label>
                    {{ form_widget(form.code_workshop, {'attr': { 'class': 'form-control',
                                                                  'placeholder': 'code_workshop' | trans,
                                                                  'min': 1 } }) }}
                </div>
                <div class="col-xs-3 col-md-3 form-group">
                    <label for="adservice_workshopbundle_workshoptype_cif">{% trans %} cif {% endtrans %} * </label>
                    {{ form_widget(form.cif, { 'attr': {'class': 'form-control', 'placeholder': 'cif' | trans } }) }}
                </div>
                <div class="col-xs-3 col-md-3 form-group">
                    <label for="adservice_workshopbundle_workshoptype_shop">{% trans %} shop {% endtrans %}</label>
                    {{ form_widget(form.shop, { 'attr': {'class': 'form-control', 'required': 'false'} }) }}
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                    <label for="adservice_workshopbundle_workshoptype_typology">{% trans %} typology {% endtrans %} *</label>
                    <div hidden='hidden'> {{ form_widget(form.typology, { 'attr': {'class': 'form-control'} }) }} </div>
                    <select id="slct_typology" class="form-control">
                        {% for typology in typologies %}
                            <option value='{{ typology.id }}'>{{ typology.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                    <label for="adservice_workshopbundle_workshoptype_diagnosis_machines">{% trans %} diagnosis_machines {% endtrans %}</label>
                    <div> {{ form_widget(form.diagnosis_machines, { 'attr': {'class': 'form-control', 'multiple':'multiple' } }) }} </div>
                    {% if is_granted('ROLE_SUPER_ADMIN') and diagnosis_machines[0].id is defined %}
                        <div id="lan_diag_machines">
                            {% for diag_machine in diagnosis_machines %}
                                {% if diag_machine.id is defined and diag_machine.country is defined and diag_machine.country.shortName is defined %}
                                    <input type="hidden" id="lan{{diag_machine.id}}" value="{{diag_machine.country.shortName}}">
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-4 col-md-4 form-group">
                <div class="col-xs-12 col-md-12 form-group">
                    <label for="adservice_workshopbundle_workshoptype_internal_code">{% trans %} internal_code {% endtrans %}</label>
                    {{ form_widget(form.internal_code, { 'attr': {'class': 'form-control', 'placeholder': 'internal_code' | trans } }) }}
                </div>
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_workshopbundle_workshoptype_active">{% trans %} active {% endtrans %}</label>
                    {{ form_widget(form.active) }}
                </div>
                <div class="col-xs-8 col-md-8 form-group">
                    <label for="adservice_workshopbundle_workshoptype_ad_service_plus">{% trans %} ad_service_plus {% endtrans %}</label>
                    {{ form_widget(form.ad_service_plus) }}
                </div>
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_workshopbundle_workshoptype_test">{% trans %} test {% endtrans %}</label>
                    {{ form_widget(form.test) }}
                </div>
                <div class="col-xs-8 col-md-8 form-group">
                    <label for="adservice_workshopbundle_workshoptype_endtest_at">{% trans %} endtest {% endtrans %}</label>
                    {{ form_widget(form.endtest_at) }}
                </div>
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="workshopOrder_newOrder_haschecks">{% trans %} haschecks {% endtrans %}</label>
                    {{ form_widget(form.haschecks) }}
                </div>
                <div class="col-xs-8 col-md-8 form-group">
                    <label for="workshopOrder_newOrder_numchecks">{% trans %} numchecks {% endtrans %}</label>
                    {{ form_widget(form.numchecks, { 'attr': {'class': 'form-control', 'min': '0'}}) }}
                </div>
            </div>
        </div>

        <legend>{% trans %} contact {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-2 col-md-2 form-group">
                <label>{% trans %} contact {% endtrans %} *</label>
                {{ form_widget(form.contact, { 'attr': {'class': 'form-control', 'placeholder': 'contact' | trans} }) }}
            </div>
            {% include 'UtilBundle:Default:contact_fields.html.twig' %}
        </div>

        <legend>{% trans %} observations {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <label for="adservice_workshopbundle_workshoptype_conflictive">{% trans %} conflictive {% endtrans %}</label>
            {{ form_widget(form.conflictive) }}
        </div>

        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_workshop">{% trans %} observations_workshop {% endtrans %}</label>
            {{ form_widget(form.observation_workshop, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'observations_workshop' | trans } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_assessor">{% trans %} observations_assessor {% endtrans %}</label>
            {{ form_widget(form.observation_assessor, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'observations_assessor' | trans } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_admin">{% trans %} observations_admin {% endtrans %}</label>
            {{ form_widget(form.observation_admin, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'observations_admin' | trans } }) }}
        </div>

    {{ form_rest(form) }}
            <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {% trans %} btn.edit {% endtrans %}</button>
        </div>
    </form>

{#    USERS ZONE #}
    {# <legend>{% trans %} users_in_workshop {% endtrans %}</legend>
    {% include 'UserBundle:User:_list.html.twig' with { users : workshop.users } %} #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/workshop/js/workshop.js') }}"></script>
    <script src="{{ asset('bundles/workshop/js/workshop_shop.js') }}"></script>
{% endblock %}