{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li><a href="{{ path('workshop_list') }}">{% trans %} menu.list_workshops {% endtrans %}</a></li>
        <li class="active">{% trans %} edit.workshop {% endtrans %}({{ workshop }})</li>
    </ol>


    <form action="{{ path("workshop_edit", { 'id':workshop.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <div class="container">
            <legend>{% trans %} workshop {% endtrans %}</legend>

            {% if app.session.hasFlash('error') %}
                <p class="error">{{ app.session.getFlash('error') }}</p>
            {% endif %}

        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_name">{% trans %} name {% endtrans %}</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_cif">{% trans %} cif {% endtrans %}</label>
            {{ form_widget(form.cif, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_typology">{% trans %} typology {% endtrans %}</label>
            {{ form_widget(form.typology, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_partner">{% trans %} partner {% endtrans %}</label>
            {{ form_widget(form.partner, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_shop">{% trans %} shop {% endtrans %}</label>
            {{ form_widget(form.shop, { 'attr': {'class': 'form-control', 'required': 'false'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="new_car_form_vin">{% trans %} code.workshop {% endtrans %}</label>
            {{ form_widget(form.code_workshop, { 'attr': { 'class': 'form-control',
                                                           'placeholder': 'code.workshop' | trans , 'min': 1} }) }}
        </div>

        <div class="col-xs-4 col-md-4 form-group">
            <div class="col-xs-12 col-md-12 form-group">
                <label for="adservice_workshopbundle_workshoptype_active">{% trans %} active {% endtrans %}</label>
                {{ form_widget(form.active) }}
            </div>
            <div class="col-xs-3 col-md-3 form-group">
                <label for="adservice_workshopbundle_workshoptype_test">{% trans %} test {% endtrans %}</label>
                {{ form_widget(form.test) }}
            </div>
            <div class="col-xs-9 col-md-9 form-group">
                <label for="adservice_workshopbundle_workshoptype_endtest_at">{% trans %} endtest {% endtrans %}</label>
                {{ form_widget(form.endtest_at) }}
            </div>
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_diagnosis_machines">{% trans %} diagnosis_machines {% endtrans %}</label>
            {{ form_widget(form.diagnosis_machines, { 'attr': {'class': 'form-control', 'required': 'false'} }) }}
        </div>

        <legend>{% trans %} contact {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} contact         {% endtrans %}*</label> {{ form_widget(form.contact_name,    { 'attr': {'class': 'form-control'} }) }}
                                                                            {{ form_widget(form.contact_surname, { 'attr': {'class': 'form-control'} }) }}
            </div>
        {% include 'UtilBundle:Default:contact_fields.html.twig' %}

        <legend>{% trans %} observations {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <label for="adservice_workshopbundle_workshoptype_conflictive">{% trans %} conflictive {% endtrans %}</label>
            {{ form_widget(form.conflictive) }}
        </div>

        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_workshop">{% trans %} observations_workshop {% endtrans %}</label>
            {{ form_widget(form.observation_workshop, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_assessor">{% trans %} observations_assessor {% endtrans %}</label>
            {{ form_widget(form.observation_assessor, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_admin">{% trans %} observations_admin {% endtrans %}</label>
            {{ form_widget(form.observation_admin, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
        </div>

    {{ form_rest(form) }}
            <button id="btn_create" type="submit">{% trans %} btn.edit {% endtrans %}</button>
        </div>
    </form>

{#    USERS ZONE #}
    <legend>{% trans %} users_in_workshop {% endtrans %}</legend>
    {% include 'UserBundle:User:_list.html.twig' with { users : workshop.users } %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/workshop/js/workshop.js') }}"></script>

    {% include 'UtilBundle:jquery_twig:workshop_edit_jquery.html.twig' %}

    {% include 'UtilBundle:jquery_twig:regions_from_country_jquery.html.twig' %}

    {% include 'UtilBundle:jquery_twig:select2_region_jquery.html.twig' %}
    {% include 'UtilBundle:jquery_twig:select2_city_jquery.html.twig' %}
    <script> $(document).ready(function(){ $("#slct_city").select2(); }); </script>
{% endblock %}