{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'workshop_list' %}
    <input type="hidden" id="route" name="route" value="{{ route }}">

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li class="active">{% trans %} menu.list_workshops {% endtrans %}</li>
    </ol>

    <div style="width: 90%; margin-left: 5%;">

        <legend>{% trans %} menu.list_workshops {% endtrans %}
            {% if is_granted('ROLE_ADMIN') %}
                <a id="newWorkshop" href="{{ path('workshop_new') }}" class="btn btn-primary"><img class="img_icon" src="{{ asset('bundles/util/images/icon/add.png') }}"> {% trans %} new.workshop {% endtrans %}</a></td>
            {% endif %}
        </legend>

        {% if app.session.hasFlash('alert') %}<p class="alert">{{ app.session.getFlash('alert') }}</p>{% endif %}

        <input type="hidden" id="code_numeric" name="code_numeric" value="{% trans %} code_numeric {% endtrans %}">
        <input type="hidden" id="code_partner" name="code_partner" value="{% trans %} code_partner {% endtrans %}">
        <div class="col-xs-2 col-md-2 form-group">
            <label style="width: 100%;">    {% trans %} code  {% endtrans %} <a id="lbl_code" style="color:red"></a></label>
            <input type="text" id="w_idpartner" name="w_idpartner" class="btn50 floating form-control" style="width: 50%;" placeholder="{% trans %} partner  {% endtrans %}">
            <input type="text" id="w_id"        name="w_id"        class="btn50 floating form-control" style="width: 50%;" placeholder="{% trans %} workshop {% endtrans %}">
        </div>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-2 col-md-2 form-group"> <label> {% trans %} country {% endtrans %} </label>
            <select id="flt_country" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country | trans }}</option>
                {% endfor %}
        </select></div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}

        <div class="col-xs-2 col-md-2 form-group"> <label> {% trans %} partner {% endtrans %} </label>
            <select id="flt_partner" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                {% for partner in partners %}
                    <option value="{{ partner.id }}">{{ partner.codePartner }} - {{ partner | trans }}</option>
                {% endfor %}
        </select></div>

        <div class="col-xs-2 col-md-2 form-group"> <label> {% trans %} status {% endtrans %} </label>
            <select id="flt_status" class='form-control'>
                <option value="0"        >{% trans %} all      {% endtrans %}</option>
                <option value="active"   >{% trans %} active   {% endtrans %}</option>
                <option value="deactive" >{% trans %} inactive {% endtrans %}</option>
             </select>
        </div>

        <div class="col-xs-3 col-md-3 form-group">
            <label> {% trans %} name {% endtrans %} </label>
            <input type="text" id="flt_name" name="flt_name" class='form-control' placeholder="{% trans %} name {% endtrans %}" value="{% if name != '0' %}{{ name }}{% endif %}">
        </div>
        <div class="col-xs-1 col-md-1 form-group"><a type="button" id="btn_name" name="btn_name" class='btn btn-primary' style="margin-top:20px;margin-left:-77px;"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}"></a></div>

        {% endif %}
    </div>
    {% include 'WorkshopBundle:Workshop:_list.html.twig'  %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>
    <script src="{{ asset('bundles/workshop/js/workshop_filter.js') }}"></script>
    <script>
        $(document).ready(function() {
            {% if country != '0' %} $("#flt_country").val('{{ country }}');{% endif %}
            {% if partner != '0' %} $("#flt_partner").val('{{ partner }}');{% endif %}
            {% if status  != '0' %} $("#flt_status" ).val('{{ status }}' );{% endif %}
        });
    </script>
{% endblock %}