{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li><a href="{{ path('workshop_list') }}">{% trans %} menu.list_workshops {% endtrans %}</a></li>
        <li class="active">{% trans %} new.workshop {% endtrans %}</li>
    </ol>


    <form action="{{ path('workshop_new') }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <div class="container">
            <legend>{% trans %} workshop {% endtrans %}</legend>

            {% if app.session.hasFlash('error') %}
                <p class="error">{{ app.session.getFlash('error') }}</p>
            {% endif %}

        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_name">{% trans %} name {% endtrans %}</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_cif">{% trans %} cif {% endtrans %}</label>
            {{ form_widget(form.cif, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_typology">{% trans %} typology {% endtrans %}</label>
            {{ form_widget(form.typology, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_partner">{% trans %} partner {% endtrans %}</label>
            {{ form_widget(form.partner, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_shop">{% trans %} shop {% endtrans %}</label>
            {{ form_widget(form.shop, { 'attr': {'class': 'form-control', 'required': 'false'} }) }}
        </div>
        <div class="col-xs-2 col-md-2 form-group">
            <label for="new_car_form_vin">{% trans %} code.workshop {% endtrans %}</label>
            {{ form_widget(form.code_workshop, { 'attr': { 'class': 'form-control',
                                                           'placeholder': 'code.workshop' | trans, 'min': 1} }) }}
        </div>

        <div class="col-xs-4 col-md-4 form-group">
            <div class="col-xs-12 col-md-12 form-group">
                <label for="adservice_workshopbundle_workshoptype_active">{% trans %} active {% endtrans %}</label>
                {{ form_widget(form.active) }}
            </div>
            <div class="col-xs-3 col-md-3 form-group">
                <label for="adservice_workshopbundle_workshoptype_test">{% trans %} test {% endtrans %}</label>
                {{ form_widget(form.test) }}
            </div>
            <div class="col-xs-9 col-md-9 form-group">
                <label for="adservice_workshopbundle_workshoptype_endtest_at">{% trans %} endtest {% endtrans %}</label>
                {{ form_widget(form.endtest_at) }}
            </div>
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_diagnosis_machines">{% trans %} diagnosis_machines {% endtrans %}</label>
            {{ form_widget(form.diagnosis_machines, { 'attr': {'class': 'form-control', 'required': 'false'} }) }}
        </div>

        <legend>{% trans %} contact {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} contact         {% endtrans %}*</label> {{ form_widget(form.contact_name,    { 'attr': {'class': 'form-control'} }) }}
                                                                            {{ form_widget(form.contact_surname, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} phone_number_1  {% endtrans %}*</label> {{ form_widget(form.phone_number_1,   { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} phone_number_2  {% endtrans %}  </label> {{ form_widget(form.phone_number_2,   { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} movile_number_1 {% endtrans %}  </label> {{ form_widget(form.movile_number_1,  { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} movile_number_2 {% endtrans %}  </label> {{ form_widget(form.movile_number_2,  { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} fax             {% endtrans %}  </label> {{ form_widget(form.fax,              { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-5 col-md-5 form-group">
                <label> {% trans %} email_1         {% endtrans %} *</label> {{ form_widget(form.email_1,          { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-5 col-md-5 form-group">
                <label> {% trans %} email_2         {% endtrans %}  </label> {{ form_widget(form.email_2,          { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} country         {% endtrans %} *</label> {{ form_widget(form.country,          { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} region          {% endtrans %} *</label> {{ form_widget(form.region,           { 'attr': {'class': 'form-control'} }) }}
                <br>
                <div id="region_autocomplete">
                    <select hidden='hidden' id="data_regions"></select>
                    <select id="slct_region"></select>
                </div>
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} city            {% endtrans %} *</label> {{ form_widget(form.city  ,           { 'attr': {'class': 'form-control'} }) }}
                <br>
                <div id="city_autocomplete">
                    <select hidden='hidden' id="data_cities"></select>
                    <select id="slct_city"></select>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 form-group">
                <label> {% trans %} address         {% endtrans %} *</label> {{ form_widget(form.address,          { 'attr': {'class': 'form-control',
                                                                                                                              'required': 'required' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} postal_code     {% endtrans %} *</label> {{ form_widget(form.postal_code,      { 'attr': {'class': 'form-control',
                                                                                                                              'min': 0,
                                                                                                                              'required': 'required' } }) }}
            </div>
        </div>
        <legend>{% trans %} observations {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <label for="adservice_workshopbundle_workshoptype_conflictive">{% trans %} conflictive {% endtrans %}</label>
            {{ form_widget(form.conflictive) }}
        </div>

        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_workshop">{% trans %} observations_workshop {% endtrans %}</label>
            {{ form_widget(form.observation_workshop, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_assessor">{% trans %} observations_assessor {% endtrans %}</label>
            {{ form_widget(form.observation_assessor, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_admin">{% trans %} observations_admin {% endtrans %}</label>
            {{ form_widget(form.observation_admin, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
        </div>

    {{ form_rest(form) }}
            <button id="btn_create" type="submit">{% trans %} btn.create {% endtrans %}</button>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/workshop/js/workshop.js') }}"></script>

    {% include 'UtilBundle:jquery_twig:workshop_new_jquery.html.twig' %}

    {% include 'UtilBundle:jquery_twig:regions_from_country_jquery.html.twig' %}

    {% include 'UtilBundle:jquery_twig:select2_region_jquery.html.twig' %}
    {% include 'UtilBundle:jquery_twig:select2_city_jquery.html.twig' %}
    {% include 'UtilBundle:jquery_twig:select2_assign_on_enter_jquery.html.twig' %}
{% endblock %}