{% extends '::layout.html.twig' %}

{% block body %}
    {% if app.security.getToken().getUser().getCategoryService().getId() is defined %}
               {% set id_catserv = app.security.getToken().getUser().getCategoryService().getId() %}
    {% else %} {% set id_catserv = '0' %}
    {% endif %}
    {% if id_catserv == 3 %}
        {% set is_hidden = 'hidden' %}
    {% else %}
        {% set is_hidden = '' %}
    {% endif %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
        <li><a href="{{ path('workshop_list') }}">{{ 'menu.list_workshops'|trans }}</a></li>
        <li class="active">{{ 'new.workshop'|trans }}</li>
    </ol>


    <input type="hidden" id="bad_introduction" value="{{ 'error.bad_introduction'|trans }} ">
    <form action="{{ path('workshop_new') }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

    <div class="container">
        <legend>{{ 'workshop'|trans }}</legend>

        <div class="w100">
                <input type="hidden" id="exist_cif" value="{{ 'workshop.cif_exist'|trans }} ">
                <div class="error_cif"></div>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <p class="error">{{ flashMessage }}</p>
            {% endfor %}

            <div class="w70 fl">
                <div class="col-xs-6 col-md-6 form-group">
                    <label for="adservice_workshopbundle_workshoptype_name">{{ 'workshop_name'|trans }} *</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'workshop' | trans } }) }}
                </div>
                {% if is_granted('ROLE_TOP_AD') and not is_granted('ROLE_ADMIN')%}
                    {% if form.category_service is defined %}
                        <div class="col-xs-3 col-md-3 form-group" >
                           <label>{{ 'category_service'|trans }} *</label> {{ form_widget(form.category_service, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% if not is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="col-xs-3 col-md-3 form-group">
                            <label> {{ 'category_service'|trans }} </label>
                            <select  id="adservice_workshopbundle_workshoptype_category_service" name="adservice_workshopbundle_workshoptype[category_service]" class="form-control"> 
                                <option value></option>
                                <option value="{{ catserv.id }}">{{ catserv.CategoryService }}</option>

                            </select>
                        </div>
                        {% if form.category_service is defined %}
                            <div class="col-xs-3 col-md-3 form-group" hidden >
                               <label>{{ 'category_service'|trans }} *</label> {{ form_widget(form.category_service, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        {% endif %}
                    {% else %}
                        {% if form.category_service is defined %}
                            <div class="col-xs-3 col-md-3 form-group">
                               <label>{{ 'category_service'|trans }} *</label> {{ form_widget(form.category_service, { 'attr': {'class': 'form-control' , 'required': 'required'} }) }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
               
                <div class="col-xs-3 col-md-3 form-group">
                    <input type="hidden" id="partner_not_found" value="{{ 'partner_not_found'|trans }} ">
                    <label for="adservice_workshopbundle_workshoptype_partner">{{ 'partner'|trans }} *</label>
                    {{ form_widget(form.partner, { 'attr': {'class': 'form-control', 'required': 'required'} }) }}
                </div>
                <div class="col-xs-3 col-md-3 form-group">
                    <label for="adservice_workshopbundle_workshoptype_shop">{{ 'code_partner'|trans }}</label>
                    <input name="code_partner" id="code_partner" type="text" class="form-control" value="" placeholder="{{ 'code_partner'|trans }}">
                </div>
                <div class="col-xs-3 col-md-3 form-group">
                    <label for="new_car_form_vin">{{ 'code_workshop'|trans }} *</label>
                    {{ form_widget(form.code_workshop, {'attr': { 'class': 'form-control',
                                                                  'placeholder': 'code_workshop' | trans,
                                                                  'min': 1 } }) }}
                </div>
                <div class="col-xs-3 col-md-3 form-group">
                    <label for="adservice_workshopbundle_workshoptype_cif">{{ 'cif'|trans }} * </label>
                    {{ form_widget(form.cif, { 'attr': {'class': 'form-control', 'placeholder': 'cif' | trans } }) }}
                </div>
                {% if is_granted('ROLE_ADMIN') and form.code_billing is defined %}
                    <div class="col-xs-2 col-md-2 form-group">
                        <label>{{ 'code_billing'|trans }}</label> {{ form_widget(form.code_billing, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                {% endif %}
                <div class="col-xs-3 col-md-3 form-group" {{is_hidden}}>
                    <label for="adservice_workshopbundle_workshoptype_shop">{{ 'shop'|trans }}</label>
                    {{ form_widget(form.shop, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                    <label for="adservice_workshopbundle_workshoptype_typology">{{ 'typology'|trans }} *</label>
                    {{ form_widget(form.typology, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                    <label for="adservice_workshopbundle_workshoptype_diagnosis_machines">{{ 'diagnosis_machines'|trans }}</label>
                    <div> {{ form_widget(form.diagnosis_machines, { 'attr': {'class': 'form-control h100'} }) }} </div>

                    {% if is_granted('ROLE_SUPER_ADMIN') and diagnosis_machines[0].id is defined %}
                        <div id="lan_diag_machines">
                            {% for diag_machine in diagnosis_machines %}
                                <input type="hidden" id="lan{{diag_machine.id}}" value="{{diag_machine.categoryService}}">
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="w30 fl">
                <div class="grid w100 fl">
                    <div class="grid w45 fl">
                        <div class="grid-full w95">
                            <label for="adservice_workshopbundle_workshoptype_internal_code">{{ 'internal_code'|trans }}</label>
                            {{ form_widget(form.internal_code, { 'attr': {'class': 'form-control', 'placeholder': 'internal_code' | trans } }) }}
                        </div>
                    </div>
                    <div class="grid w45 fl">
                        <div class="grid-full w95" {{is_hidden}}>
                            <label for="adservice_workshopbundle_workshoptype_commercial_code">{{ 'commercial_code'|trans }}</label>
                            {{ form_widget(form.commercial_code, { 'attr': {'class': 'form-control mb15', 'placeholder': 'commercial_code' | trans } }) }}
                        </div>
                    </div>
                </div>
                <div class="grid w100 fl">
                    <div class="grid w45 fl">
                        <div class="grid-full w80">
                            <label for="adservice_workshopbundle_workshoptype_test">{{ 'test'|trans }}</label>
                        </div>
                        <div class="grid-full w20">
                            {{ form_widget(form.test) }}
                        </div>
                    </div>
                    <div class="grid w45 fl">
                        <label for="adservice_workshopbundle_workshoptype_endtest_at">{{ 'endtest'|trans }}</label>
                        {{ form_widget(form.endtest_at) }}
                    </div>
                </div>
                <div class="grid w100 fl mt20">
                    <div class="grid w45 fl">
                        <div class="grid-full w80">
                            <label for="adservice_workshopbundle_workshoptype_haschecks">{{ 'haschecks'|trans }}</label>
                        </div>
                        <div class="grid-full w20">
                            {{ form_widget(form.haschecks) }}
                        </div>
                    </div>
                    <div class="grid w45 fl">
                        <label for="adservice_workshopbundle_workshoptype_numchecks">{{ 'numchecks'|trans }}</label>
                        {{ form_widget(form.numchecks, { 'attr': {'class': 'form-control', 'min': '0' , 'max': '5', 'placeholder': 'max_num_checks' | trans }}) }}
                    </div>
                </div>
                <div class="grid w45 fl mt20" {{is_hidden}}>
                    <div class="grid-full w80" >
                        <label for="adservice_workshopbundle_workshoptype_infotech">{{ 'infotech'|trans }}</label>
                    </div>
                    <div class="grid-full w20">
                        {{ form_widget(form.infotech) }}
                    </div>
                </div>
                <div class="grid w45 fl mt20" {{is_hidden}}>
                    <div class="grid-full w80">
                        <label for="adservice_workshopbundle_workshoptype_ad_service_plus">{{ 'ad_service_plus'|trans }}</label>
                    </div>
                    <div class="grid-full w20">
                        {{ form_widget(form.ad_service_plus) }}
                    </div>
                </div>
        </div>

        <legend>{{ 'contact'|trans }}</legend>

        <div class="col-xs-12 col-md-12 form-group">
        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'contact'|trans }} *</label>
                {{ form_widget(form.contact, { 'attr': {'class': 'form-control', 'placeholder': 'contact' | trans} }) }}
            </div>
            {% include 'UtilBundle:Default:contact_fields.html.twig' %}
        </div>

        <legend>{{ 'observations'|trans }}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <label for="adservice_workshopbundle_workshoptype_conflictive">{{ 'conflictive'|trans }}</label>
            {{ form_widget(form.conflictive) }}
        </div>

        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_workshop">{{ 'observations_workshop'|trans }}</label>
            {{ form_widget(form.observation_workshop, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'observations_workshop' | trans } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_assessor">{{ 'observations_assessor'|trans }}</label>
            {{ form_widget(form.observation_assessor, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'observations_assessor' | trans } }) }}
        </div>
        <div class="col-xs-4 col-md-4 form-group">
            <label for="adservice_workshopbundle_workshoptype_observation_admin">{{ 'observations_admin'|trans }}</label>
            {{ form_widget(form.observation_admin, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'observations_admin' | trans } }) }}
        </div>

    {{ form_rest(form) }}
            <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.create'|trans }}</button>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/workshop/js/workshop.js') }}"></script>
    <script src="{{ asset('bundles/workshop/js/workshop_shop.js') }}"></script>
    <script src="{{ asset('bundles/util/js/catserv.js') }}"></script>

{% endblock %}