{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'workshop_observation'|trans }}</li>
    </ol>
{% endblock  %}

{% block info %}

    {% include 'TicketBundle:Workshop:show_workshop.html.twig'   %}

{% endblock %}

{% block content %}

    {{ form_start(form, {'action': path("workshop_observation", { 'id':workshop.id, 'id_ticket':id_ticket })}) }}
        <div class="container">

        <legend>{{ 'workshop_observation'|trans }}</legend>
            <div class="col-xs-8 col-md-8 form-group">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <p class="error">{{ flashMessage }}</p>
                {% endfor %}

                {{ form_widget(form.observationAssessor, { 'attr': {'class': 'form-control', 'rows': '10'} }) }}

                <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.send'|trans }}</button>

                {{ form_rest(form) }}
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}