{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li class="active">{% trans %} edit.order.workshop {% endtrans %}</li>
    </ol>

    <h1>{% trans %} edit.order.workshop {% endtrans %} <b>{{ workshop.partner.codePartner }}, {{ workshop.codeWorkshop }}</b></h1>

    <form action="#" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-4 col-md-4">
                <label>{% trans %} name {% endtrans %}</label>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control',
                                                     'placeholder': 'name' | trans } }) }}
            </div>
            <div class="col-xs-2 col-md-2">

                <label>{% trans %} code_workshop {% endtrans %} </label> {{ form_widget(form.code_workshop,   { 'attr': {'class': 'form-control', 'min': '1', 'required':'required' } }) }}

                {% if     app.session.hasFlash('info' ) %} {{ app.session.getFlash('info' ) }}
                {% elseif app.session.hasFlash('error') %} <p style="color:red">{{ app.session.getFlash('error') }}</p> {% endif %}
            </div>

            {% if is_granted('ROLE_SUPER_AD') %}
                <div class="col-xs-2 col-md-2 form-group">
                    <label for="adservice_partnerbundle_shoptype">{% trans %} partner {% endtrans %} * </label>
                    {{ form_widget(form.partner, { 'attr': {'class': 'form-control' } }) }}
                </div>
            {% else %} {{ form_widget(form.partner, { 'attr': {'hidden': 'hidden' } }) }}
            {% endif %}

            <div class="col-xs-2 col-md-2">
                <label>{% trans %} shop {% endtrans %} </label> {{ form_widget(form.shop,            { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="col-xs-2 col-md-2">
                <label>{% trans %} cif {% endtrans %} </label> {{ form_widget(form.cif,        { 'attr': {'class': 'form-control', 'required':'required' } }) }}
            </div>

            <div class="col-xs-2 col-md-2">
                <label>{% trans %} typology {% endtrans %} </label> {{ form_widget(form.typology,        { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <legend>{% trans %} contact {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
        <div class="col-xs-2 col-md-2 form-group">
            <label> {% trans %} contact         {% endtrans %} *</label> {{ form_widget(form.contact_name,    { 'attr': {'class': 'form-control'} }) }}
                                                                         {{ form_widget(form.contact_surname, { 'attr': {'class': 'form-control'} }) }}
        </div>
        {% include 'UtilBundle:Default:contact_fields.html.twig' %}

        {{ form_rest(form) }}

        <div class="col-xs-12 col-md-12 form-group">
            <button class="btn btn-primary pull-right" id="btn_save" type="submit">{% trans %} btn.edit {% endtrans %}</button>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/order/js/order.js') }}"></script>
{% endblock %}