{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li class="active">{% trans %} menu.list_workshops {% endtrans %}</li>
    </ol>

<legend> {% trans %} menu.list_workshops {% endtrans %} </legend>

    {% if is_granted('ROLE_SUPER_AD') %}
    <div class="col-xs-3 col-md-3 form-group"> <label> partner </label>
        <select id="flt_partner" class='form-control'>
                <option value="none">All</option>
            {% for partner in partners %}
                <option value="{{ partner.id }}">{{ partner }}</option>
            {% endfor %}
    </select></div>
    {% endif %}

    {% if workshops|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 80%; margin-left: 10%;">
        <thead>
            <tr>
                <th>Code</th>
                <th>Workshop Name</th>
                <th>Partner</th>
                <th>Shop</th>
                {# <th>Address</th> #}
                <th>Email1</th>
                <th>Phone number 1</th>
                <th>Active</th>
                {# <th>Up Date</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for workshop in workshops %}
            <tr>
                <td>{{ workshop.partner.codePartner }}, {{ workshop.codeWorkshop }}</td>
                <td>{{ workshop.name }} {% if workshop.active == false %}<span class="label label-danger">Inactive</span>{% endif %}</td>
                <td>{{ workshop.partner}}</td>
                <td>{{ workshop.shop}}</td>
                {# <td>{{ workshop.address }}</td> #}
                <td>{{ workshop.email1 }}</td>
                <td>{{ workshop.phoneNumber1 }}</td>
                <td>{{ workshop.active }}</td>
                {# <td>{{ workshop.updateAt | date('d-m-Y')}}</td> #}
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path("workshop_edit", { 'id':workshop.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ workshop.id }}"></span></a>
                    </td>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Eliminar Taller</h4>
                                    </div>
                                    <div class="modal-body">
                                        Estas seguro que quieres eliminar este taller?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('workshop_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">SI</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                {% elseif is_granted('ROLE_AD') %}
                    <td>
                        <a href="{{ path("workshopOrder_edit", { 'id':workshop.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% if workshop.active == true %}
                            <a title="Solicitar desactivación del taller"   href="{{ path('workshopOrder_change_status', {'id':workshop.id, 'status':'inactive'  }) }}"><span class="glyphicon glyphicon-remove"></span></a>
                        {% else %}
                            <a title="Solicitar activación del taller"      href="{{ path('workshopOrder_change_status', {'id':workshop.id, 'status':'active'    }) }}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                        {# <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ workshop.id }}"></span></a> #}
                    </td>
                    <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Eliminar Taller</h4>
                                    </div>
                                    <div class="modal-body">
                                        Estas seguro que quieres eliminar este taller?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('workshopOrder_remove', {'id': 'foo'}) }}" class="btn btn-default" role="button">SI</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% include 'UtilBundle:Pagination:pagination_workshop_order.html.twig' %}
{% else %}
    No hay talleres!!
{% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>

    <script>
        $(document).ready(function() {
            {% if partner != 'none' %} $("#flt_partner").val('{{ partner }}');{% endif %}

            $('#MainContent').find('.glyphicon-trash').click(function() {
                var workshop_id = $(this).data('id');
                confirm_delete_workshop_modal(workshop_id);
            });

            //REDIRIGE A LA PAGINA EN LA QUE SE HAYA HECHO CLICK
            $('#flt_partner').click(function() {

                var partner = $('#flt_partner').val();

                if(partner == null) partner = 'none';

                var url     = "{{ path('workshopOrder_listWorkshops', { 'page': 'plc_page', 'partner': 'plc_partner'}) }}";

                url = url.replace("plc_page", 1);
                url = url.replace("plc_partner", partner);

                window.open(url, "_self");
            });
            //util.js
            table_filter();
        });

    </script>
{% endblock %}

