{% extends '::layout.html.twig' %}

{% block body %}

    {% set id_catserv = app.security.getToken().getUser().getCategoryService().getId() %}

    <input type="hidden" id="route" value="workshopOrder_listWorkshops">
    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li class="active">{% trans %} menu.list_workshops {% endtrans %}</li>
    </ol>

<legend> {% trans %} menu.list_workshops {% endtrans %}
    {% if app.security.getToken().getUser().getAllowOrder() == true %}
        <a class="btn btn-primary" href="{{ path("workshopOrder_new") }}">
        <img class="img_icon" src="{{ asset('bundles/util/images/icon/workshop_new.png') }}">
        {% trans %} menu.new_workshop_order {% endtrans %}</a>
    {% endif %}
    <span class="pull-right"> {% trans %}menu.list_tickets{% endtrans %}: {{numTickets}}</span>
    <span class="pull-right mr15">{% trans %}menu.list_workshops{% endtrans %}: {{length}}</span>
</legend>

    {% if is_granted('ROLE_SUPER_AD') %}
    <div class="col-xs-3 col-md-3 form-group"> <label> {% trans %} partner {% endtrans %} </label>
        <select id="flt_partner" class='form-control'>
                <option value="0">{% trans %} all {% endtrans %}</option>
            {% for _partner in partners %}
                <option value="{{ _partner.id }}" {% if partner == _partner.id %} selected {% endif %} >{{ _partner }}</option>
            {% endfor %}
    </select></div>
    {% endif %}

    <div class="col-xs-3 col-md-3 form-group"> <label> {% trans %} status {% endtrans %} </label>
        <input id="status" type="hidden" value="{{status}}">
        <select id="flt_status" class='form-control'>
            <option value="0"       {% if status == "0"         %} selected {% endif %}>{% trans %} all      {% endtrans %}</option>
            <option value="active"  {% if status == "active"    %} selected {% endif %}>{% trans %} active   {% endtrans %}</option>
            <option value="deactive"{% if status == "deactive"  %} selected {% endif %}>{% trans %} inactive {% endtrans %}</option>
            <option value="test"    {% if status == "test"      %} selected {% endif %}>{% trans %} testing  {% endtrans %}</option>
        </select>
    </select></div>

    <div class="col-xs-4 col-md-4 form-group">
        <div class="col-xs-5 col-md-5 form-group" style="margin-left: -15px;">
            <label> {% trans %} find_by {% endtrans %} </label>
            <select id="flt_search_term" name="flt_search_term" class='form-control'>
                <option value="tel"  {% if term == 'tel'  %}selected{% endif %}>{% trans %} tel   {% endtrans %}</option>
                <option value="name" {% if term == 'name' %}selected{% endif %}>{% trans %} name  {% endtrans %}</option>
                <option value="mail" {% if term == 'mail' %}selected{% endif %}>{% trans %} email {% endtrans %}</option>
                <option value="cif"  {% if term == 'cif'  %}selected{% endif %}>{% trans %} cif   {% endtrans %}</option>
             </select>
        </div>
        <div class="col-xs-7 col-md-7 form-group" style="margin-top: 21px;margin-left: -25px;">
            <input type="text" id="flt_search_field" name="flt_search_field" class='form-control' placeholder="{% trans %} value {% endtrans %}" value="{% if field != '0' %}{{ field }}{% endif %}">
        </div>
        <div class="col-xs-1 col-md-1 form-group" style="margin-left:-16px;">
            <a type="button" id="btn_search_field" name="btn_search_field" class='btn btn-primary' style="margin-top:20px;margin-left:-20px;"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}"></a>
        </div>
    </div>
    {% if workshops|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>{% trans %} code     {% endtrans %}</th>
                <th>{% trans %} workshop {% endtrans %}</th>
                {% if is_granted('ROLE_SUPER_AD') %}
                     <th>{% trans %} partner {% endtrans %}</th>
                {% endif %}
                <th>{% trans %} typology {% endtrans %}</th>
                <th>{% trans %} internal_code {% endtrans %}</th>
                <th>{% trans %} cif      {% endtrans %}</th>
                <th>{% trans %} tel     {% endtrans %}</th>
                {% if id_catserv != 3 %}
                <th>{% trans %} shop      {% endtrans %}</th>
                {% endif %}
                {# <th>{% trans %} active   {% endtrans %}</th> #}
                {# <th>{% trans %}numTickets{% endtrans %}</th> #}
                {% if app.security.getToken().getUser().getAllowOrder() == true and is_granted('ROLE_AD') %}
                <th>{% trans %} actions  {% endtrans %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for workshop in workshops %}
            <tr>
                <td>{{ workshop.partner.codePartner }} - {{ workshop.codeWorkshop }}</td>
                <td>{{ workshop.name|length > 15 ? workshop.name|slice(0, 15) ~ '...' : workshop.name  }} {% if workshop.active == false %}<span class="label label-danger">{% trans %} inactive {% endtrans %}</span>{% endif %}</td>
                {% if is_granted('ROLE_SUPER_AD') %}
                     <td>{{ workshop.partner.name }}</td>
                {% endif %}
                <td>{{ workshop.typology }}</td>
                <td>{{ workshop.internalCode }}       </td>
                <td>{{ workshop.cif }}</td>
                <td>{{ workshop.phoneNumber1 }} </td>
                {% if id_catserv != 3 %}
                <td>{{ workshop.shop }} </td>
                {% endif %}
                {# <td>{{ workshop.active }}       </td> #}
                {# <td>{{ numTickets[workshop.id]}}</td> #}
                {% if app.security.getToken().getUser().getAllowOrder() == true %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path("workshop_edit", { 'id':workshop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"></a>
                            <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ workshop.id }}"></span></a>
                        </td>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{% trans %} workshop.delete {% endtrans %}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% trans %} workshop.delete.confirm {% endtrans %}
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('workshop_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">{% trans %} yes {% endtrans %}</a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %} no {% endtrans %}</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                    {% elseif is_granted('ROLE_AD') %}
                        <td>
                            <a title="{% trans %} edit.workshop {% endtrans %}" href="{{ path("workshopOrder_edit", { 'id':workshop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
                            {% if workshop.active == 1 %}
                                <a title="{% trans %} workshop.deactivate {% endtrans %}"   href="{{ path('workshopOrder_change_status', {'id':workshop.id, 'status':'inactive'  }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/check_boxes.png') }}"> </a>
                            {% else %}
                                <a title="{% trans %} workshop.activate {% endtrans %}" href="{{ path('workshopOrder_change_status', {'id':workshop.id, 'status':'active'    }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/check_boxes1.png') }}"> </a>
                            {% endif %}
                        </td>
                        <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{% trans %} workshop.delete {% endtrans %}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% trans %} workshop.delete.confirm {% endtrans %}
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('workshopOrder_remove', {'id': 'foo'}) }}" class="btn btn-default" role="button">{% trans %} yes {% endtrans %}</a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %} no {% endtrans %}</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% include 'UtilBundle:Pagination:pagination_workshop_order.html.twig' %}
{% else %}
     <div class="grid w100">
        <p class="alert">{% trans %} not_found {% endtrans %}</p>
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination_by_partner_status.js') }}"></script>
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script src="{{ asset('bundles/order/js/order.js') }}"></script>

{% endblock %}