{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">Home</a></li>
        <li class="active">Apply for new workshop</li>
    </ol>

    <h1>Petición de alta de taller</h1>

    <form action="{{ path('workshopOrder_new') }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <div class="container">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <label>Workshop Name</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control',
                                                         'placeholder': 'Name'} }) }}

                    <label for="new_car_form_vin">Contact Name</label>
                    {{ form_widget(form.contact_name, { 'attr': { 'class': 'form-control',
                                                        'placeholder': 'name'} }) }}

                    <label for="new_car_form_vin">Contact Surname</label>
                    {{ form_widget(form.contact_surname, { 'attr': { 'class': 'form-control',
                                                                'placeholder': 'surname'} }) }}


                    <label>Email</label>
                    {{ form_widget(form.email_1, { 'attr': {'class': 'form-control',
                                                           'placeholder': 'Email'} }) }}
                    <label>Phone Number</label>
                    {{ form_widget(form.phone_number_1, { 'attr': {'class': 'form-control',
                                                                   'placeholder': 'Phone Number'} }) }}
                    <label>Movile Phone</label>
                    {{ form_widget(form.movile_number_1, { 'attr': {'class': 'form-control',
                                                                   'placeholder': 'Movile Phone'} }) }}
                </div>

                <div class="col-md-6 column">

                    <label>Typology</label>
                    {{ form_widget(form.typology, { 'attr': {'class': 'form-control'} }) }}

                    <label>Region</label>
                    {{ form_widget(form.region, { 'attr': {'class': 'form-control'} }) }}

                    <label>Province</label>
                    {{ form_widget(form.province, { 'attr': {'class': 'form-control'} }) }}

                    <label>City</label>
                    {{ form_widget(form.city, { 'attr': {'class': 'form-control',
                                                         'placeholder': 'City'} }) }}
                    <label>Adress</label>
                    {{ form_widget(form.address, { 'attr': {'class': 'form-control',
                                                            'placeholder': 'Address'} }) }}
                </div>

                {{ form_rest(form) }}
            </div>
            <br/>
            <p><button type="submit">Create</button></p>

        </div>
    </form>
{% endblock %}