{% extends '::layout.html.twig' %}

{% block body %}
    <h1>{{ 'reject.reason'|trans }}</h1>

     <form action="{{ path('workshopOrder_reject', { 'id': workshopOrder.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <label for="rejection_reason">{# {{ 'reject.reason'|trans }} #}</label>
        <div class="col-xs-12 col-md-12 margined">
        	{{ form_widget(form.rejection_reason, { 'attr': {'class': 'form-control', 'rows': '4', 'required': 'required' } }) }}
        </div>
        {{ form_rest(form) }}
        <div class="col-xs-12 col-md-12 margined">
	        <button type="submit" class="btn btn-primary ">{{ 'btn.send'|trans }}</button>
	 	</div>
     </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/order/js/order.js') }}"></script>
{% endblock %}