{% extends '::layout.html.twig' %}
{% set locale = app.request.locale %}

{% block breadcrumbs %}
    <li><a href="{{ path("index", { '_locale': locale }) }}">{{ 'index'|trans }}</a></li>
    <li><a href="{{ path("shops") }}">{{ 'shops'|trans }}</a></li>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <h2>{{ 'shops'|trans }}{# total items count #} ({{ pagination.getTotalItemCount }})</h2>
            <ul>
                <li><a href="{{ path("shop") }}">{{ 'shop_new'|trans }}</a></li>
            </ul>
            <div>
                <table>
                    <thead><tr>
                    {# sorting of properties based on query components #}
                       <th{% if pagination.isSorted('s.id')       %} class="sorted"{% endif %}>{{knp_pagination_sortable(pagination,'id'|trans, 's.id') }}</th>
                       <th{% if pagination.isSorted('s.active')   %} class="sorted"{% endif %}>{{knp_pagination_sortable(pagination,'Active'|trans, 's.active') }}</th>
                       <th{% if pagination.isSorted('s.service')  %} class="sorted"{% endif %}>{{knp_pagination_sortable(pagination,'Service'|trans,'s.service')}}</th>
                       <th{% if pagination.isSorted('s.partner')  %} class="sorted"{% endif %}>{{knp_pagination_sortable(pagination,'Partner'|trans,'s.partner')}}</th>
                       <th{% if pagination.isSorted('s.name')     %} class="sorted"{% endif %}>{{knp_pagination_sortable(pagination,'Name'|trans,'s.name') }}</th>
                    </tr></thead>
                    <tbody>
                        {% for row in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ row.id }}</td>
                            <td>{{ row.active }}</td>
                            <td>{% for service in row.service %}

                                    {{ services[service]|trans }}

                                    {% if loop.index != row.service|length %},{% endif %} 

                                {% endfor %}
                            </td>
                            <td>{{ row.partner }}</td>
                            <td>{{ row.name }}</td>
                            <td>
                                <a href="{{ path("shop", { id: row.id })}}">Edit</a>
                                <a href="{{ path("shopDelete", { id: row.id })}}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div>
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
