{% extends '::layout.html.twig' %}
{% set locale = app.request.locale %}

{% block breadcrumbs %}
    <li><a href="{{ path("index", { '_locale': locale }) }}">{{ 'index'|trans }}</a></li>
    <li><a href="{{ path("shops") }}">{{ 'shops'|trans }}</a></li>
    <li><a href="{{ path("shop") }}">{{ 'shop_new'|trans }}</a></li>
{% endblock %}

{% block body %}
	<h2>{{ 'Shop'|trans }}</h2>

	<form action="{{form.vars.action}}" method="{{form.vars.method}}">

        {% if formE is defined %}{{ form_rest(formE) }}{% endif %}

		{{ form_rest(form) }}
        
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}