{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
        {# <li><a href="{{ path('ticketWorkshopList') }}">{{ 'menu.asign_user_to_ticket'|trans }}</a></li> #}
        <li class="active">{{ 'menu.asign_user_to_ticket'|trans }}</li>
    </ol>

    {% if ticket|length > 0  %}
    <table class="table table-hover" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'created_by'|trans }}</th>
                <th>{{ 'assigned'|trans }}</th>
                <th>{{ 'assign_to'|trans }}</th>
                <th>{{ 'action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <form action="{{ path("assignUserToTicket", { 'id':ticket.id }) }}" method="post" >
                <tr>
                    <td>{{ ticket.id          }}</td>
                    <td>{{ ticket.description }} </td>
                    <td>{{ ticket.createdBy   }}</td>
                    <td>{{ ticket.assignedTo  }}</td>
                    <td>
                        <select class="combobox btn-date" id="id_user" name="id_user">
                            <option value="null">{{ 'assign_not'|trans }}</option>
                            {% for user in users %}
                                {% if is_granted('ROLE_SUPER_ADMIN') or user.country == app.security.getToken().getUser().getCountry() %} 
                                    {% if ticket.assignedTo == user %}
                                        <option selected="selected" value={{ user.id }} >{{ user }}</option>
                                    {% else %}
                                        <option value={{ user.id }}>{{ user }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="hidden" name="id_ticket" value={{ ticket.id }}>
                        <button type="submit" class="btn btn-primary" id="submitAssingTickets"><img class="img_icon" src="{{ asset('bundles/util/images/icon/assign_.png') }}"> {{ 'assign_to'|trans }}</button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>

    {% else %}
        {{ 'any.ticket'|trans }}
    {% endif %}

{% endblock %}