{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li><a href="{{ path('ticketWorkshopList') }}">{% trans %} menu.asign_user_to_ticket {% endtrans %}</a></li>
        <li class="active">{% trans %} menu.asign_user_to_ticket {% endtrans %}</li>
    </ol>

    {% if ticket|length > 0  %}
    <table class="table table-hover" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans %} description {% endtrans %}</th>
                <th>{% trans %} created_by  {% endtrans %}</th>
                <th>{% trans %} assigned    {% endtrans %}</th>
                <th>{% trans %} assign_to   {% endtrans %}</th>
                <th>{% trans %} action      {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            <form action="{{ path("assignUserToTicket", { 'id_ticket':ticket.id }) }}" method="post" >
                <tr>
                    <td>{{ ticket.id          }}</td>
                    <td>{{ ticket.description }} </td>
                    <td>{{ ticket.createdBy   }}</td>
                    <td>{{ ticket.assignedTo  }}</td>
                    <td>
                        <select class="combobox btn-date" id="id_user" name="id_user">
                            <option value="null">{% trans %} assign_not {% endtrans %}</option>
                            {% for user in users %}
                                {% if ticket.assignedTo == user %}
                                    <option selected="selected" value={{ user.id }} >{{ user }}</option>
                                {% else %}
                                    <option value={{ user.id }}>{{ user }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="hidden" name="id_ticket" value={{ ticket.id }}>
                        <button type="submit" class="btn btn-primary" id="submitAssingTickets">{% trans %} assign_to {% endtrans %}</button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>

    {% else %}
        {% trans %} any.ticket {% endtrans %}
    {% endif %}

{% endblock %}