{% extends "TicketBundle:Default:ticket.html.twig" %}

{% block content %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('listTicket') }}">List of Tickets</a></li>
      <li class="active">#{{ ticket.id }}</li>
    </ol>

    {% if app.session.hasFlash('error') %}
        <p class="error">{{ app.session.getFlash('error') }}</p>
    {% endif %}

    <div class="tblContainer">

    	<form action="{{ path('closeTicket', {'id_ticket' : ticket.id}) }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">

            <input type="hidden" id="user" name="user" value="{{ app.security.getToken().getUser().getId() }}">

	    	<legend> Ticket Information </legend>
	    	<div class="col-xs-4 col-md-4 form-group">
		    	<label for='ticket_workshop'> Workshop </label>
		        <input type='text' class='form-control' id='ticket_workshop' disabled='disabled' value='{{ ticket.workshop }}'>
		    </div>
	    	<div class="col-xs-4 col-md-4 form-group">
		    	<label for='ticket_car'> Car </label>
		        <input type='text' class='form-control' id='ticket_car' disabled='disabled' value='{{ ticket.car }}'>
		    </div>
	    	<div class="col-xs-4 col-md-4 form-group">
		    	<label for='ticket_assigned'> Assigned To </label>
		        <input type='text' class='form-control' id='ticket_assigned' disabled='disabled' value='{{ ticket.assignedTo }}'>
		    </div>
	    	<div class="col-xs-12 col-md-12 margined">
		    	<label for='ticket_description'> Description </label>
		        <input type='text' class='form-control' id='ticket_description' disabled='disabled' value='{{ ticket.description }}'>
		    </div>
			<div class="col-xs-4 col-md-4 form-group ">
				<label for='close_ticket_form_importance'> Importance </label>
                {{ form_widget(form.importance, { 'attr': {'class': 'form-control', 'placeholder': "Insert Solution"} }) }}
            </div>
            <div class="col-xs-4 col-md-4 form-group">
                <label for="id_system">System</label>
                <select class="form-control" id="id_system"><option value="0">Select system..</option>
                    {% for system in systems %}
                        <option value="{{ system.id }}"
                        							{% if ticket.subsystem.system is defined
                        							   and system.id == ticket.subsystem.system.id %} selected {% endif %}
                    								> {{ system.name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-4 col-md-4 form-group">
				<label for='close_ticket_form_subsystem'> Subsystem </label>
                {{ form_widget(form.subsystem, { 'attr': {'class': 'form-control', 'placeholder': "Insert Solution"} }) }}
            </div>
            <div class="col-xs-12 col-md-12 margined">
				<legend>Solution</legend>
                {{ form_widget(form.solution, { 'attr': {'class': 'form-control', 'placeholder': "Insert Solution"} }) }}
            </div>

            <button class="btn btn-primary pull-right btn100" type="submit"> Submit </button>

            {{ form_rest(form) }}
        </form>

    {% include 'TicketBundle:Default:includes/system.js.twig' %}

    </div>
{% endblock %}