
    <legend>{% trans %} ticket_info {% endtrans %}</legend>

    <legend>{% trans %} description {% endtrans %}</legend>
        <p> {{ ticket.description }} </p>

        {% if ticket.assignedTo != "" %}    <p><b{% trans %} assign_to {% endtrans %}:</b>{{ ticket.assignedTo }} </p>{% endif %}

        {% include 'TicketBundle:Ticket:edit_ticket_info.html.twig' %}

        <div class="col-xs-12 col-md-12 margined">
            <legend>{% trans %} solution {% endtrans %}</legend>
            {{ form_widget(form.solution, { 'attr': {'class': 'form-control', 'placeholder': "solution" | trans } }) }}
        </div>

        {{ form_rest(form) }}

        <button class="btn btn-primary pull-right btn100" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_send.png') }}"> {% trans %} btn.close {% endtrans %} </button>
