{% extends "TicketBundle:Default:ticket.html.twig" %}

{% block content %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('listTicket') }}">List of Tickets</a></li>
      <li class="active"><a href="{{ path('showTicket', {'id_ticket': ticket.id}) }}">#{{ ticket.id }}</a> Edit</li>
    </ol>
    {% if app.session.hasFlash('error') %}
        <p class="error">{{ app.session.getFlash('error') }}</p>
    {% endif %}

    <div class="tblContainer">
        <div class="row">

            <div class="col-sm-8 contact-form">
                <form action="{{ path('editTicket', { 'id_ticket': ticket.id }) }}" id="contact" class="form" role="form" method="post">
                    <div class="row">

                        <div class="col-xs-12 col-md-12 form-group">
                            Description {{ form_widget(form.description, { 'attr': {'class': 'form-control' } }) }}
                        </div>

                        <div class="col-xs-6 col-md-6 form-group">
                            Workshop {{ form_widget(form.workshop, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                        <div class="col-xs-6 col-md-6 form-group">
                            Importance {{ form_widget(form.importance, { 'attr': {'class': 'form-control' } }) }}
                        </div>

                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="id_system">System</label>
                            <select class="form-control" id="id_system"><option value="0">Select system..</option>
                                {% for system in systems %}
                                    <option value="{{ system.id }}"> {{ system.name }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="new_ticket_form_subsystem">Subsystem</label>
                            {{ form_widget(form.subsystem, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                        {{ form_rest(form) }}

                        <legend>Car</legend>
                        {% include 'CarBundle:Default:car.html.twig'%}
                        {% include 'CarBundle:Default:edit_car.html.twig'%}
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-right" type="submit">Submit</button>
                            <a class="btn btn-primary pull-right" href="{{ path('showTicket', {'id_ticket': ticket.id}) }}">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% include 'TicketBundle:Default:includes/system.js.twig' %}

{% endblock %}