
    <legend class="grid-full w50"> 
        {{ 'edit.ticket.info'|trans }}
        {% if ticket.isPhoneCall == 1 %}
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/phone.png') }}" title="{{ 'ticket.call' | trans }}" alt="{{ 'ticket.call' | trans }}">
        {% else %}
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket.png') }}" title="{{ 'ticket' | trans }}" alt="{{ 'ticket' | trans }}">
        {%endif %}
    </legend>


    {% if id_version  is defined %}
        <input type="hidden" id="ticket_version" value="{{id_version }}">
    {% else %}
        <input type="hidden" id="ticket_version" value="0">
    {% endif %}
    {% if id_system  is defined %}
        <input type="hidden" id="ticket_system" value="{{id_system }}">
    {% else %}
        <input type="hidden" id="ticket_system" value="0">
    {% endif %}
    {% if id_subsystem  is defined %}
        <input type="hidden" id="ticket_subsystem" value="{{id_subsystem }}">
    {% else %}
        <input type="hidden" id="ticket_subsystem" value="0">
    {% endif %}

    {% if ( is_granted('ROLE_ASSESSOR')) %}
        <div class="grid-full w50 fr">
            <p class="fr">
                <b>{{'created_at'|trans}}:</b> {{ticket.createdat|date("d/m/Y (H:i)")}}
                {% if ticket.assignedTo != "" %}
                    <b>{{ 'ticket.assigned_to'|trans }}:</b> {{ ticket.assignedTo }} </a>
                {% endif %}
            </p>
        </div>
    {% endif %}

    <div class="grid-full w100">
        <div class="grid-33">
            <label for="new_ticket_form_importance">{{ 'importance'|trans }}</label>
            {{ form_widget(form.importance, { 'attr': {'class': 'form-control asr_form-control', 'required': 'required' } }) }}
        </div>

        <div class="grid-33">
            <label for="id_system">{{ 'system'|trans }}</label>
            <select class="form-control asr_form-control" id="id_system" {# multiple="multiple" #} required>
                 <option value="0">...</option>
                {% for system in systems %}
                    <option value="{{ system.id }}"
                        {% if ticket.subsystem != null and ticket.subsystem.system.id == system.id %} selected {% endif %}
                    > {{ system.name | trans }} </option>
                {% endfor %}
            </select>
        </div>

        <div class="grid-33">
            {% if ticket.subsystem is defined and ticket.subsystem.id is defined %}
                <input type="hidden" id="subsystem_id" value="{{ ticket.subsystem.id }}">
            {% endif %}
            <label for="new_ticket_form_subsystem">{{ 'subsystem'|trans }}</label>
            {{ form_widget(form.subsystem, { 'attr': {'class': 'form-control asr_form-control', 'required': 'required' } }) }}
        </div>
    </div>
