{% extends "::layout.html.twig" %}

{% block body %}

<!-- TABLA INCIDENCIAS -->

<div class="colIzq">
    <div class="widget stacked widget-table action-table">
    				
        <div class="widget-header">
                <i class="icon-th-list"></i>
                <h3>Historial Incidencias</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">

            <table class="table table-striped table-bordered" style="border-collapse: collapse;" >
                <thead>
                    <tr>
                        <th>{% trans %}Fecha{% endtrans %}</th>
                        <th>{% trans %}Taller{% endtrans %}</th>
                        <th>{% trans %}Descripcion{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.taller.nombre }}</td>
                        <td>{{ ticket.descripcion | length > 23 ?  ticket.descripcion | slice(0, 23) ~ '...' : ticket.descripcion }}</td>
                        
                    {# 
                        <td>{{ ticket.time | date("d-m-Y") }}</td>
                        <td>{{ ticket.vehicle.model.make.name }} {{ ticket.vehicle.model.name | slice(0, -12)}} {{ ticket.vehicle.name }}</td>
                    #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- /widget-content -->
    </div> <!-- /widget -->
</div>

<!-- TABLA NUEVA INCIDENCIA -->

<div class="colDer">
    <h3>Nueva incidencia</h3>
    
    <div class="container">
        <div class="row">

            <div class="col-sm-8 contact-form">
                <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
                        </div>
                    </div>
                    <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-right" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <input type="button" value="Abrir">
    <input type="button" value="Buscar">
</div>     
{% endblock %}