
    <legend>{% trans %} ticket.history.title {% endtrans %}</legend>
    <div class="col-xs-8 col-md-8 form-group">

        <input type="hidden" id="route"    value= {{ route    }}>
        <input type="hidden" id="num_rows" value= {{ num_rows }}>
        <input type="hidden" id="option"   value= {{ option   }}>
        <input type="hidden" id="href_tickets" value="{{ path(route, {'page': '1', 'num_rows': 'plc_rows', 'option': 'plc_option' }) }}">


        <select id="slct_historyTickets" class="form-control">

            {% if is_granted('ROLE_ADMIN') %}
                    <option value="all" selected="selected" >{% trans %} ticket.opt.all               {% endtrans %}</option>
                    <option value="opened"                  >{% trans %} ticket.opt.open              {% endtrans %}</option>
                    <option value="closed"                  >{% trans %} ticket.opt.closed            {% endtrans %}</option>
                    <option value="free"                    >{% trans %} ticket.opt.free              {% endtrans %}</option>
                    <option value="pending"                 >{% trans %} ticket.opt.pending           {% endtrans %}</option>
                    <option value="answered"                >{% trans %} ticket.opt.answered          {% endtrans %}</option>
                    <option value="inactive"                >{% trans %} ticket.opt.inactive          {% endtrans %}</option>
            {% else %}
                {% if is_granted('ROLE_ASSESSOR') %}
                    <option value="free" selected="selected">{% trans %} ticket.opt.free              {% endtrans %}</option>
                    <option value="all_mine"                >{% trans %} ticket.opt.all_mine          {% endtrans %}</option>
                    <option value="assessor_pending"        >{% trans %} ticket.opt.assessor.pending  {% endtrans %}</option>
                    <option value="assessor_answered"       >{% trans %} ticket.opt.assessor.answered {% endtrans %}</option>
                    <option value="assessor_closed"         >{% trans %} ticket.opt.assessor.closed   {% endtrans %}</option>
                    <option value="other_pending"           >{% trans %} ticket.opt.other.pending     {% endtrans %}</option>
                    <option value="other_answered"          >{% trans %} ticket.opt.other.answered    {% endtrans %}</option>
                    <option value="other_closed"            >{% trans %} ticket.opt.other.closed      {% endtrans %}</option>
                    <option value="all"                     >{% trans %} ticket.opt.all               {% endtrans %}</option>
                {% endif %}
            {% endif %}
        </select>
    </div>
    <div class="col-xs-4 col-md-4 form-group">

        <select id="slct_numRows" class="form-control">
            <option value="10" selected="selected" >10</option>
            <option value="20" >20</option>
            <option value="50" >50</option>
        </select>
    </div>

    <div class="table table-hover table-list-search">

        <div class="widget-content" >

        {% if tickets|length > 0 %}
            <table class="table table-hover table-list-search">

                <thead id="ticketHead">
                    {# {% include 'UtilBundle:Pagination:pagination_headers.html.twig' %} #}
                    <tr>
                        <th> #                                    </th>
                        <th>                                      </th>
                        <th>{% trans %} workshop    {% endtrans %}</th>
                        <th>{% trans %} car         {% endtrans %}</th>
                        <th>{% trans %} description {% endtrans %}</th>
                        <th></th>
                        <th>{% trans %} date        {% endtrans %}</th>
                    </tr>
                </thead>
                <tbody id="ticketBody">
                    {% for ticket in tickets %}
                        {% set ticket_info = '' %}
                        {% if ticket.assignedTo != null %} {% set ticket_info = 'ticket.assigned_to'|trans ~ ': ' ~ ticket.assignedTo ~ ' ' %}{% endif %}
                        <tr id="ticketRow" title="{{ticket_info}}">
                            <td id="id_ticket">{{ ticket.id        }}</td>
                            {% if ticket.status == 'open' %}
                                {% if ticket.assignedTo == null %}
                                    <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/flag_green.png') }}" title="{{'ticket_assign_not'|trans }}" alt="{{ ticket.status | trans }}"></td>
                                {% else %}
                                    <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/flag_blue.png') }}" title="{{'ticket_assigned'|trans}}" alt="{{ ticket.status | trans }}"></td>
                                {% endif %}
                            {% elseif ticket.status == 'closed' %}
                            <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/flag_red.png') }}" title="{{ ticket.status | trans }}" alt="{{ ticket.status | trans }}"></td>
                            {% endif %}
                            <td>{{ ticket.workshop.name|length > 15 ? ticket.workshop.name|slice(0, 15) ~ '...' : ticket.workshop.name  }}</td>
                            {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model %}
                            <td>{{ car|length > 15 ? car|slice(0, 15) ~ '...' : car  }}</td>
                            <td>{{ ticket.description|length > 25 ? ticket.description|slice(0, 25) ~ '...' : ticket.description  }}</td>
                            <td><a href="{{ path('showTicket', { 'id': ticket.id }) }}" title="{% trans %} ticket.show {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_show.png') }}"></a></td>
                            <td>{{ ticket.createdAt | date("d/m/y")}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'UtilBundle:Pagination:tickets_history_pagination.html.twig' %}

        {% else %}
            <legend class="padded" align="center">{% trans %} No hay tickets de este tipo {% endtrans %}</legend>
        {% endif %}

        </div>
    </div>

