
    <legend>{% trans %} ticket.history.title {% endtrans %}</legend>
    <div class="col-xs-3 col-md-3 form-group">

        <input type="hidden" id="route"    value= {{ route    }}>
        <input type="hidden" id="country"  value= {{ country  }}>
        <input type="hidden" id="num_rows" value= {{ num_rows }}>
        <input type="hidden" id="option"   value= {{ option   }}>
        <input type="hidden" id="href_tickets" value="{{ path(route, {'page': '1', 'country': 'plc_country', 'catserv': 'plc_catserv', 'num_rows': 'plc_rows', 'option': 'plc_option' }) }}">


        <label>{% trans %} filter_by_type {% endtrans %}</label>
        <select id="slct_historyTickets" class="form-control">

            {% if is_granted('ROLE_ADMIN') %}
                    <option value="all" selected="selected" >{% trans %} ticket.opt.all               {% endtrans %}</option>
                    <option value="opened"                  >{% trans %} ticket.opt.open              {% endtrans %}</option>
                    <option value="closed"                  >{% trans %} ticket.opt.closed            {% endtrans %}</option>
                    <option value="free"                    >{% trans %} ticket.opt.free              {% endtrans %}</option>
                    <option value="pending"                 >{% trans %} ticket.opt.pending           {% endtrans %}</option>
                    <option value="answered"                >{% trans %} ticket.opt.answered          {% endtrans %}</option>
                    <option value="inactive"                >{% trans %} ticket.opt.inactive          {% endtrans %}</option>
            {% else %}
                {% if is_granted('ROLE_ASSESSOR') %}
                    <option value="free" selected="selected">{% trans %} ticket.opt.free              {% endtrans %}</option>
                    <option value="all_mine"                >{% trans %} ticket.opt.all_mine          {% endtrans %}</option>
                    <option value="assessor_pending"        >{% trans %} ticket.opt.assessor.pending  {% endtrans %}</option>
                    <option value="assessor_answered"       >{% trans %} ticket.opt.assessor.answered {% endtrans %}</option>
                    <option value="assessor_closed"         >{% trans %} ticket.opt.assessor.closed   {% endtrans %}</option>
                    <option value="other_pending"           >{% trans %} ticket.opt.other.pending     {% endtrans %}</option>
                    <option value="other_answered"          >{% trans %} ticket.opt.other.answered    {% endtrans %}</option>
                    <option value="other_closed"            >{% trans %} ticket.opt.other.closed      {% endtrans %}</option>
                    <option value="all"                     >{% trans %} ticket.opt.all               {% endtrans %}</option>
                {% endif %}
            {% endif %}
        </select>
    </div>
    <div class="col-xs-3 col-md-3 form-group">
        <label>{% trans %} category_service {% endtrans %}</label>
        <select id="flt_catserv" class='form-control' {% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}disabled="disabled"{% endif %}>
                <option value="0">{% trans %} category_service {% endtrans %}</option>
            {% for _catserv in catservices %}
                <option value="{{ _catserv.id }}" {% if catserv.id is defined and catserv.id == _catserv.id %} selected {% endif %}>{{ _catserv }}</option>
            {% endfor %}
    </select></div>
    <div class="col-xs-3 col-md-3 form-group">
        <label>{% trans %} filter_by_rows {% endtrans %}</label>
        <select id="slct_numRows" class="form-control">
            <option value="10" selected="selected" >10</option>
            <option value="20" >20</option>
            <option value="50" >50</option>
        </select>
    </div>
    <div class="col-xs-3 col-md-3 form-group">
        <label>{% trans %} filter_by_country {% endtrans %}</label>
        <select id="flt_country" class='form-control'>
                <option value="none">{% trans %} country {% endtrans %}</option>
            {% for _country in countries %}
                <option value="{{ _country.id }}" {% if country == _country.id %} selected {% endif %}>{{ _country | trans }}</option>
            {% endfor %}
    </select></div>

    <div class="table table-hover table-list-search">

        <div class="widget-content" ><br>

        {% if tickets|length > 0 %}
            <table class="table table-hover table-list-search">

                <thead id="ticketHead">
                    {# {% include 'UtilBundle:Pagination:pagination_headers.html.twig' %} #}
                    <tr>
                        <th> #                                    </th>
                        <th>                                      </th>
                        <th>{% trans %} workshop    {% endtrans %}</th>
                        <th>{% trans %} car         {% endtrans %}</th>
                        <th>{% trans %} description {% endtrans %}</th>
                        <th></th>
                        <th>{% trans %} date        {% endtrans %}</th>
                    </tr>
                </thead>
                <tbody id="ticketBody">
                    {% for ticket in tickets %}
                        {% set ticket_info = '' %}
                        {% if ticket.assignedTo != null and is_granted('ROLE_ASSESSOR') %} {% set ticket_info = 'ticket.assigned_to'|trans ~ ': ' ~ ticket.assignedTo ~ ' ' %}{% endif %}
                        <tr id="ticketRow" title="{{ticket_info}}">
                            <td id="id_ticket">{{ ticket.id        }}</td>
                            {% if t_inactive[ticket.id] is defined %}
                                <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/icon_inactive.png') }}" title="{{'ticket.inactive'|trans }}" alt="{{ 'ticket.inactive' | trans }}"></td>
                            {% else %}
                                {% if ticket.status == 'open' %}
                                    {% if ticket.assignedTo == null %}
                                        <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/icon_pending.png') }}" title="{{'ticket_assign_not'|trans }}" alt="{{ ticket.status | trans }}"></td>
                                    {% else %}
                                        {% if ticket.pending == 1 %}
                                            {% if is_granted('ROLE_ASSESSOR') %}
                                                <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/icon_assigned.png') }}" title="{{'ticket.opt.pending'|trans }}" alt="{{ ticket.status | trans }}"></td>
                                            {% else %}
                                                <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/icon_answered.png') }}" title="{{'ticket.opt.answered'|trans }}" alt="{{ ticket.status | trans }}"></td>
                                            {% endif %}
                                        {% else %}
                                            {% if is_granted('ROLE_ASSESSOR') %}
                                                <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/icon_answered.png') }}" title="{{'ticket.opt.answered'|trans }}" alt="{{ ticket.status | trans }}"></td>
                                            {% else %}
                                                <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/icon_assigned.png') }}" title="{{'ticket.opt.pending'|trans }}" alt="{{ ticket.status | trans }}"></td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% elseif ticket.status == 'closed' %}
                                <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/icon_closed.png') }}" title="{{ ticket.status | trans }}" alt="{{ ticket.status | trans }}"></td>
                                {% endif %}
                            {% endif %}
                            <td>{{ ticket.workshop.name|length > 15 ? ticket.workshop.name|slice(0, 15) ~ '...' : ticket.workshop.name  }}</td>

                        {% if ticket.car.model.id  is defined and ticket.car.version.id  is defined %}
                            {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model ~ ' ' ~ ticket.car.version %}
                        {% elseif ticket.car.model.id  is defined %}
                            {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model %}
                        {% else %}
                            {% set car = ticket.car.brand %}
                        {% endif %}
                            <td>{{ car|length > 15 ? car|slice(0, 15) ~ '...' : car  }}</td>
                            <td>{{ ticket.description|length > 25 ? ticket.description|slice(0, 25) ~ '...' : ticket.description  }}</td>
                            <td>
                                <a href="{{ path('showTicket', { 'id': ticket.id }) }}" target="_blank" title="{% trans %} ticket.show {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_show.png') }}"></a>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('deleteTicket', { 'id': ticket.id }) }}" onClick="javascript: return confirm('{% trans %}ticket.delete.confirm{% endtrans %}');" title="{% trans %} ticket.delete {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/bin.png') }}"></a>
                                {% endif %}
                            </td>
                            <td>{{ ticket.createdAt | date("d/m/y")}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if disablePag is not defined %}
                {% include 'UtilBundle:Pagination:tickets_history_pagination.html.twig' %}
            {% endif %}

        {% else %}
            <legend class="padded" align="center">{% trans %} error404.ticket {% endtrans %}</legend>
        {% endif %}

        </div>
    </div>

