
    <legend>{{ 'ticket.history.title'|trans }}</legend>
    <div class="col-xs-3 col-md-3 form-group">

        <input type="hidden" id="route"    value= {{ route    }}>
        <input type="hidden" id="country"  value= {{ country  }}>
        <input type="hidden" id="num_rows" value= {{ num_rows }}>
        <input type="hidden" id="option"   value= {{ option   }}>
        <input type="hidden" id="href_tickets" value="{{ path(route, {'page': '1', 'country': 'plc_country', 'catserv': 'plc_catserv', 'num_rows': 'plc_rows', 'option': 'plc_option' }) }}">


        <label>{{ 'filter_by_type'|trans }}</label>
        <select id="slct_historyTickets" class="form-control">

            {% if is_granted('ROLE_ADMIN') %}
                    <option value="all" selected="selected" >{{ 'ticket.opt.all'|trans }}</option>
                    <option value="opened"                  >{{ 'ticket.opt.open'|trans }}</option>
                    <option value="closed"                  >{{ 'ticket.opt.closed'|trans }}</option>
                    <option value="free"                    >{{ 'ticket.opt.free'|trans }}</option>
                    <option value="pending"                 >{{ 'ticket.opt.pending'|trans }}</option>
                    <option value="answered"                >{{ 'ticket.opt.answered'|trans }}</option>
                    <option value="inactive"                >{{ 'ticket.inactive'|trans }}</option>
                    <option value="expirated"               >{{ 'ticket.expirated'|trans }}</option>
            {% else %}
                {% if is_granted('ROLE_ASSESSOR') %}
                    <option value="free" selected="selected">{{ 'ticket.opt.free'|trans }}</option>
                    <option value="all_mine"                >{{ 'ticket.opt.all_mine'|trans }}</option>
                    <option value="assessor_pending"        >{{ 'ticket.opt.assessor.pending'|trans }}</option>
                    <option value="assessor_answered"       >{{ 'ticket.opt.assessor.answered'|trans }}</option>
                    <option value="assessor_closed"         >{{ 'ticket.opt.assessor.closed'|trans }}</option>
                    <option value="other_pending"           >{{ 'ticket.opt.other.pending'|trans }}</option>
                    <option value="other_answered"          >{{ 'ticket.opt.other.answered'|trans }}</option>
                    <option value="other_closed"            >{{ 'ticket.opt.other.closed'|trans }}</option>
                    <option value="inactive"                >{{ 'ticket.inactive'|trans }}</option>
                    <option value="expirated"               >{{ 'ticket.expirated'|trans }}</option>
                    <option value="all"                     >{{ 'ticket.opt.all'|trans }}</option>
                {% endif %}
            {% endif %}
        </select>
    </div>
    <div class="col-xs-3 col-md-3 form-group">
        <label>{{ 'category_service'|trans }}</label>
        <select id="flt_catserv" class='form-control' {% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}disabled="disabled"{% endif %}>
                <option value="0">{{ 'category_service'|trans }}</option>
            {% for _catserv in catservices %}
                <option value="{{ _catserv.id }}" {% if catserv.id is defined and catserv.id == _catserv.id %} selected {% endif %}>{{ _catserv }}</option>
            {% endfor %}
    </select></div>
    <div class="col-xs-3 col-md-3 form-group">
        <label>{{ 'filter_by_rows'|trans }}</label>
        <select id="slct_numRows" class="form-control">
            <option value="10" selected="selected" >10</option>
            <option value="20" >20</option>
            <option value="50" >50</option>
        </select>
    </div>
    <div class="col-xs-3 col-md-3 form-group">
        <label>{{ 'filter_by_country'|trans }}</label>
        <select id="flt_country" class='form-control'>
                <option value="none">{{ 'country'|trans }}</option>
            {% for _country in countries %}
                <option value="{{ _country.id }}" {% if country == _country.id %} selected {% endif %}>{{ _country | trans }}</option>
            {% endfor %}
    </select></div>

    <div class="table table-hover table-list-search">

        <div class="widget-content" ><br>

        {% if tickets|length > 0 %}
            <table class="table table-hover table-list-search">

                <thead id="ticketHead">
                    {# {% include 'UtilBundle:Pagination:pagination_headers.html.twig' %} #}
                    <tr>
                        <th> #                                    </th>
                        <th>                                      </th>
                        <th>{{ 'workshop'|trans }}</th>
                        <th>{{ 'car'|trans }}</th>
                        <th>{{ 'description'|trans }}</th>
                        <th></th>
                        <th>{{ 'date'|trans }}</th>
                    </tr>
                </thead>
                <tbody id="ticketBody">
                    {% for ticket in tickets %}
                        {% set ticket_info = '' %}
                        {% if ticket.assignedTo != null and is_granted('ROLE_ASSESSOR') %} {% set ticket_info = 'ticket.assigned_to'|trans ~ ': ' ~ ticket.assignedTo ~ ' ' %}{% endif %}
                        <tr id="ticketRow" title="{{ticket_info}}">
                            <td id="id_ticket">{{ ticket.id        }}</td>
                            
                            <td style="width: 60px">
                                {% include 'TicketBundle:Includes:_ticket_status_icon.html.twig' %}

                                {% if ticket.isPhoneCall == 1 %}
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/phone.png') }}" title="{{ 'ticket.call' | trans }}" alt="{{ 'ticket.call' | trans }}">
                                {% else %}
                                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket.png') }}" title="{{ 'ticket' | trans }}" alt="{{ 'ticket' | trans }}">
                                {% endif %}
                            </td>
                            <td>{{ ticket.workshop.name|length > 15 ? ticket.workshop.name|slice(0, 15) ~ '...' : ticket.workshop.name  }}</td>

                        {% if ticket.car is defined and ticket.car.model.id  is defined and ticket.car.version.id  is defined %}
                            {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model ~ ' ' ~ ticket.car.version %}
                        {% elseif ticket.car.model.id  is defined %}
                            {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model %}
                        {% else %}
                            {% set car = ticket.car.brand %}
                        {% endif %}
                            <td>{{ car|length > 15 ? car|slice(0, 15) ~ '...' : car  }}</td>
                            <td>{{ ticket.description|length > 25 ? ticket.description|slice(0, 25) ~ '...' : ticket.description  }}</td>
                            <td>
                                <a href="{{ path('showTicket', { 'id': ticket.id }) }}" target="_blank" title="{{ 'ticket.show'|trans }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_show.png') }}"></a>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('deleteTicket', { 'id': ticket.id }) }}" onClick="javascript: return confirm('{{ 'ticket.delete.confirm'|trans }}');" title="{{ 'ticket.delete'|trans }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/bin.png') }}"></a>
                                {% endif %}
                            </td>
                            <td>{{ ticket.createdAt | date("d/m/y")}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if disablePag is not defined %}
                {% include 'UtilBundle:Pagination:tickets_history_pagination.html.twig' %}
            {% endif %}

        {% else %}
            <legend class="padded" align="center">{{ 'error404.ticket'|trans }}</legend>
        {% endif %}

        </div>
    </div>

