
    <legend class="grid w85" style="clear: both;"> {{ 'ticket.title.from_workshop'|trans }}</legend>

        <input type="hidden" id='slct_historyTickets' value={{ option }}>

        {% include 'TicketBundle:Includes:_filters_workshop_ticket.html.twig' %}

        <table id="tbl_tickets_from_workshop" class="table table-hover table-list-search">
            <thead>
                <tr>
                    <th> #                                           </th>
                    <th>{{ 'status'|trans }}</th>

                    {% if is_granted('ROLE_ASSESSOR') %} <th>{{ 'ticket.assigned_to'|trans }}</th> {% endif %}

                    <th>{{ 'car'|trans }}</th>
                    <th>{{ 'description'|trans }}</th>
                    <th></th>
                    <th>{{ 'date'|trans }}</th>
                </tr>
            </thead>
            <tbody id="ticketBody">
                {% for ticket in tickets %}
                    {% set ticket_info = '' %}

                    <tr id="ticketRow" title="{{ticket_info}}">
                        <td id="id_ticket">{{ ticket.id         }}</td>

                        <td style="width: 60px">
                            {% include 'TicketBundle:Includes:_ticket_status_icon.html.twig' %}

                            {% if ticket.isPhoneCall == 1 %}
                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/phone.png') }}" title="{{ 'ticket.call' | trans }}" alt="{{ 'ticket.call' | trans }}">
                            {% else %}
                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket.png') }}" title="{{ 'ticket' | trans }}" alt="{{ 'ticket' | trans }}">
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_ASSESSOR') %}

                            <td title="{{ticket.assignedTo}}" >   {{ ticket.assignedTo|length > 15 ? ticket.assignedTo|slice(0, 15) ~ '...' : ticket.assignedTo  }}</td>

                            {% set len = 25 %}
                        {% else %}
                            {% set len = 100 %}
                        {% endif %}

                        {% if ticket.car.model.id  is defined and ticket.car.version.id  is defined %}
                            {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model ~ ' ' ~ ticket.car.version.name %}
                        {% elseif ticket.car.model.id  is defined %}
                            {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model %}
                        {% else %}
                            {% set car = ticket.car.brand %}
                        {% endif %}
                        <td title="{{car}}">{{ car|length > 30 ? car|slice(0, 30) ~ '...' : car  }}</td>

                        <td title="{{ticket.description}}">   {{ ticket.description|length > len ? ticket.description|slice(0, len) ~ '...' : ticket.description  }}</td>

                        <td>
                            <a href="{{ path('showTicket', { 'id': ticket.id }) }}" title="{{ 'ticket.show'|trans }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_show.png') }}" {% if is_granted('ROLE_ASSESSOR') %}target="_blank"{% endif %}></a>

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('deleteTicket', { 'id': ticket.id }) }}" onClick="javascript: return confirm('{{ 'ticket.delete.confirm'|trans }}');" title="{{ 'ticket.delete'|trans }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/bin.png') }}"></a>
                            {% endif %}
                        </td>

                        <td>{{ ticket.createdAt | date("d/m/y") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'UtilBundle:Pagination:tickets_assessor_pagination.html.twig' %}

        <script src="{{ asset('bundles/util/js/pagination_tickets_history.js') }}"></script>