
    <legend> {% trans %} ticket.title.from_workshop {% endtrans %}</legend>

        <input type="hidden" id='slct_historyTickets' value={{ option }}>

        {# Si encuentra un ticket #}
        <table id="tbl_tickets_from_workshop" class="table table-hover table-list-search">
            <thead>
                <tr>
                    <th> #                                           </th>
                    <th>{% trans %} status             {% endtrans %}</th>

                    {% if is_granted('ROLE_ASSESSOR') %} <th>{% trans %} ticket.assigned_to {% endtrans %}</th> {% endif %}

                    <th>{% trans %} car                {% endtrans %}</th>
                    <th>{% trans %} description        {% endtrans %}</th>
                    <th></th>
                    <th>{% trans %} date               {% endtrans %}</th>
                </tr>
            </thead>
            <tbody id="ticketBody">
                {% for ticket in tickets %}
                    {% set ticket_info = '' %}
                    {#{% if ticket.assignedTo != null %} {% set ticket_info = 'ticket.assigned_to'|trans ~ ': ' ~ ticket.assignedTo ~ ' ' %}{% endif %}#}
                    <tr id="ticketRow" title="{{ticket_info}}">
                        <td id="id_ticket">{{ ticket.id         }}</td>

                        {% if ticket.status == 'open' %}
                                {% if ticket.assignedTo == null %}
                                    <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/flag_green.png') }}" title="{{'ticket_assign_not'|trans }}" alt="{{ ticket.status | trans }}"></td>
                                {% else %}
                                    <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/flag_blue.png') }}" title="{{'ticket_assigned'|trans}}" alt="{{ ticket.status | trans }}"></td>
                                {% endif %}
                            {% elseif ticket.status == 'closed' %}
                            <td><img class="img_icon" src="{{ asset('bundles/util/images/icon/flag_red.png') }}" title="{{ ticket.status | trans }}" alt="{{ ticket.status | trans }}"></td>
                            {% endif %}

                        {% if is_granted('ROLE_ASSESSOR') %}

                            <td title="{{ticket.assignedTo}}" >   {{ ticket.assignedTo|length > 15 ? ticket.assignedTo|slice(0, 15) ~ '...' : ticket.assignedTo  }}</td>

                            {% set len = 25 %}
                        {% else %}
                            {% set len = 40 %}
                        {% endif %}

                        {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model %}
                        <td title="{{car}}"               >   {{ car|length > 15 ? car|slice(0, 15) ~ '...' : car  }}</td>

                        <td title="{{ticket.description}}">   {{ ticket.description|length > len ? ticket.description|slice(0, len) ~ '...' : ticket.description  }}</td>

                        <td><a href="{{ path('showTicket', { 'id': ticket.id }) }}" title="{% trans %} ticket.show {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_show.png') }}"></a></td>
                        <td>{{ ticket.createdAt | date("d/m/y") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'UtilBundle:Pagination:tickets_history_pagination.html.twig' %}
        <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>