

        <input type="hidden" id='slct_historyTickets' value={{ option }}>

        {% if tickets|length != 0 %}
        {# Si encuentra un ticket #}
        <table id="tbl_tickets_from_workshop" class="table table-hover table-list-search">
            <thead>
                <tr>
                    <th> # </th>
                    <th></th>
                    {% if is_granted('ROLE_ASSESSOR') %}
                        <th>{{ 'workshop'|trans }}</th>
                    {% endif %}
                    <th>{{ 'car'|trans }}</th>
                    <th>{{ 'description'|trans }}</th>
                    <th></th>
                    <th>{{ 'date'|trans }}</th>
                </tr>
            </thead>
            <tbody id="ticketBody">
                {% for ticket in tickets %}
                    {% set ticket_info = '' %}
                    {% set workshop = ticket.workshop %}

                    {#{% if ticket.assignedTo != null %} {% set ticket_info = 'ticket.assigned_to'|trans ~ ': ' ~ ticket.assignedTo ~ ' ' %}{% endif %}#}
                    <tr class="ticketRow" title="{{ticket_info}}">

                        <input type="hidden" class="workshop_code_partner"  value="{{workshop.codePartner }}">
                        <input type="hidden" class="workshop_code_workshop" value="{{workshop.codeWorkshop }}">
                        <input type="hidden" class="workshop_name"          value="{{workshop.name }}">
                        <input type="hidden" class="workshop_tel"           value="{{workshop.PhoneNumber1 }}">
                        <input type="hidden" class="workshop_mail"          value="{{workshop.Email1 }}">
                        <input type="hidden" class="workshop_contact"       value="{{workshop.contact }}">

                        <input type="hidden" class="ticket_id"         value="{{ticket.id }}">
                        <input type="hidden" class="ticket_id_brand"   value="{{ticket.car.brand.id }}">
                        <input type="hidden" class="ticket_brand"      value="{{ticket.car.brand.name }}">

                        {% if ticket.car.model.id  is defined %}
                            <input type="hidden" class="ticket_id_model" value="{{ticket.car.model.id }}">
                            <input type="hidden" class="ticket_model"    value="{{ticket.car.model.name }}">
                        {% else %}
                            <input type="hidden" class="ticket_id_model" value="0">
                            <input type="hidden" class="ticket_model"    value=" ">
                        {% endif %}

                        {% if ticket.car.version.id  is defined %}
                            <input type="hidden" class="ticket_id_version" value="{{ticket.car.version.id }}">
                            <input type="hidden" class="ticket_version"    value="{{ticket.car.version.name }}">
                        {% else %}
                            <input type="hidden" class="ticket_id_version" value="0">
                            <input type="hidden" class="ticket_version"    value="">
                        {% endif %}

                        {% if ticket.car.year is defined %}
                            <input type="hidden" class="ticket_year" value="{{ticket.car.year}}">
                        {% else %}
                            <input type="hidden" class="ticket_year" value="0">
                        {% endif %}

                        {% if ticket.subsystem is defined and ticket.subsystem.system is defined and ticket.subsystem.system.id is defined %}
                            <input type="hidden" class="ticket_id_system" value="{{ticket.subsystem.system.id }}">
                            <input type="hidden" class="ticket_system"    value="{{ticket.subsystem.system.name }}">
                        {% else %}
                            <input type="hidden" class="ticket_id_system" value="0">
                            <input type="hidden" class="ticket_system"    value=" ">
                        {% endif %}

                        {% if ticket.subsystem is defined and ticket.subsystem.id is defined %}
                            <input type="hidden" class="ticket_id_subsystem" value="{{ticket.subsystem.id }}">
                            <input type="hidden" class="ticket_subsystem"    value="{{ticket.subsystem.name|trans }}">
                        {% else %}
                            <input type="hidden" class="ticket_id_subsystem" value="0">
                            <input type="hidden" class="ticket_subsystem"    value=" ">
                        {% endif %}

                        {% if ticket.importance.id is defined %}
                            <input type="hidden" class="ticket_id_importance" value="{{ticket.importance.id }}">
                            <input type="hidden" class="ticket_importance"    value="{{ticket.importance.importance }}">
                        {% else %}
                            <input type="hidden" class="ticket_id_importance" value="0">
                            <input type="hidden" class="ticket_importance"    value=" ">
                        {% endif %}

                        <input type="hidden" class="ticket_year"         value="{{ticket.car.year }}">
                        <input type="hidden" class="ticket_motor"        value="{{ticket.car.motor }}">
                        <input type="hidden" class="ticket_kw"           value="{{ticket.car.kw }}">
                        <input type="hidden" class="ticket_displacement" value="{{ticket.car.displacement }}">
                        <input type="hidden" class="ticket_vin"          value="{{ticket.car.vin }}">
                        <input type="hidden" class="ticket_plateNumber"  value="{{ticket.car.plateNumber }}">
                        <input type="hidden" class="ticket_date"         value="{{ticket.modifiedAt|date("d/m/Y") }}">
                        <input type="hidden" class="ticket_description"  value="{{ticket.description }}">
                        <input type="hidden" class="ticket_solution"     value="{{ticket.solution }}">

                        <td id="id_ticket">{{ ticket.id         }}</td>

                        <td style="width: 60px">
                            {% include 'TicketBundle:Includes:_ticket_status_icon.html.twig' %}

                            {% if ticket.isPhoneCall == 1 %}
                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/phone.png') }}" title="{{ 'ticket.call' | trans }}" alt="{{ 'ticket.call' | trans }}">
                            {% else %}
                                <img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket.png') }}" title="{{ 'ticket' | trans }}" alt="{{ 'ticket' | trans }}">
                            {% endif %}
                        </td>
                        
                        {% if is_granted('ROLE_ASSESSOR') %}

                            <td title="{{workshop.codePartner}} - {{workshop.codeWorkshop}} {{workshop.name}}" >   {{workshop.codePartner}} - {{workshop.codeWorkshop}}
                            {{ workshop.name|length > 15 ? workshop.name|slice(0, 15) ~ '...' : workshop.name  }}
                            </td>

                            {% set len = 30 %}
                        {% else %}
                            {% set len = 60 %}
                        {% endif %}

                        {% if ticket.car.version.name is defined %}
                            {% if ticket.car.motor is defined %}
                                {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model ~ ' ' ~ ticket.car.version.name ~ ' [' ~ ticket.car.motor ~ ']' %}
                            {% else %}
                                {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model ~ ' ' ~ ticket.car.version.name %}
                            {% endif %}
                        {% else %}
                            {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model %}
                        {% endif %}
                        <td title="{{car}}"               >   {{ car|length > 20 ? car|slice(0, 20) ~ '...' : car  }}</td>

                        <td title="{{ticket.description}}">   {{ ticket.description|length > len ? ticket.description|slice(0, len) ~ '...' : ticket.description  }}</td>

                        <td>
                            <a href="{{ path('showTicket', { 'id': ticket.id }) }}" target="_blank" title="{{ 'ticket.show'|trans }}"><img class="open img_icon" src="{{ asset('bundles/util/images/icon/email_open.png') }}"></a></td>

                        <td>{{ ticket.createdAt | date("d/m/y") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="alert padded" align="center">{{ 'error404.ticket'|trans }}</p>
        {% endif %}
        
        {% include 'UtilBundle:Pagination:tickets_assessor_pagination.html.twig' %}
       

        <script src="{{ asset('bundles/util/js/pagination_tickets_history.js') }}"></script>