{% extends "TicketBundle:Default:ticket.html.twig" %}

{% block content %}

    <h3>Tickets</h3>
    
    <div class="tblContainer">
        
        <div>
            <p> <a class="btn btn-primary " href="{{ path('newTicket') }}">Nuevo Ticket</a>
        </div>
    
        {# Busca un ticket #}
        
        <form action="{{ path('listTicket') }}" id="contact" class="form" role="form" method="post">
            <div class="col-xs-6 col-md-6 form-group">    
                Buscar por ID: <input type='text' id='id_ticket' name='id_ticket'>
                <button class="btn btn-primary pull-right" type="submit">Submit</button>
            </div>
        </form>
        
        {% for ticket in tickets %}
        {# Comprueba que el usuario pueda ver ese ticket #}
        {% if (ticket.owner.id == app.security.getToken().getUser().getId()) or is_granted('ROLE_ADMIN') %}
        
            {# Comprueba que el ultimo post no sea del usuario #}
            {% if lastPosts[ticket.id].owner.id != app.security.getToken().getUser().getId() %}
        
                    <p>Ticket #{{ ticket.id }} pendiente de respuesta..
                        <a href="{{ path('showTicket', { 'id_ticket' : ticket.id }) }}">Ver</a>
                    </p>
                {% endif %}   
            {% endif %}
        {% endfor %}
        
        {# Si encuentra un ticket #}
        <table class="table table-striped table-bordered">
            <tr><td>
                {% if ticket is not null%}
                    {% if ticket.id is not null %}
                        {% if (ticket.owner.id == app.security.getToken().getUser().getId()) or is_granted('ROLE_ADMIN') %}

                            <p>Ticket #{{ ticket.id }} ( {{ ticket.createdAt | date("d-m-Y") }}) -> {{ ticket.status }}
                                    <a class="btn btn-primary pull-right"  href="{{ path('showTicket', { 'id_ticket' : ticket.id }) }}">Ver</a> </p> 

                        {% else %}
                            <p>No tienes acceso a este ticket</p>
                        {% endif %}
                    {% endif %}                    
                {% else %}
                    <p>El Ticket que has buscado no existe</p> 
                {% endif %}
            </td></tr>
        </table>
    </div>    
{% endblock %}