{% extends "TicketBundle:Default:ticket.html.twig" %}

{% block content %}

    <h3>Nuevo Ticket</h3>
    
    <div class="container">
        <div class="row">

            <div class="col-sm-8 contact-form">
                <form action="{{ path('newTicket') }}" id="contact" class="form" role="form" method="post">
                    <div class="row">
                        
                        <input type="hidden" id="user" name="user" value="{{ app.security.getToken().getUser().getId() }}">
                        
                        <div class="col-xs-6 col-md-6 form-group">    
                            Titulo {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        
                        <div class="col-xs-6 col-md-6 form-group">    
                            Importancia {{ form_widget(form.importance, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        
                        <div class="col-xs-6 col-md-6 form-group">    
                            Coche 
                            <select class="form-control" id="user" name="brand"><option value=0>Selecciona Marca..</option>
                                
                                {% for brand in brands %} <option value="{{ brand.id }}"> {{ brand }} </option>  {% endfor %}
                            </select>
                            <select class="form-control" id="user" name="model"><option value=0>Selecciona Modelo..</option>
                                
                                {% for model in models %} <option value="{{ model.id }}"> {{ model }} </option>  {% endfor %}
                            </select>
                            <select class="form-control" id="user" name="version"><option value=0>Selecciona Version..</option>
                                
                                {% for version in versions %} <option value="{{ version.id }}"> {{ version }} </option>  {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">    
                             Detalles Coche
                             <input type="text" class='form-control' id='year' name='year'>
                             <input type="text" class='form-control' id='vin' name='vin'>
                             <input type="text" class='form-control' id='plateNumber' name='plateNumber'>
                        </div>
                        
                         <div class="form-group">    
                             Desc <textarea class='form-control' id='message' name='message' rows=5></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-right" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
{% endblock %}