{% extends "TicketBundle:Default:ticket.html.twig" %}

{% block content %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('listTicket') }}">List of Tickets</a></li>
      <li class="active">New ticket</li>
    </ol>

    {% if app.session.hasFlash('error') %}
        <p class="error">{{ app.session.getFlash('error') }}</p>
    {% endif %}

    <div class="container">
        <div class="row">

            <div class="col-sm-8 contact-form">
                <form action="{{ path('newTicket') }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">
                    <div class="row">

                        <legend>Ticket Data</legend>

                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="new_ticket_form_title">Title</label>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Introduce Titulo"} }) }}
                        </div>

                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="new_ticket_form_importance">Importance</label>
                            {{ form_widget(form.importance, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                        <legend>Car</legend>

                        {% include 'CarBundle:Default:car.html.twig'%}

                        <div class="form-group">
                            <label for="new_post_form_message">Message</label>
                             {{ form_widget(formP.message, { 'attr': {'class': 'form-control', 'rows': '5'} }) }}
                       </div>

                            {{ form_widget(formD.file, { 'attr': {'class': 'ac-message'} })  }}
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}