
    <legend>{% trans %} info {% endtrans %}
        {% if ticket.blockedBy == app.security.getToken().getUser() or app.security.getToken().getUser().getWorkshop() == ticket.workshop %}
            {# editar Ticket #}
            <a href="{{ path('editTicket', { 'id_ticket': ticket.id }) }}"  title="Edit the Ticket"> <img class="img_icon" src="{{ asset('/icon/ticket_edit.png') }}"> </a></a>
        {% endif %}
    </legend>

	    <input type="hidden" id="id_ticket" name="id_ticket" value="{{ ticket.id }}">

	    {% if ticket.importance  	  != "" %}<div class="col-xs-4 col-md-4 form-group"><b>{% trans %} importance {% endtrans %}: </b>{{ ticket.importance 		 }} </div> {% endif %}
	    {% if ticket.subsystem.system != "" %}<div class="col-xs-4 col-md-4 form-group"><b>{% trans %} system     {% endtrans %}: </b>{{ ticket.subsystem.system }} </div> {% endif %}
	    {% if ticket.subsystem   	  != "" %}<div class="col-xs-4 col-md-4 form-group"><b>{% trans %} subsystem  {% endtrans %}: </b>{{ ticket.subsystem  		 }} </div> {% endif %}
    </div>