
    <legend>{{ 'ticket'|trans }} #{{ ticket.id }}</legend>

	    {% if ticket.assignedTo != "" %}<p><b>{{ 'assigned_to'|trans }}:</b>{{ ticket.assignedTo }} </p>{% endif %}

	    <legend>{{ 'description'|trans }}</legend>
	    <p> {{ ticket.description|nl2br }} </p>

		{% if ticket.solution is defined %}
		    <legend>{{ 'solution'|trans }}</legend>
		    <p> {{ ticket.solution|nl2br }} </p>
		{% endif %}


    	{% if ( is_granted('ROLE_ASSESSOR')) %}

    		{% include 'TicketBundle:Ticket:show_ticket_info.html.twig' %}
        	{% include 'TicketBundle:Post:show_posts.html.twig'    	    %}

		{% endif %}