{% extends "TicketBundle:Default:ticket.html.twig" %}

{% block content %}

    <h3><a href="{{ path('listTicket') }}">Tickets:</a> 
    #{{ ticket.id }}</h3>
   {# Datos del TICKET #}
                
        <div class="tblContainer">
        <table class="table table-striped table-bordered">
            <tr>    
                <td>                    
                    {% if is_granted('ROLE_ASSESSOR') %}
                        {% if ticket.assignedTo is not null %}
                        
                            {% if ticket.assignedTo == app.security.getToken().getUser() %}
                        
                                <a class="btn btn-primary pull-right"
                                   href="{{ path('assignTicket', { 'id_ticket': ticket.id }) }}" title="Remove the assigned status"> 
                                    Ignore </a>

                                <a class="btn btn-primary pull-right" href="{{ path('editTicket', { 'id_ticket': ticket.id }) }}"> Edit </a>
                            {% else %}
                            
                                <a class="btn btn-primary pull-right" style="background-color:gray">Ticket assigned to other assessor</a>
                            
                            {% endif %}
                            
                        {% else %}
                            
                            <a class="btn btn-primary pull-right" id="assign" 
                               href="{{ path('assignTicket', { 'id_ticket': ticket.id }) }}" > 
                                Assign </a>
                            
                        {% endif %}
                    {% endif %}
                        
                    <p> <label>Title:        </label> {{ ticket.title | length > 100 ?  ticket.title | slice(0, 100) ~ '...' : ticket.title }} </p>
                    
                    <p> <label>Date:         </label> {{ ticket.createdAt | date("d-m-Y") }}  ( {{ ticket.status }} ) </p>
                    
                    <p> <label>Workshop:     </label> {{ ticket.workshop }} -- 
                        <label>Required by:  </label> {{ ticket.owner    }}         </p>
                    
                    <p> <label>Car:          </label> {{ ticket.car.version.model.brand }} 
                                                      {{ ticket.car.version.model }} 
                                                      {{ ticket.car.version }} 
                                                     ({{ ticket.car.year }})        </p>
                        
                    <p> <label>PlateNumber:  </label> {{ ticket.car.plateNumber  }} -- 
                        <label>VIN:          </label> {{ ticket.car.vin          }} </p>
                </td>
            </tr>
        </table>
    </div>    
    
    {# mensajes del TICKET #}
    
        {% set nPosts = posts | length %}
            
        {% for i in 2..1 %}
        <div class='txtContainer'>
            {% if posts[nPosts-i] is defined %}
                
            <fieldset>

            {# Marca con un color diferente los mensajes del usuario #}
                
                {% if posts[nPosts-i].owner == app.security.getToken().getUser() %}
                
                    <legend style="background: azure;"> {{ posts[nPosts-i].owner.username }}
                    
                {% else %}
                    
                    <legend> {{ posts[nPosts-i].owner.username }}
                {% endif %}
                    
                    </legend>

                    <div class="colDer"> 
                        <p> {{ posts[nPosts-i].message }} </p> 
                    </div>
                        
                    <div class="colIzq">
                        {% include 'TicketBundle:Ticket:showDocument.html.twig' with {'documents': documents, 'msg_id': posts[nPosts-i].id} %}
                    </div>
            </fieldset>
            {% endif %}
        </div>
        {% endfor %}   

        <a class='pull-right' href='{{ path('showPost', { 'id_ticket': ticket.id }) }}'>View All ({{ nPosts }})</a>

        {% if ticket.status.id == 1 %}

            <a class="btn btn-primary pull-right btn100" style="background-color:gray">TICKET CLOSED</a>

        {% else %}
            
        {# comprueba que el asesor tenga asignado el ticket #}
            {% if is_granted('ROLE_ASSESSOR') and ticket.assignedTo is not null and ticket.assignedTo == app.security.getToken().getUser() 
               or app.security.getToken().getUser().getWorkshop() == ticket.workshop%}
            
            {# formulario de respuesta de POST #}
                <form action="{{ path('showTicket', {'id_ticket' : id_ticket}) }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">

                    <input type="hidden" id="user" name="user" value="{{ app.security.getToken().getUser().getId() }}">

                    <section>
                        <h5>Reply: </h5>
                        <div>
                            {{ form_widget(form.message, { 'attr': {'class': 'ac-message', 'rows': '7'} }) }}
                        </div>
                    </section>

                    {{ form_widget(formD.file, { 'attr': {'class': 'ac-message'} })  }}

                    <button class="btn btn-primary pull-right btn100" type="submit">Submit</button>
                </form>

                {% if is_granted('ROLE_ASSESSOR') %}

                    <a class="btn btn-primary pull-right btn100" href="{{ path('createIncidence', { 'id_ticket': ticket.id }) }}">CLOSE TICKET<a>

                {% endif %}
            {% endif %}
        {% endif %}
{% endblock %}