
    <legend>{% trans %} ticket {% endtrans %} #{{ ticket.id }} {% include 'TicketBundle:Includes:_assign_btn.html.twig'   %} </legend>

	    <legend>{% trans %} description {% endtrans %}

	        {% if is_granted('ROLE_ASSESSOR') %}
	            {# editar description #}
	            <a href="{{ path('editDescription', { 'id': ticket.id }) }}">
	            	<img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}" title="{% trans %} edit.description {% endtrans %}"></span>
	            </a>
	        {% endif %}
    	</legend>

	    <p> {{ ticket.description|nl2br }} </p><br>

		{% if ticket.solution is defined %}
		    <legend>{% trans %} solution {% endtrans %}</legend>
		    <p> {{ ticket.solution|nl2br }} </p><br>
		{% endif %}


