    <legend>{{ 'ticket'|trans }} #{{ ticket.id }} {% include 'TicketBundle:Includes:_assign_btn.html.twig'   %} </legend>

    	{% if ( is_granted('ROLE_ASSESSOR')) %}
			<p> <b>{{'created_at'|trans}}:</b> {{ticket.createdat|date("d/m/Y (H:i)")}} </p>
	    	{% if ticket.assignedTo != "" %}<p><b>{{ 'ticket.assigned_to'|trans }}:</b> {{ ticket.assignedTo }} </p>{% endif %}

    		{# {% if ticket.blockedBy  == null  or ticket.blockedBy != app.security.getToken().getUser() %} #}

				{# {% include 'TicketBundle:Ticket:edit_ticket_info.html.twig'	%} #}

			{# {% elseif ticket.blockedBy == app.security.getToken().getUser() %} #}

				{% include 'TicketBundle:Ticket:edit_ticket_info.html.twig'	%}
				{{ form_rest(form) }}
		 	{# {% endif %} #}
		{% endif %}

	    <legend>{{ 'description'|trans }}</legend>
	    <p> {{ ticket.description|nl2br }} </p><br>

		{% if ticket.solution is defined %}
		    <legend>{{ 'solution'|trans }}</legend>
		    <p> {{ ticket.solution|nl2br }} </p><br>
		{% endif %}

    	{% if ( is_granted('ROLE_ASSESSOR')) %}

    		<input type="hidden" id="role" value="ROLE_ASSESSOR">

    		{# {% if ticket.blockedBy  == null  or ticket.blockedBy != app.security.getToken().getUser() %} #}

            	{% include 'TicketBundle:Post:show_posts.html.twig'     	%}

			{# {% elseif ticket.blockedBy == app.security.getToken().getUser() %} #}

				{# {% include 'TicketBundle:Post:show_last_post.html.twig'   	%} #}

			{# {% endif %} #}
			 	{% include 'TicketBundle:Post:reply.html.twig'  			%}
		{% else %}
    			<input type="hidden" id="role" value="ROLE_USER">
            	{% include 'TicketBundle:Post:show_posts.html.twig'      	%}

			{% if ticket.blockedBy == null %}
			 	{% include 'TicketBundle:Post:reply.html.twig'  			%}
		 	{% endif %}
		{% endif %}

