
    <legend>{{ 'info'|trans }}
        {% if ticket.blockedBy == app.security.getToken().getUser() or app.security.getToken().getUser().getWorkshop() == ticket.workshop %}
            {# editar Ticket #}
            <a href="{{ path('editTicket', { 'id': ticket.id }) }}"  title="{{ 'edit.ticket'|trans }}"> <img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a></a>
        {% endif %}
    </legend>

	    <input type="hidden" id="id_ticket" name="id_ticket" value="{{ ticket.id }}">

	    {% if ticket.importance  	  != "" %}<div class="col-xs-4 col-md-4 form-group"><b>{{ 'importance'|trans }}: </b>{{ ticket.importance | trans  		}} </div> {% endif %}
	    {% if ticket.subsystem.system != "" %}<div class="col-xs-4 col-md-4 form-group"><b>{{ 'system'|trans }}: </b>{{ ticket.subsystem.system | trans }} </div> {% endif %}
	    {% if ticket.subsystem   	  != "" %}<div class="col-xs-4 col-md-4 form-group"><b>{{ 'subsystem'|trans }}: </b>{{ ticket.subsystem | trans          }} </div> {% endif %}
    </div>