{% extends '::layout.html.twig' %}

{% block body %}
    
    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('ticketWorkshopList') }}">List of Workshops</a></li>
      <li class="active">Tickets form Workshop</li>
    </ol>


    {% if workshop.tickets|length > 0  %}
        
            <table class="table table-hover" style="width: 70%; margin-left: 250px;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ticket Title</th>
                        <th>Importance</th>
                        <th>Owner</th>
                        <th>Assigned</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in workshop.tickets %}
                         <tr>
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.title }} </td>
                            <td>{{ ticket.importance}}</td>
                            <td>{{ ticket.owner }}</td>
                            <td>{{ ticket.assignedTo }}</td>
                            <td>
                                <a href="{{ path('editTicket', {'id_ticket':ticket.id}) }}" title="Editar Ticket"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="{{ path('assignTicket', {'id_ticket':ticket.id})}}" title="Asignar Ticket"><span class="glyphicon glyphicon-user"></span></a>
                                <a href="#" title="Eliminar Ticket"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ ticket.id }}"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

    {% else %}
        No hay tickets!!
    {% endif %}

{% endblock %}