
    <legend>{{ 'list.preorder.pending'|trans }}</legend>

    {% if app.security.getToken().getUser().getCategoryService().getId() is defined %}
               {% set id_catserv = app.security.getToken().getUser().getCategoryService().getId() %}
    {% else %} {% set id_catserv = '0' %}
    {% endif %}

    {% if id_catserv != 3 %} {% set lbl_internal_code = 'internal_code'|trans %}
    {% else               %} {% set lbl_internal_code = 'Siret' %}{% endif %}

    {% if orders is defined %}
        {% if orders|length > 0  %}
            <table class="table table-hover" style="width: 95%; margin-left: 5%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'workshop'|trans }}</th>
                        <th>{{ 'partner'|trans }}</th>
                        {% if id_catserv != 3 %} <th>{{ 'shop'|trans }}</th>{% endif %}
                        <th>{{ 'tel'|trans }}</th>
                        {% if id_catserv != 3 %}<th>{{ 'region'|trans }}</th>{% endif %}
                        <th>{{ 'preorder'|trans }}</th>
                        <th>{{ 'actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workshopOrder in orders %}

                    {% if ordersBefore[workshopOrder.id] is defined %}
                        {% set orderBefore = ordersBefore[workshopOrder.id] %}
                    {% endif %}
                        <tr>
                            <td> {{ workshopOrder.partner.codePartner  }}, {{ workshopOrder.codeWorkshop  }}</td>
                            <td> {{ workshopOrder.name|length > 15 ? workshopOrder.name|slice(0, 15) ~ '...' : workshopOrder.name  }} </td>
                            <td> {{ workshopOrder.partner         }} </td>
                            {% if id_catserv != 3 %}
                                <td> {{ workshopOrder.shop            }} </td>
                            {% endif %}
                            <td> {{ workshopOrder.phoneNumber1    }} </td>
                            {% if id_catserv != 3 %}<td> {{ workshopOrder.region          }} </td>{% endif %}
                            {# <td> {% if workshopOrder.test == 1 %}{{ 'yes'|trans }}
                                 {% else %}                      {{ 'no'|trans }}{% endif %}</td> #}
                            <td>
                                <a title="{{ 'order_details'|trans }}" href="#"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn_.png') }}" data-toggle="modal" data-target="#myModal_edit_{{ workshopOrder.id }}" ></a>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal_edit_{{workshopOrder.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">{{ 'order.details'|trans }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-hover">
                                                {% if workshopOrder.wantedaction == 'modify' or workshopOrder.action == 're_modify' %}
                                                    <tr><th>                                          </th><th>{{ 'before'|trans }}</th><th>{{ 'after'|trans }}</th></tr>
                                                    <tr><td>{{ 'name'|trans }}</td><td>{{ orderBefore.name            }}</td>
                                                                                                           <td>{{ workshopOrder.name          }}</td></tr>
                                                    <tr><td>{{ 'code_workshop'|trans }}</td><td>{{ orderBefore.codeWorkshop    }}</td>
                                                                                                           <td>{{ workshopOrder.codeWorkshop  }}</td></tr>
                                                    <tr><td>{{ 'partner'|trans }}</td><td>{{ orderBefore.partner         }}</td>
                                                                                                           <td>{{ workshopOrder.partner       }}</td></tr>
                                                    {% if id_catserv != 3 %}
                                                        <tr><td>{{ 'shop'|trans }}</td><td>{{ orderBefore.shop            }}</td>
                                                                                                           <td>{{ workshopOrder.shop          }}</td></tr>
                                                    {% endif %}
                                                    <tr><td>{{ 'cif'|trans }}</td><td>{{ orderBefore.cif             }}</td>
                                                                                                           <td>{{ workshopOrder.cif           }}</td></tr>
                                                    <tr><td>{{lbl_internal_code}}</td><td>{{ orderBefore.internalCode    }}</td>
                                                                                                           <td>{{ workshopOrder.internalCode  }}</td></tr>
                                                    {% if id_catserv != 3 %}
                                                        <tr><td>{{ 'commercial_code'|trans }}</td><td>{{ orderBefore.commercialCode  }}</td>
                                                                                                           <td>{{ workshopOrder.commercialCode}}</td></tr>
                                                    {% endif %}
                                                    <tr><td>{{ 'typology'|trans }}</td><td>{{ orderBefore.typology        }}</td>
                                                                                                           <td>{{ workshopOrder.typology      }}</td></tr>
                                                    <tr><td>{{ 'contact'|trans }}</td><td>{{ orderBefore.contact         }}</td>
                                                                                                           <td>{{ workshopOrder.contact       }}</td></tr>
                                                    <tr><td>{{ 'phone_number_1'|trans }}</td><td>{{ orderBefore.phoneNumber1    }}</td>
                                                                                                           <td>{{ workshopOrder.phoneNumber1  }}</td></tr>
                                                    <tr><td>{{ 'phone_number_2'|trans }}</td><td>{{ orderBefore.phoneNumber2    }}</td>
                                                                                                           <td>{{ workshopOrder.phoneNumber2  }}</td></tr>
                                                    <tr><td>{{ 'mobile_number_1'|trans }}</td><td>{{ orderBefore.mobileNumber1   }}</td>
                                                                                                           <td>{{ workshopOrder.mobileNumber1 }}</td></tr>
                                                    <tr><td>{{ 'mobile_number_2'|trans }}</td><td>{{ orderBefore.mobileNumber2   }}</td>
                                                                                                           <td>{{ workshopOrder.mobileNumber2 }}</td></tr>
                                                    <tr><td>{{ 'fax'|trans }}</td><td>{{ orderBefore.fax             }}</td>
                                                                                                           <td>{{ workshopOrder.fax           }}</td></tr>
                                                    <tr><td>{{ 'email_1'|trans }}</td><td>{{ orderBefore.email1          }}</td>
                                                                                                           <td>{{ workshopOrder.email1        }}</td></tr>
                                                    <tr><td>{{ 'email_2'|trans }}</td><td>{{ orderBefore.email2          }}</td>
                                                                                                           <td>{{ workshopOrder.email2        }}</td></tr>
                                                    <tr><td>{{ 'country'|trans }}</td><td>{{ orderBefore.country|trans   }}</td>
                                                                                                           <td>{{ workshopOrder.country|trans }}</td></tr>
                                                    {% if id_catserv != 3 %}<tr><td>{{ 'region'|trans }}</td><td>{{ orderBefore.region          }}</td>
                                                                                                           <td>{{ workshopOrder.region        }}</td></tr>{% endif %}
                                                    <tr><td>{{ 'city'|trans }}</td><td>{{ orderBefore.city            }}</td>
                                                                                                           <td>{{ workshopOrder.city          }}</td></tr>
                                                    <tr><td>{{ 'address'|trans }}</td><td>{{ orderBefore.address         }}</td>
                                                                                                           <td>{{ workshopOrder.address       }}</td></tr>
                                                    <tr><td>{{ 'postal_code'|trans }}</td><td>{{ orderBefore.postalCode      }}</td>
                                                                                                           <td>{{ workshopOrder.postalCode    }}</td></tr>
                                                    <tr><td>{{ 'test'|trans }}</td><td>{% if orderBefore.test == 1   %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td>
                                                                                                           <td>{% if workshopOrder.test == 1 %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td></tr>
                                                    {% if id_catserv != 3 %}
                                                    <tr><td>{{ 'ad_service_plus'|trans }}</td><td>{% if orderBefore.adServicePlus == 1   %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td>
                                                                                                           <td>{% if workshopOrder.adServicePlus == 1 %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td></tr>
                                                    {% endif %}
                                                    <tr><td>{{ 'haschecks'|trans }}</td><td>{% if orderBefore.haschecks == 1   %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td>
                                                                                                           <td>{% if workshopOrder.haschecks == 1 %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td></tr>
                                                    <tr><td>{{ 'numchecks'|trans }}</td><td>{{ orderBefore.numchecks       }}</td>
                                                                                                           <td>{{ workshopOrder.numchecks     }}</td></tr>
                                                    {% if id_catserv != 3 %}
                                                    <tr><td>{{ 'infotech'|trans }}</td><td>{% if orderBefore.infotech == 1   %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td>
                                                                                                           <td>{% if workshopOrder.infotech == 1 %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td></tr>
                                                    {% endif %}
                                                {% else %}
                                                    <tr><th>                                          </th><th>{{ 'values'|trans }}</th></tr>
                                                    <tr><td>{{ 'name'|trans }}</td><td>{{ workshopOrder.name          }}</td></tr>
                                                    <tr><td>{{ 'code_workshop'|trans }}</td><td>{{ workshopOrder.codeWorkshop  }}</td></tr>
                                                    <tr><td>{{ 'partner'|trans }}</td><td>{{ workshopOrder.partner       }}</td></tr>
                                                    {% if id_catserv != 3 %}
                                                        <tr><td>{{ 'shop'|trans }}</td><td>{{ workshopOrder.shop          }}</td></tr>
                                                    {% endif %}
                                                    <tr><td>{{ 'cif'|trans }}</td><td>{{ workshopOrder.cif           }}</td></tr>
                                                    <tr><td>{{lbl_internal_code}}</td><td>{{ workshopOrder.internalCode  }}</td></tr>
                                                    {% if id_catserv != 3 %}    <tr><td>{{ 'commercial_code'|trans }}</td><td>{{ workshopOrder.commercialCode}}</td></tr>{% endif %}
                                                    <tr><td>{{ 'typology'|trans }}</td><td>{{ workshopOrder.typology      }}</td></tr>
                                                    <tr><td>{{ 'contact'|trans }}</td><td>{{ workshopOrder.contact       }}</td></tr>
                                                    <tr><td>{{ 'phone_number_1'|trans }}</td><td>{{ workshopOrder.phoneNumber1  }}</td></tr>
                                                    <tr><td>{{ 'phone_number_2'|trans }}</td><td>{{ workshopOrder.phoneNumber2  }}</td></tr>
                                                    <tr><td>{{ 'mobile_number_1'|trans }}</td><td>{{ workshopOrder.mobileNumber1 }}</td></tr>
                                                    <tr><td>{{ 'mobile_number_2'|trans }}</td><td>{{ workshopOrder.mobileNumber2 }}</td></tr>
                                                    <tr><td>{{ 'fax'|trans }}</td><td>{{ workshopOrder.fax           }}</td></tr>
                                                    <tr><td>{{ 'email_1'|trans }}</td><td>{{ workshopOrder.email1        }}</td></tr>
                                                    <tr><td>{{ 'email_2'|trans }}</td><td>{{ workshopOrder.email2        }}</td></tr>
                                                    <tr><td>{{ 'country'|trans }}</td><td>{{ workshopOrder.country|trans }}</td></tr>
                                                    {% if id_catserv != 3 %}<tr><td>{{ 'region'|trans }}</td><td>{{ workshopOrder.region        }}</td></tr>{% endif %}
                                                    <tr><td>{{ 'city'|trans }}</td><td>{{ workshopOrder.city          }}</td></tr>
                                                    <tr><td>{{ 'address'|trans }}</td><td>{{ workshopOrder.address       }}</td></tr>
                                                    <tr><td>{{ 'postal_code'|trans }}</td><td>{{ workshopOrder.postalCode    }}</td></tr>
                                                    <tr><td>{{ 'test'|trans }}</td><td>{% if workshopOrder.test == 1 %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td></tr>
                                                    {% if id_catserv != 3 %}
                                                    <tr><td>{{ 'ad_service_plus'|trans }}</td><td>{% if workshopOrder.adServicePlus == 1 %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td></tr>
                                                    {% endif %}
                                                    <tr><td>{{ 'haschecks'|trans }}</td><td>{% if workshopOrder.haschecks == 1 %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td></tr>
                                                    <tr><td>{{ 'numchecks'|trans }}</td><td>{{ workshopOrder.numchecks     }}</td></tr>
                                                    {% if id_catserv != 3 %}
                                                    <tr><td>{{ 'infotech'|trans }}</td><td>{% if workshopOrder.infotech == 1 %}
                                                                                                                    {{ 'yes'|trans }}
                                                                                                                {% else %}{{ 'no'|trans }}
                                                                                                                {% endif %}</td></tr>
                                                    {% endif %}
                                                {% endif %}
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.close'|trans }}</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->

                                {% if workshopOrder.wantedaction == 'modify' or workshopOrder.action == 're_modify' %}
                                    <span class="label label-warning"> {{ 'action.modify'|trans }}</span>
                                {% elseif workshopOrder.wantedaction == 'activate' %}
                                    <span class="label label-danger">  {{ 'inactive'|trans }}</span>
                                    <span class="glyphicon glyphicon-arrow-right">                        </span>
                                    <span class="label label-success"> {{ 'active'|trans }}</span>
                                {% elseif workshopOrder.wantedaction == 'deactivate' %}
                                    <span class="label label-success"> {{ 'active'|trans }}</span>
                                    <span class="glyphicon glyphicon-arrow-right">                        </span>
                                    <span class="label label-danger">  {{ 'inactive'|trans }}</span>
                                {% elseif workshopOrder.wantedaction == 'preorder' %}
                                    <span class="label label-info">    {{ 'preorder'|trans }}</span>
                                {% elseif workshopOrder.action == 'create' %}
                                    <span class="label label-info">    {{ 'action.create'|trans }}</span>
                                {% elseif workshopOrder.action == 'rejected' %}
                                    <span class="label label-danger">  {{ 'rejected'|trans }}</span>

                                {% elseif workshopOrder.action == 'resend' and workshopOrder.rejectionReason is not null %}
                                    <span class="label label-warning"> {{ 'resend'|trans }} {{ workshopOrder.wantedaction }} </span>
                                        <a title="{{ workshopOrder.rejectionReason }}" href="#"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tag_red.png') }}"></a>
                                {% endif %}
                                {% if workshopOrder.rejectionReason is not null %}
                                    {# <a title="{{ workshopOrder.rejectionReason }}" href="#"><img class="img_icon" src="{{ asset('bund les/util/images/icon/tag_red.png') }}"></a> #}
                                     <a title="{{ workshopOrder.rejectionReason }}" href="#"><span data-toggle="modal" data-target="#myModal_rejected_reason{{ workshopOrder.id }}" ><img class="img_icon" src="{{ asset('bundles/util/images/icon/tag_red.png') }}"> {{ 'reject.reason'|trans }}</span></a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_rejected_reason{{workshopOrder.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ 'reject.reason'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {{ workshopOrder.rejectionReason|nl2br }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.close'|trans }}</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_AD') %}
                                <td>
                                    <a title="{{ 'accept'|trans }}"  href="{{ path("workshopOrder_accept", { 'id': workshopOrder.id, 'status': 'accepted' }) }}">
                                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/tick_.png') }}"> </a>
                                    <a title="{{ 'reject'|trans }}" href="{{ path("workshopOrder_reject", { 'id': workshopOrder.id }) }}">
                                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/close.png') }}"> </a>
                                </td>
                            {% elseif is_granted('ROLE_COMMERCIAL') %}
                                <td>
                                    <a title="{{ 'cancel'|trans }}" href="{{ path('workshopOrder_remove', {'id' : workshopOrder.id}) }}">
                                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/close.png') }}"></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'UtilBundle:Pagination:pagination_order.html.twig' %}

        {% else %}
     <div class="grid w100">
        <p class="alert">{{ 'not_found'|trans }}</p>
    </div>
        {% endif %}
    {% else %}
     <div class="grid w100">
        <p class="alert">{{ 'not_found'|trans }}</p>
    </div>
{% endif %}
