{% extends '::layout.html.twig' %}

{% block body %}

    {% if app.security.getToken().getUser().getCategoryService().getId() is defined %}
               {% set id_catserv = app.security.getToken().getUser().getCategoryService().getId() %}
    {% else %} {% set id_catserv = '0' %}
    {% endif %}

    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'list_orders' %}
    <input type="hidden" id="route" value="{{ route }}">
    <input type="hidden" id="option" value="{{ option }}">

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
        <li class="active">{{ 'menu.list_orders'|trans }}</li>
    </ol>

<div class='colIzq15'>
{#     {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="col-xs-12 col-md-12 form-group"> <label> {{ 'country'|trans }} </label>
        <select id="flt_country" class='form-control' data-url="{{ path( route, { 'page': 'plc_page', 'option': option, 'country': 'plc_country'}) }}">
                <option value="0">{{ 'all'|trans }}</option>
            {% for _country in countries %}
                <option value="{{ _country.id }}" {% if _country.id == country %} selected {% endif %}>{{ _country | trans }}</option>
            {% endfor %}
    </select></div>
    {% endif %} #}

    {% if is_granted('ROLE_AD') %}

    {### ORDER WORKSHOP #########################}

        <button onclick="window.open('{{ path(route, { 'option': 'workshop_pending'  }) }}','_self')" class="btn-primary">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/workshop.png') }}">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/order_pending.png') }}"><br> {{ 'workshop_pending'|trans }} <br>
            {% if length_workshop_pending > 0 %} <div class="pending_application3">{{ length_workshop_pending }}</div>{% endif %}
        </button>
        <button onclick="window.open('{{ path(route, { 'option': 'workshop_rejected' }) }}','_self')" class="btn-primary">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/workshop.png') }}">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/order_rejected.png') }}"><br> {{ 'workshop_rejected'|trans }} <br>
            {% if length_workshop_rejected > 0 %} <div class="pending_application3">{{ length_workshop_rejected }}</div>{% endif %}
        </button>

        {% if id_catserv != 3 %}

    {### ORDER SHOP #########################}

            <button onclick="window.open('{{ path(route, { 'option': 'shop_pending'      }) }}','_self')" class="btn-primary">
                <img class="img_icon" src="{{ asset('bundles/util/images/icon/shop.png') }}">
                <img class="img_icon" src="{{ asset('bundles/util/images/icon/order_pending.png') }}"><br> {{ 'shop_pending'|trans }} <br>
                {% if length_shop_pending > 0 %} <div class="pending_application3">{{ length_shop_pending }}</div>{% endif %}
            </button>
            <button onclick="window.open('{{ path(route, { 'option': 'shop_rejected'     }) }}','_self')" class="btn-primary">
                <img class="img_icon" src="{{ asset('bundles/util/images/icon/shop.png') }}">
                <img class="img_icon" src="{{ asset('bundles/util/images/icon/order_rejected.png') }}"><br> {{ 'shop_rejected'|trans }} <br>
                {% if length_shop_rejected > 0 %} <div class="pending_application3">{{ length_shop_rejected }}</div>{% endif %}
            </button>

        {% endif %}

    {% endif %}

    {### PREORDER WORKSHOP #########################}

    {% if not is_granted('ROLE_ADMIN') and not(is_granted('ROLE_TOP_AD') and id_catserv == 3) %}
        <button onclick="window.open('{{ path(route, { 'option': 'preorder_pending'  }) }}','_self')" class="btn-primary">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/workshop.png') }}">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/order_pending.png') }}"><br> {{ 'preorder_pending'|trans }} <br>
            {% if length_preorder_pending > 0 %} <div class="pending_application3">{{ length_preorder_pending }}</div>{% endif %}
        </button>
        <button onclick="window.open('{{ path(route, { 'option': 'preorder_rejected' }) }}','_self')" class="btn-primary">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/workshop.png') }}">
            <img class="img_icon" src="{{ asset('bundles/util/images/icon/order_rejected.png') }}"><br> {{ 'preorder_rejected'|trans }} <br>
            {% if length_preorder_rejected > 0 %} <div class="pending_application3">{{ length_preorder_rejected }}</div>{% endif %}
        </button>
    {% endif %}
</div>

<div class='colDer85'>

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <p class="alert">{{ flashMessage }}</p>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <p class="error">{{ flashMessage }}</p>
    {% endfor %}

    {% if     option == 'workshop_pending'  %} {% include 'OrderBundle:Order:list_workshop_orders.html.twig'          %}
    {% elseif option == 'workshop_rejected' %} {% include 'OrderBundle:Order:list_workshop_rejected_orders.html.twig' %}
    {% elseif option == 'preorder_pending'  %} {% include 'OrderBundle:Order:list_preorders.html.twig'                %}
    {% elseif option == 'preorder_rejected' %} {% include 'OrderBundle:Order:list_preorders_rejected.html.twig'       %}
    {% elseif option == 'shop_pending'      %} {% include 'OrderBundle:Order:list_shop_orders.html.twig'              %}
    {% elseif option == 'shop_rejected'     %} {% include 'OrderBundle:Order:list_shop_rejected_orders.html.twig'     %}
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination_order.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script src="{{ asset('bundles/order/js/order.js') }}"></script>
    <script> $(document).ready(function() { table_filter(); }); //util.js </script>
{% endblock %}
