{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li class="active">{% trans %} menu.list_orders {% endtrans %}</li>
    </ol>

<div class='colIzq15'>
    <button onclick="window.open('{{ path('list_orders', { 'option': 'workshop_pending'  }) }}','_self')" class="btn-primary">
        <img class="img_icon" src="{{ asset('/icon/order_workshop_pending.png') }}"> {% trans %} workshop_pending  {% endtrans %} ({{ length_workshop_pending  }})</button>
    <button onclick="window.open('{{ path('list_orders', { 'option': 'workshop_rejected' }) }}','_self')" class="btn-primary">
        <img class="img_icon" src="{{ asset('/icon/order_workshop_rejected.png') }}"> {% trans %} workshop_rejected {% endtrans %} ({{ length_workshop_rejected }})</button>
    <button onclick="window.open('{{ path('list_orders', { 'option': 'shop_pending'      }) }}','_self')" class="btn-primary">
        <img class="img_icon" src="{{ asset('/icon/order_shop_pending.png') }}"> {% trans %} shop_pending      {% endtrans %} ({{ length_shop_pending      }})</button>
    <button onclick="window.open('{{ path('list_orders', { 'option': 'shop_rejected'     }) }}','_self')" class="btn-primary">
        <img class="img_icon" src="{{ asset('/icon/order_shop_rejected.png') }}"> {% trans %} shop_rejected     {% endtrans %} ({{ length_shop_rejected     }})</button>
</div>

<div class='colDer85'>
    {% if     option == 'workshop_pending'  %} {% include 'OrderBundle:Order:list_workshop_orders.html.twig'          %}
    {% elseif option == 'workshop_rejected' %} {% include 'OrderBundle:Order:list_workshop_rejected_orders.html.twig' %}
    {% elseif option == 'shop_pending'      %} {% include 'OrderBundle:Order:list_shop_orders.html.twig'              %}
    {% elseif option == 'shop_rejected'     %} {% include 'OrderBundle:Order:list_shop_rejected_orders.html.twig'     %}
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script> $(document).ready(function() { table_filter(); }); //util.js </script>
{% endblock %}
