
    <legend>{{ 'list.workshop.rejected'|trans }}</legend>

    {% if app.security.getToken().getUser().getCategoryService().getId() is defined %}
               {% set id_catserv = app.security.getToken().getUser().getCategoryService().getId() %}
    {% else %} {% set id_catserv = '0' %}
    {% endif %}

    {% if orders is defined %}
        {% if orders|length > 0  %}
            <table class="table table-hover" style="width: 95%; margin-left: 5%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'workshop'|trans }}</th>

                        {% if is_granted('ROLE_ADMIN') %}
                            <th>{{ 'numTickets'|trans }}</th>
                        {% endif %}

                        <th>{{ 'category_service'|trans }}</th>
                        <th>{{ 'partner'|trans }}</th>

                        {% if id_catserv != 3 %}
                            <th>{{ 'shop'|trans }}</th>
                        {% endif %}

                        <th>{{ 'tel'|trans }}</th>
                        <th>{{ 'order'|trans }}</th>
                        <th>{{ 'actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workshopOrder in orders %}
                        <tr>
                            <td>{{ workshopOrder.partner.codePartner  }}, {{ workshopOrder.codeWorkshop  }}</td>
                            <td>{{ workshopOrder.name|length > 15 ? workshopOrder.name|slice(0, 15) ~ '...' : workshopOrder.name  }}</td>

                            {% if is_granted('ROLE_ADMIN') and ntickets[workshopOrder.idWorkshop] is defined %}
                                <td>{{ ntickets[workshopOrder.idWorkshop] }}</td>
                            {% else %}
                                <td>--</td>
                            {% endif %}

                            <td>{{ workshopOrder.categoryService }}</td>
                            <td>{{ workshopOrder.partner         }}</td>
                            {% if id_catserv != 3 %}
                                <td>{{ workshopOrder.shop            }}</td>
                            {% endif %}
                            <td>{{ workshopOrder.phoneNumber1    }}</td>
                            <td>
                                    <a title="{{ 'order_details'|trans }}" href="#"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn_.png') }}" data-toggle="modal" data-target="#myModal_rejected_edit{{ workshopOrder.id }}" ></a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_rejected_edit{{ workshopOrder.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ 'order.details'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-hover">
                                                        <tr><th>                                          </th><th>{{ 'values'|trans }}</th></tr>
                                                        <tr><td>{{ 'name'|trans }}</td><td>{{ workshopOrder.name            }}</td></tr>
                                                        {% if is_granted('ROLE_ADMIN') and ntickets[workshopOrder.idWorkshop] is defined %}
                                                            <tr><td>{{ 'numTickets'|trans }}</td><td>{{ ntickets[workshopOrder.idWorkshop] }}</td></tr>
                                                        {% endif %}
                                                        <tr><td>{{ 'code_workshop'|trans }}</td><td>{{ workshopOrder.codeWorkshop    }}</td></tr>
                                                        <tr><td>{{ 'category_service'|trans }}</td><td>{{ workshopOrder.categoryService }}</td></tr>
                                                        <tr><td>{{ 'partner'|trans }}</td><td>{{ workshopOrder.partner         }}</td></tr>
                                                        {% if id_catserv != 3 %}
                                                            <tr><td>{{ 'shop'|trans }}</td><td>{{ workshopOrder.shop            }}</td></tr>
                                                        {% endif %}
                                                        <tr><td>{{ 'cif'|trans }}</td><td>{{ workshopOrder.cif             }}</td></tr>
                                                        <tr><td>{{ 'internal_code'|trans }}</td><td>{{ workshopOrder.internalCode    }}</td></tr>
                                                        {% if id_catserv != 3 %}<tr><td>{{ 'commercial_code'|trans }}</td><td>{{ workshopOrder.commercialCode  }}</td></tr>{% endif %}
                                                        <tr><td>{{ 'typology'|trans }}</td><td>{{ workshopOrder.typology        }}</td></tr>
                                                        <tr><td>{{ 'contact'|trans }}</td><td>{{ workshopOrder.contact         }}</td></tr>
                                                        <tr><td>{{ 'phone_number_1'|trans }}</td><td>{{ workshopOrder.phoneNumber1    }}</td></tr>
                                                        <tr><td>{{ 'phone_number_2'|trans }}</td><td>{{ workshopOrder.phoneNumber2    }}</td></tr>
                                                        <tr><td>{{ 'mobile_number_1'|trans }}</td><td>{{ workshopOrder.mobileNumber1   }}</td></tr>
                                                        <tr><td>{{ 'mobile_number_2'|trans }}</td><td>{{ workshopOrder.mobileNumber2   }}</td></tr>
                                                        <tr><td>{{ 'fax'|trans }}</td><td>{{ workshopOrder.fax             }}</td></tr>
                                                        <tr><td>{{ 'email_1'|trans }}</td><td>{{ workshopOrder.email1          }}</td></tr>
                                                        <tr><td>{{ 'email_2'|trans }}</td><td>{{ workshopOrder.email2          }}</td></tr>
                                                        <tr><td>{{ 'country'|trans }}</td><td>{{ workshopOrder.country|trans   }}</td></tr>
                                                        {% if id_catserv != 3 %}
                                                            <tr><td>{{ 'region'|trans }}</td><td>{{ workshopOrder.region          }}</td></tr>
                                                        {% endif %}
                                                        <tr><td>{{ 'city'|trans }}</td><td>{{ workshopOrder.city            }}</td></tr>
                                                        <tr><td>{{ 'address'|trans }}</td><td>{{ workshopOrder.address         }}</td></tr>
                                                        <tr><td>{{ 'postal_code'|trans }}</td><td>{{ workshopOrder.postalCode      }}</td></tr>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.close'|trans }}</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->

                                {% if ((workshopOrder.action == 'modify') or (workshopOrder.action == 're_modify')) %}
                                    <span class="label label-warning"> {{ 'action.modify'|trans }}</span>
                                {% elseif workshopOrder.action == 'activate' %}
                                    <span class="label label-danger">  {{ 'inactive'|trans }}</span>
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                    <span class="label label-success"> {{ 'active'|trans }}</span>
                                {% elseif workshopOrder.action == 'deactivate' %}
                                    <span class="label label-success"> {{ 'active'|trans }}</span>
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                    <span class="label label-danger">  {{ 'inactive'|trans }}</span>
                                {% elseif workshopOrder.action == 'create' %}
                                    <span class="label label-info">    {{ 'create'|trans }}</span>
                                {% elseif workshopOrder.action == 'rejected' %}
                                    <span class="label label-danger">  {{ 'rejected'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a title="{{ workshopOrder.rejectionReason }}" href="#"><span data-toggle="modal" data-target="#myModal_rejected_reason{{ workshopOrder.id }}" ><img class="img_icon" src="{{ asset('bundles/util/images/icon/reject_reason.png') }}">{{ 'reject.reason'|trans }}</span></a>
                                <!-- Modal -->
                                    <div class="modal fade" id="myModal_rejected_reason{{ workshopOrder.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ 'reject.reason'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {{ workshopOrder.rejectionReason|nl2br }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.close'|trans }}</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                            </td>
                            <td>
                            {% if not is_granted('ROLE_ADMIN') %}

                                    {% if workshopOrder.wantedAction != 'create' %}
                                        <a title="{{ 'edit.workshop'|trans }}" href="{{ path('workshopOrder_edit',   {'id': workshopOrder.idWorkshop }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"></a>

                                        <a title="{{ 'order.resend'|trans }}"  href="{{ path('workshopOrder_resendOrder', {'id': workshopOrder.id      }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/update.png') }}"></a>
                                    {% else %}
                                        <a title="{{ 'order.recreate'|trans }}"  onclick="alert('{{ 'order.recreate'|trans }}')"><img class="img_icon" src="{{ asset('bundles/util/images/icon/exclamation.png') }}"></a>
                                    {% endif %}
                            {% endif %}
                                <a title="{{ 'order.cancel'|trans }}"  href="{{ path('workshopOrder_remove', {'id': workshopOrder.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/close.png') }}"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'UtilBundle:Pagination:pagination_order.html.twig' %}

        {% else %}
     <div class="grid w100">
        <p class="alert">{{ 'not_found'|trans }}</p>
    </div>
        {% endif %}
    {% else %}
     <div class="grid w100">
        <p class="alert">{{ 'not_found'|trans }}</p>
    </div>
    {% endif %}
