
    <legend>{% trans %} list.shop.pending {% endtrans %}</legend>

    {% if orders is defined %}
        {% if orders|length > 0  %}
            <table class="table table-hover" style="width: 90%; margin-left: 10%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans %} shop            {% endtrans %}</th>
                        <th>{% trans %} category_service{% endtrans %}</th>
                        <th>{% trans %} partner         {% endtrans %}</th>
                        <th>{% trans %} tel             {% endtrans %}</th>
                        <th>{% trans %} region          {% endtrans %}</th>
                        <th>{% trans %} status          {% endtrans %}</th>
                        <th>{% trans %} order           {% endtrans %}</th>
                        <th>{% trans %} actions         {% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shopOrder in orders %}

                    {% if ordersBefore[shopOrder.id] is defined %}
                        {% set orderBefore = ordersBefore[shopOrder.id] %}
                    {% endif %}
                        <tr>{# {% if orderBefore is defined and orderBefore.name         != shopOrder.name         %} *{% endif %} #}
                            <td> {{ shopOrder.id           }} </td>
                            <td> {{ shopOrder.name|length > 15 ? shopOrder.name|slice(0, 15) ~ '...' : shopOrder.name  }} </td>
                            <td> {{ shopOrder.categoryService }} </td>
                            <td> {{ shopOrder.partner      }} </td>
                            <td> {{ shopOrder.phoneNumber1 }} </td>
                            <td> {{ shopOrder.region|length > 15 ? shopOrder.region|slice(0, 15) ~ '...' : shopOrder.region  }} </td>
                            <td> {% if shopOrder.active == 0 %}{% trans %} active   {% endtrans %}
                                 {% else %}                    {% trans %} deactive {% endtrans %}{% endif %}</td>
                            <td>
                                    <a title="{% trans %} order_details {% endtrans %}" href="#"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn_.png') }}" data-toggle="modal" data-target="#myModal_edit_{{ shopOrder.id }}" ></a>

                                    {% if shopOrder.rejectionReason is not null %}
                                        {# <a title="{{ shopOrder.rejectionReason }}" href="#"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tag_red.png') }}"></a> #}

                                        <a title="{{ shopOrder.rejectionReason }}" href="#"><span data-toggle="modal" data-target="#myModal_rejected_reason{{ shopOrder.id }}" ><img class="img_icon" src="{{ asset('bundles/util/images/icon/tag_red.png') }}"> {% trans %} reject.reason {% endtrans %}</span></a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal_rejected_reason{{shopOrder.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">{% trans %} reject.reason {% endtrans %}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ shopOrder.rejectionReason|nl2br }}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %} btn.close {% endtrans %}</button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                    {% endif %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_edit_{{ shopOrder.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{% trans %} order.details {% endtrans %}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-hover">
                                                    {% if shopOrder.wantedaction == 'modify' or shopOrder.action == 're_modify' %}
                                                        <tr><th>                                  </th><th>{% trans %} before {% endtrans %}</th><th>{% trans %} after {% endtrans %}</th></tr>
                                                        <tr><td>{% trans %} workshop        {% endtrans %}</td><td>{{ orderBefore.name          }}</td><td>{{ shopOrder.name          }}</td></tr>
                                                        <tr><td>{% trans %} category_service {% endtrans %}</td><td>{{ orderBefore.categoryService}}</td><td>{{ shopOrder.categoryService       }}</td></tr>
                                                        <tr><td>{% trans %} partner         {% endtrans %}</td><td>{{ orderBefore.partner       }}</td><td>{{ shopOrder.partner       }}</td></tr>
                                                        <tr><td>{% trans %} code_shop       {% endtrans %}</td><td>{{ orderBefore.codeShop      }}</td><td>{{ shopOrder.codeShop      }}</td></tr>
                                                        <tr><td>{% trans %} cif             {% endtrans %}</td><td>{{ orderBefore.cif           }}</td><td>{{ shopOrder.cif           }}</td></tr>
                                                        <tr><td>{% trans %} contact         {% endtrans %}</td><td>{{ orderBefore.contact       }}</td><td>{{ shopOrder.contact       }}</td></tr>
                                                        <tr><td>{% trans %} phone_number_1  {% endtrans %}</td><td>{{ orderBefore.phoneNumber1  }}</td><td>{{ shopOrder.phoneNumber1  }}</td></tr>
                                                        <tr><td>{% trans %} phone_number_2  {% endtrans %}</td><td>{{ orderBefore.phoneNumber2  }}</td><td>{{ shopOrder.phoneNumber2  }}</td></tr>
                                                        <tr><td>{% trans %} mobile_number_1 {% endtrans %}</td><td>{{ orderBefore.mobileNumber1 }}</td><td>{{ shopOrder.mobileNumber1 }}</td></tr>
                                                        <tr><td>{% trans %} mobile_number_2 {% endtrans %}</td><td>{{ orderBefore.mobileNumber2 }}</td><td>{{ shopOrder.mobileNumber2 }}</td></tr>
                                                        <tr><td>{% trans %} fax             {% endtrans %}</td><td>{{ orderBefore.fax           }}</td><td>{{ shopOrder.fax           }}</td></tr>
                                                        <tr><td>{% trans %} email_1         {% endtrans %}</td><td>{{ orderBefore.email1        }}</td><td>{{ shopOrder.email1        }}</td></tr>
                                                        <tr><td>{% trans %} email_2         {% endtrans %}</td><td>{{ orderBefore.email2        }}</td><td>{{ shopOrder.email2        }}</td></tr>
                                                        <tr><td>{% trans %} country         {% endtrans %}</td><td>{{ orderBefore.country|trans }}</td><td>{{ shopOrder.country|trans }}</td></tr>
                                                        <tr><td>{% trans %} region          {% endtrans %}</td><td>{{ orderBefore.region        }}</td><td>{{ shopOrder.region        }}</td></tr>
                                                        <tr><td>{% trans %} city            {% endtrans %}</td><td>{{ orderBefore.city          }}</td><td>{{ shopOrder.city          }}</td></tr>
                                                        <tr><td>{% trans %} postal_code     {% endtrans %}</td><td>{{ orderBefore.postalCode    }}</td><td>{{ shopOrder.postalCode    }}</td></tr>
                                                    {% else %}
                                                    <tr><th>                                      </th><th>{% trans %} values {% endtrans %}</th></tr>
                                                        <tr><td>{% trans %} workshop        {% endtrans %}</td><td>{{ shopOrder.name          }}</td></tr>
                                                        <tr><td>{% trans %} category_service{% endtrans %}</td><td>{{ shopOrder.categoryService}}</td></tr>
                                                        <tr><td>{% trans %} partner         {% endtrans %}</td><td>{{ shopOrder.partner       }}</td></tr>
                                                        <tr><td>{% trans %} code_shop       {% endtrans %}</td><td>{{ shopOrder.codeShop      }}</td></tr>
                                                        <tr><td>{% trans %} cif             {% endtrans %}</td><td>{{ shopOrder.cif           }}</td></tr>
                                                        <tr><td>{% trans %} contact         {% endtrans %}</td><td>{{ shopOrder.contact       }}</td></tr>
                                                        <tr><td>{% trans %} phone_number_1  {% endtrans %}</td><td>{{ shopOrder.phoneNumber1  }}</td></tr>
                                                        <tr><td>{% trans %} phone_number_2  {% endtrans %}</td><td>{{ shopOrder.phoneNumber2  }}</td></tr>
                                                        <tr><td>{% trans %} mobile_number_1 {% endtrans %}</td><td>{{ shopOrder.mobileNumber1 }}</td></tr>
                                                        <tr><td>{% trans %} mobile_number_2 {% endtrans %}</td><td>{{ shopOrder.mobileNumber2 }}</td></tr>
                                                        <tr><td>{% trans %} fax             {% endtrans %}</td><td>{{ shopOrder.fax           }}</td></tr>
                                                        <tr><td>{% trans %} email_1         {% endtrans %}</td><td>{{ shopOrder.email1        }}</td></tr>
                                                        <tr><td>{% trans %} email_2         {% endtrans %}</td><td>{{ shopOrder.email2        }}</td></tr>
                                                        <tr><td>{% trans %} country         {% endtrans %}</td><td>{{ shopOrder.country|trans }}</td></tr>
                                                        <tr><td>{% trans %} region          {% endtrans %}</td><td>{{ shopOrder.region        }}</td></tr>
                                                        <tr><td>{% trans %} city            {% endtrans %}</td><td>{{ shopOrder.city          }}</td></tr>
                                                        <tr><td>{% trans %} postal_code     {% endtrans %}</td><td>{{ shopOrder.postalCode    }}</td></tr>
                                                    {% endif %}
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %} btn.close {% endtrans %}</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->

                                {% if shopOrder.wantedaction == 'modify' or shopOrder.action == 're_modify' %}
                                    <span class="label label-warning"> {% trans %} action.modify {% endtrans %}</span>
                                {% elseif shopOrder.action == 'activate' %}
                                    <span class="label label-danger">  {% trans %} inactive      {% endtrans %}</span>
                                    <span class="glyphicon glyphicon-arrow-right">                        </span>
                                    <span class="label label-success"> {% trans %} active        {% endtrans %}</span>
                                {% elseif shopOrder.action == 'deactivate' %}
                                    <span class="label label-success"> {% trans %} active        {% endtrans %}</span>
                                    <span class="glyphicon glyphicon-arrow-right">                        </span>
                                    <span class="label label-danger">  {% trans %} inactive      {% endtrans %}</span>
                                {% elseif shopOrder.action == 'create' %}
                                    <span class="label label-info">    {% trans %} action.create {% endtrans %}</span>
                                {% elseif shopOrder.action == 'delete' %}
                                    <span class="label label-danger">  {% trans %} delete        {% endtrans %}</span>
                                {% elseif shopOrder.action == 'rejected' %}
                                    <span class="label label-danger">  {% trans %} rejected      {% endtrans %}</span>

                                {% elseif shopOrder.action == 'resend' and shopOrder.rejectionReason is not null %}
                                    <span class="label label-warning"> {% trans %} resend {% endtrans %} {{ shopOrder.wantedaction }} </span>
                                        <a title="{{ shopOrder.rejectionReason }}" href="#"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tag_red.png') }}"></a>
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a title="{% trans %} accept {% endtrans %}" href="{{ path("shopOrder_accept", { 'id': shopOrder.id, 'status': 'accepted' }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick_.png') }}"> </a>
                                    <a title="{% trans %} reject {% endtrans %}" href="{{ path("shopOrder_reject", { 'id': shopOrder.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/close.png') }}"> </a>
                                </td>
                            {% elseif is_granted('ROLE_AD') %}
                                <td>
                                    <a title="{% trans %} cancel {% endtrans %}" href="{{ path('shopOrder_remove', {'id' : shopOrder.id}) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/close.png') }}"></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'UtilBundle:Pagination:pagination_order.html.twig' %}

        {% else %}
            <div class="grid w100">
                <p class="alert">{% trans %} not_found {% endtrans %}</p>
            </div>
        {% endif %}
    {% else %}
        <div class="grid w100">
            <p class="alert">{% trans %} not_found {% endtrans %}</p>
        </div>
    {% endif %}
