
    <legend>{{ 'list.shop.rejected'|trans }}</legend>

    {% if orders is defined %}
        {% if orders|length > 0  %}
            <table class="table table-hover" style="width: 90%; margin-left: 5%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'shop'|trans }}</th>
                        <th>{{ 'category_service'|trans }}</th>
                        <th>{{ 'partner'|trans }}</th>
                        <th>{{ 'tel'|trans }}</th>
                        <th>{{ 'region'|trans }}</th>
                        <th>{{ 'status'|trans }}</th>
                        <th>{{ 'order'|trans }}</th>
                        {% if not is_granted('ROLE_ADMIN') %}
                        <th>{{ 'actions'|trans }}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for shopOrder in orders %}
                        <tr>
                            <td> {{ shopOrder.id           }} </td>
                            <td> {{ shopOrder.name|length > 15 ? shopOrder.name|slice(0, 15) ~ '...' : shopOrder.name  }} </td>
                            <td> {{ shopOrder.categoryService }} </td>
                            <td> {{ shopOrder.partner      }} </td>
                            <td> {{ shopOrder.phoneNumber1 }} </td>
                            <td> {{ shopOrder.region|length > 15 ? shopOrder.region|slice(0, 15) ~ '...' : shopOrder.region  }} </td>
                            <td>
                                    <a title="{{ 'order_details'|trans }}" href="#"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn_.png') }}" data-toggle="modal" data-target="#myModal_rejected_edit{{shopOrder.id}}"></a>
                                    {#{% if shopOrder.rejectionReason is not null %}
                                        <a title="{{ shopOrder.rejectionReason }}" href="#"><span class="glyphicon glyphicon-fire" style="color: red;"></span></a>
                                    {% endif %}#}
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_rejected_edit{{ shopOrder.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ 'order.details'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-hover">
                                                    {% if ((shopOrder.action == 'modify') or (shopOrder.action == 're_modify')) %}
                                                   <tr><th>                                  </th><th>{{ 'before'|trans }}</th><th>{{ 'after'|trans }}</th></tr>
                                                        <tr><td>{{ 'workshop'|trans }}</td><td>{{ orderBefore.name          }}</td><td>{{ shopOrder.name          }}</td></tr>
                                                        <tr><td>{{ 'category_service'|trans }}</td><td>{{ orderBefore.categoryService}}</td><td>{{ shopOrder.categoryService       }}</td></tr>
                                                        <tr><td>{{ 'partner'|trans }}</td><td>{{ orderBefore.partner       }}</td><td>{{ shopOrder.partner       }}</td></tr>
                                                        <tr><td>{{ 'code_shop'|trans }}</td><td>{{ orderBefore.codeShop      }}</td><td>{{ shopOrder.codeShop      }}</td></tr>
                                                        <tr><td>{{ 'cif'|trans }}</td><td>{{ orderBefore.cif           }}</td><td>{{ shopOrder.cif           }}</td></tr>
                                                        <tr><td>{{ 'contact'|trans }}</td><td>{{ orderBefore.contact       }}</td><td>{{ shopOrder.contact       }}</td></tr>
                                                        <tr><td>{{ 'phone_number_1'|trans }}</td><td>{{ orderBefore.phoneNumber1  }}</td><td>{{ shopOrder.phoneNumber1  }}</td></tr>
                                                        <tr><td>{{ 'phone_number_2'|trans }}</td><td>{{ orderBefore.phoneNumber2  }}</td><td>{{ shopOrder.phoneNumber2  }}</td></tr>
                                                        <tr><td>{{ 'mobile_number_1'|trans }}</td><td>{{ orderBefore.mobileNumber1 }}</td><td>{{ shopOrder.mobileNumber1 }}</td></tr>
                                                        <tr><td>{{ 'mobile_number_2'|trans }}</td><td>{{ orderBefore.mobileNumber2 }}</td><td>{{ shopOrder.mobileNumber2 }}</td></tr>
                                                        <tr><td>{{ 'fax'|trans }}</td><td>{{ orderBefore.fax           }}</td><td>{{ shopOrder.fax           }}</td></tr>
                                                        <tr><td>{{ 'email_1'|trans }}</td><td>{{ orderBefore.email1        }}</td><td>{{ shopOrder.email1        }}</td></tr>
                                                        <tr><td>{{ 'email_2'|trans }}</td><td>{{ orderBefore.email2        }}</td><td>{{ shopOrder.email2        }}</td></tr>
                                                        <tr><td>{{ 'country'|trans }}</td><td>{{ orderBefore.country|trans }}</td><td>{{ shopOrder.country|trans }}</td></tr>
                                                        <tr><td>{{ 'region'|trans }}</td><td>{{ orderBefore.region        }}</td><td>{{ shopOrder.region        }}</td></tr>
                                                        <tr><td>{{ 'city'|trans }}</td><td>{{ orderBefore.city          }}</td><td>{{ shopOrder.city          }}</td></tr>
                                                        <tr><td>{{ 'postal_code'|trans }}</td><td>{{ orderBefore.postalCode    }}</td><td>{{ shopOrder.postalCode    }}</td></tr>
                                                    {% else %}
                                                    <tr><th>                                      </th><th>{{ 'values'|trans }}</th></tr>
                                                        <tr><td>{{ 'workshop'|trans }}</td><td>{{ shopOrder.name          }}</td></tr>
                                                        <tr><td>{{ 'category_service'|trans }}</td><td>{{ shopOrder.categoryService}}</td></tr>
                                                        <tr><td>{{ 'partner'|trans }}</td><td>{{ shopOrder.partner       }}</td></tr>
                                                        <tr><td>{{ 'code_shop'|trans }}</td><td>{{ shopOrder.codeShop      }}</td></tr>
                                                        <tr><td>{{ 'cif'|trans }}</td><td>{{ shopOrder.cif           }}</td></tr>
                                                        <tr><td>{{ 'contact'|trans }}</td><td>{{ shopOrder.contact       }}</td></tr>
                                                        <tr><td>{{ 'phone_number_1'|trans }}</td><td>{{ shopOrder.phoneNumber1  }}</td></tr>
                                                        <tr><td>{{ 'phone_number_2'|trans }}</td><td>{{ shopOrder.phoneNumber2  }}</td></tr>
                                                        <tr><td>{{ 'mobile_number_1'|trans }}</td><td>{{ shopOrder.mobileNumber1 }}</td></tr>
                                                        <tr><td>{{ 'mobile_number_2'|trans }}</td><td>{{ shopOrder.mobileNumber2 }}</td></tr>
                                                        <tr><td>{{ 'fax'|trans }}</td><td>{{ shopOrder.fax           }}</td></tr>
                                                        <tr><td>{{ 'email_1'|trans }}</td><td>{{ shopOrder.email1        }}</td></tr>
                                                        <tr><td>{{ 'email_2'|trans }}</td><td>{{ shopOrder.email2        }}</td></tr>
                                                        <tr><td>{{ 'country'|trans }}</td><td>{{ shopOrder.country|trans }}</td></tr>
                                                        <tr><td>{{ 'region'|trans }}</td><td>{{ shopOrder.region        }}</td></tr>
                                                        <tr><td>{{ 'city'|trans }}</td><td>{{ shopOrder.city          }}</td></tr>
                                                        <tr><td>{{ 'postal_code'|trans }}</td><td>{{ shopOrder.postalCode    }}</td></tr>
                                                    {% endif %}
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.close'|trans }}</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->

                                {% if ((shopOrder.action == 'modify') or (shopOrder.action == 're_modify')) %}
                                    <span class="label label-warning"> {{ 'action.modify'|trans }}</span>
                                {% elseif shopOrder.action == 'activate'   %}
                                    <span class="label label-danger">  {{ 'inactive'|trans }}</span>
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                    <span class="label label-success"> {{ 'active'|trans }}</span>
                                {% elseif shopOrder.action == 'deactivate' %}
                                    <span class="label label-success"> {{ 'active'|trans }}</span>
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                    <span class="label label-danger">  {{ 'inactive'|trans }}</span>
                                {% elseif shopOrder.action == 'create'     %}
                                    <span class="label label-info">    {{ 'create'|trans }}</span>
                                {% elseif shopOrder.action == 'rejected'   %}
                                    <span class="label label-danger">  {{ 'rejected'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a title="{{ shopOrder.rejectionReason }}" href="#"><span data-toggle="modal" data-target="#myModal_rejected_reason{{ shopOrder.id }}" ><img class="img_icon" src="{{ asset('bundles/util/images/icon/reject_reason.png') }}"> {{ 'reject.reason'|trans }}</span></a>
                                <!-- Modal -->
                                    <div class="modal fade" id="myModal_rejected_reason{{shopOrder.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ 'reject.reason'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {{ shopOrder.rejectionReason|nl2br }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.close'|trans }}</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                            </td>
                            <td>
                            {% if not is_granted('ROLE_ADMIN') %}

                                    {% if shopOrder.wantedAction != 'create' %}
                                        <a title="{{ 'edit.shop'|trans }}" href="{{ path('shopOrder_edit',   {'id': shopOrder.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
                                    {% endif %}
                                    <a title="{{ 'order.cancel'|trans }}"  href="{{ path('shopOrder_remove', {'id': shopOrder.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/closed.png') }}"></a>

                                    <a title="{{ 'order.resend'|trans }}"  href="{{ path('shopOrder_resendOrder', {'id': shopOrder.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/update.png') }}"></a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'UtilBundle:Pagination:pagination_order.html.twig' %}

        {% else %}
     <div class="grid w100">
        <p class="alert">{{ 'not_found'|trans }}</p>
    </div>
        {% endif %}
    {% else %}
     <div class="grid w100">
        <p class="alert">{{ 'not_found'|trans }}</p>
    </div>
    {% endif %}
