{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li><a href="{{ path('category_service_list') }}">{% trans %} menu.list_categories {% endtrans %}</a></li>
        <li class="active">{% trans %} edit.category_service {% endtrans %}</li>
    </ol>

    <form action="{{ path("category_service_edit", {'id': category.id}) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >

        <div class="container">
            <legend>{% trans %} category_service {% endtrans %}</legend>

            <div class="col-xs-12 col-md-12 form-group">
                {% if app.session.hasFlash('error') %}
                    <p class="error">{{ app.session.getFlash('error') }}</p>
                {% endif %}
            </div>

            <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-6 col-md-6 form-group">
                    <label for="adservice_userbundle_categoryservicetype_category_service">{% trans %} category_service {% endtrans %}</label>
                    {{ form_widget(form.category_service, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                    <label for="adservice_userbundle_categoryservicetype_email">{% trans %} email {% endtrans %}</label>
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_userbundle_categoryservicetype_dis">{% trans %} dis {% endtrans %}</label>
                    {{ form_widget(form.dis, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_userbundle_categoryservicetype_vts">{% trans %} vts {% endtrans %}</label>
                    {{ form_widget(form.vts, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_userbundle_categoryservicetype_slug"> Slug </label>
                    {{ form_widget(form.slug, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            {{ form_rest(form) }}

            <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {% trans %} btn.send {% endtrans %}</button>
        </div>
    </form>

{% endblock %}
