{% extends "::layout.html.twig" %}

{% block body %}
    <ol class="breadcrumb">
      <li><a href="{{ path('list_incidences', { 'page': 1, 'id_taller': incidence.idTaller, 'id_socio': incidence.idSocio }) }}">
      					 {{ 'lock.list_incidences'|trans }}</a></li>
      <li class="active">{{ 'incidence'|trans }}</li>
    </ol>

<div class="info">

<legend>{{ 'info'|trans }}</legend>

	{% if incidence.taller != "" %}<div class="form-group"><img class='img_icon' src='{{ asset('bundles/util/images/icon/workshop_.png') }}'> {{ incidence.taller 		}}</div>{% endif %}
	{% if incidence.coche  != "" %}<div class="form-group"><img class='img_icon' src='{{ asset('bundles/util/images/icon/car.png') }}'> {{ incidence.coche  		}}</div>{% endif %}
	{% if incidence.socio  != "" %}<div class="form-group"><img class='img_icon' src='{{ asset('bundles/util/images/icon/partner_.png') }}'> <b>{{ 'partner'|trans }}</b>:{{ incidence.socio  }}</div>{% endif %}
	{% if incidence.asesor != "" %}<div class="form-group"><img class='img_icon' src='{{ asset('bundles/util/images/icon/assign.png') }}'> <b>{{ 'assigned_to'|trans }}:</b>
																							{% if incidence.asesor	!= 0 %} {{ incidence.asesor 	}}
																							{% else %} {{ 'anonimo'|trans }}{% endif %}
																							</div> {% endif %}
	{% if incidence.oper   != "" %}<div class="form-group"><img class='img_icon' src='{{ asset('bundles/util/images/icon/cog.png') }}'> {{ incidence.oper   		}}</div>{% endif %}
</div>

<!-- CONTENIDO PAGINA TICKETS -->

<div class="content">
    <div class="form-group">
    <legend>{{ 'incidence'|trans }} #{{ incidence.id }} <a class="txtComment">({{ incidence.date }})</a></legend>{# | date("d/m/Y") #}

	    <legend>{{ 'description'|trans }}</legend>

		{% if incidence.description	!= "" %}<div class="col-xs-12 col-md-12 form-group"></b>{{ incidence.description }} </div> {% endif %}

	    <legend>{{ 'tracing'|trans }}</legend>
	    {% if incidence.tracing  	!= "" %}<div class="col-xs-12 col-md-12 form-group"></b>{{ incidence.tracing 	}} </div> {% endif %}

	    <legend>{{ 'solution'|trans }}</legend>
	    {% if incidence.solution  	!= "" %}<div class="col-xs-12 col-md-12 form-group"></b>{{ incidence.solution 	}} </div> {% endif %}
	</div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lock/js/incidence.js') }}"></script>
{% endblock %}