{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block breadcrumb %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li><a href="{{ path('listTicket') }}">{% trans %} menu.list_tickets {% endtrans %}</a></li>
      <li class="active"><a href="{{ path('showTicket', {'id_ticket': ticket.id}) }}">#{{ ticket.id }}</a> {% trans %} edit.car {% endtrans %}</li>
    </ol>

{% endblock  %}

{% block info %}

    {% if is_granted('ROLE_ASSESSOR') %}

        {% set workshop = ticket.workshop %}
        {% include 'TicketBundle:Workshop:show_workshop.html.twig'  %}

    {% endif %}

{% endblock  %}

{% block content %}

    <div class="form-group">
        <form action="{{ path('editCar', { 'id_ticket': ticket.id }) }}" id="contact" class="form" role="form" method="post">

            <legend> {% trans %} edit.car {% endtrans %} </legend>
            {% include 'TicketBundle:Car:edit_car.html.twig'  %}
            <button class="btn btn-primary pull-right" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {% trans %} btn.send {% endtrans %}</button>
        </form>
    </div>

<input type="hidden" id="form_data" data-formname="new_car_form" data-subsystemajax="{{ path("ticket_system") }}" data-similarajax="{{ path("tbl_similar") }}" data-similarshow="{{ path("showTicketReadonly", { "id_ticket": "PLACEHOLDER" }) }}">
{% endblock  %}