{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block breadcrumb %}

    <ol class="breadcrumb" id="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li class="active">{% trans %} menu.list_tickets {% endtrans %}</li>
    </ol>

{% endblock  %}

{% block main %}

{% if app.session.hasFlash('popup') %}
     <p class="alert">{{ app.session.getFlash('popup')|nl2br }}</p>
{% endif %}

<div>
    {% if is_granted('ROLE_ASSESSOR') %}

        {% if workshop.id != "" %}
            {% include 'TicketBundle:Workshop:show_assessor_workshop.html.twig'   %}
        {% else %}
            {% include 'TicketBundle:Workshop:assessor_workshop.html.twig' %}
        {% endif %}

    {% else %}
        {% set workshop = app.security.getToken().getUser().getWorkshop() %}
    {% endif %}

    {# BANNER ALERTA - Mantenimiento #}
    {# <p class="alert" style="background-color:#DF0101">{% trans %} error.maintenance {% endtrans %}</p> #}

    {# Mostrar un acceso a VTS de clientes de Phone Eina #}
    <div id="ged_btns_min">
        {% set user_catserv = app.security.getToken().getUser().getCategoryService().getId() %}

        {% if user_catserv == '5' %}
            <input type="hidden" id="vts-url" value="{% trans %}vts-ecp-url{% endtrans %}">
        {% else %}
            <input type="hidden" id="vts-url" value="{% trans %}vts-url{% endtrans %}">
        {% endif %}

        {# Definimos las categorias de servicio que tienen acceso a VTS #}
        {% if user_catserv == '5' %}
                <a class="btn btn-primary fr asr_btn" id="vts" href="{{ 'vts-ecp-url'|trans }}" target="_blank"> {{ 'gotoVTS'|trans }}</a>
        {% elseif user_catserv == '6' %}
                <a class="btn btn-primary fr asr_btn" id="vts" href="{{ 'vts-url'|trans }}" target="_blank"> {{ 'gotoVTS'|trans }}</a>
        {% elseif user_catserv == '7' %}
                <a class="btn btn-primary fr asr_btn" id="vts" href="{{ 'vts-url'|trans }}" target="_blank"> {{ 'gotoVTS'|trans }}</a>
        {% elseif user_catserv == '8' %}
                <a class="btn btn-primary fr asr_btn" id="vts" href="{{ 'vts-url'|trans }}" target="_blank"> {{ 'gotoVTS'|trans }}</a>
        {% endif %}
    </div>

    {% include 'TicketBundle:Includes:_filters_ticket.html.twig' %}

</div>
<div class="content w100">
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'listTicket' %}

    {% if is_granted('ROLE_ASSESSOR') %}
        {% if workshop is defined and workshop.id != "" %}  {% include 'TicketBundle:Ticket:list_ticket.html.twig'  %}
        {% else %}                                          {% include 'TicketBundle:Ticket:history_ticket.html.twig' %}  {% endif %}
    {% else %}
        {% set workshop = app.security.getToken().getUser().getWorkshop() %}
        {% include 'TicketBundle:Ticket:list_ticket.html.twig' %}
    {% endif %}

</div>
{% endblock  %}

{% block additionalJavascripts %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ticket/js/ticket_history.js') }}"></script>
    <script src="{{ asset('bundles/ticket/js/ticket_workshop.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if option != '' %} $('#slct_historyTickets').val("{{ option }}"); {% else %} $('#slct_historyTickets').val('all'); {% endif %}
        });
    </script>
{% endblock %}