{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block breadcrumb %}

    <ol class="breadcrumb" id="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'menu.list_tickets'|trans }}</li>
    </ol>

{% endblock  %}

{% block main %}

{% for flashMessage in app.session.flashbag.get('popup') %}
     <p class="alert">{{ flashMessage|nl2br }}</p>
{% endfor %}

<div>
    {% if is_granted('ROLE_ASSESSOR') %}

        {% if workshop.id != "" %}
            {% include 'TicketBundle:Workshop:show_assessor_workshop.html.twig'   %}
        {% else %}
            {% include 'TicketBundle:Workshop:assessor_workshop.html.twig' %}
        {% endif %}

    {% else %}
        {% set workshop = app.security.getToken().getUser().getWorkshop() %}
    {% endif %}

    {# BANNER ALERTA - Mantenimiento #}
    {# <p class="alert" style="background-color:#DF0101">{{ 'error.maintenance'|trans }}</p> #}

    {# Mostrar un acceso a VTS de clientes de Phone Eina #}
    {% if user_catserv is defined and user_catserv != '' %}
        <div id="ged_btns_min">
            {% set user_catserv = app.security.getToken().getUser().getCategoryService() %}
            {% if user_catserv.getDis() != null %} <input type="hidden" id="dis-url" value="{{ user_catserv.getDis() }}">{% endif %}
            {% if user_catserv.getVts() != null %} <input type="hidden" id="vts-url" value="{{ user_catserv.getVts() }}">{% endif %}

            {% if user_catserv.getDis() != null %}
                <a class="btn btn-primary fr asr_btn" id="dis" href="{{ user_catserv.getDis() }}" target="_blank">{{'dis'|trans}}</a>
            {% endif %}
            {% if user_catserv.getVts() != null %}
                <a class="btn btn-primary fr asr_btn" id="vts" href="{{ user_catserv.getVts() }}" target="_blank">{{'gotoVTS'|trans}}</a>
            {% endif %}
        </div>
    {% endif %}

    {% include 'TicketBundle:Includes:_filters_ticket.html.twig' %}

</div>
<div class="content w100">
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'listTicket' %}

    {% if is_granted('ROLE_ASSESSOR') %}
        {% if workshop is defined and workshop.id != "" %}  {% include 'TicketBundle:Ticket:list_ticket.html.twig'  %}
        {% else %}                                          {% include 'TicketBundle:Ticket:history_ticket.html.twig' %}  {% endif %}
    {% else %}
        {% set workshop = app.security.getToken().getUser().getWorkshop() %}
        {% include 'TicketBundle:Ticket:list_ticket.html.twig' %}
    {% endif %}

</div>
{% endblock  %}

{% block additionalJavascripts %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ticket/js/ticket_history.js') }}"></script>
    <script src="{{ asset('bundles/ticket/js/ticket_workshop.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if option != '' %} $('#slct_historyTickets').val("{{ option }}"); {% else %} $('#slct_historyTickets').val('all'); {% endif %}
        });
    </script>
{% endblock %}