{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block breadcrumb %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li><a href="{% if is_granted('ROLE_ASSESSOR') and not is_granted('ROLE_ADMIN') %}{{ path("listTicket", { 'option': 'assessor_pending'}) }}
                   {% else %}{{ path('listTicket') }}{% endif %}">{{ 'menu.list_tickets'|trans }}</a></li>
      <li class="active">{{ 'new.ticket'|trans }}</li>
    </ol>

{% endblock  %}

{% block info %}

    {% if is_granted('ROLE_ASSESSOR') %}

        {% if workshop.id != "" %}  {% include 'TicketBundle:Workshop:show_workshop.html.twig'   %}
                                    {% include 'TicketBundle:Includes:_tbl_similar.html.twig'    %}
        {% else %}                  {% include 'TicketBundle:Workshop:search_workshop.html.twig' %}  {% endif %}

    {% else %}

        {% set workshop = app.user.getWorkshop() %}
        {% include 'TicketBundle:Workshop:show_workshop.html.twig' %}

    {% endif %}

    {% include 'TicketBundle:Includes:_ged_btns.html.twig' %}

{% endblock  %}

{% block content %}
    <input type="hidden" id="msg_bad_cif_length" name="msg_bad_cif_length" value=" {{ 'ticket_vin_error_length'|trans }}">
    <input type="hidden" id="msg_bad_cif_o" name="msg_bad_cif_o" value="{{ 'ticket_vin_error_o'|trans }}">
    <input type="hidden" id="msg_einatech" name="msg_einatech" value="{{ 'msg_einatech'|trans }}">
    <input type="hidden" id="new_einatech" name="new_einatech" value={{einatech}}>
    <input type="hidden" id="autologin"   value="{{autologin_session}}">
    {% if not is_granted('ROLE_ASSESSOR') %} {% set workshop = app.user.getWorkshop() %} {% endif %}

    {% if workshop.id != "" %}
        <form action="{{ path('newTicket', { 'id_workshop' : workshop.id, 'einatech': einatech }) }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">
            <a class="btn btn-primary fr asr_form-control asr_btn return_btn" href="{% if is_granted('ROLE_ASSESSOR') and not is_granted('ROLE_ADMIN') %}{{ path("listTicket", { 'option': 'assessor_pending'}) }} {% else %}{{ path('listTicket') }}{% endif %}">
              <img class="img_icon" src="{{ asset('bundles/util/images/icon/back_.png') }}" title ="{{ 'ticket_return'|trans }}" alt="{{ 'ticket_return'|trans }}">
              {{ 'ticket_return'|trans }}
            </a>

          <input type="hidden" id="open_newTicket" name="open_newTicket" value="1">


          {% include 'TicketBundle:Car:new_car.html.twig'        %}

          {% include 'TicketBundle:Ticket:new_ticket.html.twig'  %}

          <button id="btn_create" name="btn_create" class="btn btn-primary pull-right ml15 sendTicket" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.create'|trans }}</button>

          {% if is_granted('ROLE_ASSESSOR') %}<button id="save_close" name="save_close" class="btn btn-primary pull-right closeTicket" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_send.png') }}"> {{ 'btn.create_close'|trans }}</button>{% endif %}
              {% if workshop.haschecks == true %}
                <div class="grid w20 pull-right {% if workshop.numchecks <= 1 %}error{% endif %} ">
                    <h4>{{ 'numchecks'|trans }}: {{ workshop.numchecks }}</h4>
                </div>
              {% endif %}
              {% if workshop.infotech == true %}
                <div class="grid w50 pull-right error">
                    <h4 class="pull-right">{{ 'infotech_only'|trans }}</h4>
                </div>
              {% endif %}
            </div>
        </form>

    {% endif %}
{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ticket/js/ticket_workshop.js') }}"></script>
    <script src="{{ asset('bundles/ticket/js/ticket_car.js') }}"></script>
  {% if is_granted('ROLE_ASSESSOR') %} <script src="{{ asset('bundles/ticket/js/ticket_subsystem.js') }}"></script> {% endif %}
{% endblock %}
