{% extends 'TicketBundle:Default:assessor_ticketing_layout.html.twig' %}

{% block header %}
    {% include 'TicketBundle:Default:assessor_header.html.twig' %}
{% endblock %}

{% block breadcrumb %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li><a href="{% if is_granted('ROLE_ASSESSOR') and not is_granted('ROLE_ADMIN') %}{{ path("listTicket", { 'option': 'assessor_pending'}) }}
                   {% else %}{{ path('listTicket') }}{% endif %}">{% trans %} menu.list_tickets {% endtrans %}</a></li>
      <li class="active">{% trans %} new.ticket {% endtrans %}</li>
    </ol>

{% endblock  %}
{% block main %}
<input type="hidden" id="msg_bad_cif_length" name="msg_bad_cif_length" value=" {% trans %} ticket_vin_error_length {% endtrans %}">
<input type="hidden" id="msg_bad_cif_o" name="msg_bad_cif_o" value="{% trans %} ticket_vin_error_o {% endtrans %}">
{% if car.brand.id is defined %} {% set brand = car.brand.id %}{% endif %}
{% if car.model.id is defined %} {% set model = car.model.id %}{% endif %}
{% if car.version.id is defined %} {% set version = car.version.id %}{% endif %}

<div class="grid-full w100">
    {% include 'TicketBundle:Workshop:show_assessor_workshop.html.twig'   %}
</div>
<div class="info asr_info">

      {% if is_granted('ROLE_ASSESSOR') %}

          {% if workshop.id != "" %}  {% include 'TicketBundle:Includes:_tbl_similar.html.twig'    %}
          {% else %}                  {% include 'TicketBundle:Workshop:search_workshop.html.twig' %}  {% endif %}

      {% else %}

          {% set workshop = app.security.getToken().getUser().getWorkshop() %}
          {% include 'TicketBundle:Workshop:show_workshop.html.twig' %}

      {% endif %}

      {% include 'TicketBundle:Includes:_ged_btns.html.twig' %}

</div>
<div class="content">

      {% if not is_granted('ROLE_ASSESSOR') %} {% set workshop = app.security.getToken().getUser().getWorkshop() %} {% endif %}

      {% if workshop.id != "" %}
          <form action="{{ path('newTicket', { 'id_workshop' : workshop.id }) }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">

              <input type="hidden" id="open_newTicket" name="open_newTicket" value="1">
              
              {% if car is defined or marca_session != null %}                
                {% if marca_session != null %}
                    <input type="hidden" id="ticket_brand"   value="{{marca_session}}">
                    <input type="hidden" id="ticket_model"   value="{{modelo_session}}">
                    <input type="hidden" id="ticket_version"   value="{{version_session}}">
                {% else %}
                    {% if car.brand.id is defined %} <input type="hidden" id="ticket_brand"   value="{{car.brand.id}}">{% endif %}
                    {% if car.model.id is defined %} <input type="hidden" id="ticket_model"   value="{{car.model.id}}">{% endif %}
                    {% if car.version.id is defined %} <input type="hidden" id="ticket_version" value="{{car.version.id}}">{% endif %}
                    {% if car.year is defined %} <input type="hidden" id="ticket_year" value="{{car.year}}">{% endif %}
                    {% if ticket.subsystem.system.id is defined %} <input type="hidden" id="ticket_system"  value="{{ticket.subsystem.system.id}}">{% endif %}
                    {% if ticket.subsystem.id is defined %} <input type="hidden" id="ticket_subsystem" value="{{ticket.subsystem.id}}">{% endif %}
                    {% if ticket.importance.id is defined %} <input type="hidden" id="ticket_importance" value="{{ticket.importance.id}}">{% endif %}
                {% endif %}
              
            {% endif %}

            <div class="tblContainer">
              {% include 'TicketBundle:Car:assessor_new_car.html.twig'        %}

              {% include 'TicketBundle:Ticket:new_ticket.html.twig'  %}

              <button id="btn_create" name="btn_create" class="btn btn-primary pull-right ml15 sendTicket" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {% trans %} btn.create {% endtrans %}</button>
              {% if is_granted('ROLE_ASSESSOR') %}<button id="save_close" name="save_close" class="btn btn-primary pull-right closeTicket" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_send.png') }}"> {% trans %}btn.create_close{% endtrans %}</button>{% endif %}
              {% if workshop.haschecks == true %}
                <div class="grid w20 pull-right {% if workshop.numchecks <= 1 %}error{% endif %} ">
                    {% trans %}numchecks{% endtrans %}: {{ workshop.numchecks }}
                </div>
              {% endif %}
              {% if workshop.infotech == true %}
                <div class="grid grid-33 pull-right error">
                    {% trans %}infotech_only{% endtrans %}
                </div>
              {% endif %}
            </div>
          </form>

      {% endif %}
</div>
{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ticket/js/ticket_workshop.js') }}"></script>
  {% if is_granted('ROLE_ASSESSOR') %} <script src="{{ asset('bundles/ticket/js/ticket_subsystem.js') }}"></script> {% endif %}
{% endblock %}
