{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block breadcrumb %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li><a href="{{ path('listTicket') }}">{% trans %} menu.list_tickets {% endtrans %}</a></li>
      <li class="active">#{{ ticket.id }}</li>
    </ol>

{% endblock  %}

{% block info %}

	{% if is_granted('ROLE_ASSESSOR') %}

        {% set workshop = ticket.workshop %}
        {% include 'TicketBundle:Workshop:show_workshop.html.twig'  %}

    {% endif %}

        {% set car      = ticket.car      %}
        {% include 'TicketBundle:Car:show_car.html.twig'            %}

{% endblock  %}

{% block content %}

    <div class="form-group">
        <form action="{{ path('showTicket', {'id' : ticket.id }) }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">

            {% include 'TicketBundle:Ticket:show_ticket.html.twig'  %}

        </form>
    </div>

    {% if is_granted('ROLE_ASSESSOR') %}
    {% endif %}
{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ticket/js/sentence.js') }}"></script>
  {% if is_granted('ROLE_ASSESSOR') %} <script src="{{ asset('bundles/ticket/js/ticket_subsystem.js') }}"></script> {% endif %}
{% endblock %}
