{% extends 'TicketBundle:Default:ticketing_layout.html.twig' %}

{% block breadcrumb %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li><a href="{% if is_granted('ROLE_ASSESSOR') and not is_granted('ROLE_ADMIN') %}{{ path("listTicket", { 'option': 'assessor_pending'}) }}
                   {% else %}{{ path('listTicket') }}{% endif %}">{{ 'menu.list_tickets'|trans }}</a></li>
      <li class="active">#{{ ticket.id }}</li>
    </ol>

    {% for flashMessage in app.session.flashbag.get('ticket_created') %}
      <p class="alert_created">{{'ticket_created'|trans}}</p>
    {% endfor %}
{% endblock  %}

{% block info %}

    {% if is_granted('ROLE_ASSESSOR') %}

        {% set workshop = ticket.workshop %}
        {% include 'TicketBundle:Workshop:show_workshop.html.twig'  %}

    {% endif %}

        {% set car      = ticket.car      %}
        {% include 'TicketBundle:Car:show_car.html.twig'            %}

{% endblock  %}

{% block content %}

    <div class="form-group">
        <form action="{{ path('showTicket', {'id' : ticket.id }) }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">

            <a class="btn btn-primary fr asr_form-control asr_btn return_btn" href="{% if is_granted('ROLE_ASSESSOR') and not is_granted('ROLE_ADMIN') %}{{ path("listTicket", { 'option': 'assessor_pending'}) }} {% else %}{{ path('listTicket') }}{% endif %}">
              <img class="img_icon" src="{{ asset('bundles/util/images/icon/back_.png') }}" title ="{{ 'ticket_return'|trans }}" alt="{{ 'ticket_return'|trans }}">
              {{ 'ticket_return'|trans }}
            </a>
            {% include 'TicketBundle:Ticket:show_ticket.html.twig'  %}
        </form>
    </div>
{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ticket/js/sentence.js') }}"></script>
  {% if is_granted('ROLE_ASSESSOR') %} <script src="{{ asset('bundles/ticket/js/ticket_subsystem.js') }}"></script> {% endif %}
{% endblock %}
