<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="color: #000000; margin: 0; font-family: Verdana, Geneva, sans-serif; background-color: #FFF;">

<table style="width: 100%;border: 0;color: #000000;font-family: Verdana, Geneva, sans-serif;font-size: 12px;margin-top: 50px;">

    {% set style = 'color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;' %}
    <tr>
        <td valign="left" align="left" style="{{style}} width: 40%; float: left">
            <table>
                <h3></h3>
                <th>{% trans %}information{% endtrans %} ({{count_closed}})</th>
                {% for id in closed_tickets %}
                    <tr><td valign="middle" style="{{style}}"><b>{{id}}</b></td></tr>
                {% endfor %}
            </table>
        </td>
        <td valign="right" align="right" style="{{style}} width: 40%; float: right">
            <table>
                <h3></h3>
                <th>{% trans %}advanced_diagnostics{% endtrans %} ({{count_pending}})</th>
                {% for id in pending_tickets %}
                    <tr><td valign="middle" style="{{style}}"><b>{{id}}</b></td></tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr><td valign="middle" align="center" style="{{style}} padding-top: 20px;"></td></tr>
</table>

<hr>

</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" style="background-color: #FFF;">
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} footerText {% endtrans %}
    </td></tr>
</table>
</body>
</html>