<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="color: #000000; margin: 0; font-family: Verdana, Geneva, sans-serif; background-color: #FFF;">
<table style="width:100%; height:50; border:0; color: #FFFFFF; font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-weight: bold; background-color: #428bca; text-align: center;">
    <tr><td width="100%" height="50" valign="middle">

        {% set url_logo = route_logo_mail ~ '.png' %}
        <img src="{{ asset(url_logo) }}" style="height: 60px;">
        <br>
        {{ 'mail.removeOrder.title'|trans }}
        {% if action == 'create'     %} {{'action.create'|trans|lower}}     {% endif %}
        {% if action == 'activate'   %} {{'action.active'|trans|lower}}     {% endif %}
        {% if action == 'deactivate' %} {{'action.inactive'|trans|lower}}   {% endif %}
        {% if action == 'modify'     %} {{'action.modify'|trans|lower}}     {% endif %}
        {{'shop'|trans|lower}}
    </td></tr>
</table>
<table style="width: 100%;border: 0;color: #000000;font-family: Verdana, Geneva, sans-serif;font-size: 12px;">
    <tr><td height="150" valign="middle" align="center">
        {% if app.user and shopOrder.categoryService != null %}
            {% set url_logo_catserv = route_logo_mail ~ '_' ~ shopOrder.categoryService.slug ~ '.png' %}
            <img src="{{ asset(url_logo_catserv) }}" style="height: 60px;">
        {% endif %}
    </td></tr>

    <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">

        {% if     shopOrder.modifiedBy.roles[0] == 'ROLE_ADMIN'    %} {{ 'mail.removeOrder.createdby'|trans }}
        {% elseif shopOrder.modifiedBy.roles[0] == 'ROLE_AD'     %} {{ 'mail.removeOrder.createdby.user'|trans }}
        {% endif %}
    </td></tr>

    <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {{ 'mail.removeOrder.info'|trans|raw }}"<b>{{ 'menu.list_orders'|trans }}</b>".
    </td></tr>
    {% if shopOrder.idshop != null and shopOrder.idshop != ""  %}
        <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
            {{ 'mail.removeOrder.shop.info.id'|trans }}
        </td></tr>
        <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
            <h2>{{ shopOrder.idshop }}</h2>
        </td></tr>
    {% endif %}
    <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {{ 'action'|trans }} {{ 'action.cancel'|trans }} :
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <h2>
        {% if action == 'create'     %} {{'action.create'|trans|lower}}     {% endif %}
        {% if action == 'activate'   %} {{'action.active'|trans|lower}}     {% endif %}
        {% if action == 'deactivate' %} {{'action.inactive'|trans|lower}}   {% endif %}
        {% if action == 'modify'     %} {{'action.modify'|trans|lower}}     {% endif %}
        {{'shop'|trans|lower}}
        </h2>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <table>
            <h3>{{ 'datashop'|trans }}:</h3>

            <tr><td valign="middle" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{{ 'shop'|trans }}:</b></td><td> {{ shopOrder.name }}
            </td></tr>
            <tr><td valign="middle" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{{ 'partner'|trans }}:</b></td><td> {{ shopOrder.partner }}
            </td></tr>
            <tr><td valign="middle" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{{ 'tel'|trans }}:</b></td><td> {{ shopOrder.phoneNumber1 }}
            </td></tr>
            <tr><td valign="middle" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{{ 'mail'|trans }}:</b></td><td> {{ shopOrder.Email1 }}
            </td></tr>
        </table>
    </td></tr>
    {#<tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px; padding-top: 20px;">
        {{ 'mail.info.more'|trans }}
        <a href="https://adserviceticketing.com/{{__locale}}/help">{{ 'adserviceticketing.com'|trans }}/{{__locale}}/help</a>
    </td></tr>#}
</table>

<hr>

</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" style="background-color: #FFF;">
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #428bca; font-family: Verdana, Geneva, sans-serif;">
        {{ 'footerText'|trans }}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #428bca; font-family: Verdana, Geneva, sans-serif;">
        {{ 'termsConditions'|trans }}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #428bca; font-family: Verdana, Geneva, sans-serif;">
        {{ 'mail.textDisclaimer'|trans }}
    </td></tr>
</table>
</body>
</html>