<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="color: #000000; margin: 0; font-family: Verdana, Geneva, sans-serif; background-color: #FFF;">
<table style="width:100%; height:50; border:0; color: #FFFFFF; font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-weight: bold; background-color: #285e8e; text-align: center;">
    <tr><td width="100%" height="50" valign="middle">
        {% set create   = 'action.create'|trans %}
        {% set active   = 'action.active'|trans %}
        {% set inactive = 'action.inactive'|trans %}
        {% set modify   = 'action.modify'|trans %}
        {% set resend   = 'action.resend'|trans %}
        {% trans %} mail.resendOrder.title {% endtrans %}
        {% if action == 'create'     %} {{create|lower}}     {% endif %}
        {% if action == 'activate'   %} {{active|lower}}     {% endif %}
        {% if action == 'deactivate' %} {{inactive|lower}}   {% endif %}
        {% if action == 'modify'     %} {{modify|lower}}     {% endif %}
        {{'workshop'|trans|lower}}
    </td></tr>
</table>
<table style="width: 100%;border: 0;color: #000000;font-family: Verdana, Geneva, sans-serif;font-size: 12px;">
    <tr><td height="150" valign="middle" align="center">
        {% set url_logo = route_logo_mail ~ '.png' %}
        <img src="{{ asset(url_logo) }}" style="height: 70px;">

        {% if app.security.getToken().getUser() != "anon." and workshopOrder.categoryService != null %}
            {% set url_logo_catserv = route_logo_mail ~ '_' ~ workshopOrder.categoryService.slug ~ '.png' %}
            <img src="{{ asset(url_logo_catserv) }}" style="height: 70px;">
        {% endif %}
    </td></tr>

    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">

        {% if     workshopOrder.modifiedBy.roles[0] == 'ROLE_ADMIN'    %} {% trans %} mail.resendOrder.createdby {% endtrans %}
        {% elseif workshopOrder.modifiedBy.roles[0] == 'ROLE_AD'     %} {% trans %} mail.resendOrder.createdby.user  {% endtrans %}
        {% endif %}
    </td></tr>

    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %} mail.resendOrder.info {% endtrans %}"<b>{% trans %} menu.list_orders {% endtrans %}</b>".
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %} mail.resendOrder.info.id {% endtrans %}
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <h2>{{ workshopOrder.id }}</h2>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %} action {% endtrans %} {{resend|lower}} :
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <h2>
        {% if action == 'create'     %} {{create|lower}}     {% endif %}
        {% if action == 'activate'   %} {{active|lower}}     {% endif %}
        {% if action == 'deactivate' %} {{inactive|lower}}   {% endif %}
        {% if action == 'modify'     %} {{modify|lower}}     {% endif %}
        {{'workshop'|trans|lower}}
        </h2>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <table>
            <h3>{% trans %} dataworkshop {% endtrans %}:</h3>

            <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{% trans %} workshop {% endtrans %}:</b></td><td> {{ workshopOrder.name }}
            </td></tr>
            <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{% trans %} code {% endtrans %}:</b></td><td> {{ workshopOrder.codepartner }} - {{ workshopOrder.codeworkshop }}
            </td></tr>
            <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{% trans %} contact {% endtrans %}:</b></td><td> {{ workshopOrder.contact }}
            </td></tr>
            <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{% trans %} tel {% endtrans %}:</b></td><td> {{ workshopOrder.phoneNumber1 }}
            </td></tr>
            <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{% trans %} mail {% endtrans %}:</b></td><td> {{ workshopOrder.Email1 }}
            </td></tr>
        </table>
            <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                {% if workshopOrder.test == 1 %}
                    <b>{% trans %} testing {% endtrans %}</b>
                {% endif %}
            </td></tr>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px; padding-top: 20px;">
        {% trans %} mail.info.more {% endtrans %}
        <a href="http://adserviceticketing.com/{{__locale}}/help">{% trans %}adserviceticketing.com{% endtrans %}/{{__locale}}/help</a>
    </td></tr>
</table>

<hr>

</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" style="background-color: #FFF;">
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} footerText {% endtrans %}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} termsConditions {% endtrans %}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} mail.textDisclaimer {% endtrans %}
    </td></tr>
</table>
</body>
</html>