<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="color: #000000; margin: 0; font-family: Verdana, Geneva, sans-serif; background-color: #FFF;">
<table style="width:100%; height:50; border:0; color: #FFFFFF; font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-weight: bold; background-color: #285e8e; text-align: center;">
    <tr><td width="100%" height="50" valign="middle">
        {% trans %} mail.reopenTicket.title {% endtrans %}
    </td></tr>
</table>
<table style="width: 100%;border: 0;color: #000000;font-family: Verdana, Geneva, sans-serif;font-size: 12px;">
    <tr><td height="150" valign="middle" align="center">
        <img src="{% trans %} mail.image {% endtrans %}" alt="AD-Service" title="AD-Service" width="416" height="58" />
    </td></tr>

    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">

        {% if     ticket.modifiedBy.roles[0] == 'ROLE_ADMIN'    %} {% trans %} mail.reopenTicket.createdby {% endtrans %}
                                                                   <h3>
                                                                        {% trans %} admin {% endtrans %}
                                                                        {{ ticket.modifiedBy.name }}
                                                                    </h3>
        {% elseif ticket.modifiedBy.roles[0] == 'ROLE_ASSESSOR' %} {% trans %} mail.reopenTicket.createdby {% endtrans %}
                                                                   <h3>
                                                                        {% trans %} assessor {% endtrans %}
                                                                        {{ ticket.modifiedBy.name }}
                                                                    </h3>
        {% elseif ticket.modifiedBy.roles[0] == 'ROLE_USER'     %} {% trans %} mail.reopenTicket.createdby.user  {% endtrans %}
        {% endif %}
    </td></tr>

    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %} mail.reopenTicket.info {% endtrans %}"<b>{% trans %} menu.list_tickets {% endtrans %}</b>".
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %} mail.reopenTicket.info.id {% endtrans %}
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <h2>{{ ticket.id }}</h2>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <h2><a href="http://www.ad-service.es/es/ticket/show/{{ticket.id}}">
            <img class="img_icon" src="http://ad-service.es/testproject/web/bundles/util/images/icon/ticket_show.png">
            {% trans %} mail.goto_ticket {% endtrans %}</a>
        </h2>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <table>
            <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{% trans %} car {% endtrans %}:</b> {{ ticket.car }}
            </td></tr>
            <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{% trans %} description {% endtrans %}:</b> {{ ticket.description|nl2br }}
            </td></tr>
        </table>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px; padding-top: 20px;">
        {% trans %} mail.info.more {% endtrans %} <a href="http://www.ad-service.es">{% trans %} www.ad-service.es {% endtrans %}</a>
    </td></tr>
</table>

<hr>

</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" style="background-color: #FFF;">
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} footerText {% endtrans %}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} termsConditions {% endtrans %}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} mail.textDisclaimer {% endtrans %}
    </td></tr>
</table>
</body>
</html>