<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="color: #000000; margin: 0; font-family: Verdana, Geneva, sans-serif; background-color: #FFF;">
<table style="width:100%; height:50; border:0; color: #FFFFFF; font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-weight: bold; background-color: #285e8e; text-align: center;">
    <tr><td width="100%" height="50" valign="middle">
        {% trans %} mail.changePassword.title {% endtrans %}
    </td></tr>
</table>
<table style="width: 100%;border: 0;color: #000000;font-family: Verdana, Geneva, sans-serif;font-size: 12px;">
    <tr><td height="150" valign="middle" align="center">
        <img src="http://grupeina.com/images/especif/003_01_a.jpg" alt="AD-Service" title="AD-Service" width="322" height="109" />
    </td></tr>

    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">

        {% if     user.roles[0] == 'ROLE_ADMIN'    %} {% trans %} mail.changePassword.createdby {% endtrans %}
                                                                   <h3>
                                                                        {% trans %} admin {% endtrans %}
                                                                        {{ user.name }}
                                                                    </h3>
        {% elseif user.roles[0] == 'ROLE_ASSESSOR' %} {% trans %} mail.changePassword.createdby {% endtrans %}
                                                                   <h3>
                                                                        {% trans %} assessor {% endtrans %}
                                                                        {{ user.name }}
                                                                    </h3>
        {% elseif user.roles[0] == 'ROLE_USER'     %} {% trans %} mail.changePassword.createdby.workshop  {% endtrans %}
        {% endif %}
    </td></tr>


    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %} mail.changePassword.info {% endtrans %}"<b>{% trans %} user.index.menu.my_tickets {% endtrans %}</b>"
        {% trans %} mail.changePassword.info.tel {% endtrans %}
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        {% trans %} mail.changePassword.info.id {% endtrans %}
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <h2>{{ user.workshop.partner.id }}, {{ user.workshop.id }}</h2>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <table>
            <h3>{% trans %} dataUser {% endtrans %}:</h3>
            <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{% trans %} mail.changePassword.user     {% endtrans %}</b></td><td> <b>{{ user.username }}</b>
            </td></tr>
            <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{% trans %} mail.changePassword.password {% endtrans %}</b></td><td> <b>{{ password }}</b>
            </td></tr>
        </table>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px; padding-top: 20px;">
        {% trans %} mail.changePassword.info.password {% endtrans %}"<b>{% trans %} user.index.menu.my_profile {% endtrans %}</b>"
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px; padding-top: 20px;">
        {% trans %} mail.info.more {% endtrans %} <a href="http://www.ad-service.es">www.ad-service.es</a>
    </td></tr>
</table>

<hr>

</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" style="background-color: #FFF;">
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} footerText {% endtrans %}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} termsConditions {% endtrans %}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} mail.textDisclaimer {% endtrans %}
    </td></tr>
</table>
</body>
</html>