<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="color: #000000; margin: 0; font-family: Verdana, Geneva, sans-serif; background-color: #FFF;">
<table style="width:100%; height:50; border:0; color: #FFFFFF; font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-weight: bold; background-color: #428bca; text-align: center;">
    <tr><td width="100%" height="50" valign="middle">
        
        {% set url_logo = route_logo_mail ~ '.png' %}
        <img src="{{ asset(url_logo) }}" style="height: 60px;">
        <br>
        {{ 'mail.changePassword.title'|trans }}
    </td></tr>
</table>
<table style="width: 100%;border: 0;color: #000000;font-family: Verdana, Geneva, sans-serif;font-size: 12px;">
    <tr><td height="150" valign="middle" align="center">
        {% if app.security.getToken().getUser() != "anon." and user.categoryService != null %}
            {% set url_logo_catserv = route_logo_mail ~ '_' ~ user.categoryService.slug ~ '.png' %}
            <img src="{{ asset(url_logo_catserv) }}" style="height: 60px;">
        {% endif %}
    </td></tr>

    <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">

        {% if     user.roles[0] == 'ROLE_SUPER_ADMIN'
           or     user.roles[0] == 'ROLE_ADMIN'         %} {{ 'mail.changePassword.createdby'|trans }}
        {% elseif user.roles[0] == 'ROLE_ASSESSOR'      %} {{ 'mail.changePassword.createdby'|trans }}
        {% elseif user.roles[0] == 'ROLE_SUPER_AD'
           or     user.roles[0] == 'ROLE_AD'            %} {{ 'mail.changePassword.createdby'|trans }}
        {% elseif user.roles[0] == 'ROLE_USER'          %} {{ 'mail.changePassword.createdby.user'|trans }}
        {% endif %}
    </td></tr>


    <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <table>
            <h3>{{ 'datauser'|trans }}:</h3>
            <tr><td valign="middle" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{{ 'mail.changePassword.user'|trans }}</b></td><td> <b>{{ user.username }}</b>
            </td></tr>
            <tr><td valign="middle" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>{{ 'mail.changePassword.password'|trans }}</b></td><td> <b>{{ password }}</b>
            </td></tr>
        </table>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px; padding-top: 20px;">
        <a>{{ 'mail.changePassword.info.password'|trans|raw }}</a>
        <a>"<b>{{ 'menu.profile'|trans }}</b>"</a>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <a>{{ 'mail.changePassword.info'|trans|raw }}</a>
        <a>{{ 'mail.changePassword.info.tel'|trans }}</a>
        <a>{{ 'mail.info.tel'|trans }}</a>
    </td></tr>
</table>

<hr>

</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" style="background-color: #FFF;">
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #428bca; font-family: Verdana, Geneva, sans-serif;">
        {{ 'footerText'|trans }}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #428bca; font-family: Verdana, Geneva, sans-serif;">
        {{ 'termsConditions'|trans }}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #428bca; font-family: Verdana, Geneva, sans-serif;">
        {{ 'mail.textDisclaimer'|trans }}
    </td></tr>
</table>
</body>
</html>