{# empty Twig template #}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="color: #000000; margin: 0; font-family: Verdana, Geneva, sans-serif; background-color: #FFF;">
<table style="width:100%; height:50; border:0; color: #FFFFFF; font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-weight: bold; background-color: #428bca; text-align: center;">
    <tr><td width="100%" height="50" valign="middle">

        {% set workshop = user.workshop %}
        {% set css_style = "color: #428bca; font-family: Verdana, Geneva, sans-serif; font-size: 14px;" %}
        
        {% set url_logo = route_logo_mail ~ '.png' %}
        <img src="{{ asset(url_logo) }}" style="height: 60px;">
        <br>
        {{ 'mail.newUser.title'|trans }}
    </td></tr>
</table>
<table style="width: 100%;border: 0;color: #000000;font-family: Verdana, Geneva, sans-serif;font-size: 12px;">
    <tr><td height="150" valign="middle" align="center">
{#
        {% set url_logo = route_logo_mail ~ '.png' %}
        <img src="{{ asset(url_logo) }}" style="height: 60px;margin-right: 20px;">
#}
        {% if app.security.getToken().getUser() != "anon." and user.categoryService != null %}
            {% set url_logo_catserv = route_logo_mail ~ '_' ~ user.categoryService.slug ~ '.png' %}
            <img src="{{ asset(url_logo_catserv) }}" style="height: 60px;">
        {% endif %}
    </td></tr>

    <tr><td valign="middle" align="center" style="{{css_style}}">
         {% if user.modifiedBy.roles[0] == 'ROLE_ADMIN' %} {{ 'mail.newUser.createdby'|trans }}{% endif %}
    </td></tr>

    <tr><td valign="middle" align="center" style="">
        {{ 'mail.newUser.info.id'|trans }}
    </td></tr>
    <tr><td valign="middle" align="center" style="{{css_style}}">
        <h2>{{ workshop.codepartner }} - {{ workshop.codeworkshop }}</h2>
    </td></tr>
    <tr><td valign="middle" align="center" style="{{css_style}}">
        <table>
            <h3>{{ 'datauser'|trans }}:</h3>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'username'|trans }}</b></td><td>{{ user.username }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'typology'|trans }}</b></td><td>{{ workshop.typology }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'address'|trans }}</b></td><td>{{ user.address }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'city'|trans }}</b></td><td>{{ user.city }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'region'|trans }}</b></td><td>{{ user.region }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'phone_number_1'|trans }}</b></td><td>{{ user.phoneNumber1 }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'phone_number_2'|trans }}</b></td><td>{{ user.phoneNumber2 }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'mobile_number_1'|trans }}</b></td><td>{{ user.mobileNumber1 }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'mobile_number_2'|trans }}</b></td><td>{{ user.mobileNumber2 }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'email_1'|trans }}</b></td><td>{{ user.email1 }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'email_2'|trans }}</b></td><td>{{ user.email2 }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'fax'|trans }}</b></td><td>{{ user.fax }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'contact'|trans }}</b></td><td>{{ user.name }} {{ user.surname }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'created_at'|trans }}</b></td><td>{{ workshop.createdAt|date("d/m/Y") }}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'update_at'|trans }}</b></td><td>{% if workshop.updateAt %}{{ workshop.updateAt|date("d/m/Y") }}{% endif %}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'lowdate_at'|trans }}</b></td><td>{% if workshop.lowdateAt %}{{ workshop.lowdateAt|date("d/m/Y") }}{% endif %}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'active'|trans }}</b></td><td>{% if workshop.active %}{{'yes'|trans }}{% else %}{{'no'|trans }}{% endif %}</td></tr>
            <tr><td valign="middle" style="{{css_style}}"><b>{{ 'observations'|trans }}</b></td><td>{{workshop.observationAdmin}}</td></tr>
        </table>
    </td></tr>
    <tr><td valign="middle" align="center" style="{{css_style}} padding-top: 20px;">
        {{ 'mail.newUser.info.password'|trans|raw }}"<b>{{ 'menu.profile'|trans }}</b>"
    </td></tr>
    <tr><td valign="middle" align="center" style="{{css_style}}">
        {{ 'mail.newUser.info'|trans|raw }}{{ 'mail.newUser.info.tel'|trans }}{{ 'mail.info.tel'|trans }}
    </td></tr>
</table>

<hr>

</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" style="background-color: #FFF;">
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #428bca; font-family: Verdana, Geneva, sans-serif;">
        {{ 'footerText'|trans }}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #428bca; font-family: Verdana, Geneva, sans-serif;">
        {{ 'termsConditions'|trans }}
    </td></tr>
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #428bca; font-family: Verdana, Geneva, sans-serif;">
        {{ 'mail.textDisclaimer'|trans }}
    </td></tr>
</table>
</body>
</html>