<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="color: #000000; margin: 0; font-family: Verdana, Geneva, sans-serif; background-color: #FFF;">
<table style="width:100%; height:50; border:0; color: #FFFFFF; font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-weight: bold; background-color: #285e8e; text-align: center;">
    <tr><td width="100%" height="50" valign="middle">
        Bienvenido a {% trans %} header.welcome {% endtrans %}
    </td></tr>
</table>
<table style="width: 100%;border: 0;color: #000000;font-family: Verdana, Geneva, sans-serif;font-size: 12px;margin-top: 50px;">

    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
        <table>
            <h3>Datos del usuario:</h3>
            <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>Usuario:</b></td><td> <b>{{ user.username }}</b>
            </td></tr>
            <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                <b>Contraseña:</b></td><td> <b>{{ password }}</b>
            </td></tr>

            {% if user.workshop is defined %}
                {% set workshop = user.workshop %}

                <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                    <b>Taller:</b></td><td><b>{{ workshop.codePartner }} - {{ workshop.codeWorkshop }}</b> {{ workshop.name }}
                </td></tr>

            {% elseif user.partner is defined %}
                {% set partner = user.partner %}

                <tr><td valign="middle" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px;">
                    <b>Socio:</b></td><td><b> {{ partner.codePartner }}</b> {{ partner.name }}
                </td></tr>

            {% endif %}
        </table>
    </td></tr>
    <tr><td valign="middle" align="center" style="color: #285e8e; font-family: Verdana, Geneva, sans-serif; font-size: 14px; padding-top: 20px;">
    </td></tr>
</table>

<hr>

</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" style="background-color: #FFF;">
    <tr><td valign="bottom" align="center" style="font-size: 10px; color: #285e8e; font-family: Verdana, Geneva, sans-serif;">
        {% trans %} footerText {% endtrans %}
    </td></tr>
</table>
</body>
</html>