{% extends '::layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">Home</a></li>
        <li class="active">List of Statistics</li>
    </ol>

    <table class="table table-hover" style="width: 80%; margin-left: 10%;">
        <tbody>
            <tr>
                <td>Número de Usuarios en ADService</td>
                <td>{{ statistic.getNumUsers }}</td>
            </tr>
            <tr>
                <td>Usuario con mas posts en ADService</td>
                <td>{{ statistic.getUserWithMaxPost[0].createdBy }} ({{ statistic.getUserWithMaxPost.num_post }} posts)</td>
            </tr>
            <tr>
                <td>Número de Tickets en ADService</td>
                <td>{{ statistic.getNumTickets }}</td>
            </tr>
            <tr>
                <td>Número de Tickets Abiertos en ADService</td>
                <td>{{ statistic.getNumOpenTickets }}</td>
            </tr>
            <tr>
                <td>Número de Tickets Cerrados en ADService</td>
                <td>{{ statistic.getNumClosedTickets }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}