{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}

    <ol class="breadcrumb">
      <li><a href="{{ path('insert_cif', { 'workshop_id' : workshop_id, 'country' : country }) }}">{{ 'home'|trans }}</a></li>
    </ol>

    <div style="width: 90%; margin-left: 5%;">

            <legend>{{ 'workshop.insert_cif'|trans }}</legend>

            <label style="width: 100%;">{{ 'workshop.cif'|trans }}</label>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <p style="color:red">{{ flashMessage }}</p>
            {% endfor %}
            <form action="{{ path('insert_cif', { 'workshop_id' : workshop_id, 'country' : country }) }}" method="post" >
                <div class="grid w10">
                    <input type="text" id="new_car_form_CIF" name="new_car_form_CIF" class="form-control asr_form-control">
                </div>
                <button class="btn btn-primary pull-left ml15" >{{ 'accept'|trans }}</button>
            </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>
    <script src="{{ asset('bundles/workshop/js/workshop_filter.js') }}"></script>

{% endblock %}