{% extends '::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
    <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
    <li class="active">{% trans %} menu.asign_user_to_ticket {% endtrans %}</li>
</ol>

    {% if workshops|length > 0  %}
        <table class="table table-hover table-list-search" style="width: 80%; margin-left: 10%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans %} workshop {% endtrans %}</th>
                    <th>{% trans %} email    {% endtrans %}</th>
                    <th>{% trans %} contact  {% endtrans %}</th>
                    <th>{% trans %} action   {% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for workshop in workshops %}
                    <tr>
                        <td>{{ workshop.id }}</td>
                        <td>{{ workshop.name }} {% if workshop.active == false %}<span class="label label-danger">{% trans %} inactivo {% endtrans %}</span>{% endif %}</td>
                        <td>{{ workshop.email1}}</td>
                        <td>{{ workshop.contact }}</td>
                        <td>
                            <a href="{{ path("ticketsFromWorkshop", { 'id_workshop':workshop.id }) }}">{% trans %} menu.list_tickets {% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'UtilBundle:Pagination:pagination_workshoplist.html.twig' %}

    {% else %}
        {% trans %} any.workshop {% endtrans %}
    {% endif %}


{% endblock %}