{% extends '::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
    <li><a href="{{ path('user_index') }}"> {{ 'home'|trans }}</a></li>
    <li class="active">{{ 'menu.asign_user_to_ticket'|trans }}</li>
</ol>

    {% if workshops|length > 0  %}
        <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'workshop'|trans }}</th>
                    <th></th>
                    <th>{{ 'email'|trans }}</th>
                    <th>{{ 'contact'|trans }}</th>
                    <th>{{ 'action'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for workshop in workshops %}
                    <tr>
                        <td>{{ workshop.id }}</td>
                        <td>{{ workshop.name }}</td>
                        <td>{% if workshop.active == false %} <span class="label label-danger">{{ 'inactive'|trans }}</span>{% endif %}
                            {# {% else %}                        <span class="label label-success">{{ 'active'|trans }}</span> {% endif %}#}</td>
                        <td>{{ workshop.email1}}</td>
                        <td>{{ workshop.contact }}</td>
                        <td>
                            <a href="{{ path("ticketsFromWorkshop", { 'id_workshop':workshop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tickets.png') }}"> {{ 'menu.list_tickets'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'UtilBundle:Pagination:pagination_workshoplist.html.twig' %}

    {% else %}
        {{ 'any.workshop'|trans }}
    {% endif %}


{% endblock %}