
{% if workshop.id         != "" %}
	<legend>{% trans %} workshop {% endtrans %}
			<a href="{{ path('listTicket') }}"><span class="glyphicon glyphicon-arrow-left" title="{% trans %} back {% endtrans %}"></span></a></a>
	</legend>

	<input type="hidden" id="id_workshop" name="id_workshop" value="{{ workshop.id }}">

	{# WORKSHOP #}
	<div class="form-group">
		#{{ workshop.partner.id}},{{ workshop.id }}: <b>{{ workshop.name }}</b>
		{% if workshop.contact      != "" %}<b>{% trans %} contact {% endtrans %}:  </b>{{ workshop.contact      }}  {% endif %}
	</div>

	{# TEL/MAIL #}
	<div class="form-group">
		{% if workshop.phoneNumber1 != "" %}{{ workshop.phoneNumber1 }} / {% else %}
		{% if workshop.movileNumber1 != "" %}{{ workshop.movileNumber1 }} / {% endif %}{% endif %}
		{% if workshop.email1       != "" %}{{ workshop.email1       }}   {% endif %}
	</div>

	{# LOCATION #}
	<div class="form-group">
		{% if workshop.region       != "" %}{{ workshop.region       }} , {% endif %}
	</div>

	{# PARTNER #}
	<div class="form-group">
		{% if workshop.partner      != "" %} Partner: {{ workshop.partner      }} {% endif %}
	</div>
	{# OBERVATIONS #}
	<div class="form-group">
		{% if is_granted('ROLE_ADMIN') %}
			{% if workshop.observationAdmin      != "" %} Observations: {{ workshop.observationAdmin      }} {% endif %}

		{% elseif is_granted('ROLE_ASSESSOR') %}
			{% if workshop.observationAssessor   != "" %} Observations: {{ workshop.observationAssessor   }} {% endif %}

		{% elseif is_granted('ROLE_USER') %}
			{% if workshop.observationWorkshop   != "" %} Observations: {{ workshop.observationWorkshop   }} {% endif %}
		{% endif %}
	</div>
{% endif %}
