<legend>{% trans %} workshop {% endtrans %}

			{% if workshop.test == 1 %}
				<img class='img_icon' src='{{ asset('bundles/util/images/icon/test.png') }}'
					 title="{% trans %} testing {% endtrans %}" alt="{% trans %} testing {% endtrans %}">{% endif %}

			{% if adsplus.id is defined %}
				<img class='img_icon' src='{{ asset('bundles/util/images/icon/adsplus.png') }}'
					 title="{% trans %} adsplus {% endtrans %}" alt="{% trans %} adsplus {% endtrans %}">{% endif %}
</legend>

	<input type="hidden" id="id_workshop" name="id_workshop" value="{{ workshop.id }}">

	{% if app.session.hasFlash('error' ) %} <p class="error">{{ app.session.getFlash('error' ) }}</p> {% endif %}

	{# WORKSHOP #}
	<div class="form-group">
		<img class='img_icon' src='{{ asset('bundles/util/images/icon/workshop_.png') }}'> #{{ workshop.partner.codePartner}} - {{ workshop.codeWorkshop }}: <b style="color:#428bca;">{{ workshop.name|length > 15 ? workshop.name|slice(0, 15) ~ '...' : workshop.name  }}</b>
	</div>

	{# CIF #}
	<div class="form-group">
		{% if workshop.cif      != "" %}<img class='img_icon' src='{{ asset('bundles/util/images/icon/cif.png') }}'> <b>{% trans %} cif {% endtrans %}</b>: {{ workshop.cif      }} {% endif %}
	</div>
	<div class="form-group">
		{% if workshop.contact      != "" %}<img class='img_icon' src='{{ asset('bundles/util/images/icon/user.png') }}'> <b>{% trans %} contact {% endtrans %}:  </b>{{ workshop.contact|length > 15 ? workshop.contact|slice(0, 15) ~ '...' : workshop.contact  }}  {% endif %}
	</div>
	{# PARTNER #}
	<div class="form-group">
		{% if workshop.partner      != "" %}<img class='img_icon' src='{{ asset('bundles/util/images/icon/partner_.png') }}'> <b>{% trans %} partner {% endtrans %}</b>: {{ workshop.partner      }} {% endif %}
	</div>

	{# LOCATION #}
	<div class="form-group">
		{% if workshop.region       != "" %}  <img class='img_icon' src='{{ asset('bundles/util/images/icon/location.png') }}'>{% endif %}
		{% if workshop.city         != "" %}  {{ workshop.city|length > 15 ? workshop.city|slice(0, 15) ~ '...' : workshop.city  }}{% endif %}
		{% if workshop.postalCode   != "" %}  {% if workshop.postalCode|length < 5 %}0{% endif %}{{ workshop.postalCode }}{% endif %}
		{% if workshop.region       != "" %}, {{ workshop.region     }}{% endif %}
	</div>

	{# TEL #}
	<div class="form-group">
		{% if workshop.phoneNumber1  != "" %} 	 <img class='img_icon' src='{{ asset('bundles/util/images/icon/phone.png'       ) }}'> {{ workshop.phoneNumber1  }} {% endif %}
		{% if workshop.phoneNumber2  != "" %} 	 - {{ workshop.phoneNumber2  }} {% endif %}
	</div>
	<div class="form-group">
		{% if workshop.movileNumber1 != "" %}    <img class='img_icon' src='{{ asset('bundles/util/images/icon/phone_mobile.png') }}'> {{ workshop.movileNumber1 }} {% endif %}
		{% if workshop.movileNumber2 != "" %}    - {{ workshop.movileNumber2 }} {% endif %}
	</div>
	<div class="form-group">
		{% if workshop.fax           != "" %}    <img class='img_icon' src='{{ asset('bundles/util/images/icon/phone_fax.png'   ) }}'> {{ workshop.fax           }} {% endif %}
	</div>

	{# MAIL #}
	<div class="form-group">
		<table>
		{% if workshop.email1 != "" %} <tr><td><img class='img_icon' src='{{ asset('bundles/util/images/icon/email.png') }}'></td><td> {{ workshop.email1 }} </td></tr>{% endif %}
		{% if workshop.email2 != "" %} <tr><td></td><td> {{ workshop.email2 }} </td></tr>{% endif %}
		</table>
	</div>

	{# OBERVATIONS #}
	<div class="form-group">
		{# OBERVATIONS #}
	{% if is_granted('ROLE_ADMIN') %}
		{% set observation = workshop.observationAdmin %}
	{% elseif is_granted('ROLE_ASSESSOR') %}
		{% set observation = workshop.observationAssessor %}
	{% elseif is_granted('ROLE_USER') %}
		{% set observation = workshop.observationWorkshop %}
	{% endif %}

	<div class="form-group" title="{{observation}}">
		{% if is_granted('ROLE_ASSESSOR') and workshop.conflictive == 1 %}

			<img class='img_icon' src='{{ asset('bundles/util/images/icon/exclamation.png') }}' title="{% trans %} conflictive {% endtrans %}" alt="{% trans %} conflictive {% endtrans %}">

		{% else %}

			<img class='img_icon' src='{{ asset('bundles/util/images/icon/info_.png') }}' title="{% trans %} observations {% endtrans %}" alt="{% trans %} observations {% endtrans %}">

		{% endif %}

		{% if observation != "" %}
			<b>{% trans %} observations {% endtrans %}</b>: {{ observation|length > 15 ? observation|slice(0, 15) ~ '...' : observation  }}
		{% else %}
			{% trans %} any_observation {% endtrans %}
		{% endif %}
	</div>
</div>