{% extends '::layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li class="active"> {% trans %} menu.list_statistics {% endtrans %} </li>
    </ol>

<div class="colIzq">

    <legend>{% trans %} tickets {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
        <table>
            <tr><td><label> {% trans %} date.start {% endtrans %} </label></td><td>
                <input id="tck_from_d" type="number" {% if from_d != '0' %} value="{{ from_d | date ('d')}}"  {% endif %} class='form-control' style="width:57px;float:left;">
                <input id="tck_from_m" type="number" {% if from_m != '0' %} value="{{ from_m | date ('m')}}"  {% endif %} class='form-control' style="width:57px;float:left;">
                <input id="tck_from_y" type="number" {% if from_y != '0' %} value="{{ from_y | date ('Y')}}"  {% endif %} class='form-control' style="width:73px;float:left;">
            </td></tr>
            <tr><td><label> {% trans %} date.end   {% endtrans %} </label></td><td>
                <input id="tck_to_d"   type="number" {% if to_d   != '0' %} value="{{ to_d   | date ('d')}}"  {% endif %} class='form-control' style="width:57px;float:left;">
                <input id="tck_to_m"   type="number" {% if to_m   != '0' %} value="{{ to_m   | date ('m')}}"  {% endif %} class='form-control' style="width:57px;float:left;">
                <input id="tck_to_y"   type="number" {% if to_y   != '0' %} value="{{ to_y   | date ('Y')}}"  {% endif %} class='form-control' style="width:73px;float:left;">
            </td></tr>
        </table></div>

        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} partner {% endtrans %}</label>
            <select id="flt_tck_partner" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                {% for partner in partners %}
                    <option value="{{ partner.id }}">{{ partner }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} workshop {% endtrans %}</label>
            <select id="flt_tck_workshop" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                 {% for workshop in workshops %}
                    <option value="{{ workshop.id }}">{{ workshop }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} status {% endtrans %}</label>
            <select id="flt_tck_status" class='form-control'>
                <option value="0"      >{% trans %} all    {% endtrans %}</option>
                <option value="open"   >{% trans %} open   {% endtrans %}</option>
                <option value="closed" >{% trans %} closed {% endtrans %}</option>
             </select>
         </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} country {% endtrans %}</label>
            <select id="flt_tck_country" class='form-control'>
                <option value="0">{% trans %} all {% endtrans %}</option>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country | trans }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="col-xs-12 col-md-12 form-group">
            <button class="btn btn-primary btn100" id="btn_search_ticket" >
                <img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}"> {% trans %} ticket.search {% endtrans %}</button>
        </div>


    <legend>{% trans %} workshops {% endtrans %}</legend>

        <div class="col-xs-12 col-md-12 form-group">
        <table>
            <tr><td>
                {# <label> {% trans %} date.start {% endtrans %} </label></td><td> #}
                <input id="wks_from_d" type="hidden" {% if from_d != '0' %} value="{{ from_d | date ('Y')}}"  {% endif %} class='form-control' style="width:57px;float:left;">
                <input id="wks_from_m" type="hidden" {% if from_m != '0' %} value="{{ from_m | date ('m')}}"  {% endif %} class='form-control' style="width:57px;float:left;">
                <input id="wks_from_y" type="hidden" {% if from_y != '0' %} value="{{ from_y | date ('d')}}"  {% endif %} class='form-control' style="width:73px;float:left;">
            </td></tr>
            <tr><td>
                {# <label> {% trans %} date.end   {% endtrans %} </label></td><td> #}
                <input id="wks_to_d"   type="hidden" {% if to_d   != '0' %} value="{{ to_d   | date ('Y')}}"  {% endif %} class='form-control' style="width:57px;float:left;">
                <input id="wks_to_m"   type="hidden" {% if to_m   != '0' %} value="{{ to_m   | date ('m')}}"  {% endif %} class='form-control' style="width:57px;float:left;">
                <input id="wks_to_y"   type="hidden" {% if to_y   != '0' %} value="{{ to_y   | date ('d')}}"  {% endif %} class='form-control' style="width:73px;float:left;">
            </td></tr>
        </table>
    </div>
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} partner {% endtrans %}</label>
            <select id="flt_wks_partner" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                {% for partner in partners %}
                    <option value="{{ partner.id }}">{{ partner }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} shop {% endtrans %}</label>
            <select id="flt_wks_shop" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                {% for shop in shops %}
                    <option value="{{ shop.id }}">{{ shop }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} typology {% endtrans %}</label>
            <select id="flt_wks_typology" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                {% for typology in typologies %}
                    <option value="{{ typology.id }}">{{ typology }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} status {% endtrans %}</label>
            <select id="flt_wks_status" class='form-control'>
                <option value="all"     >{% trans %} all      {% endtrans %}</option>
                <option value="active"  >{% trans %} active   {% endtrans %}</option>
                <option value="deactive">{% trans %} inactive {% endtrans %}</option>
                <option value="test"    >{% trans %} testing  {% endtrans %}</option>
                <option value="adsplus" >{% trans %} adsplus  {% endtrans %}</option>
                {# <option value="noticket">Without Tickets</option> #}
             </select>
         </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} country {% endtrans %}</label>
            <select id="flt_wks_country" class='form-control'>
                <option value="0">{% trans %} all {% endtrans %}</option>
                {% for country in countries %}
                <option value="{{ country.id }}">{{ country | trans }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="col-xs-12 col-md-12 form-group">
            <button class="btn btn-primary btn100" id="btn_search_workshop">
                <img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}"> {% trans %} workshop.search {% endtrans %}</button>
        </div>
</div>

<div class="content">

    {% if statistic.results is defined %}

        {% if type == 'ticket' %}
        <legend id="statistics_legend" data-type="ticket"> {% trans %} statistic.tickets  {% endtrans %}
            {% if is_granted('ROLE_SUPER_ADMIN')  %} {% trans %} statistic.from_adservice {% endtrans %}
            {% else %}                               {% trans %} statistic.from_country   {% endtrans %}
        {% endif %}
            <img id="doExcel_ticket" class="img_icon pull-right" src="{{ asset('bundles/util/images/icon/excel_exports.png') }}" title="{% trans %} statistics.download {% endtrans %}">
        </legend>

            <table class="table table-hover table-list-search">
                <thead>
                    <tr>
                        <th> #           </th>
                        <th>{% trans %} car                {% endtrans %}</th>
                        <th>{% trans %} ticket.assigned_to {% endtrans %}</th>
                        <th>{% trans %} description        {% endtrans %}</th>
                        <th>{% trans %} status             {% endtrans %}</th>
                        <th>                                             </th>
                        <th>{% trans %} date               {% endtrans %}</th>
                    </tr>
                </thead>
                <tbody id="ticketBody">
                    {% for ticket in statistic.results %}
                        <tr id="ticketRow">
                            <td id="id_ticket">{{ ticket.id         }}</td>
                            {% set car = ticket.car.brand ~ ' ' ~ ticket.car.model %}<td title="{{car}}"> {{ car|length > 15 ? car|slice(0, 15) ~ '...' : car  }}</td>
                            <td>{{ ticket.assignedTo                }}</td>
                            <td title="{{ticket.description}}">   {{ ticket.description|length > 25 ? ticket.description|slice(0, 25) ~ '...' : ticket.description }}</td>
                            <td>{{ ticket.status | trans            }}</td>
                            <td><a href="{{ path('showTicket', {'id': ticket.id}) }}" title="{% trans %} ticket.show {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_show.png') }}"></a></td>
                            <td>{{ ticket.createdAt | date("d/m/y") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div class="col-xs-12 col-md-12 form-group">{% include 'UtilBundle:Pagination:pagination_statistic.html.twig' %}</div>

        {% elseif type == 'workshop' %}
        <legend id="statistics_legend" data-type="workshops"> {% trans %} statistic.workshops {% endtrans %}
            {% if is_granted('ROLE_SUPER_ADMIN')  %} {% trans %} statistic.from_adservice {% endtrans %}
            {% else %}                               {% trans %} statistic.from_country   {% endtrans %}
        {% endif %}
           <img id="doExcel_workshop" class="img_icon pull-right" src="{{ asset('bundles/util/images/icon/excel_exports.png') }}" title="{% trans %} statistics.download {% endtrans %}">
        </legend>

            <table class="table table-hover table-list-search">
                <thead>
                    <tr>
                        <th>{% trans %} code     {% endtrans %}</th>
                        <th>{% trans %} workshop {% endtrans %}</th>
                        <th>{% trans %} partner  {% endtrans %}</th>
                        <th>{% trans %} email    {% endtrans %}</th>
                        <th>{% trans %} tel      {% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                        {% for workshop in statistic.results %}
                    <tr>
                        <td>{{ workshop.partner.codePartner }}, {{ workshop.codeWorkshop }}</td>
                        <td>{{ workshop.name }} {% if workshop.active == false %}<span class="label label-danger">{% trans %} inactive {% endtrans %}</span>{% endif %}</td>
                        <td>{{ workshop.partner}}</td>
                        <td>{{ workshop.email1 }}</td>
                        <td>{{ workshop.phoneNumber1 }}</td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        <div class="col-xs-12 col-md-12 form-group">{% include 'UtilBundle:Pagination:pagination_statistic.html.twig' %}</div>

        {% else %}
        <legend> {% trans %} statistic.general {% endtrans %}
            {% if is_granted('ROLE_SUPER_ADMIN')  %} {% trans %} statistic.from_adservice {% endtrans %}
            {% else %}                               {% trans %} statistic.from_country   {% endtrans %}
        {% endif %} </legend>
            <div class="col-xs-8 col-md-8 form-group"> <label>{% trans %} statistic.num_users          {% endtrans %}</label></div>
            <div class="col-xs-4 col-md-4 form-group">                 {{ statistic.getNumUsers         }}            </div>
            <div class="col-xs-8 col-md-8 form-group"> <label>{% trans %} statistic.num_partners       {% endtrans %}</label></div>
            <div class="col-xs-4 col-md-4 form-group">                 {{ statistic.getNumPartners      }}            </div>
            <div class="col-xs-8 col-md-8 form-group"> <label>{% trans %} statistic.num_shops          {% endtrans %}</label></div>
            <div class="col-xs-4 col-md-4 form-group">                 {{ statistic.getNumShops         }}            </div>
            <div class="col-xs-8 col-md-8 form-group"> <label>{% trans %} statistic.num_workshops      {% endtrans %}</label></div>
            <div class="col-xs-4 col-md-4 form-group">                 {{ statistic.getNumWorkshops     }}            </div>
            <div class="col-xs-8 col-md-8 form-group"> <label>{% trans %} statistic.num_tickets        {% endtrans %}</label></div>
            <div class="col-xs-4 col-md-4 form-group">                 {{ statistic.getNumTickets       }}            </div>
            <div class="col-xs-8 col-md-8 form-group"> <label>{% trans %} statistic.num_tickets.open   {% endtrans %}</label></div>
            <div class="col-xs-4 col-md-4 form-group">                 {{ statistic.getNumOpenTickets   }}            </div>
            <div class="col-xs-8 col-md-8 form-group"> <label>{% trans %} statistic.num_tickets.closed {% endtrans %}</label></div>
            <div class="col-xs-4 col-md-4 form-group">                 {{ statistic.getNumClosedTickets }}            </div>
        {% endif %}
    {% endif %}

</div>
    <input type="hidden" id="type" value="{{ type }}">
    <input type="hidden" id="type_from_y"   value="{{ from_y  }}">
    <input type="hidden" id="type_from_m"   value="{{ from_m  }}">
    <input type="hidden" id="type_from_d"   value="{{ from_d  }}">
    <input type="hidden" id="type_to_y"     value="{{ to_y    }}">
    <input type="hidden" id="type_to_m"     value="{{ to_m    }}">
    <input type="hidden" id="type_to_d"     value="{{ to_d    }}">
    <input type="hidden" id="type_status"   value="{{ status  }}">
    <input type="hidden" id="type_partner"  value="{{ partner }}">
    <input type="hidden" id="type_shop"     value="{{ shop    }}">
    <input type="hidden" id="type_workshop" value="{{ wks     }}">
    <input type="hidden" id="type_typology" value="{{ typology}}">
    <input type="hidden" id="type_country"  value="{{ country }}">
    <input type="hidden" id="type_status"   value="{{ status  }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/statistic/js/statistic.js') }}"></script>
    {% if     type == 'ticket'   %} <script src="{{ asset('bundles/util/js/pagination_statistic.js') }}"></script>
    {% elseif type == 'workshop' %} <script src="{{ asset('bundles/util/js/pagination_statistic.js') }}"></script> {% endif %}
{% endblock %}