        {% if app.user.getCategoryService().getId() is defined %}
                   {% set id_catserv = app.user.getCategoryService().getId() %}
        {% else %} {% set id_catserv = '0' %}
        {% endif %}
            <input type="hidden" id="isNaN" value="{{ 'isNaN'|trans }}">
            <input type="hidden" id="badpass" value="{{ 'error.bad_password'|trans }}">
            <input type="hidden" id="samepass" value="{{ 'error.same_password'|trans }}">
            <input type="hidden" id="forbiddenchars" value="{{ 'error.forbidden_password'|trans }}">

            <div class="col-xs-2 col-md-2 form-group">
                <label> {{ 'phone_number_1'|trans }} *</label> {{ form_widget(form.phone_number_1,   { 'attr': {'class': 'form-control', 'placeholder': 'phone_number_1' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {{ 'phone_number_2'|trans }}  </label> {{ form_widget(form.phone_number_2,   { 'attr': {'class': 'form-control', 'placeholder': 'phone_number_2' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {{ 'mobile_number_1'|trans }}  </label> {{ form_widget(form.mobile_number_1,  { 'attr': {'class': 'form-control', 'placeholder': 'mobile_number_1' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {{ 'mobile_number_2'|trans }}  </label> {{ form_widget(form.mobile_number_2,  { 'attr': {'class': 'form-control', 'placeholder': 'mobile_number_2' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {{ 'fax'|trans }}  </label> {{ form_widget(form.fax,              { 'attr': {'class': 'form-control', 'placeholder': 'fax' } }) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-6 col-md-6 form-group">
                <label> {{ 'email_1'|trans }} *</label> {{ form_widget(form.email_1,          { 'attr': {'class': 'form-control', 'placeholder': 'email_1' } }) }}
            </div>
            <div class="col-xs-6 col-md-6 form-group">
                <label> {{ 'email_2'|trans }}  </label> {{ form_widget(form.email_2,          { 'attr': {'class': 'form-control', 'placeholder': 'email_2' } }) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-2 col-md-2 form-group">
                    <label> {{ 'country'|trans }} *</label> {{ form_widget(form.country,          { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="col-xs-2 col-md-2 form-group" {% if id_catserv == 3 %} hidden {% endif %}>
                    <label> {{ 'region'|trans }} *</label>

                    {% if id_catserv != 3 %}
                        <div> {{ form_widget(form.region, { 'attr': {'class': 'form-control', 'required': 'required' } }) }} </div>
                    {% else %}
                        <div> {{ form_widget(form.region, { 'attr': {'class': 'form-control' } }) }} </div>
                    {% endif %}
                    {# <div hidden='hidden'> {{ form_widget(form.region, { 'attr': {'class': 'form-control'} }) }} </div>
                    <input type='hidden' id='no-region' value='{{ 'no-region'|trans }}'>
                    <div id="region_autocomplete">
                        <select hidden='hidden' id="data_regions"></select>
                        <div id="div_regions">
                            <select id="slct_region"></select>
                        </div>
                    </div> #}
                </div>
                <div class="col-xs-2 col-md-2 form-group">
                    <label> {{ 'city'|trans }} *</label>
                    <div> {{ form_widget(form.city  , { 'attr': {'class': 'form-control'} }) }} </div>
                    {# <div hidden='hidden'> {{ form_widget(form.city  , { 'attr': {'class': 'form-control'} }) }} </div>
                    <input type='hidden' id='no-city' value='{{ 'no-city'|trans }}'>
                    <div id="city_autocomplete">
                        <select hidden='hidden' id="data_cities"></select>
                        <div id="div_cities">
                            <select id="slct_city"></select>
                        </div>
                    </div> #}
                </div>
                <div class="col-xs-4 col-md-4 form-group">
                    <label> {{ 'address'|trans }} *</label> {{ form_widget(form.address,          { 'attr': {'class'      : 'form-control',
                                                                                                                                  'required'   : 'required' ,
                                                                                                                                  'placeholder': 'address' } }) }}
                </div>
                <div class="col-xs-2 col-md-2 form-group">
                    <label> {{ 'postal_code'|trans }} *</label> {{ form_widget(form.postal_code,      { 'attr': {'class': 'form-control',
                                                                                                                                  'min': 0,
                                                                                                                                  'required': 'required' } }) }}
                </div>
        </div>

        {% if partner is defined or shop is defined or workshop is defined or user is defined or shopOrder is defined or workshopOrder is defined %}

            {% if partner       is defined %} {% set entity = partner       %} {% endif %}
            {% if shop          is defined %} {% set entity = shop          %} {% endif %}
            {% if workshop      is defined %} {% set entity = workshop      %} {% endif %}
            {% if user          is defined %} {% set entity = user          %} {% endif %}
            {% if shopOrder     is defined %} {% set entity = shopOrder     %} {% endif %}
            {% if workshopOrder is defined %} {% set entity = workshopOrder %} {% endif %}

            <input type="hidden" id="entity" value="edit">
            <input type="hidden" id="entity_region" value="{{ entity.region }}">
            <input type="hidden" id="entity_city"   value="{{ entity.city }}">

        {% else %}
            <input type="hidden" id="entity" value="new">
            <input type="hidden" id="entity_region" value="">
            <input type="hidden" id="entity_city"   value="">
        {% endif %}
