
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} phone_number_1  {% endtrans %} *</label> {{ form_widget(form.phone_number_1,   { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} phone_number_2  {% endtrans %}  </label> {{ form_widget(form.phone_number_2,   { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} movile_number_1 {% endtrans %}  </label> {{ form_widget(form.movile_number_1,  { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} movile_number_2 {% endtrans %}  </label> {{ form_widget(form.movile_number_2,  { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} fax             {% endtrans %}  </label> {{ form_widget(form.fax,              { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-5 col-md-5 form-group">
                <label> {% trans %} email_1         {% endtrans %} *</label> {{ form_widget(form.email_1,          { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-5 col-md-5 form-group">
                <label> {% trans %} email_2         {% endtrans %}  </label> {{ form_widget(form.email_2,          { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} country         {% endtrans %} *</label> {{ form_widget(form.country,          { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} region          {% endtrans %} *</label>
                <div hidden='hidden'> {{ form_widget(form.region, { 'attr': {'class': 'form-control'} }) }} </div>
                <div id="region_autocomplete">
                    <select hidden='hidden' id="data_regions"></select>
                    <div id="div_regions">
                        <select id="slct_region"></select>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} city            {% endtrans %} *</label>
                <div hidden='hidden'> {{ form_widget(form.city  , { 'attr': {'class': 'form-control'} }) }} </div>
                <div id="city_autocomplete">
                    <select hidden='hidden' id="data_cities"></select>
                    <div id="div_cities">
                        <select id="slct_city"></select>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 form-group">
                <label> {% trans %} address         {% endtrans %} *</label> {{ form_widget(form.address,          { 'attr': {'class': 'form-control',
                                                                                                                              'required': 'required' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label> {% trans %} postal_code     {% endtrans %} *</label> {{ form_widget(form.postal_code,      { 'attr': {'class': 'form-control',
                                                                                                                              'min': 0,
                                                                                                                              'required': 'required' } }) }}
            </div>
        </div>
    {% include 'UtilBundle:jquery_twig:regions_from_country_jquery.html.twig' %}
    {% include 'UtilBundle:jquery_twig:select2_jquery.html.twig' %}