{% extends '::layout.html.twig' %}

{% block body %}

	<ol class="breadcrumb">
		<li class="active"><a href="{{ path("_login")}}">{{ 'home'|trans }}</a></li>
		<li class="active">{{ 'help'|trans }}</li>
	</ol>

	<h1 class="tc">{{ 'help.adservice'|trans }}</h1>

	<br>
	<div class="tc">
		{# Figueres #}
    	{# <h2>97 298 20 00</h2> #}
    	{# Badalona #}
    	{# <h2>93 395 23 08</h2> #}
    </div>

	<div class="tc">
    	<h2>
    		<a href="{{ 'help.manual'|trans }}" target="_blank">{{ 'help.check_manual'|trans }}</a>
    	</h2>
    </div>
	<br>
	<br>
	<br>
	<br>

    <div class="tc">{{ 'help.video'|trans|raw }}</div>

{% endblock %}


{% block javascripts %}{{ parent() }}{% endblock %}
