{% extends '::layout.html.twig' %}

{% block body %}

	<ol class="breadcrumb">
		<li class="active"><a href="{{ path("_login")}}">{{ 'home'|trans }}</a></li>
		<li class="active">{{ 'privacy'|trans }}</li>
	</ol>

	<h1 class="tc">{{ 'privacy.title'|trans }}</h1>

    <div class="tc">{{ 'privacy.text'|trans|raw }}</div>
    
    <form class="tc" action="{{ path('privacy') }}" method="post" >
        <button name="Return" class="btn btn-primary mt20" >{{ 'volver'|trans }}</button>
    </form>

{% endblock %}


{% block javascripts %}{{ parent() }}{% endblock %}
