
    <form action="{{ path('findAssessorTicketByBMV', { 'page' : '1' }) }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">

        <div class="grid-full w100">
            <input type='hidden' id='ftbmv_page' name='ftbmv_page' value="{{pagination.page}}">
            <input type="hidden" id="funnel"          value="{{ asset('bundles/util/images/icon/funnel.png') }}">
            <input type="hidden" id="funnel_filtered" value="{{ asset('bundles/util/images/icon/funnel_filtered.png') }}">
            <input type="hidden" id="msg_bad_filter"  value="{{ 'msg_bad_filter'|trans }}">
            <input type="hidden" id="msg_motor_not_found"  value="{{ 'msg_motor_not_found'|trans }}">
            <input type="hidden" id="msg_plate_number_not_found"  value="{{ 'error.plate_number_not_found'|trans }}">
            <input type="hidden" id="msg_vin_not_found"  value="{{ 'error.vin_not_found'|trans }}">
            {% if workshop is defined and workshop != null and workshop.id != "" %}
                <input type='hidden' id='ftbmv_codepartner' name='ftbmv_codepartner' value="{{workshop.codepartner}}">
                <input type='hidden' id='ftbmv_codeworkshop' name='ftbmv_codeworkshop' value="{{workshop.codeworkshop}}">
                <input type='hidden' id='ftbmv_email' name='ftbmv_email' value="{{workshop.email1}}">
                <input type='hidden' id='ftbmv_phone' name='ftbmv_phone' value="{{workshop.phoneNumber1}}">
            {% endif %}

            <div class="grid w20">
                <label for="new_car_form_brand">{{ 'brand'|trans }}</label>
                <select id="new_car_form_brand" name="new_car_form_brand" class="form-control asr_form-control" {# required #}>
                        <option></option>
                    {% for _brand in brands %}
                        <option value={{ _brand.id }} {% if brand is defined and brand != "" and brand == _brand.id %}selected{% endif %}>{{ _brand.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grid w20">
                <label for="new_car_form_model">{{ 'model'|trans }}</label>
                <select id="new_car_form_model" name="new_car_form_model" class="form-control asr_form-control" {# required #}>
                    {% if model.id is defined %}<option value="{{model.id}}">{{model.name}}</option>{% endif %}
                </select>
            </div>

            <div class="grid w20">
                <label for="new_car_form_version">{{ 'version'|trans }}</label>
                <select id="new_car_form_version" name="new_car_form_version" class="form-control asr_form-control" >
                    {% if version.id is defined %}<option value="{{version.id}}">{{version.name}}</option>{% endif %}
                </select>
            </div>

            <div class="grid w10">
                <label class="lbl_lgray" for="new_car_form_year">{{ 'year'|trans }}</label>
                <a class="pull-right" id="filter_year" title="{{ 'filter_by_year'|trans }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></a>
                <input type="text" id="new_car_form_year" name="new_car_form_year" class="form-control asr_form-control"
                    {% if year is defined %}value="{{year}}"{% endif %}>
                </input>
            </div>

            <div class="grid w10">

                <label class="lbl_lgray" for="new_car_form_motor">{{ 'motor'|trans }}</label>
                <a class="pull-right" id="filter_motor" title="{{ 'filter_by_motor'|trans }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></a>

                {# <a class="pull-right" id="list_motor" title="{{ 'motor'|trans }}" href="{{ path('listMotors') }}" target="_blank"><img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn_.png') }}"></a> #}

                <input type="text" id="new_car_form_motor" name="new_car_form_motor" class="form-control asr_form-control"
                    {% if motor is defined %}value="{{motor}}"{% endif %}>
                </input>

                <input type="hidden" id="id_mts" value="">
                {# {% include 'TicketBundle:Car:list_motors.html.twig' %} #}
            </div>

            <div class="grid w10">
                <label class="lbl_lgray" for="new_car_form_kW">{{ 'kw'|trans }}</label>
                <input type="text" id="new_car_form_kW" name="new_car_form_kW" class="form-control asr_form-control"
                    {% if kw is defined %}value="{{kw}}"{% endif %}>
                </input>
            </div>
        </div>

        <div class="grid-full w100">

            <div class="grid w10">
                <label class="lbl_lgray" for="new_car_form_displacement">{{ 'displacement'|trans }}</label>
                <input type="text" id="new_car_form_displacement" name="new_car_form_displacement" class="form-control asr_form-control"
                    {% if displacement is defined %}value="{{displacement}}"{% endif %} >
                </input>
            </div>

            <div class="grid w10">
                <label class="lbl_lgray" for="new_car_form_vin">{{ 'vin'|trans }}</label>
                <input type="text" id="new_car_form_vin" name="new_car_form_vin" class="form-control asr_form-control"
                    {% if vin is defined %}value="{{vin}}"{% endif %} >
                </input>
            </div>

            <div class="grid w10">
                <label for="new_car_form_plateNumber">{{ 'plate_number'|trans }}</label>
                <input type="text" id="new_car_form_plateNumber" name="new_car_form_plateNumber" class="form-control asr_form-control"
                    {% if plateNumber is defined %}value="{{plateNumber}}"{% endif %} >
                </input>
            </div>

            <div class="grid w15">
                <label class="lbl_lgray" for="new_car_form_importance">{{ 'importance'|trans }}</label>
                <select id="new_car_form_importance" name="new_car_form_importance" class="form-control asr_form-control" >
                    <option value="0"></option>
                    {% for _importance in importances %}
                        <option value={{ _importance.id }} {% if importance is defined and importance == _importance.id %}selected{% endif %}>{{ _importance.importance|trans }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grid w15">
                <label class="lbl_lgray" for="id_system">{{ 'system'|trans }}</label>
                <select id="id_system" name="id_system" class="form-control asr_form-control" >
                    <option value="0"></option>
                    {% for _system in systems %}
                        <option value={{ _system.id }} {% if system is defined and system == _system.id %}selected{% endif %}>{{ _system.name|trans }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grid w15">
                <label for="new_car_form_subsystem">{{ 'subsystem'|trans }}</label>
                <select id="new_car_form_subsystem" name="new_car_form_subsystem" class="form-control asr_form-control" >
                    {% if subsystem.id is defined %}<option value="{{subsystem.id}}">{{subsystem.name|trans}}{% endif %}</option>
                </select>
            </div>

            <div class="grid w15">
                <label class="w100">
                    <input type="hidden" id="alert" value="{{ 'error.bad_introduction'|trans }}">
                </label>
                <button type="submit" class="btn btn-primary asr_form-control asr_btn" id="btn_search_by_bmv" name="btn_search_by_bmv">
                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/search_btn.png') }}">{{ 'btn.search'|trans }}
                </button>

                <a href="{{ path("listTicket", { 'option': 'assessor_pending'}) }}" class="btn btn-primary asr_form-control asr_btn">
                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/update_.png') }}" title ="{{ 'btn.clear'|trans }}" alt="{{ 'btn.clear'|trans }}">
                </a>
            </div>
        </div>
    </form>
</div>
