
<legend>{% trans %} actions {% endtrans %}</legend>

    {% if workshop.id is defined and workshop.id != "" %}

    {# New Ticket #}
        <a class="btn btn-primary" id="newTicket" href="{{ path('newTicket', { 'id_workshop' : workshop.id }) }}"><img class="img_icon" src="{{ asset('/icon/ticket_new.png') }}"> {% trans %} new.ticket {% endtrans %}</a>

    {# <form action="{{ path('listTicketFiltered') }}" id="listTicketFiltered" class="form" role="form" method="post" enctype="multipart/form-data"> #}
        <p>
            <input type="hidden" id="id_workshop" name="id_workshop" value="{{ workshop.id }}">
    {% endif %}

            {% trans %} ticket.flt.searchBy.id {% endtrans %}: <input type='text' class="form-control" id='flt_id' name='flt_id' placeholder='{% trans %} id {% endtrans %}'>

    {% if workshop.id is defined and workshop.id != "" %}
            <p> <input type='checkbox' id='flt_open'   name='flt_open'  > {% trans %} open   {% endtrans %}
                <input type='checkbox' id='flt_closed' name='flt_closed'> {% trans %} closed {% endtrans %}</p>
    {% endif %}

            <button type="button" class="btn btn-primary" id="btn_search" name="btn_search"><img class="img_icon" src="{{ asset('/icon/search.png') }}">  {% trans %} btn.search {% endtrans %}</button>
        </p>
    {# </form> #}

    {###  HISTORICO  ###}
    {% if workshop.id is defined and workshop.id != "" %}
        <button class="btn btn-primary" onclick="window.open('{{ path('list_incidences', { 'page' : 1, 'id_taller' : workshop.codeWorkshop, 'id_socio' : workshop.partner.codePartner }) }}')"><img class="img_icon" src="{{ asset('/icon/historico.png') }}"> {% trans %} lock.list_incidences {% endtrans %}</button>
    {% else %}
        <button class="btn btn-primary" onclick="window.open('{{ path('list_incidences', { 'page' : 1, 'id_taller' : 'none', 'id_socio' : 'none' }) }}')"><img class="img_icon" src="{{ asset('/icon/historico.png') }}"> {% trans %} lock.list_incidences {% endtrans %}</button>
    {% endif %}

    <script type="text/javascript"> $('#newTicket').focus(); </script>

    <script type="text/javascript">

        $(document).ready(function() {

            $('#btn_search').click(function() {

                var id_ticket   = $('#flt_id'     ).val();
                var id_workshop = 'none';
                var status      = 'all';

                {% if workshop.id is defined and workshop.id != "" %}

                    var id_workshop = $('#id_workshop').val();
                    var st_open     = $('#flt_open'   ).is(':checked');
                    var st_closed   = $('#flt_closed' ).is(':checked');

                    if(st_open    == true ){ status      = 'open'   }
                    if(st_closed  == true ){ status      = 'closed' }
                    if((st_open   == true) && (st_closed == true))  { status = 'all' }

                {% endif %}

                if(id_ticket   == ""   ){ id_ticket   = 'none'   }
                if(id_workshop == ""   ){ id_workshop = 'none'   }

                var url = "{{ path('listTicketFiltered', { 'page' : 1, 'id_workshop': 'plc_w', 'id_ticket': 'plc_t', 'status': 'plc_st' }) }}";
                url = url.replace("plc_w" , id_workshop);
                url = url.replace("plc_t" , id_ticket  );
                url = url.replace("plc_st", status     );
                window.open(url, "_self");
            });
        });

    </script>