{# integración con otras plataformas #}


    {% set user_catserv = app.security.getToken().getUser().getCategoryService().getId() %}

    {# Definimos las categorias de servicio que tienen acceso a DIS #}
    {% if user_catserv == '1' or user_catserv == '2' %}
        {% set show_dis = true %}{% else %}{% set show_dis = false %}
    {% endif %}

    {# Definimos las categorias de servicio que tienen acceso a VTS #}
    {% if user_catserv == '3' or user_catserv == '5' or user_catserv == '6' or user_catserv == '7' or user_catserv == '8' %}
        {% set show_vts = true %}{% else %}{% set show_vts = false %}
    {% endif %}

    <input type="hidden" id="dis-url" value="{% trans %}dis-url{% endtrans %}">
    {% if user_catserv == '5' %}
        <input type="hidden" id="vts-url" value="{% trans %}vts-ecp-url{% endtrans %}">
    {% else %}
        <input type="hidden" id="vts-url" value="{% trans %}vts-url{% endtrans %}">
    {% endif %}

{% if id is defined and id != "" %}
        <div{# {% if not is_granted('ROLE_ASSESSOR') %} style="display:none" {% endif %} #}>
                <br>
                <legend>{% trans %} app {% endtrans %}</legend>

                {% if show_dis %}
                    <a id="dis" href="{% trans %}dis-url{% endtrans %}/{{id}}" target="_blank" title="{% trans %} dis {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_dis.png') }}"></a>
                {% endif %}
                {% if show_vts %}
                    {# Definimos las categorias de servicio que tienen acceso a VTS #}
                    {% if user_catserv == '5' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-ecp-url'|trans}}/{{brand}}/{{model}}/{{id}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% elseif user_catserv == '6' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-url'|trans}}/{{brand}}/{{model}}/{{id}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% elseif user_catserv == '7' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-url'|trans}}/{{brand}}/{{model}}/{{id}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% elseif user_catserv == '8' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-url'|trans}}/{{brand}}/{{model}}/{{id}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% endif %}
                   {#  <a id="vts" href="{% trans %}'vts-url'{% endtrans %}/{{brand}}/{{model}}/{{id}}" target="_blank" title="{{'gotoVTS'|trans}}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_vts.png') }}"></a>#}
                {% endif %}
        </div>

{% elseif model is defined %}
        <div{# {% if not is_granted('ROLE_ASSESSOR') %} style="display:none" {% endif %}#}>
                <br>
                <legend>{% trans %} app {% endtrans %}</legend>
                {% if show_dis %}
                    <a id="dis" href="{% trans %}dis-url{% endtrans %}/model-{{model}}" target="_blank" title="{% trans %} dis {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_dis.png') }}"></a>
                {% endif %}
                {% if show_vts %}
                    {# Definimos las categorias de servicio que tienen acceso a VTS #}
                    {% if user_catserv == '5' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-ecp-url'|trans}}/{{brand}}/{{model}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% elseif user_catserv == '6' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-url'|trans}}/{{brand}}/{{model}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% elseif user_catserv == '7' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-url'|trans}}/{{brand}}/{{model}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% elseif user_catserv == '8' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-url'|trans}}/{{brand}}/{{model}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% endif %}
                   {# 
                    <a id="vts" href="{% trans %}'vts-url'{% endtrans %}/{{brand}}/{{model}}" target="_blank" title="{{'gotoVTS'|trans}}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_vts.png') }}"></a> #}
                {% endif %}
        </div>

{% else %}
        <div {# {% if not is_granted('ROLE_ASSESSOR') and app.security.getToken().getUser().getCountry() != '1' %} style="display:none" {% endif %}#}>
                <br>
                <legend>{% trans %} app {% endtrans %}</legend>
                {% if show_dis %}
                    <a id="dis" href="{% trans %}dis-url{% endtrans %}" target="_blank" title="{% trans %} dis {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_dis.png') }}"></a>
                {% endif %}
                {% if show_vts %}
                    {# Definimos las categorias de servicio que tienen acceso a VTS #}
                    {% if user_catserv == '5' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-ecp-url'|trans}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% elseif user_catserv == '6' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-url'|trans}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% elseif user_catserv == '7' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-url'|trans}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% elseif user_catserv == '8' %}
                            <a class="btn btn-primary asr_btn" id="vts" href="{{'vts-url'|trans}}" target="_blank">{{'gotoVTS'|trans}}</a>
                    {% endif %}
                   {# 
                    <a id="vts" href="http://einavts.com/{{app.session.locale}}" target="_blank" title="{{'gotoVTS'|trans}}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_vts.png') }}"></a> #}
                    {% endif %}
        </div>

{% endif %}