{# integración con otras plataformas #}

    <input type="hidden" id="dis-url" value="{% trans %}dis-url{% endtrans %}">
    <input type="hidden" id="vts-url" value="{% trans %}vts-url{% endtrans %}">

{% if id is defined and id != "" %}
        <div{# {% if not is_granted('ROLE_ASSESSOR') %} style="display:none" {% endif %} #}>
                <br>
                <legend>{% trans %} app {% endtrans %}</legend>

                <a id="dis" href="{% trans %}dis-url{% endtrans %}/{{id}}" target="_blank" title="{% trans %} dis {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_dis.png') }}"></a>

                <a id="vts" href="{% trans %}vts-url{% endtrans %}/{{brand}}/{{model}}/{{id}}" target="_blank" title="{% trans %} vts {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_vts.png') }}"></a>
        </div>

{% elseif model is defined %}
        <div{# {% if not is_granted('ROLE_ASSESSOR') %} style="display:none" {% endif %}#}>
                <br>
                <legend>{% trans %} app {% endtrans %}</legend>

                <a id="dis" href="{% trans %}dis-url{% endtrans %}/model-{{model}}" target="_blank" title="{% trans %} dis {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_dis.png') }}"></a>

                <a id="vts" href="{% trans %}vts-url{% endtrans %}/{{brand}}/{{model}}" target="_blank" title="{% trans %} vts {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_vts.png') }}"></a>
        </div>

{% else %}
        <div{# {% if not is_granted('ROLE_ASSESSOR') %} style="display:none" {% endif %}#}>
                <br>
                <legend>{% trans %} app {% endtrans %}</legend>

                <a id="dis" href="{% trans %}dis-url{% endtrans %}" target="_blank" title="{% trans %} dis {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_dis.png') }}"></a>

                <a id="vts" href="{% trans %}vts-url{% endtrans %}" target="_blank" title="{% trans %} vts {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/logo_vts.png') }}"></a>
        </div>

{% endif %}