
    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_year">{% trans %} year {% endtrans %}</label>
        {{ form_widget(formC.year, { 'attr': { 'class': 'form-control', 'placeholder': 'year' | trans } }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_motor">{% trans %} motor {% endtrans %}</label>
        {{ form_widget(formC.motor, { 'attr': { 'class': 'form-control', 'placeholder': 'motor' | trans } }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_kW">{% trans %} kw {% endtrans %}</label>
        {{ form_widget(formC.kW, { 'attr': { 'class': 'form-control', 'placeholder': 'kw' | trans } }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_displacement">{% trans %} displacement {% endtrans %}</label>
        {{ form_widget(formC.displacement, { 'attr': { 'class': 'form-control', 'placeholder': 'displacement' | trans } }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_vin">{% trans %} vin {% endtrans %}</label>
        {{ form_widget(formC.vin, { 'attr': { 'class': 'form-control', 'placeholder': 'vin' | trans } }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_plateNumber">{% trans %} plate_number {% endtrans %} <a id="txt_plateNumber"></a></label>
        {{ form_widget(formC.plateNumber, { 'attr': { 'class': 'form-control', 'placeholder': 'plate_number' | trans } }) }}
    </div>

    {{ form_rest(formC) }}

{% include 'TicketBundle:Default:car_jquery.html.twig' %}
