
    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_year">Year</label>
        {{ form_widget(formC.year, { 'attr': { 'class': 'form-control', 'placeholder': 'Insert Year'} }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_motor">Motor</label>
        {{ form_widget(formC.motor, { 'attr': { 'class': 'form-control', 'placeholder': 'Insert Motor'} }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_kW">kW</label>
        {{ form_widget(formC.kW, { 'attr': { 'class': 'form-control', 'placeholder': 'Insert kW'} }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_displacement">Displacement</label>
        {{ form_widget(formC.displacement, { 'attr': { 'class': 'form-control', 'placeholder': 'Insert Displacement'} }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_vin">Vin</label>
        {{ form_widget(formC.vin, { 'attr': { 'class': 'form-control', 'placeholder': 'Insert Vin'} }) }}
    </div>

    <div class="col-xs-4 col-md-4 form-group">
        <label for="new_car_form_plateNumber">Plate Number <a id="txt_plateNumber"></a></label>
        {{ form_widget(formC.plateNumber, { 'attr': { 'class': 'form-control', 'placeholder': 'Insert Plate Number'} }) }}
    </div>

    {{ form_rest(formC) }}

{% include 'TicketBundle:Default:car_jquery.html.twig' %}
