
    <input type="hidden" id="funnel"          value="{{ asset('bundles/util/images/icon/funnel.png') }}">
    <input type="hidden" id="funnel_filtered" value="{{ asset('bundles/util/images/icon/funnel_filtered.png') }}">
    <input type="hidden" id="msg_bad_filter"  value="{% trans %} msg_bad_filter {% endtrans %}">

    <div class="grid-full w100">
        <div class="grid-33">
            <label for="new_car_form_year">{% trans %} year {% endtrans %} *</label>
            <a class="pull-right" id="filter_year" title="{% trans %} filter_by_year {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></a>
            {{ form_widget(formC.year, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'year' | trans } }) }}
        </div>

        <div class="grid-33">
            <label for="new_car_form_motor">{% trans %} motor {% endtrans %} *</label>
            <a class="pull-right" id="filter_motor" title="{% trans %} filter_by_motor {% endtrans %}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/funnel.png') }}"></a>
            {{ form_widget(formC.motor, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'motor' | trans } }) }}
        </div>

        <div class="grid-33">
            <label for="new_car_form_kw">{% trans %} kw {% endtrans %}</label>
            {{ form_widget(formC.kw, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'kw' | trans } }) }}
        </div>
    </div>
    <div class="grid-full w100">

        <div class="grid-33">
            <label for="new_car_form_displacement">{% trans %} displacement {% endtrans %}</label>
            {{ form_widget(formC.displacement, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'displacement' | trans } }) }}
        </div>

        <div class="grid-33">
            <label for="new_car_form_vin">{% trans %} vin {% endtrans %} *</label>
            {{ form_widget(formC.vin, { 'attr': { 'class': 'form-control asr_form-control', 'placeholder': 'vin' | trans } }) }}
        </div>

        <div class="grid-33">
                <label for="new_car_form_plateNumber">{% trans %} plate_number {% endtrans %} *<a id="txt_plateNumber"></a></label>
                {{ form_widget(formC.plateNumber, { 'attr': { 'class': 'form-control asr_form-control', 'required': 'required', 'placeholder': 'plate_number' | trans } }) }}
        </div>
    </div>

    {{ form_rest(formC) }}

