{% if is_granted('ROLE_ASSESSOR') %}

{# 	<legend>{{ 'ticket.repeated'|trans }}</legend>

	<input type="hidden" id="txt_repeated" value="{{ 'ticket.similar.matching'|trans }}">
	<div id="tbl_repeated">
		<p>{{ 'ticket.repeated.matching'|trans }}</p>
	</div> #}

	<legend>{{ 'ticket.similar'|trans }}</legend>

	<input type="hidden" id="txt_similar" value="{{ 'ticket.similar.matching'|trans }}">
	<div id="tbl_similar">
		<p>{{ 'ticket.similar.matching'|trans }}</p>
	</div>

{% endif %}