{% if diagnosis_machines|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>{% trans %} code    {% endtrans %}</th>
                <th>{% trans %} name    {% endtrans %}</th>
                <th>{% trans %}         {% endtrans %}</th>
                {% if country == 'none' %}<th>{% trans %} country {% endtrans %}</th>{% endif %}
                <th>{% trans %} actions {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for diagnosis_machine in diagnosis_machines %}
                {% if diagnosis_machine.name != '...' %}
                <tr>
                    <td>{{ diagnosis_machine.id       }}</td>
                    <td>{{ diagnosis_machine.name | trans }}</td>
                    <td>{% if diagnosis_machine.active == false %}<span class="label label-danger">{% trans %} inactive {% endtrans %}</span>{% endif %}</td>
                    {% if country == 'none' %}<td>{{ diagnosis_machine.country }}</td>{% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path("diagnosis_machine_edit", { 'id':diagnosis_machine.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/diagnostic_machine_edit.png') }}"></a>
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
        {% include 'UtilBundle:Pagination:pagination_diagnosis_machine.html.twig' %}
{% else %}
    {% trans %} any.diagnosis_machine {% endtrans %}
{% endif %}


{% block javascripts %}

    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>

{% endblock %}