{% if diagnosis_machines|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>{{ 'code'|trans }}</th>
                <th>{{ 'name'|trans }}</th>
                <th></th>
                <th>{{ 'category_service'|trans }}</th>
                {#{% if country == 'none' %}<th>{{ 'country'|trans }}</th>{% endif %}#}
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for diagnosis_machine in diagnosis_machines %}
                {% if diagnosis_machine.name != '...' %}
                <tr>
                    <td>{{ diagnosis_machine.id       }}</td>
                    <td>{{ diagnosis_machine.name|length > 15 ? diagnosis_machine.name|slice(0, 15) ~ '...' : diagnosis_machine.name  }}</td>
                    <td>{% if diagnosis_machine.active == false %}<span class="label label-danger">{{ 'inactive'|trans }}</span>{% endif %}</td>
                    <td>{{ diagnosis_machine.categoryService }}</td>
                    {#{% if country == 'none' %}<td>{{ diagnosis_machine.country | trans }}</td>{% endif %}#}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path("diagnosis_machine_edit", { 'id':diagnosis_machine.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"></a>
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
        {% include 'UtilBundle:Pagination:pagination_catserv.html.twig' %}
{% else %}
    {{ 'any.diagnosis_machine'|trans }}
{% endif %}


{% block javascripts %}

    <script src="{{ asset('bundles/util/js/util.js') }}"></script>
    <script src="{{ asset('bundles/util/js/pagination.js') }}"></script>
    <script src="{{ asset('bundles/workshop/js/diagnosis_machine.js') }}"></script>

{% endblock %}