{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}"            >     {{ 'home'|trans }}</a></li>
        <li><a href="{{ path('diagnosis_machine_list') }}">     {{ 'menu.list_diagnosis_machines'|trans }}</a></li>
        <li class="active">{% if diagnosis_machine.name != '' %}{{ 'edit.diagnosis_machine'|trans }} ({{ diagnosis_machine.name|length > 15 ? diagnosis_machine.name|slice(0, 15) ~ '...' : diagnosis_machine.name  }})
                           {% else                            %}{{ 'new.diagnosis_machine'|trans }} {% endif %}</li>
    </ol>

    <form action="{{ path("diagnosis_machine_edit", { 'id':diagnosis_machine.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
        <div class="container">
            <legend>{{ 'diagnosis_machine'|trans }}</legend>

            <div class="col-xs-12 col-md-12 form-group">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <p class="error">{{ flashMessage }}</p>
                {% endfor %}
            </div>

            <div class="grid w30 fl">
                <label for="adservice_workshopbundle_diagnosis_machinetype_name">{{ 'name'|trans }} *</label>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'name' | trans } }) }}
            </div>
            
            {% if form.category_service is defined %}
                <div class="col-xs-4 col-md-4 form-group">
                    <label>{{ 'category_service'|trans }} *</label>
                   
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {{ form_widget(form.category_service, { 'attr': {'class': 'form-control' , 'required': 'required'} }) }}
                {% else %}
                     <div hidden>
                     {{ form_widget(form.category_service, { 'attr': {'class': 'form-control'} }) }}
                     </div>
                     <select  id="adservice_workshopbundle_typologytype_category_service" name="adservice_workshopbundle_typologytype[category_service]" class="form-control"> 
                            <option value="0"></option>
                            <option value="{{ catserv.id }}">{{ catserv.CategoryService }}</option>
                    </select>
                {% endif %}
                </div>
            {% endif %}
            
            
            <div class="grid w15 fl">
                <label for="adservice_workshopbundle_diagnosis_machinetype_active">{{ 'active'|trans }}</label>
                {{ form_widget(form.active) }}
            </div>
        </div>
     {#       <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_workshopbundle_diagnosis_machinetype_country">{{ 'country'|trans }} *</label>
                    {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>#}
     
          
            {{ form_rest(form) }}

            <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.send'|trans }}</button>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/workshop/js/diagnosis_machine.js') }}"></script>
{% endblock %}