{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}"            >     {% trans %} home                         {% endtrans %}</a></li>
        <li><a href="{{ path('diagnosis_machine_list') }}">     {% trans %} menu.list_diagnosis_machines {% endtrans %}</a></li>
        <li class="active">{% if diagnosis_machine.name != '' %}{% trans %} edit.diagnosis_machine {% endtrans %} ({{ diagnosis_machine.name|length > 15 ? diagnosis_machine.name|slice(0, 15) ~ '...' : diagnosis_machine.name  }})
                           {% else                            %}{% trans %} new.diagnosis_machine  {% endtrans %} {% endif %}</li>
    </ol>

    <form action="{{ path("diagnosis_machine_edit", { 'id':diagnosis_machine.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
        <div class="container">
            <legend>{% trans %} diagnosis_machine {% endtrans %}</legend>

            <div class="col-xs-12 col-md-12 form-group">
                {% if app.session.hasFlash('error') %}
                    <p class="error">{{ app.session.getFlash('error') }}</p>
                {% endif %}
            </div>

            <div class="grid w30 fl">
                <label for="adservice_workshopbundle_diagnosis_machinetype_name">{% trans %} name {% endtrans %} *</label>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'name' | trans } }) }}
            </div>
            
            {% if form.category_service is defined %}
                <div class="col-xs-4 col-md-4 form-group">
                    <label>{% trans %} category_service {% endtrans %} *</label> 
                   
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {{ form_widget(form.category_service, { 'attr': {'class': 'form-control' , 'required': 'required'} }) }}
                {% else %}
                     <div hidden>
                     {{ form_widget(form.category_service, { 'attr': {'class': 'form-control'} }) }}
                     </div>
                     <select  id="adservice_workshopbundle_typologytype_category_service" name="adservice_workshopbundle_typologytype[category_service]" class="form-control"> 
                            <option value="0"></option>
                            <option value="{{ catserv.id }}">{{ catserv.CategoryService }}</option>
                    </select>
                {% endif %}
                </div>
            {% endif %}
            
            
            <div class="grid w15 fl">
                <label for="adservice_workshopbundle_diagnosis_machinetype_active">{% trans %} active {% endtrans %}</label>
                {{ form_widget(form.active) }}
            </div>
        </div>
     {#       <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_workshopbundle_diagnosis_machinetype_country">{% trans %} country {% endtrans %} *</label>
                    {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>#}
     
          
            {{ form_rest(form) }}

            <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {% trans %} btn.send {% endtrans %}</button>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/workshop/js/diagnosis_machine.js') }}"></script>
{% endblock %}