{% extends '::layout.html.twig' %}

{% block body %}
    {# Definicion de la ruta al listado para usar en paginacion #}
    {% set route = 'diagnosis_machine_list' %}
    <input type="hidden" id="route" name="route" value="{{ route }}">

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li class="active">{{ 'menu.list_diagnosis_machines'|trans }}</li>
    </ol>

    <div style="width: 90%; margin-left: 5%;">

        <legend>{{ 'menu.list_diagnosis_machines'|trans }}
            <a id="newDiagnosisMachine" href="{{ path('diagnosis_machine_edit') }}" class="btn btn-primary"><img class="img_icon" src="{{ asset('bundles/util/images/icon/add.png') }}"> {{ 'new.diagnosis_machine'|trans }}</a></td>
        </legend>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
         <div class="col-xs-3 col-md-3 form-group"> <label> {{ 'category_service'|trans }} </label>
            <select id="flt_catserv" class='form-control'>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <option value='0'>{{ 'all'|trans }}</option>
                {% endif %}
                {% for _catserv in catservices %}
                    <option value="{{ _catserv.id }}">{{ _catserv }}</option>
                {% endfor %}
        </select></div>
        {#
        <div class="col-xs-3 col-md-3 form-group"> <label> {{ 'country'|trans }} </label>
            <select id="flt_country" class='form-control'>
                    <option value="none">{{ 'all'|trans }}</option>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country | trans }}</option>
                {% endfor %}
        </select></div>
#}
        <script>
            $(document).ready(function() {
                {% if country != 'none' %} $("#flt_country").val('{{ country }}');{% endif %}
            });
        </script>
        {% endif %}
    </div>
    {% include 'WorkshopBundle:DiagnosisMachine:_list.html.twig'  %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/workshop/js/diagnosis_machine.js') }}"></script>

    
    <script> $(document).ready(function() { 
           {% if country != 'none' %} $("#flt_country").val('{{ country }}');{% endif %}
           {% if catserv != '0' %} $("#flt_catserv").val('{{ catserv }}');{% endif %}
        });
    </script>
{% endblock %}