{# muestra los botones de editar y bloquear/desbloquear del asesor #}

    {% if is_granted('ROLE_ASSESSOR') %}
        {% if ticket.status == 'open' %}
            {% if ticket.blockedBy is not null %}

                {% if ticket.blockedBy == app.security.getToken().getUser() %}

                    {# desbloquear Ticket #}
                    <a href="{{ path('blockTicket', { 'id_ticket': ticket.id }) }}">
                        <span class="glyphicon glyphicon-remove-circle"  title="Remove the bloqued status" style="color:red"></span></a>
                {% else %}

                    {# Ticket asignado a otro assessor #}
                    <a><span class="glyphicon glyphicon-ban-circle" title="Ticket blocked"></span></a>

                {% endif %}
            {% else %}

                {# bloquear Ticket #}
                <a href="{{ path('blockTicket', { 'id_ticket': ticket.id, 'id_user': app.security.getToken().getUser().getId() }) }}" >
                    <span class="glyphicon glyphicon-link" title="Block to answer"></span></a>
            {% endif %}
        {% else %}
            {# Ticket cerrado#}
            <span class="glyphicon glyphicon-ok"     style="color:gray"  title="Ticket closed"></span>
            {# reabrir Ticket #}
            <a href="{{ path('reopenTicket', { 'id_ticket': ticket.id }) }}" >
                <span class="glyphicon glyphicon-repeat" title="Reopen Ticket"></span></a>
        {% endif %}
    {% endif %}

    {# se borran los tickets solo si no tienen respuesta (1 post) #}
    {% if ticket.posts | length <=1 %}
        {# puede borrarlo el usuario si el ticket no esta assignado aun #}
        {% if not is_granted('ROLE_ASSESSOR') and ticket.assignedTo == null %}
            <a href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ ticket.id }}" title="Delete ticket"></span></a>
        {% endif %}
    {% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Ticket</h4>
            </div>
            <div class="modal-body">
                Estas seguro que quieres eliminar este ticket?
            </div>
            <div class="modal-footer">
                <a href="{{ path('deleteTicket', {'id_ticket': 'foo'}) }}" class="btn btn-default" role="button">SI</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <script>
        $(document).ready(function() {
            $('#MainContent').find('.glyphicon-trash').click(function() {
                var id_ticket = {{ ticket.id }};
                confirm_delete_ticket_modal(id_ticket);
            })

            //util.js
            //table_filter();
        });
    </script>
