{% extends '::layout.html.twig' %}

{% block body %}

    <h1>{{ partner }}(EDIT)</h1>

    <form action="{{ path("partner_edit", { 'id':partner.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
            {{ form_widget(form) }}
        <p>
            <button type="submit">Save</button>
        </p>
    </form>

{% endblock%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>

    <script>
        $(document).ready(function() {
            //si clickamos el combobox de las regiones repoblamos la de las provincias
            $('form[name=adservice_partnerbundle_partnertype]').find('select[name*=region]').change(function() {
                var url_ajax = "{{ path("user_provinces") }}";
                populate_province(url_ajax);
            });
        });
    </script>
{% endblock %}