{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li class="active">List of Partners</li>
    </ol>

    <table class="table" style="width: 80%; margin-left: 10%;">
        <tr>
            <td align="right">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Filtrar por..." required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
                </br>
                <a href="{{ path('partner_new') }}" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Crear un partner nuevo</a>
            </td>
        </tr>
    </table>

    {% if all_partners|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 80%; margin-left: 10%;">
        <thead>
            <tr>
                <th>#</th>
                <th>Partner Name</th>
                <th>Phone Number</th>
                <th>Email1</th>
                <th>address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                {% for partner in all_partners %}
            <tr>
                <td>{{ partner.id }}</td>
                <td>{{ partner.name }} {% if partner.active == false %}<span class="label label-danger">Inactive</span>{% endif %}</td>
                <td>{{ partner.phoneNumber1}}</td>
                <td>{{ partner.email1 }}</td>
                <td>{{ partner.address }}</td>
                <td>
                    <a id="edit{{ partner.name }}" href="{{ path("partner_edit", { 'id':partner.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a id="delete{{ partner.name }}" href="#"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" data-id="{{ partner.id }}"></span></a>
                </td>
            </tr>
                {% endfor %}
        </tbody>
    </table>
{% else %}
No hay socios!!
{% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>
            </div>
            <div class="modal-body">
                Estas seguro que quieres eliminar este socio?
            </div>
            <div class="modal-footer">
                <a href="{{ path('partner_delete', {'id': 'foo'}) }}" class="btn btn-default" role="button">SI</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('#MainContent').find('.glyphicon-trash').click(function() {
                var partner_id = $(this).data('id');
                confirm_delete_partner_modal(partner_id);
            })

            //util.js
            table_filter();
        });
    </script>
{% endblock %}