{# muestra los datos de la incidencia #}

    <p> <label>Title:               </label>  {{ incidence.ticket.title | length > 100 ?  incidence.ticket.title | slice(0, 100) ~ '...' : incidence.ticket.title }} </p>

    <p> <label>Workshop:            </label>  {{ incidence.workshop }}          </p>
    
    {% set car = incidence.ticket.car %}
    <p> <label>Car:                 </label>  {{ car.version.model.brand }} 
                                              {{ car.version.model }} 
                                              {{ car.version }} 
                                             ({{ car.year }})                   </p>
        
    <p> <label>Created By:          </label>  {{ incidence.owner }}                                                  </p>
    <p> <label>Created At:          </label>  {{ incidence.createdAt | date("d-m-Y") }}  ( {{ incidence.status }} )  </p>
    
    <p> <label>Related to ticket:   </label> #{{ incidence.ticket.id }}         </p>
    
