{# muestra los datos del ticket #}

    <p> <label>Title:        </label> {{ ticket.title | length > 100 ?  ticket.title | slice(0, 100) ~ '...' : ticket.title }} </p>

    <p> <label>Date:         </label> {{ ticket.createdAt | date("d-m-Y") }}  ( {{ ticket.status }} ) </p>

    <p> <label>Workshop:     </label> {{ ticket.workshop }}         </p>
    <p> <label>Required by:  </label> {{ ticket.owner    }}         </p>

    <p> <label>Car:          </label> {{ ticket.car.version.model.brand }} 
                                      {{ ticket.car.version.model }} 
                                      {{ ticket.car.version }} 
                                     ({{ ticket.car.year }})        </p>

    <p> <label>PlateNumber:  </label> {{ ticket.car.plateNumber  }} -- 
        <label>VIN:          </label> {{ ticket.car.vin          }} </p>