{# muestra los datos del ticket #}
<!-- class="table table-hover" -->
<table class="table table-striped table-bordered">
    <tr>
        <th>#</th>
        <th>Ticket Title</th>
        <th>Status</th>
        <th>Workshop</th>
        <th>Assigned To</th>
        <th>Date</th>
        <th>Required by</th>
        <th>Car</th>
        <th>PlateNumber</th>
        <th>VIN</th>
        <th>Action</th>
    </tr>
    <tr>
        <td> {{ ticket.id }}</td>
        <td> {{ ticket.title | length > 10 ?  ticket.title | slice(0, 10) ~ '...' : ticket.title }}</td>
        <td> {{ ticket.status }}</td>
        <td> {{ ticket.workshop }}</td>
        <td> {{ ticket.assignedTo }}</td>
        <td> {{ ticket.createdAt | date("d-m-Y") }}</td>
        <td> {{ ticket.owner.username | upper }}: {{ ticket.owner    }}</td>
        <td> {{ ticket.car.version.model.brand }}
             {{ ticket.car.version.model }}
             {{ ticket.car.version }}
            ({{ ticket.car.year }})
        </td>
        <td> {{ ticket.car.plateNumber  }}</td>
        <td> {{ ticket.car.vin          }}</td>
        <td>{% include 'TicketBundle:Default:includes/_assign_btn.html.twig' %}</td>
    </tr>
</table>