{# muestra los datos de la incidencia #}
<table class="table table-hover">
    <tr>
        <th>#           </th>
        <th>Ticket Title</th>
        <th>status      </th>
        <th>Workshop    </th>
        <th>Assigned To </th>
        <th>Date        </th>
        <th>Required by </th>
        <th>Car         </th>
        <th>PlateNumber </th>
        <th>VIN         </th>
        <th>Action      </th>
    </tr>
    <tr>
      {% set ticket = incidence.ticket %}
      {% set car = incidence.ticket.car %}
        <td> {{ incidence.id }}</td>
        <td> {{ ticket.title | length > 10 ?  ticket.title | slice(0, 10) ~ '...' : ticket.title }}</td>
        <td> {{ incidence.status   }}</td>
        <td> {{ incidence.workshop }}</td>
        <td> {{ ticket.assignedTo  }}</td>
        <td> {{ incidence.createdAt | date("d-m-Y") }}</td>
        <td> {{ incidence.owner.username | upper }}: {{ ticket.owner    }}</td>
        <td> {{ car.version.model.brand }}
             {{ car.version.model       }}
             {{ car.version             }}
            ({{ car.year                }})
        </td>
        <td> {{ car.plateNumber  }}</td>
        <td> {{ car.vin          }}</td>
            <td>
                {% if is_granted('ROLE_ASSESSOR') %}

                    <a href="{{ path('editIncidence', { 'id_incidence': incidence.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>