{# muestra los filtros para los tickets #}

ID_Ticket: <input type='text' class="form-control" id='id_ticket' name='id_ticket' placeholder='Insert ticket' {% if request.get('id_ticket') != "" %} value="{{ request.get('id_ticket') }}" {% endif %}>

{% if is_granted('ROLE_ASSESSOR') %}
Partner:
    <select class="form-control pull-right" id='id_partner' name='id_partner'>
        <option value="0">Select Partner</option>
        {% for partner in partners %}
            <option value="{{ partner.id }}"
                {% if request.get('id_partner') == partner.id %} selected="true" {% endif %}
            >{{ partner.name }}</option>
        {% endfor %}
    </select><br>

ID_Workshop:
  <input type='text' class="form-control" id='id_workshop' name='id_workshop' placeholder='Insert workshop' {% if request.get('id_workshop') != "" %} value="{{ request.get('id_workshop') }}" {% endif %}>

Region:
    <select class="form-control pull-right" id='id_region' name='id_region'>
        <option value="0">Select Region</option>
        {% for region in regions %}
            <option value="{{ region.id }}"รง
                {% if request.get('id_region') == region.id %} selected="true" {% endif %}
            >{{ region.region }}</option>
        {% endfor %}
    </select><br>
{% endif %}