{# muestra el estado del ticekt y permite responder y cerrarlo #}

    {% if ticket.status == 'closed' %}

        <a class="btn btn-primary pull-right btn100" style="background-color:gray">TICKET CLOSED</a>

    {% else %}

    {# comprueba que el asesor tenga asignado el ticket #}
        {% if is_granted('ROLE_ASSESSOR') and ticket.assignedTo is not null and ticket.assignedTo == app.security.getToken().getUser() 
           or app.security.getToken().getUser().getWorkshop() == ticket.workshop%}

        {# formulario de respuesta de POST #}
            <form action="{{ path('showTicket', {'id_ticket' : id_ticket}) }}" id="contact" class="form" role="form" method="post" enctype="multipart/form-data">

                <input type="hidden" id="user" name="user" value="{{ app.security.getToken().getUser().getId() }}">

                <section>
                    <h5>Reply: </h5>
                    <div>
                        {{ form_widget(form.message, { 'attr': {'class': 'ac-message', 'rows': '7'} }) }}
                    </div>
                </section>

                {{ form_widget(formD.file, { 'attr': {'class': 'ac-message'} })  }}

                <button class="btn btn-primary pull-right btn100" type="submit">Submit</button>
            </form>

            {% if is_granted('ROLE_ASSESSOR') %}

                <a class="btn btn-primary pull-right btn100" href="{{ path('createIncidence', { 'id_ticket': ticket.id }) }}">CLOSE TICKET<a>

            {% endif %}
        {% endif %}
    {% endif %}