{% extends "TicketBundle:Default:post.html.twig" %}

{% block content %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">Home</a></li>
      <li><a href="{{ path('listTicket') }}">List of Tickets</a></li>
      <li class="active"><a href="{{ path('showTicket', {'id_ticket': ticket.id}) }}">#{{ ticket.id }}</a> Create Incidence</li>
    </ol>

    <h3>New Incidence</h3>

    <div class="tblContainer">
        <div class="row">

            <div class="col-sm-12 contact-form">
                <form action="{{ path('createIncidence', { 'id_ticket' : ticket.id }) }}" id="contact" class="form" role="form" method="post">
                    <div class="row">
                        <div id="colList">
                        <legend>Ticket data</legend>
                            {# muestra los datos del ticket #}
                            {% include 'TicketBundle:Default:includes/_data_ticket.html.twig' %}
                        </div>

                        <div id="colList">
                        <legend>Incidence data</legend>

                            <div class="col-xs-6 col-md-6 form-group">
                                Estado {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                            <div class="col-xs-6 col-md-6 form-group">
                                Importancia {{ form_widget(form.importance, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                            <div class="btn100">
                                Descripcion {{ form_widget(form.description, { 'value': posts[0].message ,
                                                                               'attr': {'class': 'form-control', 'rows': '5'} }) }}
                            </div>

                            <div class="btn100">
                                Solucion {{ form_widget(form.solution, { 'value': posts[ posts | length-1 ].message ,
                                                                         'attr': { 'class': 'form-control',
                                                                                   'rows': '5' } }) }}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-right" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
