{% extends "TicketBundle:Default:post.html.twig" %}

{% block content %}

    <h3>Nueva Incidencia</h3><h4> {{ ticket.title | length > 100 ?  ticket.title | slice(0, 100) ~ '...' : ticket.title }}  </h4> 
    
    <div class="tblContainer">
        <div class="row">

            <div class="col-sm-8 contact-form">
                <form action="{{ path('createIncidence', { 'id_ticket' : ticket.id }) }}" id="contact" class="form" role="form" method="post">
                    <div class="row">
                             
                        <input type="hidden" id="asesor" name="asesor" value="{{ app.security.getToken().getUser().getId() }}">
                            
                        <div class="col-xs-6 col-md-6 form-group">    
                            Estado {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        
                        <div class="col-xs-6 col-md-6 form-group">    
                            Importancia {{ form_widget(form.importance, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        
                        <div class="btn100">    
                            Descripcion {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'rows': '5'} }) }}
                        </div>
                        
                        <div class="btn100">    
                            Solucion {{ form_widget(form.solution, { 'value': posts[ posts | length-1 ].message ,
                                                                     'attr': { 'class': 'form-control', 
                                                                               'rows': '5' } }) }}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-right" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
{% endblock %}