{% extends "TicketBundle:Default:incidence.html.twig" %}

{% block content %}

    <h3>Incidencias</h3>
    {% if is_granted('ROLE_ADMIN') %}
    <div>
        <p> <a class="btn btn-primary " href="{{ path('newIncidence') }}">Nueva Incidencia</a></p>
    </div>
    {% endif %}
    <div class="tblContainer">
        <table class="table table-striped table-bordered">
            {% for incidence in incidences %}
            <tr>    
                <td>
                    <a class="btn btn-primary pull-right" href="{{ path('showIncidence', { 'id_incidence': incidence.id }) }}">Ver</a>

                    <a class="btn pull-right">{{ incidence.status }} </a>
                    
                    <p>
                        <b style='color:black'>#{{ incidence.ticket.id }}:</b>  
                        {{ incidence.ticket.title | length > 150 ?  incidence.ticket.title | slice(0, 150) ~ '...' : incidence.ticket.title }} 
                    </p>
                    <b>Ultima Modificacion:</b>  {{ incidence.ModifiedBy.username }}
                    - {{ incidence.ticket.modifiedAt | date("d/m/Y")}}
                    
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>    
{% endblock %}