
{% extends "TicketBundle:Default:incidence.html.twig" %}

{% block content %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}"> {% trans %} home           {% endtrans %} </a></li>
      <li>                                    {% trans %} incidence.list {% endtrans %}     </li>
    </ol>

<div class="tblContainer">
        {% if is_granted('ROLE_ASSESSOR') %}
        <a class="btn btn-primary " href="{{ path('newIncidence') }}">New Incidence</a>
        {% endif %}
    <div style="height: 200px;">
        <div class="colFilter">
        {# Busca una incidencia #}
            <form action="{{ path('listIncidence') }}" id="contact" class="form" role="form" method="post">
                <div class="margined form-group">

                    <h5><b>Search by:</b></h5>

                    ID_Incidencia: <input type='text' class="form-control" id='id_incidence' name='id_incidence' placeholder='Insert incidence' {% if request.get('id_incidence') != "" %} value="{{ request.get('id_incidence') }}" {% endif %}>
                    {% include 'TicketBundle:Default:includes/_filters_ticket.html.twig' %}

                    <button id="btn_search" class="btn btn-primary pull-right" type="submit"> Search </button>

                </div>
            </form>
        </div>
        <div class="colTickets">
            {# Si encuentra una incidencia #}
            <table class="table table-hover">
                {% if incidences | length > 0 %}
                <thead>
                    <tr>
                        <th>#           </th>
                        <th>Ticket Title</th>
                        <th>status      </th>
                        <th>Workshop    </th>
                        <th>Assigned To </th>
                        <th>Date        </th>
                        <th>Required by </th>
                        <th>Car         </th>{#
                        <th>PlateNumber </th>
                        <th>VIN         </th>#}
                        <th>Action      </th>
                    </tr>
                </thead>
                <tbody>
                    {% for incidence in incidences %}
                        <tr>
                          {% set ticket = incidence.ticket %}
                          {% set car = incidence.ticket.car %}
                            <td> {{ incidence.id }}</td>
                            <td> {{ ticket.title | length > 10 ?  ticket.title | slice(0, 10) ~ '...' : ticket.title }}</td>
                            <td> {{ incidence.status   }}</td>
                            <td> {{ incidence.workshop }}</td>
                            <td> {{ ticket.assignedTo  }}</td>
                            <td> {{ incidence.createdAt | date("d-m-Y") }}</td>
                            <td> {{ incidence.owner.username | upper }}: {{ ticket.owner    }}</td>
                            <td> {{ car.version.model.brand }}
                                 {{ car.version.model       }}
                                 {{ car.version             }}
                                ({{ car.year                }})
                            </td>{#
                            <td> {{ car.plateNumber  }}</td>
                            <td> {{ car.vin          }}</td>#}
                            <td>
                                {% if is_granted('ROLE_ASSESSOR') %}

                                    <a href="{{ path('showIncidence', { 'id_incidence' : incidence.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>

                                    <a href="{{ path('editIncidence', { 'id_incidence': incidence.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                    <p> The Incidence you have requested is not avaliable </p>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}