{% extends "TicketBundle:Default:post.html.twig" %}

{% block content %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index'   ) }}"> {% trans %} home           {% endtrans %} </a></li>
      <li><a href="{{ path('listIncidence') }}"> {% trans %} incidence.list {% endtrans %} </a></li>
      <li class="active">#{{ incidence.id }}</li>
    </ol>

    <div class="tblContainer">
        <table class="table table-striped table-bordered">
            <tr>    
                <td>
                    {% if is_granted('ROLE_ASSESSOR') %}
                        
                        <a class="btn btn-primary pull-right" href="{{ path('editIncidence', { 'id_incidence': incidence.id }) }}">Editar</a>
                    {% endif %}
                        
                    {# muestra los datos de la incidencia #}    
                    {% include 'TicketBundle:Default:includes/_data_incidence.html.twig' %}
                    
                    <fieldset>
                        <legend>Ticketing</legend>
                        
                        <p><b>Descripcion:</b>  {{ incidence.description }} </p>
                        <p>
                            <b>Seguimiento:</b> {{ posts | length }} mensajes 
                            <a href='{{ path('showPost', { 'id_ticket': incidence.ticket.id }) }}'>Ver mas</a>
                        </p>
                        <p><b>Solucion:</b>  {{ incidence.solution }}</p>
                    </fieldset>
                </td>
            </tr>
        </table>
    </div>    
{% endblock %}