{% extends "TicketBundle:Default:post.html.twig" %}

{% block content %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index'   ) }}"> {% trans %} home           {% endtrans %} </a></li>
      <li><a href="{{ path('listIncidence') }}"> {% trans %} incidence.list {% endtrans %} </a></li>
      <li class="active">#{{ incidence.id }}</li>
    </ol>

    <div class="tblContainer">
        {# muestra los datos de la incidencia #}
        {% include 'TicketBundle:Default:includes/_data_incidence.html.twig' %}

        <fieldset> <legend>Descripcion</legend> {{ incidence.description }} </fieldset>
        <fieldset> <legend>Seguimiento</legend> {{ incidence.ticket.posts | length }} mensajes del ticket #
                                                {{ incidence.ticket.id }}
                                                <a href='{{ path('showPost', { 'id_ticket': incidence.ticket.id }) }}'>Ver mas</a>
        </fieldset>
        <fieldset> <legend>Solucion   </legend> {{ incidence.solution    }} </fieldset>
    </div>
{% endblock %}