{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
        <li><a href="{{ path('sentence_list') }}">{{ 'menu.list_sentences'|trans }}</a></li>
        <li class="active">{% if sentence.name != '' %}{{ 'edit.sentence'|trans }} ({{ sentence.name|length > 15 ? sentence.name|slice(0, 15) ~ '...' : sentence.name  }})
                           {% else                   %}{{ 'new.sentence'|trans }} {% endif %}</li>
    </ol>

    {{ form_start(form, {'action': path("sentence_edit", { 'id':sentence.id })}) }}
        <div class="container">
            <legend>{{ 'sentence'|trans }}</legend>

            <div class="col-xs-12 col-md-12 form-group">
                {% for flashMessage in  app.session.flashbag.get('error') %}
                    <p class="error">{{ flashMessage }}</p>
                {% endfor %}
            </div>

            <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_ticketbundle_sentencetype_name">{{ 'name'|trans }}</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'name' | trans } }) }}
                </div>
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_ticketbundle_sentencetype_active">{{ 'active'|trans }}</label>
                    {{ form_widget(form.active) }}
                </div>
            </div>
            <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-4 col-md-4 form-group">
                    <label for="adservice_ticketbundle_sentencetype_country">{{ 'country'|trans }}</label>
                    {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            {{ form_rest(form) }}

            <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.send'|trans }}</button>
        </div>
    {{ form_end(form) }}

{% endblock %}