{% extends '::layout.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
        <li class="active"> {% trans %} menu.list_statistics {% endtrans %} </li>
    </ol>

<div>
{# FILTROS GENERALES #}
    <div class="col-xs-5 col-md-5 form-group">
        <legend>{% trans %} filter {% endtrans %}</legend>
        <div class="col-xs-12 col-md-12 form-group">
            <table style="margin: 0 auto;">
            <tr><td><label> {% trans %} date.start {% endtrans %} </label></td><td><label> {% trans %} date.end   {% endtrans %} </label></td></tr>
            <tr><td>
                <input id="from_d" type="number" {% if from_d != '0' %} value="{{ from_d | date ('d')}}"  {% endif %} class='form-control' style="width:60px;float:left;">
                <input id="from_m" type="number" {% if from_m != '0' %} value="{{ from_m | date ('m')}}"  {% endif %} class='form-control' style="width:60px;float:left;">
                <input id="from_y" type="number" {% if from_y != '0' %} value="{{ from_y | date ('Y')}}"  {% endif %} class='form-control' style="width:75px;float:left;margin-right: 30px;">
            </td>
            <td>
                <input id="to_d"   type="number" {% if to_d   != '0' %} value="{{ to_d   | date ('d')}}"  {% endif %} class='form-control' style="width:60px;float:left;">
                <input id="to_m"   type="number" {% if to_m   != '0' %} value="{{ to_m   | date ('m')}}"  {% endif %} class='form-control' style="width:60px;float:left;">
                <input id="to_y"   type="number" {% if to_y   != '0' %} value="{{ to_y   | date ('Y')}}"  {% endif %} class='form-control' style="width:75px;float:left;">
            </td></tr>
            </table>
        </div>
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} partner {% endtrans %}</label>
            <select id="flt_partner" name="flt_partner" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                {% for partner in partners %}
                    <option value="{{ partner.id }}">{{ partner }}</option>
                {% endfor %}
            </select>
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} country {% endtrans %}</label>
            <select id="flt_country" class='form-control'>
                <option value="0">{% trans %} all {% endtrans %}</option>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country | trans }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="col-xs-12 col-md-12 form-group"> <label> {% trans %} raport {% endtrans %}</label>
            <select id="flt_raport" class='form-control'>
                <option value="0"                             >{% trans %} any                            {% endtrans %}</option>

                {# Talleres sin tickets #}
                <option value="no-ticket"                     >{% trans %} statistic.no_ticket            {% endtrans %}</option>

                {# Últimos tickets de los talleres #}
                <option value="last-tickets"                  >{% trans %} statistic.last_tickets         {% endtrans %}</option>

                {# TOP TEN de talleres por socio #}
                <option value="numworkshopbypartner"          >{% trans %} numworkshopbypartner  {% endtrans %}</option>

                {# TOP TEN de tickets de talleres por socio #}
                <option value="ticketbyworkshopforpartner"    >{% trans %} ticketbyworkshopforpartner  {% endtrans %}</option>

                {# TOP TEN de tickets por socio #}
                <option value="numticketsbypartner"           >{% trans %} numticketsbypartner     {% endtrans %}</option>

                {# TOP TEN de tickets por sistema/subsistema #}
                <option value="numticketsbysystem"            >{% trans %} numticketsbysystem      {% endtrans %}</option>

                {# TOP TEN de tickets por marca #}
                <option value="numticketsbybrand"             >{% trans %} numticketsbybrand       {% endtrans %}</option>

                {# TOP TEN de tickets por modelo #}
                <option value="numticketsbymodel"             >{% trans %} numticketsbymodel       {% endtrans %}</option>

                {# TOP TEN de tickets por año de fabricacion #}
                <option value="numticketsbyfabyear"           >{% trans %} numticketsbyfabyear  {% endtrans %}</option>

                {# Numero de tickets por meses de un taller #}
                <option value="numticketsbymonth"           >{% trans %} numticketsbymonth  {% endtrans %}</option>
             </select>
        </div>
    </div>

    <div class="col-xs-7 col-md-7 form-group">
{# FILTROS DE TICKET #}
        <div class="col-xs-6 col-md-6 form-group">
            <legend>{% trans %} filter_ticket {% endtrans %}</legend>
            <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} workshop {% endtrans %}</label>
                <select id="flt_tck_workshop" class='form-control'>
                        <option value="0">{% trans %} all {% endtrans %}</option>
                     {% for workshop in workshops %}
                        <option value="{{ workshop.id }}">{{ workshop.name|length > 15 ? workshop.name|slice(0, 15) ~ '...' : workshop.name  }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} status {% endtrans %}</label>
                <select id="flt_tck_status" class='form-control'>
                    <option value="0"      >{% trans %} all    {% endtrans %}</option>
                    <option value="open"   >{% trans %} open   {% endtrans %}</option>
                    <option value="closed" >{% trans %} closed {% endtrans %}</option>
                 </select>
             </div>
            <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} assessor {% endtrans %}</label>
                <select id="flt_tck_assessor" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                    {% for assessor in assessors %}
                        <option value="{{ assessor.id }}">{{ assessor.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} created_by {% endtrans %}</label>
                <select id="flt_tck_created_by" class='form-control'>
                    <option value="0">{% trans %} all {% endtrans %}</option>
                    <option value="tel">{% trans %} tel {% endtrans %}</option>
                    <option value="app">{% trans %} ticket {% endtrans %}</option>
                </select>
            </div>
            <div class="col-xs-12 col-md-12 form-group">
                <button class="btn btn-primary btn100" id="btn_search_ticket" style="margin-top: 4px;">
                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/download.png') }}"> {% trans %} generate.ticket {% endtrans %}</button>
            </div>
        </div>

{# FILTROS DE TALLER #}
        <div class="col-xs-6 col-md-6 form-group">
        <legend>{% trans %} filter_workshop {% endtrans %}</legend>

            <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} shop {% endtrans %}</label>
                <input type="hidden" id="lbl_all" value="{% trans %} all {% endtrans %}">
                <select id="flt_wks_shop" class='form-control'>
                        <option value="0">{% trans %} all {% endtrans %}</option>
                    {% for shop in shops %}
                        <option value="{{ shop.id }}">{{ shop }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} typology {% endtrans %}</label>
                <select id="flt_wks_typology" class='form-control'>
                        <option value="0">{% trans %} all {% endtrans %}</option>
                    {% for typology in typologies %}
                        <option value="{{ typology.id }}">{{ typology }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-6 col-md-6 form-group"> <label> {% trans %} status {% endtrans %}</label>
                <select id="flt_wks_status" class='form-control'>
                    <option value="all"     >{% trans %} all      {% endtrans %}</option>
                    <option value="active"  >{% trans %} active   {% endtrans %}</option>
                    <option value="deactive">{% trans %} inactive {% endtrans %}</option>
                    <option value="test"    >{% trans %} testing  {% endtrans %}</option>
                    <option value="adsplus" >{% trans %} adsplus  {% endtrans %}</option>
                    {# <option value="noticket">Without Tickets</option> #}
                 </select>
             </div>
            <div class="col-xs-12 col-md-12 form-group">
                <button class="btn btn-primary btn100" id="btn_search_workshop" style="margin-top: 4px;">
                    <img class="img_icon" src="{{ asset('bundles/util/images/icon/download.png') }}"> {% trans %} generate.workshop {% endtrans %}</button>
            </div>
        </div>
    </div>
</div>

    <input type="hidden" id="type"            value="{{ type      }}">
    <input type="hidden" id="type_from_y"     value="{{ from_y    }}">
    <input type="hidden" id="type_from_m"     value="{{ from_m    }}">
    <input type="hidden" id="type_from_d"     value="{{ from_d    }}">
    <input type="hidden" id="type_to_y"       value="{{ to_y      }}">
    <input type="hidden" id="type_to_m"       value="{{ to_m      }}">
    <input type="hidden" id="type_to_d"       value="{{ to_d      }}">
    <input type="hidden" id="type_status"     value="{{ status    }}">
    <input type="hidden" id="type_partner"    value="{{ partner   }}">
    <input type="hidden" id="type_shop"       value="{{ shop      }}">
    <input type="hidden" id="type_workshop"   value="{{ wks       }}">
    <input type="hidden" id="type_assessor"   value="{{ assessor  }}">
    <input type="hidden" id="type_created_by" value="{{ created_by}}">
    <input type="hidden" id="type_typology"   value="{{ typology  }}">
    <input type="hidden" id="type_country"    value="{{ country   }}">
    <input type="hidden" id="type_status"     value="{{ status    }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/statistic/js/statistic.js') }}"></script>
    <script src="{{ asset('bundles/util/js/pagination_statistic.js') }}"></script>
{% endblock %}