{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li><a href="{{ path('shop_list') }}">{{ 'menu.list_shops'|trans }}</a></li>
      <li class="active">{{ 'edit.shop'|trans }} ({{ shop.name|length > 15 ? shop.name|slice(0, 15) ~ '...' : shop.name  }})</li>
    </ol>

    <legend>{{ 'edit.shop'|trans }}</legend>
    <input id="id_catserv" type="text" style="display:none">
    <form action="{{ path("shop_edit", { 'id':shop.id }) }}" method="post" {{ form_enctype(form) }} name="{{ form_name }}" >
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="col-xs-12 col-md-12 form-group">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="col-xs-12 col-md-12 form-group"><p style="color:red">{{ flashMessage }}</p></div>
        {% endfor %}
        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-2 col-md-2 form-group">
                <label for="new_ticket_form_importance">{{ 'name'|trans }} *</label>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required': 'required', 'placeholder': 'name' | trans } }) }}
            </div>
            {% if form.category_service is defined %}
             <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'category_service'|trans }} *</label>
                {{ form_widget(form.category_service, { 'attr': {'class': 'form-control hidden'} }) }}
                <input id="adservice_workshopbundle_workshoptype_category_service" type="text" class="form-control" value="{{shop.CategoryService}}" disabled>
            </div>
            {% endif %}
            <div class="col-xs-2 col-md-2 form-group">
                <label for="new_ticket_form_importance">{{ 'partner'|trans }} * </label>
                {{ form_widget(form.partner, { 'attr': {'class': 'form-control' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'code_shop'|trans }}</label> {{ form_widget(form.code_shop,{ 'attr': {'class': 'form-control', 'min': 1 } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'cif'|trans }} *</label> {{ form_widget(form.cif, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label for="new_ticket_form_importance">{{ 'active'|trans }}</label>
                {{ form_widget(form.active) }}
            </div>
        </div>

        <legend>{{ 'contact'|trans }}</legend>

            <div class="col-xs-2 col-md-2 form-group">
                <div class="col-xs-12 col-md-12 form-group">
                    <label>{{ 'contact'|trans }}</label>
                    {{ form_widget(form.contact, { 'attr': {'class': 'form-control', 'placeholder': 'contact' | trans} }) }}
                </div>
            </div>
            <div>
                {% include 'UtilBundle:Default:contact_fields.html.twig' %}

                {{ form_rest(form) }}

            <div class="col-xs-10 col-md-10 form-group">
                <button class="btn btn-primary pull-right" id="btn_edit" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.edit'|trans }}</button>
            </div>
        </div>
    </form>

{#    WORKSHOPS ZONE#}
    {# {% include 'WorkshopBundle:Partner:_list.html.twig' with {'workshops' : partner.workshops} %} #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/catserv.js') }}"></script>
{% endblock %}