{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{% trans %} home {% endtrans %}</a></li>
      <li class="active"> {% trans %} menu.list_shops {% endtrans %} </li>
    </ol>

<legend>
    {% trans %} menu.list_shops {% endtrans %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('shop_new') }}" class="btn btn-primary"><img class="img_icon" src="{{ asset('bundles/util/images/icon/shop_new.png') }}"> {% trans %} new.shop {% endtrans %}</a>
    {% endif %}
</legend>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="col-xs-3 col-md-3 form-group"> <label> {% trans %} country {% endtrans %} </label>
        <select id="flt_country" class='form-control' data-url="{{ path('shop_list', { 'page': 'plc_page', 'country': 'plc_country'}) }}">
                <option value="none">{% trans %} all {% endtrans %}</option>
            {% for _country in countries %}
                <option value="{{ _country.id }}" {% if country == _country.id %} selected {% endif %} >{{ _country | trans }}</option>
            {% endfor %}
    </select></div>
    {% endif %}

    {% if shops|length > 0  %}
    <table class="table table-hover table-list-search" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans %} shop    {% endtrans %}</th>
                <th>{% trans %}         {% endtrans %}</th>
                <th>{% trans %} partner {% endtrans %}</th>
                <th>{% trans %} tel     {% endtrans %}</th>
                <th>{% trans %} email   {% endtrans %}</th>
                <th>{% trans %} region  {% endtrans %}</th>
                <th>{% trans %} actions {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
            <tr>
                <td>{{ shop.id           }}</td>
                <td>{{ shop.name         }}</td>
                <td>{% if shop.active == false %}<span class="label label-danger">{% trans %} inactive {% endtrans %}</span>{% endif %}</td>
                <td>{{ shop.partner      }}</td>
                <td>{{ shop.phoneNumber1 }}</td>
                <td>{{ shop.email1       }}</td>
                <td>{{ shop.region       }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a id="edit{{ shop.name }}" href="{{ path("shop_edit", { 'id':shop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
                    </td>
                {% elseif is_granted('ROLE_AD') %}
                    <td>
                        <a id="edit{{ shop.name }}" href="{{ path("shopOrder_edit", { 'id':shop.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"></a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'UtilBundle:Pagination:pagination_shop.html.twig' %}
{% else %}
{% trans %} any.shop {% endtrans %}
{% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/util/js/pagination_shop.js') }}"></script>
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/util.js') }}"></script>

{% endblock %}