{% extends '::layout.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
      <li><a href="{{ path('user_index') }}">{{ 'home'|trans }}</a></li>
      <li><a href="{{ path('shop_list') }}">{{ 'menu.list_shops'|trans }}</a></li>
      <li class="active">{{ 'new.shop'|trans }}</li>
    </ol>

    <legend>{{ 'new.shop'|trans }}</legend>

    {{ form_start(form, {'action': path("shop_new")}) }}
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="col-xs-12 col-md-12 form-group">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="col-xs-12 col-md-12 form-group"><p style="color:red">{{ flashMessage }}</p></div>
        {% endfor %}
        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-2 col-md-2 form-group">
                <label for="adservice_partnerbundle_shoptype">{{ 'name'|trans }} *</label>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required': 'required', 'placeholder': 'name'} }) }}
            </div>
             {% if is_granted('ROLE_ADMIN') %}
                {% if not is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="col-xs-3 col-md-3 form-group">
                        <label> {{ 'category_service'|trans }} </label>
                        <select  id="adservice_partnerbundle_shoptype_category_service" name="adservice_partnerbundle_shoptype[category_service]" class="form-control"> 
                            <option value="0"></option>
                            <option value="{{ catserv.id }}">{{ catserv.CategoryService }}</option>

                        </select>
                    </div>  
                     <div class="col-xs-2 col-md-2 form-group" hidden>
                        <label>{{ 'category_service'|trans }} *</label> {{ form_widget(form.category_service, { 'attr': {'class': 'form-control' } }) }}
                    </div>
                {% else %}
                    {% if form.category_service is defined %}
                     <div class="col-xs-2 col-md-2 form-group">
                        <label>{{ 'category_service'|trans }} *</label> {{ form_widget(form.category_service, { 'attr': {'class': 'form-control' , 'required': 'required'} }) }}
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            <div class="col-xs-2 col-md-2 form-group">
                <label for="adservice_partnerbundle_shoptype">{{ 'partner'|trans }} * </label>
                {{ form_widget(form.partner, { 'attr': {'class': 'form-control' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'code_shop'|trans }} *</label> {{ form_widget(form.code_shop, { 'attr': {'class': 'form-control', 'min': 1, 'value': shop.codeShop } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label>{{ 'cif'|trans }} *</label> {{ form_widget(form.cif, { 'attr': {'class': 'form-control', 'required': 'required' } }) }}
            </div>
            <div class="col-xs-2 col-md-2 form-group">
                <label for="adservice_partnerbundle_shoptype">{{ 'active'|trans }}</label>
                {{ form_widget(form.active, { 'attr': {'checked': 'checked' } }) }}
            </div>
        </div>

        <legend>{{ 'contact'|trans }}</legend>

        <div class="col-xs-12 col-md-12 form-group">
            <div class="col-xs-12 col-md-12 form-group">
                <div class="col-xs-2 col-md-2 form-group">
                    <label>{{ 'contact'|trans }} *</label>
                    {{ form_widget(form.contact, { 'attr': {'class': 'form-control', 'placeholder': 'contact' } }) }}
                </div>
                {% include 'UtilBundle:Default:contact_fields.html.twig' %}
            </div>

            {{ form_rest(form) }}

            <div class="col-xs-10 col-md-10 form-group">
                <button class="btn btn-primary pull-right" id="btn_create" type="submit"><img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.create'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#  Se deberia tener un partner.js con la misma funcion que user.js?????  #}
    <script src="{{ asset('bundles/partner/js/partner.js') }}"></script>
    <script src="{{ asset('bundles/util/js/catserv.js') }}"></script>
{% endblock %}