
	{# DATOS POST #}
	<legend
        {% if post.createdBy == app.user %}
                    style="background: azure;">
                    {% if post.isPhoneCall == 1 %}
                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/phone.png') }}" title="{{ 'ticket.call' | trans }}" alt="{{ 'ticket.call' | trans }}">
                    {% else %}
                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket.png') }}" title="{{ 'ticket' | trans }}" alt="{{ 'ticket' | trans }}">
                    {% endif %} 
                    <a style="color:black; text-decoration:none; padding-left:20px;">{{ 'you'|trans }}</a>
        {% else %}
	             class="legend">
                        {% if post.isPhoneCall == 1 %}
                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/phone.png') }}" title="{{ 'ticket.call' | trans }}" alt="{{ 'ticket.call' | trans }}">
                        {% else %}
                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket.png') }}" title="{{ 'ticket' | trans }}" alt="{{ 'ticket' | trans }}">
                        {% endif %}
	             	{% if post.createdBy.roles[0] == 'ROLE_ADMIN'
                       or post.createdBy.roles[0] == 'ROLE_SUPER_ADMIN'
                       or post.createdBy.roles[0] == 'ROLE_ASSESSOR' %}

                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/assessor_.png') }}">
                           
                            {{ 'assessor'|trans }}
                            {{ post.createdBy.name }} {{post.createdBy.surname | slice(0,1)}}
                            
	                {% else %}
                            {{ 'user'|trans }}
                    {% endif %}
        {% endif %}

         {% if (is_granted('ROLE_ADMIN')) or post.id == last_post.id and post.createdBy == app.user and ticket.status != 'closed' %}
            <a href="{{ path("post_edit", { 'id': post.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
        {% endif %}
        <a style="color:gray; float:right; text-decoration:none;"> {{ post.created_at | date("H:i (d/m/y) ") }} </a>
	</legend>

	{# CONTENT POST #}
	<div class="col100"> <p> {{ post.message|nl2br }} </p> </div>

    <div class="colIzq">
        {% if post.document is not null %}

        	{% if 	  post.document.mymetype == 'doc' or post.document.mymetype == 'odt' or post.document.mymetype == 'pdf' or post.document.mymetype == 'ppt' or post.document.mymetype == 'txt' %}
                    
                    {% if post.created_at.date > previous_attachments_date or previous_attachments_date == null %}
        		<a target='_blank' href="{{ asset('uploads/tickets/' ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path ) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/download.png') }}"> {{ 'file.download'|trans }} ({{ post.document.mymetype }})</a>
                    {% else %}
                        <a target='_blank' href="{{previous_attachments_url ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path}}">
                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/download.png') }}"> {{ 'file.download'|trans }} ({{ post.document.mymetype }})
                        </a>
                    {% endif %}
                    
        	{% elseif post.document.mymetype == 'bmp' or post.document.mymetype == 'gif' or post.document.mymetype == 'jpg' or post.document.mymetype == 'png' %}
                    
                    {% if post.created_at.date > previous_attachments_date or previous_attachments_date == null %}
                        <a target='_blank' href="{{ asset('uploads/tickets/' ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path ) }}" imageanchor="1">
                            <img class="imgPost hover" src="{{ asset('uploads/tickets/' ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path ) }}">
                        </a> 
                    {% else %}
                        <a target='_blank' href="{{previous_attachments_url ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path}}" imageanchor="1">
                            <img class="imgPost hover" src="{{previous_attachments_url ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path}}">
                        </a> 
                    {% endif %}
                    
        	{% endif %}
        {% endif %}
    </div>