
	{# DATOS POST #}
	<legend
		{% if post.createdBy == app.security.getToken().getUser() %}
				 style="background: azure;"> <a style="color:black; text-decoration:none; padding-left:20px;">{% trans %} you {% endtrans %}</a>
        {% else %}
	             class="legend">
	             	{% if post.createdBy.roles[0] == 'ROLE_ADMIN' or post.createdBy.roles[0] == 'ROLE_SUPER_ADMIN' %}
                                                                            <img class="img_icon" src="{{ asset('bundles/util/images/icon/assessor_.png') }}">
                                                                            {% trans %} admin    {% endtrans %}
                                                                            {% if ( is_granted('ROLE_ASSESSOR')) %}{{ post.createdBy.name }}{% endif %}
	                {% elseif post.createdBy.roles[0] == 'ROLE_ASSESSOR' %} <img class="img_icon" src="{{ asset('bundles/util/images/icon/assessor_.png') }}">
                                                                            {% trans %} assessor {% endtrans %}
                                                                            {% if ( is_granted('ROLE_ASSESSOR')) %}{{ post.createdBy.name }}{% endif %}
	                {% else %} 										        {% trans %} user     {% endtrans %} 	{% endif %}
        {% endif %}

         {% if ( is_granted('ROLE_ADMIN')) or post.id == last_post.id and post.createdBy == app.security.getToken().getUser() %}
            <a href="{{ path("post_edit", { 'id': post.id }) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/pencil.png') }}"> </a>
        {% endif %}
        <a style="color:gray; float:right; text-decoration:none;"> {{ post.created_at | date("H:i (d/m/y) ") }} </a>
	</legend>

	{# CONTENT POST #}
	<div class="colDer"> <p> {{ post.message|nl2br }} </p> </div>

    <div class="colIzq">
        {% if post.document is not null %}

        	{% if 	  post.document.mymetype == 'doc' or post.document.mymetype == 'odt' or post.document.mymetype == 'pdf' or post.document.mymetype == 'ppt' or post.document.mymetype == 'txt' %}

        		<a href="{{ asset('uploads/tickets/' ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path ) }}"><img class="img_icon" src="{{ asset('bundles/util/images/icon/download.png') }}"> {% trans %} file.download {% endtrans %} ({{ post.document.mymetype }})</a>

        	{% elseif post.document.mymetype == 'bmp' or post.document.mymetype == 'gif' or post.document.mymetype == 'jpg' or post.document.mymetype == 'png' %}

            	<a target='_blank' href="{{ asset('uploads/tickets/' ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path ) }}" imageanchor="1">
            		<img class="imgPost hover" src="{{ asset('uploads/tickets/' ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path ) }}">
            	</a>
        	{% endif %}
        {% endif %}
    </div>