
	{# DATOS POST #}
	<legend
		{% if post.createdBy == app.security.getToken().getUser() %}
				 style="background: azure;"> <a style="color:black; text-decoration:none; padding-left:20px;">{% trans %} you {% endtrans %}</a>
        {% else %}
	             class="legend">
	             	{% if post.createdBy.roles[0] == 'ROLE_ADMIN' 		 %} {% trans %} admin    {% endtrans %}
	                {% elseif post.createdBy.roles[0] == 'ROLE_ASSESSOR' %} {% trans %} assessor {% endtrans %}
	                {% else %} 										        {% trans %} user     {% endtrans %} 	{% endif %}
																		{{ post.createdBy.name }}
        {% endif %}
        <a style="color:gray; float:right; text-decoration:none;"> {{ post.created_at | date("H:i (d/m/y) ") }} </a>
	</legend>

	{# CONTENT POST #}
	<div class="colDer"> <p> {{ post.message|nl2br }} </p> </div>

    <div class="colIzq">
        {% if post.document is not null %}

        	{% if 	  post.document.mymetype == 'doc' or post.document.mymetype == 'pdf' or post.document.mymetype == 'ppt' or post.document.mymetype == 'txt' %}

        		<a href="{{ asset('uploads/tickets/' ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path ) }}"><img class="img_icon" src="{{ asset('/icon/download.png') }}"> {% trans %} file.download {% endtrans %}</a>

        	{% elseif post.document.mymetype == 'bmp' or post.document.mymetype == 'gif' or post.document.mymetype == 'jpg' or post.document.mymetype == 'png' %}

            	<img class="imgPost" src="{{ asset('uploads/tickets/' ~ post.getTicket.id ~ '/' ~ post.id ~ '/' ~ post.document.path ) }}">

        	{% endif %}
        {% endif %}
    </div>