{% extends "TicketBundle:Default:ticket.html.twig" %}

{% block content %}

    <h3>Mensajes del ticket:</h3> <h4>{{ title }}</h4>
    
    <section class="ac-container" >
    {% for message in messages %}
        <div>
            
            {# Marca con un color diferente los mensajes del usuario #}
            {% if message.user.id == app.security.getToken().getUser().getId() %}
            
                <label for="ac-{{ loop.index }}" style="background: azure;"> {{ message.user }}</label>
                
            {% else %}
                
                <label for="ac-{{ loop.index }}"> {{ message.user }}</label>
            {% endif %}

            {# Cambia el css del ultimo mensaje para que aparezca abierto #}
            {% if loop.last %}
            
                <input id="ac-{{ loop.index }}" name="accordion-1" type="checkbox" checked /> 
                <article class="ac-medium">
                    
            {% else %}
                    
                <input id="ac-{{ loop.index }}" name="accordion-1" type="checkbox" />
                <article class="ac-small">
                    
            {% endif %}
                    
                <p>{{ message.message }} </p>
            </article>
        </div>
    {% endfor %}
    </section>
    <form action="{{ path('newPost', {'id_ticket' : messages[0].ticket.id}) }}" id="contact" class="form" role="form" method="post">
    
        <input type="hidden" id="user" name="user" value="{{ app.security.getToken().getUser().getId() }}">
        
        <section class="ac-container" >
            <h5>Responde: </h5>
            <div>
                {{ form_widget(form.message, { 'attr': {'class': 'ac-message', 'rows': '7'} }) }}
                <button class="btn btn-primary pull-right btn100" type="submit">Enviar</button>
            </div>
        </section>
    </form>
    
    <a class="btn btn-primary pull-right btn100" href="{{ path('newIncidence', { 'id_ticket': messages[0].ticket.id }) }}">CERRAR TICKET<a>
{% endblock %}