{# muestra el estado del ticket y permite responder y cerrarlo #}

    {% if ticket.status != 'closed' %}

    {# se define bloqued_by_assessor para no repetir la comprovacion if en el codigo  #}
        {# {% if ( is_granted('ROLE_ASSESSOR')
            and ticket.blockedBy is not null
            and ticket.blockedBy == app.security.getToken().getUser()) %}

                {% set bloqued_by_assessor = 0 %}
        {% else %}
                {% set bloqued_by_assessor = 1 %}
        {% endif %} #}

    {% set bloqued_by_assessor = 0 %}

    {# comprueba que el asesor tenga asignado el ticket o que el usuario sea el dueño del ticket #}
        {% if ( bloqued_by_assessor == 0 )
           or ( not is_granted('ROLE_ASSESSOR')
                and app.security.getToken().getUser().getWorkshop() == ticket.workshop) %}

        {# formulario de respuesta de POST #}

            <legend> {{ 'reply'|trans }}:

            {% if is_granted('ROLE_ASSESSOR') %}
                <div class="col-xs-4 col-md-4 form-group pull-right prl0">
                    <select class="form-control pull-right" id="default_sentences">
                        <option value="0">{{ 'sentence.default'|trans }}</option>
                        <option value="{{ 'gas_table'|trans }}">{{ 'insert_gas_table'|trans }}</option>

                        {% for sentence in sentences %}
                            <option value="{{sentence.name}}">{{ sentence.name|length > 25 ? sentence.name|slice(0, 25) ~ '...' : sentence.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            </legend>

            <div class="error">{{ app.session.getFlash('error') }}<span>{{ app.session.getFlash('span' ) }}</span></div>

            {% set today = "now"|date('l')  %}
             {% if (today != "Saturday" and today != "Sunday") or env == "demo"  %}
                {% if ticket.workshop.active != 0 %}
                
                    <div>{{ form_widget(formP.message, { 'attr': {'class': 'ac-message', 'rows': '6', 'placeholder': 'answer' | trans } }) }}</div>

                    {{ form_widget(formD.file, { 'attr': {'class': 'ac-message'} })  }}
                    <label class="error" style="display: none;" id='alertFileSize'>{{ 'error.file_size'|trans }}10Mb</label>

                    <button class="btn btn-primary pull-right btn100 sendTicket" name="sendTicket" type="submit">
                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {{ 'btn.send'|trans }}</button>
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        {{ flashMessage }}
                    {% endfor %}
                    {{ form_rest(formP) }}
                    {{ form_rest(formD) }}

                    {#<a class="btn btn-primary pull-right btn100 closeTicket" href="{{ path('closeTicket', { 'id': ticket.id }) }}">
                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/close_.png') }}">
                        {{ 'ticket.close'|trans }}</a>#}
                     <button class="btn btn-primary pull-right btn100 closeTicket" name="closeTicket" type="submit">
                        <img class="img_icon" src="{{ asset('bundles/util/images/icon/close_.png') }}"> {{ 'ticket.close'|trans }}</button>
                {% else %}
                    {{ 'reply_inactive'|trans }}
                {% endif %}
            {% else %}
                <p class="alert">{{ 'ticket.weekend_closed'|trans }}</p>
            {% endif %}

        {% endif %}

    {% else %}
        <a class="btn btn-primary pull-right btn100" style="background-color:gray"> {{ 'ticket.closed'|trans }} </a>
    {% endif %}
</div>