{# muestra el estado del ticket y permite responder y cerrarlo #}

    {% if ticket.status != 'closed' %}

    {# se define bloqued_by_assessor para no repetir la comprovacion if en el codigo  #}
        {# {% if ( is_granted('ROLE_ASSESSOR')
            and ticket.blockedBy is not null
            and ticket.blockedBy == app.security.getToken().getUser()) %}

                {% set bloqued_by_assessor = 0 %}
        {% else %}
                {% set bloqued_by_assessor = 1 %}
        {% endif %} #}

    {% set bloqued_by_assessor = 0 %}

    {# comprueba que el asesor tenga asignado el ticket o que el usuario sea el dueño del ticket #}
        {% if ( bloqued_by_assessor == 0 )
           or ( not is_granted('ROLE_ASSESSOR')
                and app.security.getToken().getUser().getWorkshop() == ticket.workshop) %}

        {# formulario de respuesta de POST #}

            <legend> {% trans %} reply {% endtrans %}:

            {% if is_granted('ROLE_ASSESSOR') %}
                <div class="col-xs-4 col-md-4 form-group pull-right prl0">
                    <select class="form-control pull-right" id="default_sentences">
                        <option value="0">{% trans %} sentence.default {% endtrans %}</option>
                        <option value="{% trans %} gas_table {% endtrans %}">{% trans %} insert_gas_table {% endtrans %}</option>

                        {% for sentence in sentences %}
                            <option value="{{sentence.name}}">{{ sentence.name|length > 25 ? sentence.name|slice(0, 25) ~ '...' : sentence.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            </legend>

            <div class="error">{{ app.session.getFlash('error') }}<span>{{ app.session.getFlash('span' ) }}</span></div>
            <div>{{ form_widget(formP.message, { 'attr': {'class': 'ac-message', 'rows': '6', 'placeholder': 'answer' | trans } }) }}</div>

            {{ form_widget(formD.file, { 'attr': {'class': 'ac-message'} })  }}
            <label class="error" style="display: none;" id='alertFileSize'>{% trans %} error.file_size {% endtrans %}{% if is_granted('ROLE_ASSESSOR') %}15Mb{% else %}4Mb{% endif %}</label>

            <button class="btn btn-primary pull-right btn100 sendTicket" type="submit">
                <img class="img_icon" src="{{ asset('bundles/util/images/icon/tick.png') }}"> {% trans %} btn.send {% endtrans %}</button>
            {% if app.session.hasFlash('error') %}
            {% endif %}
            {{ form_rest(formP) }}
            {{ form_rest(formD) }}


            <a class="btn btn-primary pull-right btn100 closeTicket" href="{{ path('closeTicket', { 'id': ticket.id }) }}">
                <img class="img_icon" src="{{ asset('bundles/util/images/icon/ticket_send.png') }}">
                {% trans %} ticket.close {% endtrans %}</a>

        {% endif %}

    {% else %}
        <a class="btn btn-primary pull-right btn100" style="background-color:gray"> {% trans %} ticket.closed {% endtrans %} </a>
    {% endif %}
</div>